{% extends "admin/template.html" %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='backend/vendor/plugins/datatables/media/css/datatables.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='backend/vendor/plugins/datatables/media/css/datatables_addons.min.css') }}">
{% endblock style %}

{% block content %}
    <section class="content container-fluid">
        <div class="panel">
            <div class="panel-heading">
                <div class="panel-title">
                    <span class="glyphicon glyphicon-tasks"></span>信息記錄
                    <div class="pull-right form-group mbn mt5">
                        <label for="pageLength" class="form-label">單頁筆數</label>
                        <select id="pageLength" class="form-control w100 d-inline">
                            <option value="10" selected>10</option>
                            <option value="25">25</option>
                            <option value="50">50</option>
                            <option value="9999999">all</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <table id="example2" class="table table-bordered table-hover">
                    <thead>
                    <tr>
                        <th>發送日期</th>
                        <th>姓名</th>
                        <th>生日</th>
                        <th>性別</th>
                        <th>電話</th>
                        <th>手機</th>
                        <th>Email</th>
                        <th>諮詢類別</th>
                        <th class="hidden"></th>
                        <th class="hidden"></th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for data in data.data %}
                        <tr>
                            <td>{{ data.date }}</td>
                            <td>{{ data.name }}</td>
                            <td>{{ data.birthday }}</td>
                            <td>{{ data.gender_str }}</td>
                            <td>{{ data.phone_number }}</td>
                            <td>{{ data.mobile_phone }}</td>
                            <td>{{ data.email }}</td>
                            <td>{{ data.type }}</td>
                            <td class="hidden">{{ data.content}}</td>
                            <td class="hidden">{{ data.reply_content}}</td>
                            <td>
                                <botton class="btn bg-olive btn-flat margin">查看</botton>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <!-- /.box-body -->
        </div>

<!-- Modal -->
<div class="modal fade bs-example-modal-lg" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">回覆紀錄</h4>
      </div>
      <div class="modal-body">
        <table id="example3" class="table table-hover">
            <thead>
            <tr>
                <th>姓名</th>
                <th>生日</th>
                <th>性別</th>
                <th>電話</th>
                <th>手機</th>
                <th>Email</th>
                <th>諮詢類別</th>
            </tr>
            </thead>
            <tbody id="modalTable">
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th>諮詢內容</th>
                    <td colspan="6"></td>
                </tr>
                <tr>
                    <th>回覆內容</th>
                    <td colspan="6"></td>
                </tr>
            </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">關閉</button>
      </div>
    </div>
  </div>
</div>

    </section>

{% endblock content %}

{% block script %}

    <script src="{{ url_for('static', filename='backend/vendor/plugins/datatables/media/js/datatables.min.js') }}"></script>
    <!-- Datatables Addons -->
    <script src="{{ url_for('static', filename='backend/vendor/plugins/datatables/media/js/datatables_addons.min.js') }}"></script>
    <script>
        $('botton.bg-olive').on('click', function () {
            $('#modalTable tr:first-of-type td').eq(1).html($(this).parents('tr').children().eq(1).html())
            $('#modalTable tr:first-of-type td').eq(2).html($(this).parents('tr').children().eq(2).html())
            $('#modalTable tr:first-of-type td').eq(3).html($(this).parents('tr').children().eq(3).html())
            $('#modalTable tr:first-of-type td').eq(4).html($(this).parents('tr').children().eq(4).html())
            $('#modalTable tr:first-of-type td').eq(5).html($(this).parents('tr').children().eq(5).html())
            $('#modalTable tr:first-of-type td').eq(6).html($(this).parents('tr').children().eq(6).html())
            $('#modalTable tr:first-of-type td').eq(7).html($(this).parents('tr').children().eq(7).html())
            $('#modalTable tr:nth-child(2) td').html($(this).parents('tr').children().eq(8).text())
            $('#modalTable tr:nth-child(3) td').html($(this).parents('tr').children().eq(9).text())

            $('#myModal').modal('show')
        })

        $('#pageLength').change(function () {
            $('#example2').DataTable().destroy()
            showTable()
        })

        function showTable() {
            $('#example2').dataTable({
                dom: '<"top dt-panelmenu"Bf>rt<"bottom dt-panelfooter"ip>',
                buttons: [
                    {
                        extend: 'copy',
                        exportOptions: {
                            columns: ':visible'
                        }
                    },
                    {
                        extend: 'excel',
                        exportOptions: {
                            columns: ':visible'
                        }
                    },
                    {
                        extend: 'print',
                        exportOptions: {
                            columns: ':visible'
                        }
                    },
                    'colvis'
                ],
                autoWidth: false,
                paging: true,
                pageLength: parseInt($('#pageLength').val()),
                columns: [
                    {orderable: true},
                    {orderable: true},
                    {orderable: true},
                    {orderable: true},
                    {orderable: true},
                    {orderable: true},
                    {orderable: true},
                    {orderable: true},
                    {orderable: false},
                    {orderable: false},
                    {orderable: false}
                ],
            });
        }
        showTable()
    </script>
{% endblock script %}