{% extends "admin/template.html" %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='backend/vendor/plugins/datatables/media/css/datatables.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='backend/vendor/plugins/datatables/media/css/datatables_addons.min.css') }}">
{% endblock style %}

{% block content %}
    <section class="content container-fluid">
        <div class="panel">
            <div class="panel-heading">
                <div class="panel-title">
                    <span class="glyphicon glyphicon-tasks"></span>未回覆信息
                    <div class="pull-right form-group mbn mt5">
                        <label for="pageLength" class="form-label">單頁筆數</label>
                        <select id="pageLength" class="form-control w100 d-inline">
                            <option value="10" selected>10</option>
                            <option value="25">25</option>
                            <option value="50">50</option>
                            <option value="9999999">all</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <table id="example2" class="table table-bordered table-hover">
                    <thead>
                    <tr>
                        <th>發送日期</th>
                        <th>姓名</th>
                        <th>生日</th>
                        <th>性別</th>
                        <th>電話</th>
                        <th>手機</th>
                        <th>諮詢類別</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for data in data.data %}
                        <tr>
                            <td>{{ data.date }}</td>
                            <td>{{ data.name }}</td>
                            <td>{{ data.birthday }}</td>
                            <td>{{ data.gender_str }}</td>
                            <td>{{ data.phone_number }}</td>
                            <td>{{ data.mobile_phone }}</td>
                            <td>{{ data.type }}</td>
                            <td>
                                <a href="{{ url_for('faq.reply',id=data.faq_id) }}" class="btn bg-olive btn-flat margin jwtLink">回覆</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <!-- /.box-body -->
        </div>

    </section>

{% endblock content %}

{% block script %}

    <script src="{{ url_for('static', filename='backend/vendor/plugins/datatables/media/js/datatables.min.js') }}"></script>
    <!-- Datatables Addons -->
    <script src="{{ url_for('static', filename='backend/vendor/plugins/datatables/media/js/datatables_addons.min.js') }}"></script>
    <script>
        $('#pageLength').change(function () {
            $('#example2').DataTable().destroy()
            showTable()
        })

        function showTable() {
            $('#example2').dataTable({
                dom: '<"top dt-panelmenu"Bf>rt<"bottom dt-panelfooter"ip>',
                buttons: [
                    {
                        extend: 'copy',
                        exportOptions: {
                            columns: ':visible'
                        }
                    },
                    {
                        extend: 'excel',
                        exportOptions: {
                            columns: ':visible'
                        }
                    },
                    {
                        extend: 'print',
                        exportOptions: {
                            columns: ':visible'
                        }
                    },
                    'colvis'
                ],
                autoWidth: false,
                paging: true,
                pageLength: parseInt($('#pageLength').val()),
                columns: [
                    {orderable: true},
                    {orderable: true},
                    {orderable: true},
                    {orderable: true},
                    {orderable: true},
                    {orderable: true},
                    {orderable: true},
                    {orderable: false}
                ],
            });
        }
        showTable()
        function edit() {
            swal({
                title: '庫存記錄無法編輯<br>您可以直接新增一筆記錄<br>並在備註欄填寫修正原因。',
                type: 'info',
                showCancelButton: true,
                confirmButtonText: '確認',
                cancelButtonText: '關閉'
            })
        }
    </script>
{% endblock script %}