{% extends "admin/template.html" %}

{% block style %}
    <style>
/*        td, th, tr, table, .table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
            border: 1px solid grey;
            background-color: #eee;
        }*/
    </style>
{% endblock style %}

{% block content %}

<section class="content container-fluid">
    <div class="panel">
        <div class="panel-heading">
            <div class="panel-title">
                <span class="glyphicon glyphicon-tasks"></span>回覆
            </div>
        </div>
        <div class="panel-body pn">
            <table id="example2" class="table table-bordered mb30">
                <thead>
                <tr>
                    <th>姓名</th>
                    <th>生日</th>
                    <th>性別</th>
                    <th>電話</th>
                    <th>手機</th>
                    <th>諮詢類別</th>
                </tr>
                </thead>
                <tbody>
                {% for data in data.data %}
                    {% if data.faq_id|int == id|int %}
                    <tr>
                        <td>{{ data.name }}</td>
                        <td>{{ data.birthday }}</td>
                        <td>{{ data.gender_str }}</td>
                        <td>{{ data.phone_number }}</td>
                        <td>{{ data.mobile_phone }}</td>
                        <td>{{ data.type }}</td>
                    </tr>
                    <tr>
                        <th>諮詢內容</th>
                        <td colspan="5" id="contentBox">{{ data.content }}</td>
                    </tr>
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
            <form class="form-horizontal" method="post" action="" onsubmit="return mySubmitFunction()">
                <div class="form-group">
                    <label for="reply_content" class="col-lg-2 control-label">回覆內容</label>

                    <div class="col-lg-9">
                        <textarea id="reply_content" class="form-control textarea-grow" name="reply_content" rows="10" style="width: 100%;"></textarea>
                    </div>
                </div>
                
                <input type="hidden" name="faq_id" value="{{id}}">
                <div class="form-group">
                    <div class="col-lg-11">
                        <button type="submit" class="btn btn-info pull-right">儲存</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>

{% endblock content %}

{% block script %}
<script>
    $('#contentBox').html($('#contentBox').text())
    function mySubmitFunction() {
        submitMsg()
        return false
    }

    function submitMsg() {
        var faq_id = $('input[name="faq_id"]').val()
        var reply_content = $('#reply_content').val().replace(/\n/ig, "<br>").replace(/\t/ig, " ")
        var token = localStorage.getItem(tokenName);
        var data = '{"_token": "'+token+'","faq_id":"'+ faq_id +'","reply_content":"'+ reply_content +'"}'

        $.ajax({
            url: "{{ url_for('faqApi.faqReply') }}",
            type: 'POST',
            data: data,
            datatype: 'json',
            contentType: "application/json",
            success: function (data) {
                swal({
                    title: '已回覆，是否回到諮詢列表',
                    type: 'success',
                    showCancelButton: true,
                    confirmButtonText: '確認',
                    cancelButtonText: '關閉'
                }).then((result) => {
                    if (result.value) {
                        // location.href = "{{ url_for('faq.faqIndex') }}";
                        $('#token').attr('action', '{{ url_for('faq.faqIndex') }}')
                        $('input[name="_token"]').val(localStorage[tokenName])
                        $('#token').submit();

                    }
                })
            },
            error: function (xhr, ajaxOptions, thownError) {
                swal({
                    title: '傳送失敗',
                    type: 'errot',
                })
            }
        });

    }
</script>
{% endblock script %}