/* line 3, ../sass/admin.sass */
*, html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  font-family: "Noto Sans TC", "serif";
  font-size: 15px;
}

/* line 7, ../sass/admin.sass */
.fileinput-exists .fileinput-new,
.fileinput-new .fileinput-exists {
  display: none;
}

/* line 11, ../sass/admin.sass */
.help-block {
  display: none;
}

/* line 15, ../sass/admin.sass */
.form-group.has-error .help-block, .form-group.has-success .help-block, .form-group.has-warning .help-block {
  display: block;
}

/* line 18, ../sass/admin.sass */
.has-error {
  color: #dd4b39;
}

/* line 21, ../sass/admin.sass */
.has-warning {
  color: #f39c12;
}

/* line 24, ../sass/admin.sass */
.has-success {
  color: #00a65a;
}

/* line 27, ../sass/admin.sass */
.fileinput-exists .fileinput-new, .fileinput-new .fileinput-exists {
  display: none;
}

/* line 30, ../sass/admin.sass */
.hidden {
  display: none;
}

/* line 33, ../sass/admin.sass */
.my-10 {
  margin: 10px 0;
}

/* line 36, ../sass/admin.sass */
.py-2 {
  padding: 2rem 0;
}

/* line 39, ../sass/admin.sass */
.pb-1 {
  padding-bottom: 1rem !important;
}

/* line 42, ../sass/admin.sass */
.pt-2 {
  padding-top: 2rem !important;
}

/* line 45, ../sass/admin.sass */
.inlineBlock {
  display: inline-block !important;
}

/* line 48, ../sass/admin.sass */
.textCenter {
  text-align: center;
}

/* line 51, ../sass/admin.sass */
.textRight {
  text-align: right;
}

/* line 55, ../sass/admin.sass */
.tab-pane form {
  padding: 2rem;
}
/* line 57, ../sass/admin.sass */
.tab-pane form img {
  width: fit-content;
  height: fit-content;
}
/* line 60, ../sass/admin.sass */
.tab-pane form .file {
  position: relative;
  display: block;
  overflow: hidden;
  text-decoration: none;
  text-indent: 0;
  vertical-align: bottom;
  width: 100%;
  height: 200px;
  border: 1px solid grey;
}
/* line 70, ../sass/admin.sass */
.tab-pane form .file input {
  position: absolute;
  right: 0;
  top: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  z-index: 10;
}
/* line 79, ../sass/admin.sass */
.tab-pane form .file .imgPlusBtn {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 50px;
  height: 50px;
}
/* line 86, ../sass/admin.sass */
.tab-pane form .file .preViewImg {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  max-width: 100%;
  max-height: 200px;
  height: auto;
}
/* line 94, ../sass/admin.sass */
.tab-pane form .imgName {
  margin: 20px 0;
  height: 42px;
  font-size: 18px;
  color: black;
}
/* line 99, ../sass/admin.sass */
.tab-pane form .imgName .onlyread {
  background: unset;
  border: unset;
  border-bottom: 3px solid black;
  font-size: 24px;
}

/* line 105, ../sass/admin.sass */
.form-group {
  display: inline-block;
  width: 100%;
}
/* line 109, ../sass/admin.sass */
.form-group .itemBox > div {
  padding-top: 1rem;
  border-bottom: 1px solid #ccc;
}
/* line 112, ../sass/admin.sass */
.form-group .addSkus, .form-group .addEmployee {
  padding-top: 1rem;
}

/* line 116, ../sass/admin.sass */
.skus .flex {
  display: flex;
}
/* line 118, ../sass/admin.sass */
.skus .flex span {
  line-height: 3rem;
  width: 5rem;
}
/* line 121, ../sass/admin.sass */
.skus .flex .form-control {
  flex: 1;
}

/* line 124, ../sass/admin.sass */
label.radios {
  margin-left: 0.5rem;
  padding-top: 11px;
}

/* line 128, ../sass/admin.sass */
.select2-container--default .select2-selection--multiple .select2-selection__choice {
  background-color: #3c8dbc !important;
  border-color: #367fa9 !important;
  color: #fff !important;
}

/* line 133, ../sass/admin.sass */
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
  color: #fff !important;
}

/* line 136, ../sass/admin.sass */
.customer-label {
  padding-top: 7px;
  margin-bottom: 0;
  font-weight: 400;
}
