/* line 1, ../sass/calendar.sass */
#external-events {
  float: left;
  width: 200px;
  padding: 0 10px;
  border: 1px solid #ccc;
  background: #eee;
  text-align: left;
}
/* line 9, ../sass/calendar.sass */
#external-events h4 {
  font-size: 16px;
  margin-top: 0;
  padding-top: 1em;
}
/* line 13, ../sass/calendar.sass */
#external-events .fc-event {
  margin: 10px 0;
  cursor: pointer;
  z-index: 10;
}
/* line 18, ../sass/calendar.sass */
#external-events > div {
  height: 30px;
}

/* line 21, ../sass/calendar.sass */
#calendar {
  float: right;
  width: calc(100% - 220px);
}
/* line 24, ../sass/calendar.sass */
#calendar a {
  color: #777;
}

/* line 28, ../sass/calendar.sass */
#wrap .fc-event {
  background: #fcfcfc !important;
  color: #333;
  text-decoration: none;
  padding: 2px 5px;
}
/* line 33, ../sass/calendar.sass */
#wrap .fc-event:hover {
  color: #555;
}

/* line 37, ../sass/calendar.sass */
#addEventModal .input-group {
  width: 100%;
}
/* line 39, ../sass/calendar.sass */
#addEventModal .input-group .select2 {
  width: 100%;
}

@media screen and (max-width: 1024px) {
  /* line 49, ../sass/calendar.sass */
  #external-events {
    width: 150px;
  }
}
/* line 55, ../sass/calendar.sass */
#calendar #only-body-table td, #calendar #time-slot td {
  height: 5rem;
  width: 10rem;
}
/* line 59, ../sass/calendar.sass */
#calendar #only-body-table .thead {
  text-align: center;
}
/* line 61, ../sass/calendar.sass */
#calendar #only-body-table td {
  position: relative;
}
/* line 63, ../sass/calendar.sass */
#calendar #only-body-table .eventItem {
  position: absolute;
  left: 0;
  width: 100%;
  margin: unset;
  z-index: 10;
}
