/* developer Andrew */
/* company sinyi-tech */
/* copyright 2018 */
/* line 5, ../../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 38, ../sass/main.sass */
a {
  outline: none !important;
}

/* Basic */
/* line 3, ../sass/basic/_page.sass */
html {
  overflow-x: hidden;
  overflow-y: auto;
}
/* line 6, ../sass/basic/_page.sass */
html body {
  min-width: 320px;
  position: relative;
}
/* line 9, ../sass/basic/_page.sass */
html body::-webkit-scrollbar {
  width: 0;
}

/* line 12, ../sass/basic/_page.sass */
html body {
  margin-right: -15px;
}
/* line 14, ../sass/basic/_page.sass */
html body::-webkit-scrollbar {
  width: 15px;
  cursor: -webkit-grab;
  background-color: transparent;
}
/* line 18, ../sass/basic/_page.sass */
html body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.3);
}

/* line 22, ../sass/basic/_page.sass */
html.iframe {
  overflow: hidden;
  height: 100vh;
}
/* line 25, ../sass/basic/_page.sass */
html.iframe body {
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  margin-right: 0;
  -webkit-overflow-scrolling: touch;
}
/* line 31, ../sass/basic/_page.sass */
html.iframe body::-webkit-scrollbar {
  width: 0;
}
/* line 33, ../sass/basic/_page.sass */
html.iframe body::-webkit-scrollbar {
  width: 15px;
  cursor: -webkit-grab;
  background-color: transparent;
}
/* line 37, ../sass/basic/_page.sass */
html.iframe body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.3);
}

/* Type */
/* line 5, ../sass/basic/_typography.sass */
* {
  font-family: Microsoft JhengHei !important;
}

/* line 8, ../sass/basic/_typography.sass */
body {
  font-size: 18px;
}

/* line 11, ../sass/basic/_typography.sass */
h1, h2, h3, h4, h5, h6 {
  color: #50D2E1;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: 0.5em;
}

/* line 17, ../sass/basic/_typography.sass */
p {
  text-align: justify;
  text-justify: inter-ideograph;
  color: #333;
  font-weight: 300;
  line-height: 1.5;
  margin-bottom: 0.5em;
}

/* line 25, ../sass/basic/_typography.sass */
a {
  text-decoration: none;
  font-size: 1.1em;
}

/* line 30, ../sass/basic/_typography.sass */
h1 {
  font-size: 2.2em;
}

/* line 33, ../sass/basic/_typography.sass */
h2 {
  font-size: 1.75em;
}

/* line 36, ../sass/basic/_typography.sass */
h3 {
  font-size: 1.25em;
}

/* line 39, ../sass/basic/_typography.sass */
h4 {
  font-size: 1.1em;
}

/* line 42, ../sass/basic/_typography.sass */
h5 {
  font-size: 0.9em;
}

/* line 45, ../sass/basic/_typography.sass */
h6 {
  font-size: 0.7em;
}

/* line 48, ../sass/basic/_typography.sass */
p {
  font-size: 0.8em;
}

/* line 52, ../sass/basic/_typography.sass */
hr {
  width: 92%;
  border: 0;
  border-bottom: solid 0.1em rgba(254, 246, 91, 0.75);
  margin: 1em 4%;
  box-shadow: 0 0 4px 2px rgba(73, 73, 73, 0.2), 0 0 2px 1px rgba(73, 73, 73, 0.1);
  float: left;
}
/* line 60, ../sass/basic/_typography.sass */
hr.major {
  margin: 2em 0;
}

/*wrapper */
/* line 3, ../sass/layout/_wrapper.sass */
.wrapper {
  min-height: 100vh;
  width: 100% !important;
  overflow: hidden !important;
}

/* line 21, ../sass/layout/_wrapper.sass */
.loader-wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #D1F3F7;
  z-index: 100;
}
/* line 28, ../sass/layout/_wrapper.sass */
.loader-wrapper .loader {
  height: 3px;
  background-color: #50D2E1;
  position: absolute;
}

/* line 2, ../sass/layout/_menu.sass */
nav .menu {
  position: fixed;
  z-index: 50;
  width: 100vw;
  height: 5rem;
}
/* line 7, ../sass/layout/_menu.sass */
nav .menu .bgc {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #fcfcfc;
  opacity: 0.75;
  transition: 1s;
  -moz-transition: 1s;
  -webkit-transition: 1s;
  -o-transition: 1s;
}
/* line 14, ../sass/layout/_menu.sass */
nav .menu .logo {
  height: 4rem;
  margin-top: 0.5rem;
  margin-left: 0.5rem;
  padding: 10px;
  display: inline-block;
  position: absolute;
}
/* line 21, ../sass/layout/_menu.sass */
nav .menu .menuMobile {
  display: none;
}
/* line 23, ../sass/layout/_menu.sass */
nav .menu .menuList {
  float: right;
}
/* line 25, ../sass/layout/_menu.sass */
nav .menu ul {
  display: inline-block;
  height: 5rem;
  margin-right: 1rem;
}
/* line 29, ../sass/layout/_menu.sass */
nav .menu ul li {
  display: inline-table;
  cursor: pointer;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  padding: 8px 0;
  border-color: #50D2E1;
  transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
}
/* line 39, ../sass/layout/_menu.sass */
nav .menu ul li a {
  color: #333;
  display: block;
  text-align: center;
  margin-top: 0.15rem;
  width: 6.5rem;
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;
}
/* line 48, ../sass/layout/_menu.sass */
nav .menu ul li .title {
  width: 5.5rem;
  margin: -1rem;
}
/* line 51, ../sass/layout/_menu.sass */
nav .menu ul li:hover {
  padding-bottom: 6px;
  border-bottom: 2px solid #D1F3F7;
}
/* line 54, ../sass/layout/_menu.sass */
nav .menu ul li.active {
  padding-bottom: 6px;
  border-bottom: 2px solid #50D2E1;
}
/* line 58, ../sass/layout/_menu.sass */
nav .menu:hover .bgc {
  box-shadow: 2px 2px 20px 5px rgba(0, 0, 0, 0.1);
  opacity: 1;
}

/* line 1, ../sass/layout/_banner.sass */
.banner {
  margin-top: 5rem;
  width: 100%;
  overflow: hidden;
}
/* line 5, ../sass/layout/_banner.sass */
.banner img {
  width: 100%;
  margin-top: -5px;
  margin-bottom: -5px;
}

/* line 10, ../sass/layout/_banner.sass */
.swiper-container {
  width: calc(100% - 10rem);
  border-radius: 2rem 2rem 0 0;
}

/* line 1, ../sass/layout/_main.sass */
section {
  width: 100%;
  position: relative;
}

/* line 7, ../sass/layout/_main.sass */
.titleBox {
  position: absolute;
  top: 3rem;
  left: 50%;
  transform: translateX(-50%);
}
/* line 12, ../sass/layout/_main.sass */
.titleBox span, .titleBox small {
  font-weight: 600;
  margin-bottom: 1rem;
  color: #003438;
  display: block;
  text-align: center;
}
/* line 18, ../sass/layout/_main.sass */
.titleBox span {
  font-size: 2rem;
  letter-spacing: 0.5rem;
}
/* line 21, ../sass/layout/_main.sass */
.titleBox small {
  font-size: 1.75rem;
  letter-spacing: 0.3rem;
}

/* line 25, ../sass/layout/_main.sass */
.moreBox {
  position: absolute;
  right: 2%;
  top: 50%;
  width: 8%;
  text-align: center;
}
/* line 31, ../sass/layout/_main.sass */
.moreBox .moreBtn {
  color: #50D2E1;
  border-bottom: 2px solid #50D2E1;
  padding: 5px;
  cursor: pointer;
}
/* line 36, ../sass/layout/_main.sass */
.moreBox .moreBtn:hover {
  transform: scale(1.1);
  color: #50D2E1;
  text-decoration: none;
}

/* line 41, ../sass/layout/_main.sass */
.btnRed {
  background-color: #50D2E1;
  padding: 8px 40px 8px 58px;
  font-size: 1.2rem;
  color: #fff;
  border-radius: 25px;
  display: block;
  letter-spacing: 1rem;
}
/* line 49, ../sass/layout/_main.sass */
.btnRed:hover {
  transform: scale(1.05);
  color: #fff;
}
/* line 52, ../sass/layout/_main.sass */
.btnRed:active {
  transform: scale(0.95);
}

/* line 55, ../sass/layout/_main.sass */
#news {
  background: #50D2E1;
  background: -webkit-linear-gradient(left, #50D2E1, #D1F3F7);
  background: -o-linear-gradient(right, #50D2E1, #D1F3F7);
  background: -moz-linear-gradient(right, #50D2E1, #D1F3F7);
  background: linear-gradient(to right, #50D2E1, #D1F3F7);
  height: auto;
  padding: 8rem 12%;
}
/* line 63, ../sass/layout/_main.sass */
#news .newsBg {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-image: url("/static/beauty/images/bgDash.png");
  background-repeat: repeat-y;
  background-size: contain;
}
/* line 72, ../sass/layout/_main.sass */
#news .newsBox {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  max-width: 1200px;
  z-index: 2;
}
/* line 77, ../sass/layout/_main.sass */
#news .newsBox .newsBoxBg {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0.5;
  padding: 3%;
  z-index: -1;
}
/* line 85, ../sass/layout/_main.sass */
#news .newsBox .body {
  padding: 3%;
}
/* line 87, ../sass/layout/_main.sass */
#news .newsBox .item {
  display: flex;
  width: 100%;
  padding: 30px 25%;
}
/* line 91, ../sass/layout/_main.sass */
#news .newsBox .no {
  color: #fff;
  background-color: #50D2E1;
  width: 3rem;
  height: 1.8rem;
  padding-left: 0.5rem;
  margin-top: 0.15rem;
  font-weight: 500;
}
/* line 99, ../sass/layout/_main.sass */
#news .newsBox .textBox {
  flex: 1;
  padding-left: 1rem;
}
/* line 102, ../sass/layout/_main.sass */
#news .newsBox .textBox h3 {
  font-size: 1.4rem;
  letter-spacing: 5px;
  margin-bottom: 0.2rem;
}
/* line 106, ../sass/layout/_main.sass */
#news .newsBox .textBox .content, #news .newsBox .textBox .content p {
  font-size: 1.2rem;
  color: #333;
  margin-bottom: 0.2rem;
}

/* line 113, ../sass/layout/_main.sass */
.blockBox .item img {
  width: 100%;
}
/* line 115, ../sass/layout/_main.sass */
.blockBox .item a {
  display: block;
  position: relative;
}
/* line 118, ../sass/layout/_main.sass */
.blockBox .item a .cover {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 10;
  opacity: 0;
  transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
}
/* line 127, ../sass/layout/_main.sass */
.blockBox .item a:hover .cover {
  opacity: 1;
}
/* line 129, ../sass/layout/_main.sass */
.blockBox .nav {
  text-align: center;
  margin-bottom: 2rem;
}
/* line 132, ../sass/layout/_main.sass */
.blockBox .nav-item {
  display: inline-block;
  color: #333;
  padding: 8px 16px;
  min-width: 8rem;
  transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
}
/* line 138, ../sass/layout/_main.sass */
.blockBox .nav-item .nav-link:hover {
  padding-bottom: 6px;
  border-bottom: 2px solid rgba(185, 140, 91, 0.5);
}
/* line 141, ../sass/layout/_main.sass */
.blockBox .nav-item .nav-link.active {
  padding-bottom: 6px;
  border-bottom: 2px solid #B98C5B;
}
/* line 144, ../sass/layout/_main.sass */
.blockBox .nav-item a {
  color: #333;
}

/* line 148, ../sass/layout/_main.sass */
#service {
  padding: 8rem 12%;
  height: auto;
  background-image: url("/static/beauty/images/bgService.png");
  background-repeat: no-repeat;
  background-size: cover;
}
/* line 154, ../sass/layout/_main.sass */
#service .body {
  max-width: 1200px;
  margin: 2rem auto 0;
}
/* line 157, ../sass/layout/_main.sass */
#service .item {
  margin-bottom: 2rem;
}

/* line 160, ../sass/layout/_main.sass */
#product {
  padding: 8rem 12%;
  height: auto;
  background-color: #FFEAE2;
  background-image: url("/static/beauty/images/bgProduct.png");
  background-repeat: no-repeat;
  background-size: cover;
}
/* line 167, ../sass/layout/_main.sass */
#product .body {
  max-width: 1200px;
  margin: 2rem auto 0;
}
/* line 170, ../sass/layout/_main.sass */
#product .item {
  margin-bottom: 2rem;
}
/* line 172, ../sass/layout/_main.sass */
#product .title {
  background: #fcfcfc;
  padding: 1.5rem 0.5rem;
  font-size: 1rem;
  color: #333;
  text-align: center;
}

/* line 179, ../sass/layout/_main.sass */
#knows {
  padding: 8rem 12%;
  height: auto;
  background-color: #FFEAE2;
}
/* line 183, ../sass/layout/_main.sass */
#knows .body {
  max-width: 1200px;
  margin: 2rem auto 0;
}
/* line 186, ../sass/layout/_main.sass */
#knows .item {
  margin-bottom: 2rem;
}
/* line 188, ../sass/layout/_main.sass */
#knows .textBox {
  position: absolute;
  width: 100%;
  height: auto;
  bottom: 0;
  left: 0;
}
/* line 194, ../sass/layout/_main.sass */
#knows .title {
  position: relative;
  padding: 1.5rem 0.5rem;
  font-size: 1rem;
  color: #fcfcfc;
  text-align: center;
  z-index: 5;
}
/* line 201, ../sass/layout/_main.sass */
#knows .titleBg {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: #956C72;
  opacity: 0.7;
}

/* line 290, ../sass/layout/_main.sass */
#cast {
  padding: 6rem 0 2rem;
  position: relative;
}
/* line 293, ../sass/layout/_main.sass */
#cast .body {
  padding: 50px 3vw;
  overflow: hidden;
}
/* line 296, ../sass/layout/_main.sass */
#cast .swiper-slide, #cast .row a {
  text-align: center;
}
/* line 298, ../sass/layout/_main.sass */
#cast .swiper-slide .castCover, #cast .row a .castCover {
  border-radius: 50%;
  margin-bottom: 7%;
  overflow: hidden;
  position: relative;
}
/* line 303, ../sass/layout/_main.sass */
#cast .swiper-slide img, #cast .row a img {
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
/* line 313, ../sass/layout/_main.sass */
#cast .swiper-slide div, #cast .row a div {
  display: inline-block;
  color: #50D2E1;
  letter-spacing: 5px;
}
/* line 321, ../sass/layout/_main.sass */
#cast .swiper-pagination {
  left: unset;
  right: 1rem;
  top: 1rem;
  width: unset;
}
/* line 326, ../sass/layout/_main.sass */
#cast .swiper-pagination .swiper-pagination-bullet {
  margin: 0 8px !important;
}
/* line 328, ../sass/layout/_main.sass */
#cast .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #50D2E1;
}
/* line 330, ../sass/layout/_main.sass */
#cast.blockBox {
  padding: 8rem 12%;
}

/* line 332, ../sass/layout/_main.sass */
#case {
  background-image: url("/static/beauty/images/bgCase.png");
  background-size: cover;
  min-height: 650px;
}
/* line 336, ../sass/layout/_main.sass */
#case .titleBox {
  padding-top: 2rem;
}
/* line 338, ../sass/layout/_main.sass */
#case .body {
  width: 90%;
  margin: 20px auto;
  overflow: hidden;
  height: 100%;
}
/* line 343, ../sass/layout/_main.sass */
#case .swiper-button-next, #case .swiper-button-prev {
  top: 0;
  width: 32vw;
  height: 100vh;
  margin-top: 0;
  background-size: 0;
}
/* line 349, ../sass/layout/_main.sass */
#case .swiper-slide {
  position: relative;
  width: 100%;
  height: calc(100vh - 10rem);
  min-height: 500px;
  background-color: #fff;
  transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transform: scale(0.8);
}
/* line 357, ../sass/layout/_main.sass */
#case .swiper-slide:after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.15);
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}
/* line 366, ../sass/layout/_main.sass */
#case .swiper-slide .more {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  border-radius: 20px;
  padding: 8px 24px;
  display: inline;
  font-size: 0.8rem;
  color: grey;
  box-shadow: 3px 4px 7px rgba(0, 0, 0, 0.25);
}
/* line 378, ../sass/layout/_main.sass */
#case .swiper-slide .textBox {
  background-color: #F6E5DD;
  height: 100%;
  padding-bottom: 3rem;
}
/* line 382, ../sass/layout/_main.sass */
#case .swiper-slide-next {
  transform: scale(1);
}
/* line 384, ../sass/layout/_main.sass */
#case .swiper-slide-next:after {
  width: 0;
}
/* line 386, ../sass/layout/_main.sass */
#case .swiper-slide-next .more {
  background-color: unset;
  border-radius: unset;
  padding: unset;
  font-size: 1rem;
  color: #50D2E1;
  letter-spacing: 3px;
  font-weight: 700;
  cursor: pointer;
  box-shadow: unset;
}
/* line 396, ../sass/layout/_main.sass */
#case .swiper-slide-next .more:hover {
  transform: translateX(-50%) scale(1.1);
}
/* line 398, ../sass/layout/_main.sass */
#case .swiper-slide, #case .caseBox {
  padding: 10px;
}
/* line 400, ../sass/layout/_main.sass */
#case .swiper-slide .box, #case .caseBox .box {
  background-color: #F6E5DD;
  height: 100%;
}
/* line 403, ../sass/layout/_main.sass */
#case .swiper-slide .img, #case .caseBox .img {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 340px;
  max-height: calc(50% - 6rem);
  overflow: hidden;
}
/* line 410, ../sass/layout/_main.sass */
#case .swiper-slide img, #case .caseBox img {
  min-width: 100%;
  min-height: 100%;
  max-width: 200%;
  max-height: 200%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
/* line 417, ../sass/layout/_main.sass */
#case .swiper-slide .header, #case .caseBox .header {
  padding: 50px 50px 20px 50px;
  display: flex;
}
/* line 420, ../sass/layout/_main.sass */
#case .swiper-slide .header .title, #case .caseBox .header .title {
  flex: 1;
  color: #50D2E1;
}
/* line 423, ../sass/layout/_main.sass */
#case .swiper-slide .header .date, #case .caseBox .header .date {
  width: 6rem;
}
/* line 425, ../sass/layout/_main.sass */
#case .swiper-slide .content, #case .caseBox .content {
  padding: 0 50px;
}
/* line 428, ../sass/layout/_main.sass */
#case .caseBox {
  text-decoration: none;
  padding: 3vw;
}
/* line 431, ../sass/layout/_main.sass */
#case .caseBox .textBox {
  background-color: #fff;
  padding: 10px;
}
/* line 434, ../sass/layout/_main.sass */
#case .caseBox .more {
  display: block;
  margin: 30px auto 20px auto;
  color: #fff;
  background-color: #019BB9;
  border-radius: 2rem;
  padding: 0.5rem 1rem;
  font-size: 0.8rem;
  width: 9rem;
  text-align: center;
  letter-spacing: 2px;
}
/* line 445, ../sass/layout/_main.sass */
#case .caseBox .date {
  color: #777;
}

/* line 450, ../sass/layout/_main.sass */
#slogan {
  background-image: url("/static/beauty/images/bgService.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right bottom;
  min-height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* line 464, ../sass/layout/_main.sass */
#introduction {
  padding: 10rem;
  background-image: url("/static/beauty/images/bgProduct.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right bottom;
  margin: 0;
}
/* line 471, ../sass/layout/_main.sass */
#introduction .box {
  height: 100%;
  position: relative;
}
/* line 474, ../sass/layout/_main.sass */
#introduction .col-md-3 {
  position: unset;
}
/* line 476, ../sass/layout/_main.sass */
#introduction .logo {
  width: 25%;
  padding: 3% 6% 3% 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

/* line 1, ../sass/layout/_foot.sass */
#contact {
  background-image: url("/static/beauty/images/bgContact.png");
  ackground-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  padding: 8rem 12%;
}
/* line 8, ../sass/layout/_foot.sass */
#contact .titleBox {
  padding-top: 2rem;
}
/* line 10, ../sass/layout/_foot.sass */
#contact .body {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  max-width: 1200px;
  margin: 2rem auto 0;
  padding: 3rem 3rem 0 3rem;
  background-color: rgba(255, 255, 255, 0.7);
}
/* line 16, ../sass/layout/_foot.sass */
#contact .gapLine {
  border-right: 1px solid #aaa;
}
/* line 18, ../sass/layout/_foot.sass */
#contact .p-0 {
  padding: 0;
}
/* line 20, ../sass/layout/_foot.sass */
#contact .form-group {
  padding: 0 5px;
}
/* line 22, ../sass/layout/_foot.sass */
#contact .form-group > label {
  font-size: 1.2rem;
  color: #003438;
  font-weight: 600;
  margin-bottom: 0.75rem;
  display: block;
  font-family: "Cabin", sans-serif;
}
/* line 29, ../sass/layout/_foot.sass */
#contact .form-group > label span {
  color: #50D2E1;
  margin-right: 5px;
}
/* line 33, ../sass/layout/_foot.sass */
#contact .form-group div > label {
  font-size: 1rem;
}
/* line 35, ../sass/layout/_foot.sass */
#contact .form-control {
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 21px;
}
/* line 38, ../sass/layout/_foot.sass */
#contact .radios {
  width: 14px;
  height: 14px;
  padding: 1px;
  border: 1px solid #aaa;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.4);
}
/* line 46, ../sass/layout/_foot.sass */
#contact .radiosCheck {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
/* line 50, ../sass/layout/_foot.sass */
#contact .form-check-inline, #contact .d-inline-block {
  display: inline-block;
}
/* line 52, ../sass/layout/_foot.sass */
#contact .form-check-label {
  cursor: pointer;
  height: 34px;
  padding-top: 7px;
}
/* line 56, ../sass/layout/_foot.sass */
#contact .bgBlack {
  background-color: #50D2E1;
}
/* line 58, ../sass/layout/_foot.sass */
#contact .blackText {
  color: #000 !important;
  font-size: 1.2rem !important;
}
/* line 61, ../sass/layout/_foot.sass */
#contact .contactSumit {
  margin: 3rem auto;
}
/* line 63, ../sass/layout/_foot.sass */
#contact #description {
  max-height: 20rem;
}

/* line 67, ../sass/layout/_foot.sass */
#lineContact {
  background-color: #fcfcfc;
  background-image: url("/static/beauty/images/bgLineContact.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 12rem 12% 0;
}
/* line 73, ../sass/layout/_foot.sass */
#lineContact .titleBox {
  top: 5rem;
}
/* line 75, ../sass/layout/_foot.sass */
#lineContact .lineLogo {
  position: absolute;
  right: -5rem;
  top: -3.5rem;
  width: 5rem;
}
/* line 80, ../sass/layout/_foot.sass */
#lineContact .lineQRcode {
  width: 90%;
  max-width: 600px;
  margin: 3rem auto 0;
  display: block;
}

/* line 86, ../sass/layout/_foot.sass */
footer {
  background-color: #50D2E1;
  background: -webkit-linear-gradient(left, #50D2E1, #019BB9);
  background: -o-linear-gradient(right, #50D2E1, #019BB9);
  background: -moz-linear-gradient(right, #50D2E1, #019BB9);
  background: linear-gradient(to right, #50D2E1, #019BB9);
  margin: 0;
  padding: 4rem 12%;
  max-width: 100vw;
  text-align: center;
  color: #fff;
}
/* line 98, ../sass/layout/_foot.sass */
footer .logo img {
  width: 8rem;
}
/* line 100, ../sass/layout/_foot.sass */
footer .footMenu {
  margin-top: 2rem;
}
/* line 102, ../sass/layout/_foot.sass */
footer .footMenu ul {
  margin-left: 1rem;
}
/* line 104, ../sass/layout/_foot.sass */
footer .footMenu li {
  display: inline-block;
  margin-right: 1rem;
  margin-bottom: 1rem;
}
/* line 108, ../sass/layout/_foot.sass */
footer .footMenu li a {
  color: #fff;
}
/* line 110, ../sass/layout/_foot.sass */
footer .info {
  margin-top: 1.5rem;
}
/* line 112, ../sass/layout/_foot.sass */
footer .copyright {
  margin-top: 1rem;
}

/* line 1, ../sass/layout/_lightcase.sass */
.bannerModal {
  width: 100%;
  overflow: hidden;
}
/* line 5, ../sass/layout/_lightcase.sass */
.bannerModal img {
  width: 100%;
}

/* line 9, ../sass/layout/_lightcase.sass */
#productItem, #caseItem, #serviceItem {
  background-image: url("/static/beauty/images/bgService.png");
}

/* line 12, ../sass/layout/_lightcase.sass */
#productItem td, #serviceItem td, #caseItem td, #castItem td {
  border: 2px solid #ccc;
}
/* line 14, ../sass/layout/_lightcase.sass */
#productItem td p, #serviceItem td p, #caseItem td p, #castItem td p {
  margin: 0.25rem 0;
}
/* line 16, ../sass/layout/_lightcase.sass */
#productItem ul, #productItem ol, #productItem table, #serviceItem ul, #serviceItem ol, #serviceItem table, #caseItem ul, #caseItem ol, #caseItem table, #castItem ul, #castItem ol, #castItem table {
  line-height: 2rem;
  color: #777;
  font-size: 1.2rem;
}
/* line 20, ../sass/layout/_lightcase.sass */
#productItem ul, #serviceItem ul, #caseItem ul, #castItem ul {
  list-style-type: disc !important;
  margin-left: 20px;
}
/* line 23, ../sass/layout/_lightcase.sass */
#productItem ol, #serviceItem ol, #caseItem ol, #castItem ol {
  list-style-type: decimal !important;
  margin-left: 20px;
}

/* line 27, ../sass/layout/_lightcase.sass */
#productItem {
  padding-bottom: 5vw;
}
/* line 30, ../sass/layout/_lightcase.sass */
#productItem .body {
  padding: 8vw 8vw 0 8vw;
}
/* line 34, ../sass/layout/_lightcase.sass */
#productItem .body .col-md-5 img {
  vertical-align: middle;
  width: calc(100% - 30px);
}
/* line 41, ../sass/layout/_lightcase.sass */
#productItem .body .col-md-7 {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* line 46, ../sass/layout/_lightcase.sass */
#productItem .body .col-md-7 .text .title {
  color: #CB7E53;
  width: 100%;
  letter-spacing: 0.7vw;
}
/* line 50, ../sass/layout/_lightcase.sass */
#productItem .body .col-md-7 .text .content, #productItem .body .col-md-7 .text .content * {
  color: #862A3C;
  letter-spacing: 0.3vw;
  line-height: 2rem;
}

/* line 56, ../sass/layout/_lightcase.sass */
#serviceItem .body {
  padding: 8vw;
}
/* line 58, ../sass/layout/_lightcase.sass */
#serviceItem .body img {
  padding: 20px;
}
/* line 61, ../sass/layout/_lightcase.sass */
#serviceItem .title {
  color: #50D2E1;
  width: 100%;
  letter-spacing: 0.7vw;
}
/* line 65, ../sass/layout/_lightcase.sass */
#serviceItem p, #serviceItem span {
  letter-spacing: 0.3vw;
  font-size: 1.2rem;
  line-height: 2rem;
}
/* line 69, ../sass/layout/_lightcase.sass */
#serviceItem img {
  max-width: 100%;
}

/* line 72, ../sass/layout/_lightcase.sass */
#castItem {
  background-image: url("/static/beauty/images/bgCast.png");
  padding: 8vw;
}
/* line 75, ../sass/layout/_lightcase.sass */
#castItem .drName {
  color: #019BB9;
  font-size: 2.5rem;
  font-weight: 700;
  margin-top: 3rem;
  letter-spacing: 0.7vw;
}
/* line 81, ../sass/layout/_lightcase.sass */
#castItem .school {
  font-size: 2.25rem;
  letter-spacing: 0.2rem;
}
/* line 84, ../sass/layout/_lightcase.sass */
#castItem .school p {
  color: #019BB9;
  font-weight: 500;
  margin: 0;
}
/* line 89, ../sass/layout/_lightcase.sass */
#castItem .content p {
  color: #019BB9;
  letter-spacing: 0.3vw;
  line-height: 2rem;
  margin: 0;
  font-size: 1.4rem;
}
/* line 95, ../sass/layout/_lightcase.sass */
#castItem img {
  max-width: 100%;
}

/* line 99, ../sass/layout/_lightcase.sass */
#caseItem .body {
  padding: 8vw;
}
/* line 101, ../sass/layout/_lightcase.sass */
#caseItem .body img {
  width: 100%;
}

/* line 105, ../sass/layout/_lightcase.sass */
#castItem .title, #caseItem .title {
  color: #fff;
  background-color: #019BB9;
  border-radius: 0 3rem 3rem 0;
  display: inline-block;
  padding: 0.5rem 2rem;
  letter-spacing: 0.7vw;
  margin: 3rem 0;
}
/* line 114, ../sass/layout/_lightcase.sass */
#castItem .content, #castItem .content *, #caseItem .content, #caseItem .content * {
  color: #777;
  letter-spacing: 0.3vw;
  font-size: 1.2rem;
  line-height: 2rem;
}

/* line 120, ../sass/layout/_lightcase.sass */
#productItem, #serviceItem, #castItem, #caseItem {
  position: relative;
  min-height: 100vh;
}

/* line 124, ../sass/layout/_lightcase.sass */
#newsList {
  position: relative;
  background-color: #FAF0DF;
  padding: 7%;
  min-height: 100vh;
}
/* line 129, ../sass/layout/_lightcase.sass */
#newsList .upBtn {
  position: absolute;
  bottom: 0;
  right: 10%;
  cursor: pointer;
}
/* line 134, ../sass/layout/_lightcase.sass */
#newsList .upBtn img {
  width: 100px;
}
/* line 136, ../sass/layout/_lightcase.sass */
#newsList .item {
  position: relative;
  display: flex;
  padding: 30px 10%;
}
/* line 140, ../sass/layout/_lightcase.sass */
#newsList .no {
  color: #fff;
  background-color: #50D2E1;
  width: 3rem;
  height: 1.8rem;
  padding-left: 0.5rem;
  margin-top: 0.15rem;
  font-weight: 500;
}
/* line 148, ../sass/layout/_lightcase.sass */
#newsList .hidden {
  display: none;
}
/* line 150, ../sass/layout/_lightcase.sass */
#newsList .textBox {
  flex: 1;
  padding-left: 1rem;
}
/* line 153, ../sass/layout/_lightcase.sass */
#newsList .textBox h3 {
  font-size: 1.4rem;
  letter-spacing: 5px;
  margin-bottom: 0.2rem;
  cursor: pointer;
}
/* line 158, ../sass/layout/_lightcase.sass */
#newsList .textBox .content, #newsList .textBox .content p {
  cursor: pointer;
  font-size: 1.2rem;
  color: #333;
  margin-bottom: 0.2rem;
}

/* line 164, ../sass/layout/_lightcase.sass */
.modal-open .modal {
  overflow-y: hidden;
}

/* line 168, ../sass/layout/_lightcase.sass */
.modal.fade .modal-dialog {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  min-width: 60vw;
  max-width: 90vw;
  max-height: 90vh;
  overflow: auto;
  margin-right: -10px;
}
/* line 175, ../sass/layout/_lightcase.sass */
.modal.fade .modal-dialog::-webkit-scrollbar {
  width: 10px;
  cursor: -webkit-grab;
  background-color: transparent;
}
/* line 179, ../sass/layout/_lightcase.sass */
.modal.fade .modal-dialog::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.3);
}

/* line 183, ../sass/layout/_lightcase.sass */
a[class*='lightcase-icon-'].lightcase-icon-close {
  right: 27px;
  height: 1.123em;
}

/* line 187, ../sass/layout/_lightcase.sass */
#lightcase-content {
  width: 100vw;
}
/* line 189, ../sass/layout/_lightcase.sass */
#lightcase-content .lightcase-contentInner {
  height: 100vh;
}

@media screen and (max-width: 1280px) {
  /* line 194, ../sass/layout/_lightcase.sass */
  .modal.fade .modal-dialog {
    min-width: 70vw;
  }
}
@media screen and (max-width: 768px) {
  /* line 198, ../sass/layout/_lightcase.sass */
  .modal.fade .modal-dialog {
    min-width: 90vw;
  }

  /* line 201, ../sass/layout/_lightcase.sass */
  #newsList {
    padding: 7% 0;
  }
  /* line 203, ../sass/layout/_lightcase.sass */
  #newsList .item {
    padding: 30px 10px;
  }
}
/* line 57, ../sass/main.sass */
.clean {
  clear: both;
}

/* line 60, ../sass/main.sass */
.hidden {
  display: none;
}
