{% extends "admin/template.html" %}

{% block style %}

{% endblock style %}

{% block content %}

    <section class="content-header">
        <h1>
            會員系統
            <small><a href="{{ url_for('user.userData',uuid=member['uuid']) }}" class=" jwtLink"> {{ member['name'] }} </a>-會員點數列表</small>
        </h1>
    </section>


    <section class="content container-fluid">
        <a href="{{ url_for('user.userPointEdit',uuid=member['uuid']) }}" class="btn bg-olive btn-flat margin jwtLink">儲值點數</a>

        <div class="box">
            <!-- /.box-header -->
            <div class="box-body">
                <table id="example2" class="table table-bordered table-hover">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>點數</th>
                        <th>儲值單號</th>
                        <th>訂單單號</th>
                        <th>儲值時間</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for data in data %}
                        <tr {% if( data.order_id) %}class="active" {% endif %}>
                            <td>{{ loop.index }}</td>
                            <td>{{ data.point }}</td>
                            <td>{% if( data.order_id) %} {% else %} {{ data.number }} {% endif %}</td>
                            <td>{% if( data.order_id) %} {{ data.number }} {% else %}  {% endif %}</td>
                            <td>{{ data.date }}</td>
                            <td>
                                <a href="{{ url_for('user.userPointPrint', uuid=member['uuid'], response=data.number, employee=data.employee_id) }}" target="_blank" class="btn btn-primary pull-right" style="margin-right: 5px;">
                                    <i class="fa fa-print"></i> 列印
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <!-- /.box-body -->
        </div>

    </section>

{% endblock content %}

{% block script %}

    <script src="{{ url_for('static', filename='admin/bower_components/datatables.net/js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ url_for('static', filename='admin/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js') }}"></script>
    <script>
        $('#example2').DataTable({
            'paging': true,
//        'lengthChange': false,
            'searching': false,
            'ordering': true,
            'info': true,
            'autoWidth': false,
            "language": {
                "processing": "處理中...",
                "loadingRecords": "載入中...",
                "lengthMenu": "顯示 _MENU_ 項結果",
                "zeroRecords": "沒有符合的結果",
                "info": "顯示第 _START_ 至 _END_ 項結果，共 _TOTAL_ 項",
                "infoEmpty": "顯示第 0 至 0 項結果，共 0 項",
                "infoFiltered": "(從 _MAX_ 項結果中過濾)",
                "infoPostFix": "",
                "search": "搜尋:",
                "paginate": {
                    "first": "第一頁",
                    "previous": "上一頁",
                    "next": "下一頁",
                    "last": "最後一頁"
                },
                "aria": {
                    "sortAscending": ": 升冪排列",
                    "sortDescending": ": 降冪排列"
                }
            }
        })
        $(function () {

        })
    </script>
{% endblock script %}