{% extends "admin/template.html" %}

{% block style %}
    <link rel="stylesheet" href="{{ url_for('static', filename='admin/plugins/iCheck/all.css') }}">
{% endblock style %}

{% block content %}

    <section class="content-header">
        <h1>
            會員系統
            <small>
                <a href="{{ url_for('user.userPoint',uuid=member.uuid) }}" class="jwtLink">會員</a>儲值點數

            </small>
        </h1>
    </section>


    <section class="content container-fluid">
        <div class="col-md-8">
            <form class="form-horizontal" action="{{ url_for('userApi.userPointData') }}" id="pointForm" method="post">
                <div class="box-body">
                    <div class="form-group">
                        <label for="name" class="col-sm-2 control-label">會員名稱</label>

                        <div class="col-sm-10">
                            <label class="customer-label">{{ member.name }}</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="name" class="col-sm-2 control-label">身分證字號</label>

                        <div class="col-sm-10">
                            <label class="customer-label">{{ member.IDNumber }}</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="point" class="col-sm-2 control-label">儲值點數</label>

                        <div class="col-sm-10">
                            <input type="number" class="form-control" min="1" id="point" name="point">
                            <span class="help-block">此為必填欄位</span>
                        </div>
                    </div>

                    <input type="text" name="_token" class="hidden">

                    <input type="hidden" name="user_id" value="{{ member.uuid }}">
                    <button type="button" onclick="onSubmit();" class="btn btn-info btn-flat pull-right">送出</button>
                </div>
            </form>
        </div>

    </section>

{% endblock content %}

{% block script %}
    <script src="{{ url_for('static', filename='admin/plugins/iCheck/icheck.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.form.min.js') }}"></script>
    <script>
        $(function () {
            $('input[type="checkbox"].minimal-red, input[type="radio"].minimal-red').iCheck({
                checkboxClass: 'icheckbox_minimal-red',
                radioClass: 'iradio_minimal-red'
            })
        })
        function onSubmit() {
            $('input[name="_token"]').val(localStorage[tokenName])
            swal({
                title: '請確認\"儲值點數\"是否正確',
                text: "儲值點數後將無法再進行編輯",
                type: 'question',
                showCancelButton: true,
                confirmButtonText: '確認',
                cancelButtonText: '關閉'
            }).then((result) => {
                if (result.value) {
                    $('.form-group').removeClass('has-error')
                    var point = $('input[name="point"]').val()
                    if (!point) {
                        $('input[name="point"]').parents('.form-group').addClass('has-error')
                        return false;
                    }
                    document.getElementById("pointForm").submit()
                    swal(
                        '請列印儲值證明',
                        'info'
                    )
                } else if (result.dismiss === swal.DismissReason.cancel) {
                    swal(
                        '取消',
                        '您已取消了此次儲值',
                        'error'
                    )
                }
            })
                
        }
    </script>
{% endblock script %}