<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <!-- Tell the browser to be responsive to screen width -->
    {# <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport"> #}
    <!-- Bootstrap 3.3.7 -->
    <link rel="stylesheet" href="{{ url_for('static', filename='backend/bower_components/bootstrap/dist/css/bootstrap.min.css') }}">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="{{ url_for('static', filename='backend/bower_components/font-awesome/css/font-awesome.min.css') }}">
    <!-- Ionicons -->
    {# <link rel="stylesheet" href="{{ url_for('static', filename='backend/bower_components/Ionicons/css/ionicons.min.css') }}"> #}
    <!-- Theme style -->
    {# <link rel="stylesheet" href="{{ url_for('static', filename='backend/dist/css/AdminLTE.min.css') }}"> #}

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
    <style type="text/css" media="print">
        div.invoice
        {
            page-break-after: always !important;
            page-break-inside: avoid !important;
        }

        @page 
        {
            size: auto;   /* auto is the initial value */
            margin: 0mm;  /* this affects the margin in the printer settings */
        }
    </style>
    <style>
        body {
            font-size: 15px;
        }
        .index {
            position: relative;
        }
        .indexBg {
            /*min-height: 100%;
            min-width: 100%;*/
            width: 100%;
            height: 100vh;
        }
        .indexLogo {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateX(-50%)translateY(-50%);
            width: 200px;
        }
        .indexTitle {
            position: absolute;
            bottom: 36px;
            right: 36px;
            /*color: #fff;*/
            direction: rtl
        }
        .invoice {
            min-height: 100vh;
            position: relative;
        }
        .baseLine {
            clear: both;
        }
        .baseLine span p {
            display: inline;
            float: right;
            width: calc(100% - 7rem);
            line-height: 1.8rem;
            margin-top: 0.5rem;
        }
        .baseLine .small {
            font-size: 8px;
            line-height: 10px;
        }
        .memberSign {
            position: absolute;
            bottom: 0;
            right: 0;
            padding: 22px 72px;
        }
        .textBox {
            padding: 36px;
            position: relative;
        }
        .textBox .bgImg {
            position: absolute;
            width: 80vw;
            top: 500px;
            left: 50%;
            transform: translateX(-50%)translateY(-50%);
        }
        .textBox > div {
            padding: 0 36px;
        }
        .userNrmber {
            position: absolute;
            top: 45px;
            right: 50px;
            /*color: #842220;*/
        }
        span {
            line-height: 36px;
            font-weight: 300;
            font-size: 16px;
        }
        .flex {
            display: flex;
        }
        .flex-1 {
            flex: 1;
        }
        .w4 {
            width: 75px;
        }
        .title {
            /*margin: 0 auto;*/
            display: block;
            padding-bottom: 25px;
            height: 60px;
        }
        .humanBody {
            height: calc(100vh - 200px);
  /*          position: absolute;
            top: 50%;
            left: 0%;
            transform: translateY(-50%);*/
        }
    </style>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>
<body onload="window.print();">{#  onload="window.print();" #}
<div class="wrapper">
    <!-- Main content -->
        <div class="invoice">
            <div class="index">
                <img class="indexBg" src="{{ url_for('static', filename='images/userPrintBg.jpg') }}">
                <img class="indexLogo" src="{{ url_for('static', filename='images/svg/logoDiazy.svg') }}">
                <div class="indexTitle">
                    <span>會員姓名: {{ data['name'] }}</span>
                    <br>
                    <span class="">會員生日: {{ data['birthday'] }}</span>
                </div>
            </div>
        </div>
        <div class="invoice">
            <div class="textBox">
                <img class="bgImg" src="{{ url_for('static', filename='images/svg/userPrintInk.png') }}" alt="">
                <img class="title" src="{{ url_for('static', filename='images/svg/printUser1.png') }}">
                <span class="userNrmber">會員編號: {{ data['user_number'] }}</span>
                <div class="baseLine">
                    {% for grade in grades %}
                        {% if data['grade_id']==grade['id'] %}
                            <span>會員等級: {{ grade['name'] }}</span>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="baseLine">
                    <span>會員姓名: {{ data['name'] }}</span>
                </div>
                <div class="baseLine">
                    <span>身分證字號: {{ data['IDNumber'] }}</span>
                </div>
                <div class="baseLine">
                    <span>電子信箱: {{ data['email'] }}</span>
                </div>
                <div class="baseLine">
                    <span>  生日: {{ data['birthday'] }}</span>
                </div>
                <div class="baseLine">
                    {% if data['gender']=='male' %}
                        <span>性別: 男性</span>
                    {% else %}
                        <span>性別: 女性</span>
                    {% endif %}
                </div>
                <div class="baseLine">
                    <span>血型: {{ data['bloodtype'] }}型</span>
                </div>
                <div class="baseLine">
                    <span>住家電話: {{ data['phone_number'] }}</span>
                </div>
                <div class="baseLine">
                    <span>手機號碼: {{ data['mobile_phone'] }}</span>
                </div>
                <div class="baseLine">
                    <span>地址: {{ data['address'] }}</span>
                </div>
                <div class="baseLine">
                    <span>身高: {{ data['height'] }}</span>
                </div>
                <div class="baseLine">
                    <span>體重: {{ data['weight'] }}</span>
                </div>
                <div class="baseLine">
                    <span>緊急聯絡人: {{ data['contact'] }}</span>
                </div>
                <div class="baseLine">
                    <span>聯絡電話: {{ data['contact_phone'] }}</span>
                </div>
                <div class="baseLine">
                    <span>來源: {{ data['whereform'] }}</span>
                </div>
                <div class="baseLine">
                    <span>備註: {{ data['note'] }}</span>
                </div>
                <div class="baseLine">
                    <span>過敏病史: </span>
                    <span>{{ data['allergy_history'] |safe }}</span>
                </div>
                <div class="baseLine">
                    <span>疾病病史: </span>
                    <span>{{ data['disease_history'] |safe }}</span>
                </div>
            </div>
            <div class="baseLine memberSign">
                <span class="small">本人經黛子醫美診所依個人資料保護法第八條第一項及第九條第一項規定，告知黛子醫美診所為執行醫療、健康檢查業務所需、以及日後醫療、健康檢查相關訊息之通知，於適當、合理及必要之範圍內蒐集、處理及利用本人之個人資料，本人了解並同意。</span>
                <div style="text-align: right; line-height: 35px;">貴賓簽名: <div style="width: 250px; border-bottom: 1px solid #000; float: right; height: 30px;margin-left: 10px;"></div></div>
                </div>
            </div>
        </div>
        <div class="invoice">
            <div class="textBox">
                <!-- <img class="bgImg" src="{{ url_for('static', filename='images/svg/userPrintInk.png') }}" alt=""> -->
                <img class="title" src="{{ url_for('static', filename='images/svg/printUser2.png') }}">
                
                
                <span class="userNrmber">會員編號: {{ data['user_number'] }}</span>
                
                <div class="zzz">
                    <div style="position: absolute; z-index: 100;">
                        {% if data['gender']=='male' %}
                            <img class="humanBody" src="{{ url_for('static', filename='images/bodyMan.png') }}">
                        {% else %}
                            <img class="humanBody" src="{{ url_for('static', filename='images/bodyWoman.png') }}">
                        {% endif %}
                    </div>
                    <div style="position: absolute; left: 50%;">
                        <div class="flex" style="position: absolute; width: calc(50vw - 50px); top: 50px;">
                            {# <label class="w4">美麗期許:</label> #}

                            <div class="flex-1">
                                {% for improve in data['improve'] %}

                                    {% if improve == 'h1' %}
                                        <label class="customer-label">
                                            更水嫩
                                        </label>
                                    {% endif %}
                                    {% if improve == 'h2' %}
                                        <label class="customer-label">
                                            更透亮
                                        </label>
                                    {% endif %}
                                    {% if improve == 'h3' %}
                                        <label class="customer-label">
                                            更Q彈
                                        </label>
                                    {% endif %}
                                    {% if improve == 'h4' %}
                                        <label class="customer-label">
                                            更白皙
                                        </label>
                                    {% endif %}
                                    {% if improve == 'h5' %}
                                        <label class="customer-label">
                                            更緊實
                                        </label>
                                    {% endif %}
                                    {% if improve == 'h6' %}
                                        <label class="customer-label">
                                            零痘疤
                                        </label>
                                    {% endif %}
                                    {% if improve == 'h7' %}
                                        <label class="customer-label">
                                            零毛孔
                                        </label>
                                    {% endif %}
                                    {% if improve == 'h8' %}
                                        <label class="customer-label">
                                            零粉刺
                                        </label>
                                    {% endif %}
                                    {% if improve == 'h9' %}
                                        <label class="customer-label">
                                            零細紋
                                        </label>
                                    {% endif %}
                                    {% if improve == 'h10' %}
                                        <label class="customer-label">
                                            零斑點
                                        </label>
                                    {% endif %}
                                    {% if improve == 'h11' %}
                                        <label class="customer-label">
                                            氣色更好
                                        </label>
                                    {% endif %}
                                    {% if improve == 'h12' %}
                                        <label class="customer-label">
                                            膚色均勻
                                        </label>
                                    {% endif %}
                                    {% if improve == 'h13' %}
                                        <label class="customer-label">
                                            高挺美鼻
                                        </label>
                                    {% endif %}
                                    {% if improve == 'h14' %}
                                        <label class="customer-label">
                                            滑蛋肌
                                        </label>
                                    {% endif %}
                                    {% if improve == 'h15' %}
                                        <label class="customer-label">
                                            尖下巴
                                        </label>
                                    {% endif %}
                                    {% if improve == 'h16' %}
                                        <label class="customer-label">
                                            零黑眼圈
                                        </label>
                                    {% endif %}
                                    {% if improve == 'h17' %}
                                        <label class="customer-label">
                                            小V臉
                                        </label>
                                    {% endif %}
                                    {% if improve == 'h18' %}
                                        <label class="customer-label">
                                            零油脂
                                        </label>
                                    {% endif %}
                                    {% if improve == 'h19' %}
                                        <label class="customer-label">
                                            告別敏感肌
                                        </label>
                                    {% endif %}
                                    {% if improve == 'h20' %}
                                        <label class="customer-label">
                                            飽滿額
                                        </label>
                                    {% endif %}
                                    {% if improve == 'h21' %}
                                        <label class="customer-label">
                                            深邃雙眸
                                        </label>
                                    {% endif %}
                                    {% if improve == 'h22' %}
                                        <label class="customer-label">
                                            澎潤雙頰
                                        </label>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                        {% for improve in data['improve'] %}
                            {% if improve == 'c1' %}
                                <div class="flex" style="position: absolute; width: calc(50vw - 50px); top: 180px;">
                                    {# <label class="w4"></label> #}
                                    <div class="flex-1">
                                        <label class="customer-label">
                                            零脖紋
                                        </label>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                        <div class="flex" style="position: absolute; width: calc(50vw - 50px); top: 250px;">
                            {# <label class="w4"></label> #}
                            <div class="flex-1">
                                {% for improve in data['improve'] %}
                                    {% if improve == 'n1' %}
                                        <label class="customer-label">
                                            腋下除毛
                                        </label>
                                    {% endif %}
                                    {% if improve == 'n2' %}
                                        <label class="customer-label">
                                            告別蝴蝶袖
                                        </label>
                                    {% endif %}
                                    {% if improve == 'n3' %}
                                        <label class="customer-label">
                                            蜜桃胸
                                        </label>
                                    {% endif %}
                                    {% if improve == 'n4' %}
                                        <label class="customer-label">
                                            亮白美背
                                        </label>
                                    {% endif %}
                                    {% if improve == 'n5' %}
                                        <label class="customer-label">
                                            胸部緊實
                                        </label>
                                    {% endif %}
                                    {% if improve == 'n6' %}
                                        <label class="customer-label">
                                            手除毛
                                        </label>
                                    {% endif %}
                                    {% if improve == 'n7' %}
                                        <label class="customer-label">
                                            身體膚質更細滑
                                        </label>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                        <div class="flex" style="position: absolute; width: calc(50vw - 50px); top: 375px;">
                            {# <label class="w4"></label> #}
                            <div class="flex-1">
                                {% for improve in data['improve'] %}
                                    {% if improve == 'm1' %}
                                        <label class="customer-label">
                                            平坦小腹
                                        </label>
                                    {% endif %}
                                    {% if improve == 'm2' %}
                                        <label class="customer-label">
                                            小腹緊實
                                        </label>
                                    {% endif %}
                                    {% if improve == 'm3' %}
                                        <label class="customer-label">
                                            小蠻腰
                                        </label>
                                    {% endif %}
                                    {% if improve == 'm4' %}
                                        <label class="customer-label">
                                            終結紋路(肥胖紋、妊娠紋)
                                        </label>
                                    {% endif %}
                                    {% if improve == 'm5' %}
                                        <label class="customer-label">
                                            微笑線美臀
                                        </label>
                                    {% endif %}
                                    {% if improve == 'm6' %}
                                        <label class="customer-label">
                                            消除馬鞍臀
                                        </label>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                        <div class="flex baseLine" style="position: absolute; width: calc(50vw - 50px); top: 600px;">
                            {# <label class="w4"></label> #}
                            <div class="flex-1">
                                {% for improve in data['improve'] %}
                                    {% if improve == 'b1' %}
                                        <label class="customer-label">
                                            修長美腿
                                        </label>
                                    {% endif %}
                                    {% if improve == 'b2' %}
                                        <label class="customer-label">
                                            大小腿除毛
                                        </label>
                                    {% endif %}
                                    {% if improve == 'b3' %}
                                        <label class="customer-label">
                                            纖纖小腿
                                        </label>
                                    {% endif %}
                                    {% if improve == 'b4' %}
                                        <label class="customer-label">
                                            腿部膚色均勻
                                        </label>
                                    {% endif %}
                                    {% if improve == 'b5' %}
                                        <label class="customer-label">
                                            消除大腿內側贅肉
                                        </label>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                        
            </div>
        </div>
{#        <div class="invoice">#}
{#            <div class="textBox">#}
{#                <img class="bgImg" src="{{ url_for('static', filename='images/svg/userPrintInk.png') }}" alt="">#}
{#                <img class="title" src="{{ url_for('static', filename='images/svg/printUser3.png') }}">#}
{#                <span class="userNrmber">會員編號: {{ data['user_number'] }}</span>#}
{#                #}
{#            </div>#}
{#        </div>#}
</div>

<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<script>
    $(function () {
        if (typeof $('#change').data('price') == 'number') { //換貨
            var show = '<tr>'+
                '<th style="width:150px">總金額:</th>'+
                '<td>0</td>'+
            '</tr>';
            $('.changeShow').html(show)
            $('.page-header.title').text('換貨單')
        }
        var now = new Date()

        $('#today').text(now.getFullYear()+'/'+(now.getMonth()+1)+'/'+now.getDate())
    })
</script>
<!-- ./wrapper -->
</body>
</html>
