<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>黛子醫美診所 | 儲值存聯</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.7 -->
    <link rel="stylesheet" href="{{ url_for('static', filename='admin/bower_components/bootstrap/dist/css/bootstrap.min.css') }}">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="{{ url_for('static', filename='admin/bower_components/font-awesome/css/font-awesome.min.css') }}">
    <!-- Ionicons -->
    <link rel="stylesheet" href="{{ url_for('static', filename='admin/bower_components/Ionicons/css/ionicons.min.css') }}">
    <!-- Theme style -->
    <link rel="stylesheet" href="{{ url_for('static', filename='admin/dist/css/AdminLTE.min.css') }}">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->

    <!-- Google Font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>
<body onload="window.print();">
<div class="wrapper">
    <!-- Main content -->
    <section class="invoice">
        <!-- title row -->
        <div class="row">
            <div class="col-xs-12">
                <h2 class="page-header">
                    <i class="fa fa-globe"></i> 黛子醫美診所
                    <small class="pull-right">交易日期: <span class="date"></span></small>
                </h2>
            </div>
            <!-- /.col -->
        </div>
        <!-- info row -->
        <div class="row invoice-info">
            <div class="col-sm-6 invoice-col">
                <address>
                    交易會員: <strong>{{ member.name }}</strong><br>
                    會員編號: {{ member.user_number }}
                </address>
            </div>
            <div class="col-sm-6 invoice-col">
                <address>
                    操作人員: <strong>{{ employee.name }}</strong><br>
                    人員編號: <strong>{{ employee.employee_number }}</strong><br>
                </address>
            </div>
            <div class="col-sm-6 invoice-col">
                <address>
                    交易類型: <strong class="type"></strong><br>
                    交易金額: <strong class="point"></strong><br>
                </address>
            </div>
        </div>
        <!-- /.row -->
        <div style="text-align: right; line-height: 35px;">貴賓簽名: 
            <div style="width: 250px; border-bottom: 1px solid #000; float: right; height: 30px;margin-left: 10px;"></div>
        </div>
    </section>

    <hr style="margin-top: 50px; margin-bottom: 50px; border: 0; border-top: 1px dashed #777;">

    <div style="position: relative; margin-bottom: 20px;">
        <span style="font-size: 22px; font-weight: 600; margin-left: 1px;" id="today"></span>
        <div style="position: absolute; top: 0; left: calc(50% - 50px); font-size: 22px;" class="textCenter">黛子醫美診所 | 訂單存聯</div>
    </div>

    <section class="invoice">
        <!-- title row -->
        <div class="row">
            <div class="col-xs-12">
                <h2 class="page-header">
                    <i class="fa fa-globe"></i> 黛子醫美診所
                    <small class="pull-right">交易日期: <span class="date"></span></small>
                </h2>
            </div>
            <!-- /.col -->
        </div>
        <!-- info row -->
        <div class="row invoice-info">
            <div class="col-sm-6 invoice-col">
                <address>
                    交易會員: <strong>{{ member.name }}</strong><br>
                    會員編號: {{ member.user_number }}
                </address>
            </div>
            <div class="col-sm-6 invoice-col">
                <address>
                    操作人員: <strong>{{ employee.name }}</strong><br>
                    人員編號: <strong>{{ employee.employee_number }}</strong><br>
                </address>
            </div>
            <div class="col-sm-6 invoice-col">
                <address>
                    交易類型: <strong class="type"></strong><br>
                    交易金額: <strong class="point"></strong><br>
                </address>
            </div>
        </div>
        <!-- /.row -->
        <div style="text-align: right; line-height: 35px;">貴賓簽名: 
            <div style="width: 250px; border-bottom: 1px solid #000; float: right; height: 30px;margin-left: 10px;"></div>
        </div>
    </section>

</div>
<script src="{{ url_for('static', filename='admin/bower_components/jquery/dist/jquery.min.js') }}"></script>
<script>
    {% for data in data %}
        {% if data.number == response %}
            $('.date').text("{{ data.date }}")
            $('.point').text("{{ data.point }}")
            {% if( data.order_id) %} {% else %} $('.type').text('儲值') {% endif %}
            {% if( data.order_id) %} $('.type').text('訂單') {% else %}  {% endif %}

        {% endif %}
    {% endfor %}

    $('#today').text(now.getFullYear()+'/'+(now.getMonth()+1)+'/'+now.getDate())
</script>
<!-- ./wrapper -->
</body>
</html>