{% extends "admin/template.html" %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='backend/vendor/plugins/datatables/media/css/datatables.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='backend/vendor/plugins/datatables/media/css/datatables_addons.min.css') }}">
{% endblock style %}

{% block content %}

<section class="content container-fluid of-a">
     <div class="panel panel-visible mnw500">
        <div class="panel-heading">
            <div class="panel-title">
                <span class="glyphicon glyphicon-tasks"></span>會員管理
                <div class="pull-right form-group mbn mt5">
                    <label for="pageLength" class="form-label">單頁筆數</label>
                    <select id="pageLength" class="form-control w100 d-inline">
                        <option value="10">10</option>
                        <option value="25">25</option>
                        <option value="50">50</option>
                        <option selected value="9999999">all</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="panel-body pn">
            <div class="d-flex m10">
                <div class="w100 ph5">
                    <div type="mfp" class="btn btn-primary btn-gradient dark btn-block" data-effect="mfp-sign" data-target="#modal-mail">
                         <i class="fa fa-envelope"></i> 發信
                    </div>
                </div>
                <div class="w100 ph5">
                    <a href="{{ url_for('user.userGradesCreate') }}" class="btn btn-primary btn-gradient dark btn-block jwtLink">新增</a>
                </div>
            </div>

            <table id="example2" class="table table-bordered table-hover" cellspacing="0" width="100%">
                <thead>
                <tr>
                    <th id="choseAll" data-check="true">全選</th>
                    <th>#</th>
                    <th>名稱</th>
                    <th>敘述</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                {% for data in data %}
                <tr>
                    <td><div class="checkbox-custom mb5"><input type="checkbox" name="choseTr" id="item_{{loop.index}}"><label for="item_{{loop.index}}"></label></div></td>
                    <td>{{loop.index}}</td>
                    <td><a href="{{ url_for('user.userGradesData',id=data.id) }}" class="jwtLink">{{data.name}}</a></td>
                    <td>{{data.description}}</td>
                    <td>
                        <a href="{{ url_for('user.userGradesData',id=data.id) }}" class="btn btn-info btn-flat jwtLink">編輯</a>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <!-- /.box-body -->
    </div>

</section>

{% endblock content %}

{% block script %}

{# <script src="{{ url_for('static', filename='backend/bower_components/datatables.net/js/jquery.dataTables.min.js') }}"></script> #}
{# <script src="{{ url_for('static', filename='backend/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js') }}"></script> #}

<script src="{{ url_for('static', filename='backend/vendor/plugins/datatables/media/js/datatables.min.js') }}"></script>
<!-- Datatables Addons -->
<script src="{{ url_for('static', filename='backend/vendor/plugins/datatables/media/js/datatables_addons.min.js') }}"></script>
<script>
    $('#pageLength').change(function () {
        $('#example2').DataTable().destroy()
        showTable()
    })

    function showTable() {
        $('#example2').dataTable({
            dom: '<"top dt-panelmenu"Bf>rt<"bottom dt-panelfooter"ip>',
            buttons: [
                {
                    extend: 'copy',
                    exportOptions: {
                        columns: ':visible'
                    }
                },
                {
                    extend: 'excel',
                    exportOptions: {
                        columns: ':visible'
                    }
                },
                {
                    extend: 'print',
                    exportOptions: {
                        columns: ':visible'
                    }
                },
                'colvis'
            ],
            autoWidth: false,
            paging: true,
            pageLength: parseInt($('#pageLength').val()),
            columns: [
                {orderable: false},
                {orderable: true},
                {orderable: true},
                {orderable: true},
                {orderable: false}
            ],
        });
    }
    showTable()

    $('#choseAll').click(function () {
        var check = (!$('#choseAll').hasClass('check'))
        if (check) { $('#choseAll').addClass('check') }
        else { $('#choseAll').removeClass('check') }
        $('input[name="choseTr"]').each(function () {
            $(this)[0].checked = check
        })
    })
</script>
{% endblock script %}