{% extends "admin/template.html" %}

{% block style %}
    <link rel="stylesheet" href="{{ url_for('static', filename='admin/plugins/iCheck/all.css') }}">
{% endblock style %}

{% block content %}

    <section class="content container-fluid">
        <div class="col-12">
            <form class="form-horizontal panel" method="post">
                <div class="panel-body">
                    <div class="form-group">
                        <label for="name" class="col-sm-2 control-label">會員等級</label>

                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="name" name="name" {% if update %} value="{{ data['name'] }}" {% endif %}>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="description" class="col-sm-2 control-label">等級敘述</label>

                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="description" name="description" {% if update %} value="{{ data['description'] }}" {% endif %}>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="discount" class="col-sm-2 control-label">會員折扣</label>

                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="discount" name="discount" {% if update %} value="{{ data['discount'] }}" {% endif %}><p style="font-size: 12px;"> (0.95打九五折, 0.85打八五折...以此類推)</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="shipping_fee" class="col-sm-2 control-label">寄送運費</label>

                        <div class="col-sm-10">
                            <input type="number" class="form-control" id="shipping_fee" name="shipping_fee" {% if update %} value="{{ data['shipping_fee'] }}" {% endif %}>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="shipping_setting" class="col-sm-2 control-label">免運額度</label>

                        <div class="col-sm-10">
                            <input type="number" class="form-control" id="shipping_setting" name="shipping_setting" {% if update %} value="{{ data['shipping_setting'] }}" {% endif %}>
                        </div>
                    </div>
                    <input type="hidden" name="id" {% if update %} value="{{ data['id'] }}" {% endif %}>
                    <button type="button" onclick="onSubmit();" class="btn btn-info btn-flat pull-right">送出</button>
                </div>
            </form>
        </div>

    </section>

{% endblock content %}

{% block script %}
    <script src="{{ url_for('static', filename='admin/plugins/iCheck/icheck.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.form.min.js') }}"></script>
    <script>
        $('.crumb-link a').attr('href', '{{ url_for('user.userGradesList') }}').text('會員類別')
        $('.crumb-trail a').attr('href', '#').text('會員類別{% if update %} 編輯 {% else %} 新增 {% endif %}')
        $('.crumb-trail').removeClass('hidden').addClass('active')

        $(function () {
            $('input[type="checkbox"].minimal-red, input[type="radio"].minimal-red').iCheck({
                checkboxClass: 'icheckbox_minimal-red',
                radioClass: 'iradio_minimal-red'
            })
        })
         
        function onSubmit(form) {
            var name = $('input[name="name"]').val()
            var description = $('input[name="description"]').val()
            var discount = $('input[name="discount"]').val()
            var shipping_fee = $('input[name="shipping_fee"]').val()
            var shipping_setting = $('input[name="shipping_setting"]').val()
            var id = $('input[name="id"]').val()
            {% if update %}
                var data = '{"id":' + id + ',"name":"' + name + '","description":"' + description + '","discount":"' + discount + '","shipping_fee":"' + shipping_fee + '","shipping_setting":"' + shipping_setting + '"}';
            {% else %}
                var data = '{"id":"","name":"' + name + '","description":"' + description + '","discount":"' + discount + '","shipping_fee":"' + shipping_fee + '","shipping_setting":"' + shipping_setting + '"}';
            {% endif %}
            swal({
              title: '資料處理中請稍候',
              onOpen: () => {
                swal.showLoading()
              }
            })
            $.ajax({
                url: "{{ url_for('userApi.gradesData') }}",
                type: 'POST',
                data: data,
                datatype: 'json',
                contentType: "application/json",
                success: function (msg) {
                    if (msg == 'success') {
                        swal({
                            title: '資料已儲存',
                            text: '是否回到上一層',
                            type: 'success',
                            showCancelButton: true,
                            confirmButtonText: '確認',
                            cancelButtonText: '取消'
                        }).then((result) => {
                            if (result.value) {
                                // window.location = '{{ url_for('user.userGradesList') }}';
                                $('#token').attr('action', '{{ url_for('user.userGradesList') }}')
                                $('input[name="_token"]').val(localStorage[tokenName])
                                $('#token').submit();
                            }
                            else if ( result.dismiss === swal.DismissReason.cancel ) {
                            }
                        })
                    } else {
                        console.error(msg)
                        swal({
                            title: '發生錯誤',
                            text: msg,
                            type: 'error'
                        })
                    }
                },
                error: function (xhr, textStatus, thownError) {
                    swal({
                        title: '發生錯誤',
                        text: xhr.getResponseHeader('error_code'),
                        type: 'error'
                    })
                }
            });
            console.log(data);
            return false; //don't submit
        }
    </script>
{% endblock script %}