{% extends "admin/template.html" %}

{% block style %}
    <link rel="stylesheet" href="{{ url_for('static', filename='backend/plugins/iCheck/all.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='backend/vendor/plugins/summernote/summernote.css') }}">
    <style>
        .w150 {
            width: 150px;
            text-align: left !important;
            padding-top: 15px !important;
        }
        .w300 {
            width: 304px;
            text-align: left !important;
            padding-top: 15px !important;
        }
    </style>
{% endblock style %}

{% block content %}

    <section class="content container-fluid panel">
        <div class="col-12">
            <form class="form-horizontal panel" method="post" action="">
                <div class="panel-heading">
                    <div class="panel-title">
                        <span class="glyphicon glyphicon-tasks"></span>會員資料
                    </div>
                </div>
                <div class="panel-body">
                    <ul class="nav  nav-tabs pb-3" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="btn btn-info menuItem active" id="sub1-tab" data-toggle="tab" href="#sub1" role="tab" aria-controls="sub1" aria-selected="true">基本資料</a>
                        </li>
                        <li class="nav-item">
                            <a class="btn btn-info menuItem" id="sub2-tab" data-toggle="tab" href="#sub2" role="tab" aria-controls="sub2" aria-selected="false">自我美麗期許</a>
                        </li>
                        <li class="nav-item">
                            <a class="btn btn-info menuItem" id="sub3-tab" data-toggle="tab" href="#sub3" role="tab" aria-controls="sub3" aria-selected="false">過敏/疾病病史</a>
                        </li>
                    </ul>
                    <div class="tab-content mt30">

                        <div class="tab-pane fade  active in" id="sub1" role="tabpanel" aria-labelledby="sub1-tab">
                            <div class="form-group">
                                <label for="name" class="col-sm-2 control-label"><span style="color: #6E1633;">* </span>會員等級</label>

                                <div class="col-sm-10">
                                    <select name="grade_id" class="form-control">
                                        <option value="0">請選擇</option>
                                        {% if update %}
                                            {% for grade in grades %}
                                                <option value="{{ grade['id'] }}"   {% if data['grade_id']==grade['id'] %} selected {% endif %} >{{ grade['name'] }}</option>
                                            {% endfor %}
                                        {% else %}
                                            {% for data in data %}
                                                <option value="{{ data['id'] }}">{{ data['name'] }}</option>
                                            {% endfor %}
                                        {% endif %}
                                    </select>
                                    <span class="help-block">請選擇會員等級</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="name" class="col-sm-2 control-label"><span style="color: #6E1633;">* </span>會員姓名</label>

                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="name" name="name" {% if update %} value="{{ data['name'] }}" {% endif %}>
                                    <span class="help-block">此為必填欄位</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="IDNumber" class="col-sm-2 control-label"><span style="color: #6E1633;">* </span>身分證字號</label>

                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="IDNumber" name="IDNumber" {% if update %} value="{{ data['IDNumber'] }}" {% endif %}>
                                    <span class="help-block">此為必填欄位</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="email" class="col-sm-2 control-label"><span style="color: #6E1633;">* </span>電子信箱</label>

                                <div class="col-sm-10">
                                    <input type="email" class="form-control" id="email" name="email" {% if update %} value="{{ data['email'] }}" {% endif %}>
                                    <span class="help-block">此為必填欄位</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="birthday" class="col-sm-2 control-label"><span style="color: #6E1633;">* </span>生日</label>

                                <div class="col-sm-10">
                                    <input type="date" class="form-control" id="birthday" name="birthday" {% if update %} value="{{ data['birthday'] }}" {% endif %}>
                                    <span class="help-block">此為必填欄位</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="name" class="col-sm-2 control-label">性別</label>

                                <div class="col-sm-10">
                                    <label class="control-label mnw75 text-left">
                                        <input type="radio" name="gender" value="male" class="minimal-red" {% if update %} {% if data['gender'] == 'male' %} checked {% endif %} {% endif %}>
                                        男性
                                    </label>
                                    <label class="control-label mnw75 text-left">
                                        <input type="radio" name="gender" value="female" class="minimal-red" {% if update %} {% if data['gender'] == 'female' %} checked {% endif %} {% else %} checked {% endif %}>
                                        女性
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="bloodtype" class="col-sm-2 control-label">血型</label>

                                <div class="col-sm-10">
                                    <label class="control-label mnw75 text-left">
                                        <input type="radio" name="bloodtype" value="A" class="minimal-red" {% if update %} {% if data['bloodtype'] == 'A' %} checked  {% endif %}{% endif %}>
                                        A型
                                    </label>
                                    <label class="control-label mnw75 text-left">
                                        <input type="radio" name="bloodtype" value="B" class="minimal-red" {% if update %} {% if data['bloodtype'] == 'B' %} checked  {% endif %}{% endif %}>
                                        B型
                                    </label>
                                    <label class="control-label mnw75 text-left">
                                        <input type="radio" name="bloodtype" value="O" class="minimal-red" {% if update %} {% if data['bloodtype'] == 'O' %} checked  {% endif %} {% else %} checked {% endif %}>
                                        O型
                                    </label>
                                    <label class="control-label mnw75 text-left">
                                        <input type="radio" name="bloodtype" value="AB" class="minimal-red" {% if update %} {% if data['bloodtype'] == 'AB' %} checked  {% endif %}{% endif %}>
                                        AB型
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="phone_number" class="col-sm-2 control-label">住家電話</label>

                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="phone_number" name="phone_number" {% if update %} value="{{ data['phone_number'] }}" {% endif %}>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="mobile_phone" class="col-sm-2 control-label"><span style="color: #6E1633;">* </span>手機號碼</label>

                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="mobile_phone" name="mobile_phone" {% if update %} value="{{ data['mobile_phone'] }}" {% endif %}>
                                    <span class="help-block">此為必填欄位</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="address" class="col-sm-2 control-label"><span style="color: #6E1633;">* </span>地址</label>

                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="address" name="address" {% if update %} value="{{ data['address'] }}" {% endif %}>
                                    <span class="help-block">此為必填欄位</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="height" class="col-sm-2 control-label">身高</label>

                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="height" name="height" {% if update %} value="{{ data['height'] }}" {% endif %}>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="weight" class="col-sm-2 control-label">體重</label>

                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="weight" name="weight" {% if update %} value="{{ data['weight'] }}" {% endif %}>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="contact" class="col-sm-2 control-label">緊急聯絡人</label>

                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="contact" name="contact" {% if update %} value="{{ data['contact'] }}" {% endif %}>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="contact_phone" class="col-sm-2 control-label">聯絡電話</label>

                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="contact_phone" name="contact_phone" {% if update %} value="{{ data['contact_phone'] }}" {% endif %}>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="whereform" class="col-sm-2 control-label">來源</label>

                                <div class="col-sm-10">
                                    <label class="control-label mnw75 text-left">
                                        <input type="radio" name="whereform" value="票劵" class="minimal-red" {% if update %} {% if data['whereform'] == '票劵' %} checked {% endif %} {% endif %}>
                                        票劵
                                    </label>
                                    <label class="control-label mnw75 text-left">
                                        <input type="radio" name="whereform" value="廣告" class="minimal-red" {% if update %} {% if data['whereform'] == '廣告' %} checked  {% endif %}{% endif %}>
                                        廣告
                                    </label>
                                    <label class="control-label mnw125 text-left">
                                        <input type="radio" name="whereform" value="社群、網站" class="minimal-red" {% if update %} {% if data['whereform'] == '社群、網站' %} checked  {% endif %}{% endif %}>
                                        社群、網站
                                    </label>
                                    <label class="control-label mnw200 text-left">
                                        <input type="radio" name="whereform" value="{{data['whereform']}}" data-val="介紹人" class="minimal-red" {% if update %} {% if data['whereform'] != '票劵' and data['whereform'] != '廣告' and data['whereform'] != '社群、網站' and data['whereform'] != '其它' %} checked  {% endif %}{% endif %}>
                                        介紹人
                                        <input id="introducer" type="text"  class="form-control w100 d-inline{% if update %} {% if data['whereform'] != '票劵' and data['whereform'] != '廣告' and data['whereform'] != '社群、網站' and data['whereform'] != '其它' %}" value="{{data['whereform']}}" {% else %} hidden" {% endif %}" {% endif %}>
                                    </label>
                                    <label class="control-label mnw75 text-left">
                                        <input type="radio" name="whereform" value="其它" class="minimal-red" {% if update %} {% if data['whereform'] == '其它' %} checked  {% endif %}{% endif %}>
                                        其它
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="experience" class="col-sm-2 control-label">備註</label>

                                <div class="col-sm-10">
                                    <textarea id="note" class="form-control" name="note" rows="5" cols="10">{% if update %} {{ data['note']|safe }} {% endif %}</textarea>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade " id="sub2" role="tabpanel" aria-labelledby="sub2-tab">
                            <div class="form-group">
                                <div class="col-sm-10">

                                    <label class="control-label w150">
                                        <input type="checkbox" class="minimal-red hoping" data-id="h1" value="更水嫩"
                                                {% for improve in data['improve'] %}{% if improve == 'h1' %} checked {% endif %}{% endfor %}>
                                        更水嫩
                                    </label>
                                    <label class="control-label w150">
                                        <input type="checkbox" class="minimal-red hoping" data-id="h2" value="更透亮"
                                                {% for improve in data['improve'] %}{% if improve == 'h2' %} checked {% endif %}{% endfor %}>
                                        更透亮
                                    </label>
                                    <label class="control-label w150">
                                        <input type="checkbox" class="minimal-red hoping" data-id="h3" value="更Q彈"
                                                {% for improve in data['improve'] %}{% if improve == 'h3' %} checked {% endif %}{% endfor %}>
                                        更Q彈
                                    </label>
                                    <label class="control-label w150">
                                        <input type="checkbox" class="minimal-red hoping" data-id="h4" value="更白皙"
                                                {% for improve in data['improve'] %}{% if improve == 'h4' %} checked {% endif %}{% endfor %}>
                                        更白皙
                                    </label>
                                    <label class="control-label w150">
                                        <input type="checkbox" class="minimal-red hoping" data-id="h5" value="更緊實"
                                                {% for improve in data['improve'] %}{% if improve == 'h5' %} checked {% endif %}{% endfor %}>
                                        更緊實
                                    </label>
                                    <label class="control-label w150">
                                        <input type="checkbox" class="minimal-red hoping" data-id="h6" value="零痘疤"
                                                {% for improve in data['improve'] %}{% if improve == 'h6' %} checked {% endif %}{% endfor %}>
                                        零痘疤
                                    </label>
                                    <label class="control-label w150">
                                        <input type="checkbox" class="minimal-red hoping" data-id="h7" value="零毛孔"
                                                {% for improve in data['improve'] %}{% if improve == 'h7' %} checked {% endif %}{% endfor %}>
                                        零毛孔
                                    </label>
                                    <label class="control-label w150">
                                        <input type="checkbox" class="minimal-red hoping" data-id="h8" value="零粉刺"
                                                {% for improve in data['improve'] %}{% if improve == 'h8' %} checked {% endif %}{% endfor %}>
                                        零粉刺
                                    </label>
                                    <label class="control-label w150">
                                        <input type="checkbox" class="minimal-red hoping" data-id="h9" value="零細紋"
                                                {% for improve in data['improve'] %}{% if improve == 'h9' %} checked {% endif %}{% endfor %}>
                                        零細紋
                                    </label>
                                    <label class="control-label w150">
                                        <input type="checkbox" class="minimal-red hoping" data-id="h10" value="零斑點"
                                                {% for improve in data['improve'] %}{% if improve == 'h10' %} checked {% endif %}{% endfor %}>
                                        零斑點
                                    </label>
                                    <label class="control-label w150">
                                        <input type="checkbox" class="minimal-red hoping" data-id="h11" value="氣色更好"
                                                {% for improve in data['improve'] %}{% if improve == 'h11' %} checked {% endif %}{% endfor %}>
                                        氣色更好
                                    </label>
                                    <label class="control-label w150">
                                        <input type="checkbox" class="minimal-red hoping" data-id="h12" value="膚色均勻"
                                                {% for improve in data['improve'] %}{% if improve == 'h12' %} checked {% endif %}{% endfor %}>
                                        膚色均勻
                                    </label>
                                    <label class="control-label w150">
                                        <input type="checkbox" class="minimal-red hoping" data-id="h13" value="高挺美鼻"
                                                {% for improve in data['improve'] %}{% if improve == 'h13' %} checked {% endif %}{% endfor %}>
                                        高挺美鼻
                                    </label>
                                    <label class="control-label w150">
                                        <input type="checkbox" class="minimal-red hoping" data-id="h14" value="滑蛋肌"
                                                {% for improve in data['improve'] %}{% if improve == 'h14' %} checked {% endif %}{% endfor %}>
                                        滑蛋肌
                                    </label>
                                    <label class="control-label w150">
                                        <input type="checkbox" class="minimal-red hoping" data-id="h15" value="尖下巴"
                                                {% for improve in data['improve'] %}{% if improve == 'h15' %} checked {% endif %}{% endfor %}>
                                        尖下巴
                                    </label>
                                    <label class="control-label w150">
                                        <input type="checkbox" class="minimal-red hoping" data-id="h16" value="零黑眼圈"
                                                {% for improve in data['improve'] %}{% if improve == 'h16' %} checked {% endif %}{% endfor %}>
                                        零黑眼圈
                                    </label>
                                    <label class="control-label w150">
                                        <input type="checkbox" class="minimal-red hoping" data-id="h17" value="小V臉"
                                                {% for improve in data['improve'] %}{% if improve == 'h17' %} checked {% endif %}{% endfor %}>
                                        小V臉
                                    </label>
                                    <label class="control-label w150">
                                        <input type="checkbox" class="minimal-red hoping" data-id="h18" value="零油脂"
                                                {% for improve in data['improve'] %}{% if improve == 'h18' %} checked {% endif %}{% endfor %}>
                                        零油脂
                                    </label>
                                    <label class="control-label w150">
                                        <input type="checkbox" class="minimal-red hoping" data-id="h19" value="告別敏感肌"
                                                {% for improve in data['improve'] %}{% if improve == 'h19' %} checked {% endif %}{% endfor %}>
                                        告別敏感肌
                                    </label>
                                    <label class="control-label w150">
                                        <input type="checkbox" class="minimal-red hoping" data-id="h20" value="飽滿額"
                                                {% for improve in data['improve'] %}{% if improve == 'h20' %} checked {% endif %}{% endfor %}>
                                        飽滿額
                                    </label>
                                    <label class="control-label w150">
                                        <input type="checkbox" class="minimal-red hoping" data-id="h21" value="深邃雙眸"
                                                {% for improve in data['improve'] %}{% if improve == 'h21' %} checked {% endif %}{% endfor %}>
                                        深邃雙眸
                                    </label>
                                    <label class="control-label w150">
                                        <input type="checkbox" class="minimal-red hoping" data-id="h22" value="澎潤雙頰"
                                                {% for improve in data['improve'] %}{% if improve == 'h22' %} checked {% endif %}{% endfor %}>
                                        澎潤雙頰
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-10">
                                    <label class="control-label w150">
                                        <input type="checkbox" class="minimal-red hoping" data-id="c1" value="零脖紋"
                                                {% for improve in data['improve'] %}{% if improve == 'c1' %} checked {% endif %}{% endfor %}>
                                        零脖紋
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-10">
                                    <label class="control-label w150">
                                        <input type="checkbox" class="minimal-red hoping" data-id="n1" value="腋下除毛"
                                                {% for improve in data['improve'] %}{% if improve == 'n1' %} checked {% endif %}{% endfor %}>
                                        腋下除毛
                                    </label>
                                    <label class="control-label w150">
                                        <input type="checkbox" class="minimal-red hoping" data-id="n2" value="告別蝴蝶袖"
                                                {% for improve in data['improve'] %}{% if improve == 'n2' %} checked {% endif %}{% endfor %}>
                                        告別蝴蝶袖
                                    </label>
                                    <label class="control-label w150">
                                        <input type="checkbox" class="minimal-red hoping" data-id="n3" value="蜜桃胸"
                                                {% for improve in data['improve'] %}{% if improve == 'n3' %} checked {% endif %}{% endfor %}>
                                        蜜桃胸
                                    </label>
                                    <label class="control-label w150">
                                        <input type="checkbox" class="minimal-red hoping" data-id="n4" value="亮白美背"
                                                {% for improve in data['improve'] %}{% if improve == 'n4' %} checked {% endif %}{% endfor %}>
                                        亮白美背
                                    </label>
                                    <label class="control-label w150">
                                        <input type="checkbox" class="minimal-red hoping" data-id="n5" value="胸部緊實"
                                                {% for improve in data['improve'] %}{% if improve == 'n5' %} checked {% endif %}{% endfor %}>
                                        胸部緊實
                                    </label>
                                    <label class="control-label w150">
                                        <input type="checkbox" class="minimal-red hoping" data-id="n6" value="手除毛"
                                                {% for improve in data['improve'] %}{% if improve == 'n6' %} checked {% endif %}{% endfor %}>
                                        手除毛
                                    </label>
                                    <label class="control-label w150">
                                        <input type="checkbox" class="minimal-red hoping" data-id="n7" value="身體膚質更細滑"
                                                {% for improve in data['improve'] %}{% if improve == 'n7' %} checked {% endif %}{% endfor %}>
                                        身體膚質更細滑
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-10">
                                    <label class="control-label w150">
                                        <input type="checkbox" class="minimal-red hoping" data-id="m1" value="平坦小腹"
                                                {% for improve in data['improve'] %}{% if improve == 'm1' %} checked {% endif %}{% endfor %}>
                                        平坦小腹
                                    </label>
                                    <label class="control-label w150">
                                        <input type="checkbox" class="minimal-red hoping" data-id="m2" value="小腹緊實"
                                                {% for improve in data['improve'] %}{% if improve == 'm2' %} checked {% endif %}{% endfor %}>
                                        小腹緊實
                                    </label>
                                    <label class="control-label w150">
                                        <input type="checkbox" class="minimal-red hoping" data-id="m3" value="小蠻腰"
                                                {% for improve in data['improve'] %}{% if improve == 'm3' %} checked {% endif %}{% endfor %}>
                                        小蠻腰
                                    </label>
                                    <label class="control-label w300">
                                        <input type="checkbox" class="minimal-red hoping" data-id="m4" value="終結紋路(肥胖紋、妊娠紋)"
                                                {% for improve in data['improve'] %}{% if improve == 'm4' %} checked {% endif %}{% endfor %}>
                                        終結紋路(肥胖紋、妊娠紋)
                                    </label>
                                    <label class="control-label w150">
                                        <input type="checkbox" class="minimal-red hoping" data-id="m5" value="微笑線美臀"
                                                {% for improve in data['improve'] %}{% if improve == 'm5' %} checked {% endif %}{% endfor %}>
                                        微笑線美臀
                                    </label>
                                    <label class="control-label w150">
                                        <input type="checkbox" class="minimal-red hoping" data-id="m6" value="消除馬鞍臀"
                                                {% for improve in data['improve'] %}{% if improve == 'm6' %} checked {% endif %}{% endfor %}>
                                        消除馬鞍臀
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-10">
                                    <label class="control-label w150">
                                        <input type="checkbox" class="minimal-red hoping" data-id="b1" value="修長美腿"
                                                {% for improve in data['improve'] %}{% if improve == 'b1' %} checked {% endif %}{% endfor %}>
                                        修長美腿
                                    </label>
                                    <label class="control-label w150">
                                        <input type="checkbox" class="minimal-red hoping" data-id="b2" value="大小腿除毛"
                                                {% for improve in data['improve'] %}{% if improve == 'b2' %} checked {% endif %}{% endfor %}>
                                        大小腿除毛
                                    </label>
                                    <label class="control-label w150">
                                        <input type="checkbox" class="minimal-red hoping" data-id="b3" value="纖纖小腿"
                                                {% for improve in data['improve'] %}{% if improve == 'b3' %} checked {% endif %}{% endfor %}>
                                        纖纖小腿
                                    </label>
                                    <label class="control-label w150">
                                        <input type="checkbox" class="minimal-red hoping" data-id="b4" value="腿部膚色均勻"
                                                {% for improve in data['improve'] %}{% if improve == 'b4' %} checked {% endif %}{% endfor %}>
                                        腿部膚色均勻
                                    </label>
                                    <label class="control-label w300">
                                        <input type="checkbox" class="minimal-red hoping" data-id="b5" value="消除大腿內側贅肉"
                                                {% for improve in data['improve'] %}{% if improve == 'b5' %} checked {% endif %}{% endfor %}>
                                        消除大腿內側贅肉
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade " id="sub3" role="tabpanel" aria-labelledby="sub3-tab">
                            <div class="form-group">
                                <label for="allergy_history" class="col-sm-2 control-label"><span style="color: #6E1633;">* </span>過敏病史</label>

                                <div class="col-sm-10">
                                    <textarea class="summernote" id="allergyHistory" name="allergy_history" rows="5" cols="10">{{ data['allergy_history'] }}</textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="disease_history" class="col-sm-2 control-label"><span style="color: #6E1633;">* </span>疾病病史</label>

                                <div class="col-sm-10">
                                    <textarea class="summernote" id="diseaseHistory" name="disease_history" rows="5" cols="5">{{ data['disease_history'] }}</textarea>
                                </div>
                            </div>
                        </div>
                    </div>

                    <input type="hidden" name="id" {% if update %} value="{{ data['id'] }}" {% endif %}>
                    <button type="button" onclick="onSubmit();" class="btn btn-info btn-flat pull-right">送出</button>

                </div>
            </form>
        </div>

    </section>

{% endblock content %}

{% block script %}
    <script src="{{ url_for('static', filename='backend/plugins/iCheck/icheck.min.js') }}"></script>
    <!-- <script src="{{ url_for('static', filename='backend/bower_components/ckeditor/ckeditor.js') }}"></script> -->
    <script src="{{ url_for('static', filename='backend/vendor/plugins/summernote/summernote.js') }}"></script>
    <script src="{{ url_for('static', filename='backend/vendor/plugins/summernote/lang/summernote-zh-TW.min.js') }}"></script>
    <script>
        $(function () {
            $('input[type="checkbox"].minimal-red, input[type="radio"].minimal-red').iCheck({
                checkboxClass: 'icheckbox_minimal-red',
                radioClass: 'iradio_minimal-red'
            })
        })
        function onSubmit(form) {
            $('.form-group').removeClass('has-error')
            //has-error
            var grade_id = $('select[name="grade_id"] option:selected').val()
            if (grade_id == '0') {
                // $('select[name="grade_id"]').parents('.form-group').addClass('has-error')
                // warning()
                // return false;
                grade_id = '1'
            }
            var name = $('input[name="name"]').val()
            if (!name) {
                $('input[name="name"]').parents('.form-group').addClass('has-error')
                warning()
                return false;
            }
            var IDNumber = $('input[name="IDNumber"]').val()
            if (!IDNumber) {
                // $('input[name="IDNumber"]').parents('.form-group').addClass('has-error')
                // warning()
                // return false;
                IDNumber = 'ID'+$('input[name="mobile_phone"]').val();
            }
            var email = $('input[name="email"]').val()
            if (!email) {
                // $('input[name="email"]').parents('.form-group').addClass('has-error')
                // warning()
                // return false;
                // email = $('input[name="mobile_phone"]').val()+'@'+parseInt(Math.random()*1000)+'mail.com'
                email = '123'
            }
            var phone_number = $('input[name="phone_number"]').val()
            var mobile_phone = $('input[name="mobile_phone"]').val()
            if (!mobile_phone) {
                $('input[name="mobile_phone"]').parents('.form-group').addClass('has-error')
                warning()
                return false;
            }
            var birthday = $('input[name="birthday"]').val()
            if (!birthday) {
                // $('input[name="birthday"]').parents('.form-group').addClass('has-error')
                // warning()
                // return false;
                birthday = '1998/01/01'
            }
            var bloodtype = $('input[name="bloodtype"]:checked').val()
            if (!bloodtype) {
                // $('input[name="bloodtype"]').parents('.form-group').addClass('has-error')
                // warning()
                // return false;
                bloodtype = 'O'
            }
            var gender = $('input[name="gender"]:checked').val()
            var address = $('input[name="address"]').val()
            if (!address) {
                // $('input[name="address"]').parents('.form-group').addClass('has-error')
                // warning()
                // return false;
                address = '待填'
            }
            var contact = $('input[name="contact"]').val()
            if (!contact) {
                // $('input[name="contact"]').parents('.form-group').addClass('has-error')
                // warning()
                // return false;
                contact = '待填'
            }
            var contact_phone = $('input[name="contact_phone"]').val()
            if (!contact_phone) {
                // $('input[name="contact_phone"]').parents('.form-group').addClass('has-error')
                // warning()
                // return false;
                contact_phone = '待填'
            }
            function warning() {
                swal({
                    type: 'warning',
                    title: '基本資料尚有必填欄位空缺'
                })
            }
            var arr = []
            $('.icheckbox_minimal-red.checked>.hoping').each(function (i) {
                arr.push('"' + $(this).data('id') + '": "' + $(this).val() + '"');
            });
            // console.log(arr)
            if (arr.length < 1) {
                swal({
                    type: 'warning',
                    title: '請填寫 "自我美麗期許"'
                })
                return false;
            }
            var height = $('input[name="height"]').val()
            var weight = $('input[name="weight"]').val()
            var whereform = $('input[name="whereform"]:checked').val()
            var disease_history = $('diseaseHistory').summernote('code').replace(/\n/ig, "<br>").replace(/\t/ig, " ").replace(/"/ig, "'").replace(/\\/ig, "\\\\")
            var allergy_history = $('allergyHistory').summernote('code').replace(/\n/ig, "<br>").replace(/\t/ig, " ").replace(/"/ig, "'").replace(/\\/ig, "\\\\")
            if (disease_history == "" || allergy_history == "") {
                swal({
                    type: 'warning',
                    title: '請填寫"過敏/疾病病史"，若無病史請填寫 "無"'
                })
                return false
            }
            var note = $('textarea[name="note"]').val().replace(/\n/ig, "<br>").replace(/\t/ig, " ").replace(/"/ig, "'")
            var id = $('input[name="id"]').val()
            {% if update %}
                var data = '{"id":' + id;
            {% else %}
                var data = '{"id":""';
            {% endif %}
            data += ',"grade_id":"' + grade_id +
                    '","name":"' + name +
                    '","email":"' + email +
                    '","IDNumber":"' + IDNumber +
                    '","phone_number":"' + phone_number +
                    '","mobile_phone":"' + mobile_phone +
                    '","birthday":"' + birthday +
                    '","bloodtype":"' + bloodtype +
                    '","gender":"' + gender +
                    '","address":"' + address +
                    '","height":"' + height +
                    '","weight":"' + weight +
                    '","contact":"' + contact +
                    '","contact_phone":"' + contact_phone +
                    '","whereform":"' + whereform +
                    '","disease_history":"' + disease_history +
                    '","allergy_history":"' + allergy_history +
                    '","note":"' + note +
                    '","improve":{' + arr + '}}';
            swal({
              title: '資料處理中請稍候',
              onOpen: () => {
                swal.showLoading()
              }
            })
            $.ajax({
                url: "{{ url_for('userApi.userData') }}",
                type: 'POST',
                data: data,
                datatype: 'json',
                contentType: "application/json",
                success: function (msg) {
                    if (msg == 'success') {
                        swal({
                            title: '資料已儲存',
                            text: '是否回到上一層',
                            type: 'success',
                            showCancelButton: true,
                            confirmButtonText: '確認',
                            cancelButtonText: '取消'
                        }).then((result) => {
                            if (result.value) {
                                // window.location = '{{ url_for('user.userList') }}';
                                $('#token').attr('action', '{{ url_for('user.userList') }}')
                                $('input[name="_token"]').val(localStorage[tokenName])
                                $('#token').submit();
                            }
                            else if ( result.dismiss === swal.DismissReason.cancel ) {
                            }
                        })
                    } else {
                        console.error(msg)
                        swal({
                            title: '發生錯誤',
                            text: msg,
                            type: 'error'
                        })
                    }
                },
                error: function (xhr, textStatus, thownError) {
                    swal({
                        title: '發生錯誤',
                        text: xhr.getResponseHeader('error_code'),
                        type: 'error'
                    })
                }
            });
            console.log(data);
            return false; //don't submit
        }

        $('.summernote').summernote({
            height: 300,
            codemirror: {
                theme: 'monokai'
            },
        });

        $('window').ready(function () {
            // $('input[type=radio][name=whereform]').change(function () {
            $("input[name=whereform]").next().click(function () {
                if ($('input[name="whereform"]:checked').data('val') == "介紹人") { $('#introducer').removeClass('hidden') }
                else { $('#introducer').addClass('hidden') }
            })
            $('#introducer').change(function () {
                $('input[data-val="介紹人"]').val($('#introducer').val())
            })
        })

        {% if update %}
            $('.crumb-link a').attr('href', '{{ url_for('user.userList') }}').text('會員列表')
            $('.crumb-trail a').attr('href', '#').text('會員 編輯')
            $('.crumb-trail').removeClass('hidden').addClass('active')
            $('a[href="{{ url_for('user.userList') }}"]').parent().addClass('active').parents('li').children('a').addClass('menu-open')
        {% endif %}
        
    </script>
{% endblock script %}