{% extends "admin/template.html" %}

{% block style %}
    <link rel="stylesheet" href="{{ url_for('static', filename='admin/plugins/iCheck/all.css') }}">
{% endblock style %}

{% block content %}

    <section class="content container-fluid">
        <div class="col-12">
            <form class="form-horizontal panel" method="post" action="{{ url_for('userApi.userData') }}">
                <div class="panel-heading">
                    <div class="panel-title">
                        <span class="glyphicon glyphicon-tasks"></span>會員資料
                        <div class="pull-right form-group mr5">
                            <a href="{{ url_for('user.userDataEdit',uuid=data.uuid) }}" class="btn btn-danger btn-app jwtLink">
                                <i class="fa fa-edit"></i> 編輯資料
                            </a>
                            <a href="{{ url_for('user.userPoint',uuid=data.uuid) }}" class="btn btn-danger btn-app jwtLink">
                                <i class="fa fa-barcode"></i> 點數紀錄
                            </a>
                            <a href="{{ url_for('user.printUser',uuid=data.uuid) }}" target="_blank" class="btn btn-danger btn-app jwtLink">
                                <i class="fa fa-print"></i> 列印
                            </a>
                        </div>
                    </div>
                        
                </div>
                <div class="panel-body">
                    <ul class="nav  nav-tabs pb-3" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="btn btn-info  menuItem active" id="sub1-tab" data-toggle="tab" href="#sub1" role="tab" aria-controls="sub1" aria-selected="true">基本資料</a>
                        </li>
                        <li class="nav-item">
                            <a class="btn btn-info menuItem" id="sub3-tab" data-toggle="tab" href="#sub3" role="tab" aria-controls="sub3" aria-selected="false">過敏/疾病病史</a>
                        </li>
                    </ul>
                    <div class="tab-content py-3">

                        <div class="tab-pane fade  active in" id="sub1" role="tabpanel" aria-labelledby="sub1-tab">
                            <div class="form-group">
                                <label for="name" class="col-sm-2 control-label">會員等級</label>

                                <div class="col-sm-10">
                                    <label class="control-label">
                                        {% for grade in grades %}
                                            {% if data['grade_id']==grade['id'] %}
                                                {{ grade['name'] }}
                                            {% endif %}
                                        {% endfor %}
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="name" class="col-sm-2 control-label">會員姓名</label>

                                <div class="col-sm-10">
                                    <label class="control-label">{{ data['name'] }}</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="IDNumber" class="col-sm-2 control-label">身分證字號</label>

                                <div class="col-sm-10">
                                    <label class="control-label">{{ data['IDNumber'] }}</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="email" class="col-sm-2 control-label">電子信箱</label>

                                <div class="col-sm-10">
                                    <label class="control-label">{{ data['email'] }}</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="birthday" class="col-sm-2 control-label">生日</label>

                                <div class="col-sm-10">
                                    <label class="control-label">{{ data['birthday'] }}</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="name" class="col-sm-2 control-label">性別</label>

                                <div class="col-sm-10">
                                    <label class="control-label">
                                        {% if data['gender']=='male' %}
                                            男性
                                        {% else %}
                                            女性
                                        {% endif %}
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="bloodtype" class="col-sm-2 control-label">血型</label>

                                <div class="col-sm-10">
                                    <label class="control-label">
                                        {{ data['bloodtype'] }}型
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="phone_number" class="col-sm-2 control-label">住家電話</label>

                                <div class="col-sm-10">
                                    <label class="control-label">
                                        {{ data['phone_number'] }}
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="mobile_phone" class="col-sm-2 control-label">手機號碼</label>

                                <div class="col-sm-10">
                                    <label class="control-label">
                                        {{ data['mobile_phone'] }}
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="address" class="col-sm-2 control-label">地址</label>

                                <div class="col-sm-10">
                                    <label class="control-label">
                                        {{ data['address'] }}
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="height" class="col-sm-2 control-label">身高</label>

                                <div class="col-sm-10">
                                    <label class="control-label">
                                        {{ data['height'] }}
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="weight" class="col-sm-2 control-label">體重</label>

                                <div class="col-sm-10">
                                    <label class="control-label">
                                        {{ data['weight'] }}
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="contact" class="col-sm-2 control-label">緊急聯絡人</label>

                                <div class="col-sm-10">
                                    <label class="control-label">
                                        {{ data['contact'] }}
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="contact_phone" class="col-sm-2 control-label">聯絡電話</label>

                                <div class="col-sm-10">
                                    <label class="control-label">
                                        {{ data['contact_phone'] }}
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="whereform" class="col-sm-2 control-label">來源</label>

                                <div class="col-sm-10">
                                    <label class="control-label">
                                        {{ data['whereform'] }}
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="experience" class="col-sm-2 control-label">備註</label>

                                <div class="col-sm-10">
                                    <label class="control-label">
                                        {{ data['note'] }}
                                    </label>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="experience" class="col-sm-2 control-label">美麗期許</label>

                                <div class="col-sm-10">
                                    {% for improve in data['improve'] %}

                                        {% if improve == 'h1' %}
                                            <label class="control-label">
                                                更水嫩
                                            </label>
                                        {% endif %}
                                        {% if improve == 'h2' %}
                                            <label class="control-label">
                                                更透亮
                                            </label>
                                        {% endif %}
                                        {% if improve == 'h3' %}
                                            <label class="control-label">
                                                更Q彈
                                            </label>
                                        {% endif %}
                                        {% if improve == 'h4' %}
                                            <label class="control-label">
                                                更白皙
                                            </label>
                                        {% endif %}
                                        {% if improve == 'h5' %}
                                            <label class="control-label">
                                                更緊實
                                            </label>
                                        {% endif %}
                                        {% if improve == 'h6' %}
                                            <label class="control-label">
                                                零痘疤
                                            </label>
                                        {% endif %}
                                        {% if improve == 'h7' %}
                                            <label class="control-label">
                                                零毛孔
                                            </label>
                                        {% endif %}
                                        {% if improve == 'h8' %}
                                            <label class="control-label">
                                                零粉刺
                                            </label>
                                        {% endif %}
                                        {% if improve == 'h9' %}
                                            <label class="control-label">
                                                零細紋
                                            </label>
                                        {% endif %}
                                        {% if improve == 'h10' %}
                                            <label class="control-label">
                                                零斑點
                                            </label>
                                        {% endif %}
                                        {% if improve == 'h11' %}
                                            <label class="control-label">
                                                氣色更好
                                            </label>
                                        {% endif %}
                                        {% if improve == 'h12' %}
                                            <label class="control-label">
                                                膚色均勻
                                            </label>
                                        {% endif %}
                                        {% if improve == 'h13' %}
                                            <label class="control-label">
                                                高挺美鼻
                                            </label>
                                        {% endif %}
                                        {% if improve == 'h14' %}
                                            <label class="control-label">
                                                滑蛋肌
                                            </label>
                                        {% endif %}
                                        {% if improve == 'h15' %}
                                            <label class="control-label">
                                                尖下巴
                                            </label>
                                        {% endif %}
                                        {% if improve == 'h16' %}
                                            <label class="control-label">
                                                零黑眼圈
                                            </label>
                                        {% endif %}
                                        {% if improve == 'h17' %}
                                            <label class="control-label">
                                                小V臉
                                            </label>
                                        {% endif %}
                                        {% if improve == 'h18' %}
                                            <label class="control-label">
                                                零油脂
                                            </label>
                                        {% endif %}
                                        {% if improve == 'h19' %}
                                            <label class="control-label">
                                                告別敏感肌
                                            </label>
                                        {% endif %}
                                        {% if improve == 'h20' %}
                                            <label class="control-label">
                                                飽滿額
                                            </label>
                                        {% endif %}
                                        {% if improve == 'h21' %}
                                            <label class="control-label">
                                                深邃雙眸
                                            </label>
                                        {% endif %}
                                        {% if improve == 'h22' %}
                                            <label class="control-label">
                                                澎潤雙頰
                                            </label>
                                        {% endif %}{% endfor %}
                                </div>
                            </div>
                            {% for improve in data['improve'] %}
                                {% if improve == 'c1' %}
                                    <div class="form-group">
                                        <div class="col-sm-10 col-sm-offset-2">
                                            <label class="control-label">
                                                零脖紋
                                            </label>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                            <div class="form-group">
                                <div class="col-sm-10 col-sm-offset-2">
                                    {% for improve in data['improve'] %}
                                        {% if improve == 'n1' %}
                                            <label class="control-label">
                                                腋下除毛
                                            </label>
                                        {% endif %}
                                        {% if improve == 'n2' %}
                                            <label class="control-label">
                                                告別蝴蝶袖
                                            </label>
                                        {% endif %}
                                        {% if improve == 'n3' %}
                                            <label class="control-label">
                                                蜜桃胸
                                            </label>
                                        {% endif %}
                                        {% if improve == 'n4' %}
                                            <label class="control-label">
                                                亮白美背
                                            </label>
                                        {% endif %}
                                        {% if improve == 'n5' %}
                                            <label class="control-label">
                                                胸部緊實
                                            </label>
                                        {% endif %}
                                        {% if improve == 'n6' %}
                                            <label class="control-label">
                                                手除毛
                                            </label>
                                        {% endif %}
                                        {% if improve == 'n7' %}
                                            <label class="control-label">
                                                身體膚質更細滑
                                            </label>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-10 col-sm-offset-2">
                                    {% for improve in data['improve'] %}
                                        {% if improve == 'm1' %}
                                            <label class="control-label">
                                                平坦小腹
                                            </label>
                                        {% endif %}
                                        {% if improve == 'm2' %}
                                            <label class="control-label">
                                                小腹緊實
                                            </label>
                                        {% endif %}
                                        {% if improve == 'm3' %}
                                            <label class="control-label">
                                                小蠻腰
                                            </label>
                                        {% endif %}
                                        {% if improve == 'm4' %}
                                            <label class="control-label">
                                                終結紋路(肥胖紋、妊娠紋)
                                            </label>
                                        {% endif %}
                                        {% if improve == 'm5' %}
                                            <label class="control-label">
                                                微笑線美臀
                                            </label>
                                        {% endif %}
                                        {% if improve == 'm6' %}
                                            <label class="control-label">
                                                消除馬鞍臀
                                            </label>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-10 col-sm-offset-2">
                                    {% for improve in data['improve'] %}
                                        {% if improve == 'b1' %}
                                            <label class="control-label">
                                                修長美腿
                                            </label>
                                        {% endif %}
                                        {% if improve == 'b2' %}
                                            <label class="control-label">
                                                大小腿除毛
                                            </label>
                                        {% endif %}
                                        {% if improve == 'b3' %}
                                            <label class="control-label">
                                                纖纖小腿
                                            </label>
                                        {% endif %}
                                        {% if improve == 'b4' %}
                                            <label class="control-label">
                                                腿部膚色均勻
                                            </label>
                                        {% endif %}
                                        {% if improve == 'b5' %}
                                            <label class="control-label">
                                                消除大腿內側贅肉
                                            </label>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade " id="sub3" role="tabpanel" aria-labelledby="sub3-tab">
                            <div class="form-group">
                                <label for="allergy_history" class="col-sm-2 control-label">過敏病史</label>

                                <div class="col-sm-10" style="padding-top: 7px;">
                                    {{ data['allergy_history'] |safe }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="disease_history" class="col-sm-2 control-label">疾病病史</label>

                                <div class="col-sm-10" style="padding-top: 7px;">
                                    {{ data['disease_history'] |safe }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>

    </section>

{% endblock content %}

{% block script %}
    <script src="{{ url_for('static', filename='admin/plugins/iCheck/icheck.min.js') }}"></script>

    <script>
        $('.crumb-link a').attr('href', '{{ url_for('user.userList') }}').text('會員列表')
        $('.crumb-trail a').attr('href', '#').text('會員 新增')
        $('.crumb-trail').removeClass('hidden').addClass('active')
        $('a[href="{{ url_for('user.userList') }}"]').parent().addClass('active').parents('li').children('a').addClass('menu-open')

    </script>
{% endblock script %}