{% extends "admin/template.html" %}

{% block style %}
    <link rel="stylesheet" href="{{ url_for('static', filename='backend/vendor/plugins/summernote/summernote.css') }}">
{% endblock style %}

{% block content %}

    <section class="content container-fluid">
        <div class="panel panel-visible">
            <div class="panel-heading">
                <div class="panel-title">
                    <span class="glyphicon glyphicon-tasks"></span>{{TenantSetting[0]}}品牌
                </div>
            </div>
            <div class="panel-body">
                <form class="form-horizontal" method="post" action="{{ url_for('settingApi.brandUpdate') }}">
                    <div class="form-group">
                        <label for="slogan" class="col-sm-3 control-label">品牌標語</label>

                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="slogan" name="slogan" value="{{ data['slogan'] }}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="story" class="col-sm-3 control-label">品牌故事</label>

                        <div class="col-sm-8">
                            <textarea id="story" class="summernote" name="story" rows="10" cols="80">{{ data['story']  | safe}}</textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="idea" class="col-sm-3 control-label">品牌理念</label>

                        <div class="col-sm-8">
                            <textarea id="idea" class="summernote" name="idea" rows="10" cols="80">{{ data['idea']  | safe}}</textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-11">
                            <button type="submit" class="btn btn-info pull-right">儲存</button>
                        </div>
                    </div>
                    <input type="hidden" name="store_id" value="1">
                </form>
            </div>
        </div>
    </section>

{% endblock content %}

{% block script %}
    <script src="{{ url_for('static', filename='backend/vendor/plugins/summernote/summernote.js') }}"></script>
    <script src="{{ url_for('static', filename='backend/vendor/plugins/summernote/lang/summernote-zh-TW.min.js') }}"></script>
    <script>
        $('.summernote').summernote({
            height: 300,
            codemirror: {
                theme: 'monokai'
            },
        });
    </script>
{% endblock script %}