{% extends "admin/template.html" %}

{% block style %}
    <link rel="stylesheet" href="{{ url_for('static', filename='backend/plugins/iCheck/all.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='backend/vendor/plugins/summernote/summernote.css') }}">
{% endblock style %}

{% block content %}

    <section class="content container-fluid of-a">
        <div class="panel panel-visible">
            <div class="panel-heading">
                <div class="panel-title">
                    <span class="glyphicon glyphicon-tasks"></span>{% if update %}<i>{{ data['title'] }}</i>{% else %}新增 最新消息{% endif %}
                </div>
            </div>
            <div class="panel-body">
                <div class="col-md-8">
                    {% if update %}
                        <form class="form-horizontal" method="post" action="{{ url_for('settingApi.newsUpdate',id=data.id) }}">
                    {% else %}
                        <form class="form-horizontal" method="post" action="{{ url_for('settingApi.newsCreate') }}">
                    {% endif %}
                    <div class="box-body">
                        <div class="form-group">
                            <div class="col-sm-10 col-sm-offset-2">
                                <label>
                                    <input type="radio" name="status" value="1" class="minimal-red" {% if update %}{% if (data['status'] == True) %} checked {% endif %} {% else %} checked {% endif %}>
                                    開放
                                </label>
                                <label>
                                    <input type="radio" name="status" value="0" class="minimal-red" {% if update %}{% if (data['status'] == False) %} checked {% endif %}{% endif %}>
                                    關閉
                                </label>
                            </div>
                        </div>
                        <div class="form-group">

                            <label for="title" class="col-sm-2 control-label">標題</label>

                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="title" name="title" {% if update %} value="{{ data['title'] }}" {% endif %}>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="content" class="col-sm-2 control-label">內文</label>

                            <div class="col-sm-10">
                                <textarea class="summernote" id="content" name="content" rows="10" cols="80"> {% if update %} {{ data['content'] }} {% endif %}</textarea>
                            </div>
                        </div>


                        <input type="hidden" name="author">
                        <input type="hidden" name="store_id" value="1">
                        <input type="hidden" name="type" value="{{ type }}">
                        <button type="submit" class="btn btn-info btn-flat pull-right">儲存</button>
                    </div>

                    </form>
                </div>
                <div class="col-md-4 py-2">
                    <h4>備註 :</h4>
                    <p>新增圖片時，可設定圖片寬度與高度</p>
                    <p>將寬度設定在 1 ~ 100 之間會以百分比方式呈現</p>
                    <p>數字高於 100 則會以 px 的方式呈現</p>
                    <p>上傳圖片前請先壓縮</p>
                    <br>
                    <p>如要使用 youtube 影片，請點選IFrame(地球圖示)，在路徑的地方貼上連結。</p>
                    <p>連結取得方式: 分享 >　崁入　> 在程式碼中選取連結(紅字部分)</p>
                    <p><\iframe width="560" height="315" src="<span style="color: red;">https://www.youtube.com/embed/JO457W46FHJJ6</span>" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></p>
                </div>
            </form>
        </form>
    </section>

{% endblock content %}

{% block script %}
    <script src="{{ url_for('static', filename='backend/plugins/iCheck/icheck.min.js') }}"></script>
    <script src="{{ url_for('static', filename='backend/vendor/plugins/summernote/summernote.js') }}"></script>
    <script src="{{ url_for('static', filename='backend/vendor/plugins/summernote/lang/summernote-zh-TW.min.js') }}"></script>
    <script>
        $(function () {
            $('.summernote').summernote({
                height: 300,
                codemirror: {
                    theme: 'monokai'
                },
            });
            $('input[type="checkbox"].minimal-red, input[type="radio"].minimal-red').iCheck({
                checkboxClass: 'icheckbox_minimal-red',
                radioClass: 'iradio_minimal-red'
            })
        })


    </script>
{% endblock script %}