{% extends "admin/template.html" %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='backend/vendor/plugins/datatables/media/css/datatables.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='backend/vendor/plugins/datatables/media/css/datatables_addons.min.css') }}">
    <style>
        .uploadImgForm {
            width: 100%;
            height: 100%;
        }

        .file {
            position: relative;
            display: block;
            overflow: hidden;
            text-decoration: none;
            text-indent: 0;
            vertical-align: bottom;
            width: 100%;
            height: 200px;
            border: 1px dashed grey;
        }

        .file input {
            position: absolute;
            right: 0;
            top: 0;
            opacity: 0;
            width: 100%;
            height: 100%;
            cursor: pointer;
        }

        .file .imgPlusBtn {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translateX(-50%) translateY(-50%);
            width: 50px;
            height: 50px;
        }

        .file .preViewImg {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translateX(-50%) translateY(-50%);
            max-width: 100%;
            max-height: 200px;
        }

        .file:hover {
        }

        .imgName {
            margin: 20px 0;
            height: 42px;
            font-size: 18px;
            color: black;
        }

        .imgName.onlyread {
            background: unset;
            border: unset;
            border-bottom: 3px solid black;
            font-size: 24px;
        }

        /*     .bgBlack {
                 background-color: #000;
             }
     */
        .btn {
            /*font-size: 10px;*/
            position: absolute;
            /*border-radius: 30px;*/
            /*padding: 4px 12px;*/
            /*color: #fff;*/
            /*opacity: 1 !important;*/
            margin-top: -58px;
        }

        .uploadBtn {
            right: 25px;
        }

        .deleteBtn {
            right: 15px;
        }

        .editBtn, .saveBtn {
            right: 75px;
        }
    </style>
{% endblock style %}

{% block content %}

    <section class="content container-fluid">
        <div class="panel panel-visible">
            <div class="panel-heading">
                <div class="panel-title">
                    <span class="glyphicon glyphicon-tasks"></span>輪播圖管理
                </div>
            </div>
            <div class="panel-body">
                <p style="margin-top: 0.5rem;"><span style="color: #8A0C34;">*</span> 首輪圖片大小請設定在 :  1152 x 600 (px)</p>
                <p><span style="color: #8A0C34;">*</span>圖片上傳前請先至以下網站壓縮 : <a href="https://tinyjpg.com" target="_blank"> 點擊前往</a></p>
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <form class="uploadImgForm" action="{{ url_for('settingApi.slideCreate') }}" method="post" enctype="multipart/form-data">
                            <input type="hidden" name="newImgBase64" value="">
                            <input type="hidden" name="sort" value="1">
                            <input type="hidden" name="product_id" value="1">
                            <input type="hidden" name="status" value="1">
                            <a href="javascript:;" class="file">
                                <img class="preViewImg" src="">
                                <input type="file" name="imgFile" class="imgFile" required>
                                <img class="imgPlusBtn" src="/static/images/plus.png" alt="">
                            </a>

                            <input type="text" name="imgName" class="imgName form-control" placeholder="連結網址">
                            <button class="btn btn-info uploadBtn" type="submit" disabled>送出</button>
                        </form>
                    </div>
                    {% for item in sliderList.sliders %}
                        <div class="col-md-3 col-sm-6">
                            <form class="uploadImgForm" action="{{ url_for('settingApi.slideUpdate') }}" method="post" enctype="multipart/form-data">
                                <input type="hidden" name="id" value="{{ item.id }}">
                                <input type="hidden" name="newImgBase64" value="{{ item.image }}">
                                <input type="hidden" name="sort" value="1">
                                <input type="hidden" name="product_id" value="1">
                                <a href="javascript:;" class="file">
                                    <img class="preViewImg" src="data:image/png;base64,{{ item.image }}">
                                    <input type="file" name="imgFile" class="imgFile" required disabled>
                                    {# <img class="imgPlusBtn" src="/static/images/plus.png" alt=""> #}
                                </a>

                                <input type="text" name="imgName" class="imgName onlyread form-control" value="{{ item.description }}">
                                <button class="btn btn-info editBtn" type="button">編輯</button>
                                <button class="btn btn-success saveBtn hidden" type="submit">儲存</button>
                                <button class="btn btn-danger deleteBtn" type="button">刪除</button>
                            </form>
                        </div>
                    {% endfor %}
                    {# {{ sliderList.sliders }} #}
                </div>
            </div>
        </div>
    </section>



{% endblock content %}

{% block script %}
    <script>
        $("input[name='imgFile']").on('change', function (event) {

            var image_type = $(this).val().split('.')
            image_type = image_type[1]

            if (this.files && this.files[0]) {

                var FR = new FileReader();
                var formBox = $(this).parents('.uploadImgForm')
                // get path
                FR.addEventListener("load", function (e) {
                    var _base64 = e.target.result.split(';base64,')[1]
                    formBox.find("input[name='newImgBase64']").val(_base64)
                    formBox.find('.preViewImg').attr('src', e.target.result)
                    formBox.find('.imgPlusBtn').css('opacity', 0.4)
                    // console.log(_base64)
                });


                FR.readAsDataURL(this.files[0]);
            }


            console.log("Selected File.");
            if ($(this).val() != '') {
                $('.uploadBtn').attr('disabled', false)
            }
            ;
        });

        $('.editBtn').on('click', function () {
            $(this).next().removeClass('hidden')
            $(this).addClass('hidden')
            $(this).parents('.uploadImgForm').find('.imgFile').attr('disabled', false)
        })
        $('.saveBtn').on('click', function () {
            $(this).prev().removeClass('hidden')
            $(this).addClass('hidden')
            $(this).parents('.uploadImgForm').find('.imgFile').attr('disabled', true)
        })
        $('.deleteBtn').on('click', function () {
            $.ajax({
                url: '/admin/setting/api/slider/delete',
                type: 'POST',
                data: '{"id":"' + $(this).parents('.uploadImgForm').find("input[name='id']").val() + '"}',
                contentType: "application/json",
                datatype: 'json',
                success: function (data) {
                    swal({
                        title: '圖片已刪除',
                        type: 'success'
                    })
                }, error: function (xhr, textStatus, thownError) {
                    swal({
                        title: '發生錯誤',
                        text: xhr.getResponseHeader('error_code'),
                        type: 'error'
                    })
                }
            });
        })
    </script>
{% endblock script %}