{% extends "admin/template.html" %}

{% block style %}
    <link rel="stylesheet" href="{{ url_for('static', filename='backend/vendor/plugins/summernote/summernote.css') }}">
{% endblock style %}

{% block content %}
    <section class="content container-fluid">
        <div class="panel panel-visible">
            <div class="panel-heading">
                <div class="panel-title">
                    <span class="glyphicon glyphicon-tasks"></span>{{TenantSetting[0]}}記事
                </div>
            </div>
            <div class="panel-body">
                <form class="form-horizontal" method="post" action="{{ url_for('settingApi.storyUpdate') }}">
                    <div class="form-group">
                        <label for="about" class="col-sm-3 control-label">關於{{TenantSetting[0]}}</label>

                        <div class="col-sm-8">
                            <textarea id="about" class="summernote" name="about" rows="10" cols="80">{{ data['about']  | safe}}</textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-11">
                            <button type="submit" class="btn btn-info pull-right">儲存</button>
                        </div>
                    </div>
                    <input type="hidden" name="store_id" value="1">
                </form>
            </div>
        </div>
    </section>

{% endblock content %}

{% block script %}
    <script src="{{ url_for('static', filename='backend/vendor/plugins/summernote/summernote.js') }}"></script>
    <script src="{{ url_for('static', filename='backend/vendor/plugins/summernote/lang/summernote-zh-TW.min.js') }}"></script>
    <script>
        $('.summernote').summernote({
            height: 300,
            codemirror: {
                theme: 'monokai'
            },
        });
    </script>
{% endblock script %}