<!DOCTYPE html>
<html style="height: 100%;">
<head>
<meta charset='utf-8' />

<link rel="stylesheet" href="{{ url_for('static', filename='general/bootstrap/css/bootstrap.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='backend/bower_components/select2/dist/css/select2.min.css') }}">
<link rel="stylesheet"  href="{{ url_for('static', filename='general/bootstrap/fullcalendar/fullcalendar.css') }}" />
<link rel="stylesheet"  href="{{ url_for('static', filename='general/bootstrap/fullcalendar/fullcalendar.print.min.css') }}" media='print' />
<link rel="stylesheet" href="{{ url_for('static', filename='backend/bower_components/font-awesome/css/font-awesome.min.css') }}">
{# <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css"> #}
<link rel="stylesheet" href="{{ url_for('static', filename='backend/bower_components/bootstrap-tempusdominus/css/tempusdominus-bootstrap-4.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='backend/plugins/iCheck/all.css') }}">
{# <link rel="stylesheet" href="{{ url_for('static', filename='css/admin.css') }}"> #}

<script src="{{ url_for('static', filename='general/bootstrap/fullcalendar/lib/moment.min.js') }}"></script>
<script src="{{ url_for('static', filename='general/bootstrap/fullcalendar/lib/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='general/bootstrap/fullcalendar/lib/jquery-ui.min.js') }}"></script>
<script src="{{ url_for('static', filename='general/bootstrap/fullcalendar/fullcalendar.js') }}"></script>
<script src="{{ url_for('static', filename='general/bootstrap/fullcalendar/locale/zh-tw.js') }}"></script>
<script>

  $(document).ready(function() {

    /* initialize the external events
    -----------------------------------------------------------------*/

    var eventColor = ["#000000","#de8a45","#9b2335","#6ab25f","#2a78dc","#ffc3a0","#663271","#ff6666","#0e2f44","#794044","#ffa500","#3b5998","#6dc066","#191970","#088da5","#fa8072","#0c342a","#560101","#008bd2","#6497b1","#c22342","#f07d00","#b3ffe1","#f4cccc","#96358c","#70a3bc","#23a638","#e6007e","#b5b632","#4a5321","#e9c28b","#9b2335","#6ab25f","#2a78dc","#ffc3a0","#663271","#ff6666","#0e2f44","#794044","#ffa500","#3b5998","#6dc066","#191970","#088da5","#fa8072","#0c342a","#560101","#008bd2","#6497b1","#c22342","#f07d00","#b3ffe1","#f4cccc","#96358c","#70a3bc","#23a638","#e6007e","#b5b632","#4a5321","#e9c28b"]

    $('#external-events .fc-event').each(function(key) {

      // store data so the calendar knows to render an event upon drop
      $(this).data('event', {
        title: $.trim($(this).text()), // use the element's text as the event title
        stick: true, // maintain when user navigates (see docs on the renderEvent method)
        color: eventColor[key],
        className: $.trim($(this).attr('id'))
      });

      $(this).css({
        'background-color': eventColor[key],
        'border-color': eventColor[key],
        'width': 'calc(100% - 30px)',
        'display': 'inline'
      })

      // make the event draggable using jQuery UI
      $(this).draggable({
        zIndex: 999,
        revert: true,      // will cause the event to go back to its
        revertDuration: 0  //  original position after the drag
      });

    });


    /* initialize the calendar
    -----------------------------------------------------------------*/

    $('#addEventModal').on('hidden.bs.modal', function () {
        var year = $('#calendar').fullCalendar('getDate')._i[0];
        var month = $('#calendar').fullCalendar('getDate')._i[1]+1;
        var Days = new Date(year, month+1, 0).getDate()
        startDate = nowYear+'-'+(nowMonth-1)+'-01', endDate = nowYear+'-'+(nowMonth+1)+'-'+nowDays
        if (nowMonth == 1) {
            startDate = (nowYear-1) +'-12-01'
        }
        if (nowMonth==12) {
            endDate = (nowYear+1) +'-01-31'
        }
        downloadSource(rerandarCalendar,startDate,endDate)
    })

    var eventsList = []
    var leaveList = []
    var startDate, endDate
    var downloadMonth = []
    
    var nowYear = new Date().getFullYear()
    var nowMonth = new Date().getMonth()+1
    var nowDays = new Date(nowYear, nowMonth+1, 0).getDate()
    startDate = nowYear+'-'+(nowMonth-1)+'-01', endDate = nowYear+'-'+(nowMonth+1)+'-'+nowDays
    if (nowMonth == 1) {
        startDate = (nowYear-1) +'-12-01'
    }
    if (nowMonth==12) {
        endDate = (nowYear+1) +'-01-31'
    }
    downloadMonth.push(nowYear+'-'+(nowMonth-1), nowYear+'-'+nowMonth, nowYear+'-'+(nowMonth+1))
    // startDate = +'-'++'-'+
    // console.log('startDate: '+startDate)
    // console.log('endDate: '+endDate)
    // console.log('downloadMonth: '+downloadMonth)

    downloadSource(randarCalendar,startDate,endDate)

    setTimeout(function () {
        $('.fc-next-button').on('click', function () {
            var year = $('#calendar').fullCalendar('getDate')._i[0];
            var month = $('#calendar').fullCalendar('getDate')._i[1]+2;
            if (month == 13) {
                year++,month = 1
            }
            if (downloadMonth.indexOf(year+'-'+month)<0) {
                downloadMonth.push(year+'-'+month)
                startDate = year+'-'+month+'-01'
                endDate = year+'-'+month+'-'+ new Date(year, month, 0).getDate()
                downloadSource(addRandarCalendar,startDate,endDate)
            }
        })
        $('.fc-prev-button').on('click', function () {
            var year = $('#calendar').fullCalendar('getDate')._i[0];
            var month = $('#calendar').fullCalendar('getDate')._i[1];
            if (month == 0) {
                year--,month = 12
            }
            if (downloadMonth.indexOf(year+'-'+month)<0) {
                downloadMonth.push(year+'-'+month)
                startDate = year+'-'+month+'-01'
                endDate = year+'-'+month+'-'+ new Date(year, month, 0).getDate()
                downloadSource(addRandarCalendar,startDate,endDate)
            }
        })
    },1000)

    function downloadSource(callback,startDate,endDate) {
        var count = 0
        $.ajax({
            url: "/admin/order/api/event/"+startDate+'/'+endDate,
            type: 'GET',
            datatype: 'json',
            contentType: "application/json",
            success: function (data) {
                console.log(data.eventsList)
                eventsList = data.eventsList
                $.each(eventsList,function(key,value) {
                //     eventsList[key].start = new Date(eventsList[key].start)
                //     eventsList[key].end = new Date(eventsList[key].end)
                    eventsList[key].color = $('#'+eventsList[key].title_employee_number).css('background-color') // compare with #external-events
                    eventsList[key].className = [eventsList[key].title_employee_number, 'eventId_'+eventsList[key].event_id] // compare with #external-events
                    // console.log(eventsList[key].employee_number)
                })
                count++
                if (count == 2) {
                  callback()
                }
            },
            error: function (xhr, textStatus, thownError) {
              swal({
                  title: '預約發生錯誤',
                  text: xhr.getResponseHeader('error_code'),
                  type: 'error'
              })
            }
        });
        $.ajax({
          url: "/admin/employee/api/calendar",
          type: 'GET',
          datatype: 'json',
          contentType: "application/json",
          success: function (data) {
              leaveList = data.employee_calendar_list
              $.each(leaveList,function(key,value) {
                  leaveList[key].allDay = leaveList[key].start.split(' ')[1]==undefined?true:false
                  leaveList[key].color = $('#leaveEmployee').css('background-color') // compare with #external-events
                  leaveList[key].className = ['leaveSwitch']
              })
              count++
              if (count == 2) {
                callback()
              }
          },
          error: function (xhr, textStatus, thownError) {
            swal({
                title: '班表發生錯誤',
                text: xhr.getResponseHeader('error_code'),
                type: 'error'
            })
          }
        });
    }

    function rerandarCalendar() {
        $('#calendar').fullCalendar( 'removeEventSources' )
        $('#calendar').fullCalendar( 'addEventSource', eventsList.concat(leaveList) )
        $('#calendar').fullCalendar( 'rerenderEvents' )
    }

    function addRandarCalendar() {
        $('#calendar').fullCalendar( 'addEventSource', eventsList.concat(leaveList) )
        $('#calendar').fullCalendar( 'rerenderEvents' )
    }

    function randarCalendar() {
        // console.log(eventsList.concat(leaveList))
        $('#calendar').fullCalendar({
            header: {
                left: 'prev,next today',
                center: 'title',
                right: 'month,agendaWeek,agendaDay'
            },
            defaultDate: new Date((new Date()).getTime() + (new Date().getTimezoneOffset() * 60000) + 28800000),
            editable: true,
            navLinks: true, // can click day/week names to navigate views
            eventLimit: true, // allow "more" link when too many events
            events: eventsList.concat(leaveList),
            droppable: true, // this allows things to be dropped onto the calendar
            locale: 'zh-tw',
            drop: function (date, jsEvent, ui, resourceId) {
                if ($(this).data('event').className == "leaveEmployee") { // 判斷是否為班表
                  $('.fc-day-grid-event.fc-h-event.fc-event.fc-start.fc-end.fc-draggable.fc-resizable').not('.leaveSwitch').remove()
                  $('.fc-time-grid-event.fc-v-event.fc-event.fc-start.fc-end.fc-draggable.fc-resizable').not('.leaveSwitch').remove()
                  swal({
                    title: '班表無法變更',
                    text: '如欲變更班表請至: "員工班表" 進行修改',
                    type: 'warning'
                  })
                  return false 
                }
                var memberName = $(this).data('event').title;
                var start = new Date(date.format())
                var sYear = start.getFullYear()
                var sMonth = start.getMonth()+1
                var sDate = start.getDate()
                var nowYear = new Date().getFullYear()
                var nowMonth = new Date().getMonth()+1
                var nowDate = new Date().getDate()
                var nowHour = new Date().getHours()+1>=24?new Date().getHours(): new Date().getHours()+1
                // console.log(nowHour)
                if (sYear == nowYear && sMonth == nowMonth && sDate == nowDate) {
                    $('#startTime').children('input').data('time', sYear+'/'+sMonth+'/'+sDate)
                    $('#endTime').children('input').data('time', sYear+'/'+sMonth+'/'+sDate)
                }
                else if (sYear >= nowYear && sMonth >= nowMonth && sDate > nowDate) {
                    $('#startTime').children('input').data('time', sYear+'/'+sMonth+'/'+sDate + ' 10:00')
                    $('#endTime').children('input').data('time', sYear+'/'+sMonth+'/'+sDate + ' 11:00')
                }
                else {
                    $('.fc-day-grid-event.fc-h-event.fc-event.fc-start.fc-end.fc-draggable.fc-resizable').not('.leaveSwitch').remove()
                    $('.fc-time-grid-event.fc-v-event.fc-event.fc-start.fc-end.fc-draggable.fc-resizable').not('.leaveSwitch').remove()
                    return false
                }

                chooseMember()
            },
            eventDrop: function(event, delta, revertFunc) {
                if(event.className[0] != 'leaveSwitch') { //判斷是否為班表
                  swal({
                    title: '變更預約',
                    text: "若您要編輯此預約時間，請按確認",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonText: '確認',
                    cancelButtonText: '關閉',
                    reverseButtons: true
                  }).then((result) => {
                    if (result.value) {
                      editEvent(event)                  
                    } 
                    else if (result.dismiss === swal.DismissReason.cancel) { // Read more about handling dismissals 
                      revertFunc();
                    }
                  })
                }
                else {
                  swal({
                    title: '班表無法變更',
                    text: '如欲變更班表請至: "員工班表" 進行修改',
                    type: 'warning'
                  })
                  revertFunc();
                }
            },
            eventResize: function(event, delta, revertFunc) {
                if(event.className[0] != 'leaveSwitch') { //判斷是否為班表
                  swal({
                    title: '變更預約',
                    text: "若您要編輯此預約時間，請按確認",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonText: '確認',
                    cancelButtonText: '關閉',
                    reverseButtons: true
                  }).then((result) => {
                    if (result.value) {
                      editEvent(event)                  
                    } 
                    else if (result.dismiss === swal.DismissReason.cancel) { // Read more about handling dismissals 
                      revertFunc();
                    }
                  })
                }
                else {
                  swal({
                    title: '班表無法變更',
                    text: '如欲變更班表請至: "員工班表" 進行修改',
                    type: 'warning'
                  })
                  revertFunc();
                }
            },
            eventClick: function(calEvent, jsEvent, view) {
                $('.editBtn').show()
                if(calEvent.className[0] != 'leaveSwitch') {
                  editEvent(calEvent)
                }
            },
            dayClick: function(date, allDay, jsEvent, view) {
                console.log('testdayclick')
                if (allDay) {
                  // console.log(date.format())
                  var d = new Date(date)

                  var adjust_zone = d.getTimezoneOffset()/60
                  // console.log(adjust_zone)
                  d = d.getTime()+(3600000 * adjust_zone)
                  d = new Date(d)

                  var y = d.getFullYear()
                  var m = d.getMonth()+1
                  var d = d.getDate()
                  var todate = y+'/'+m+'/'+d

                  var nowY = new Date().getFullYear()
                  var nowM = new Date().getMonth()+1
                  var nowD = new Date().getDate()
                  if (new Date(date.format()) >= new Date( nowY+'/'+nowM+'/'+nowD )) {
                    // console.log(todate)
                    $('#startTime').children('input').data('time', todate + ' 10:00')
                    $('#endTime').children('input').data('time', todate + ' 11:00')
                    chooseMember()
                  } else {
                    swal({
                      title: '無法再過去新增預約',
                      type: 'warning'
                    })
                  }
                  $('.editBtn').hide()
                }
            },
        });
    }

  });

</script>
<style>
  body {
    background-color: #ecf0f5;
    margin-top: 40px;
  }

  #wrap {
    width: 1150px;
    margin: 0 auto;
  }
  #external-events {
    float: left;
    width: 200px;
    padding: 0 10px;
    border: 1px solid #ccc;
    background: #eee;
    text-align: left;
  }

  #external-events h4 {
    font-size: 16px;
    margin-top: 0;
    padding-top: 1em;
  }

  #external-events .fc-event {
    margin: 10px 0;
    cursor: pointer;
  }

  #external-events p {
    margin: 1.5em 0;
    font-size: 11px;
    color: #666;
  }

  #external-events p input {
    margin: 0;
    vertical-align: middle;
  }

  #calendar {
    float: right;
    width: 900px;
  }

  @media screen and (max-width: 1024px) {
    #wrap {
      width: calc(100vw - 60px);
      margin: 0 auto;
    }
    #calendar {
      float: right;
      width: calc(100vw - 250px);
    }
    #external-events {
      width: 150px;
    }
  }
    

</style>
</head>
<body style="margin-top: 0;padding-top: 15px;height: 100%;">
  <div id='wrap' style="height: 100%;">

    <section class="content-header">
      <h4>
          預約行事曆
      </h4>
    </section>
    
    <div id='external-events' style="margin-top: 60px;">
        <h4>醫美人員</h4>
        <div>
            <div class='fc-event' id="leaveEmployee">休假員工</div>
            <input type="checkbox" class="minimal-grey" data-id="leaveSwitch">
        </div>
        {% for roles in roles %}
            {% if roles.id == 4 or roles.id == 3 %}
                {% for data in employee %}
                    {% if data['grade_id'] == roles.id %}
                    <div>
                        <div class='fc-event' id="{{ data.employee_number }}">{{ roles['name'] }} - {{ data.name }}</div>
                        <input type="checkbox" class="minimal-grey" data-id="{{ data.employee_number }}">
                    </div>
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endfor %}
        <label>
            全選
            <input id="selAllEmp" type="checkbox" class="minimal-red">
        </label>
    </div>

    <div id='calendar'></div>

    <div style='clear:both'></div>

  </div>

<div class="modal fade" id="addEventModal" role="dialog" aria-labelledby="addEventModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addEventModalLabel">預約表</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        
        <label>預約客戶: <span id="userName"></span></label>
        <input type="text" id="eventId" value="" hidden>
        <div class="form-group">
            <label>預約開始時間:</label>
            <div class="input-group date" id="startTime" data-target-input="nearest">
                <input type="text" class="form-control datetimepicker-input" data-target="#startTime"/>
                <span class="input-group-addon" data-target="#startTime" data-toggle="datetimepicker">
                    <span class="fa fa-calendar"></span>
                </span>
            </div>
        </div>

        <div class="form-group">
            <label>預約結束時間:</label>
            <div class="input-group date" id="endTime" data-target-input="nearest">
                <input type="text" class="form-control datetimepicker-input" data-target="#endTime"/>
                <span class="input-group-addon" data-target="#endTime" data-toggle="datetimepicker">
                    <span class="fa fa-calendar"></span>
                </span>
            </div>
        </div>

        <div class="form-group">
            <label>預約項目:</label>
            <div class="input-group">
                <select id="productName" class="form-control select2" data-placeholder="請選擇">
                    
                </select>
            </div>
        </div>

        <div class="form-group">
            <label>相關人員: <span id="employeeNeed"></span></label>
            <div class="input-group">
                <select id="employees" class="form-control select2" multiple="multiple" data-placeholder="請選擇" disabled="true">
                    <option value="0">請選擇</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label>備註:</label>
            <div class="input-group">
                <textarea class="form-control" name="note" id="note" rows="2"></textarea>
            </div>
        </div>

      </div>
      <div class="modal-footer">
        <button onclick="checkin()" type="button" class="btn btn-primary editBtn" style="position: absolute;left: 15px;bottom: 15px;">報到</button>
        <button onclick="deleteEvent()" type="button" class="btn btn-danger editBtn">刪除</button>
        <button id="cancelModal" type="button" class="btn btn-secondary" data-dismiss="modal">關閉</button>
        <button onclick="submitEvent()" type="button" class="btn btn-primary">儲存</button>
      </div>
    </div>
  </div>
</div>


    <script src="{{ url_for('static', filename='general/bootstrap/sweetalert.min.js') }}"></script>
    <script src="{{ url_for('static', filename='general/bootstrap/calendar/bootstrap.min.js') }}"></script>
    {# <script src="{{ url_for('static', filename='backend/bower_components/bootstrap/dist/js/bootstrap.min.js') }}"></script> #}
    <script src="{{ url_for('static', filename='backend/bower_components/bootstrap-tempusdominus/js/moment.js') }}"></script>
    <script src="{{ url_for('static', filename='backend/bower_components/bootstrap-tempusdominus/js/tempusdominus-bootstrap-4.min.js') }}"></script>
    <script src="{{ url_for('static', filename='backend/bower_components/select2/dist/js/select2.full.min.js') }}"></script>
    <script src="{{ url_for('static', filename='backend/plugins/iCheck/icheck.min.js') }}"></script>
    <script>
        $('input[type="checkbox"].minimal-grey').iCheck({
            checkboxClass: 'icheckbox_minimal-grey'
        })
        $('input[type="checkbox"].minimal-red').iCheck({
            checkboxClass: 'icheckbox_minimal-red'
        })
        $('input[type="checkbox"]').iCheck('check')
        $('.icheckbox_minimal-grey').css('float', 'right')

        $('#selAllEmp').on('ifChanged', function(){
            if ($(this).prop('checked')) {
                $('input[type="checkbox"].minimal-grey').iCheck('check')
            }
            else {
                $('input[type="checkbox"].minimal-grey').iCheck('uncheck')
            }
        });

        $('.minimal-grey').on('ifChanged', function(){
            var id = $(this).data('id')
            if ($(this).prop('checked')) {
                $('.'+id).css('display', 'block')
            }
            else {
                $('.'+id).css('display', 'none')
            }
        })
      

        var memberData, serviceOrder
        function chooseMember() {
            $('.btn-primar.editBtn').hide() // 報到
            swal({
                title: '請輸入會員編號或身分證字號',
                input: 'text',
                showCancelButton: true,
                confirmButtonText: '查詢',
                cancelButtonText: '關閉',
                showLoaderOnConfirm: true,
                preConfirm: (text) => {
                    return new Promise((resolve) => {
                        if (text) {
                            $.ajax({
                                url: "{{ url_for('userApi.userSearch') }}",
                                type: 'POST',
                                data: '{"search":"'+ text +'"}',
                                datatype: 'json',
                                contentType: "application/json",
                                success: function (data) {
                                    if(data.code) {
                                        swal({
                                            type: 'error',
                                            title: data.msg
                                        })
                                    }
                                    else {
                                        memberData = data
                                        $.ajax({
                                            url: "/admin/order/api/get/orderitems/by/useruuid/"+data.uuid,
                                            type: 'GET',
                                            datatype: 'json',
                                            contentType: "application/json",
                                            success: function (data) {
                                                serviceOrder = data.serviceOrderItemsList

                                                var nameOption = '<option value="0">請選擇</option>'
                                                for (var i = 0; i < serviceOrder.length; i++) {
                                                    if (serviceOrder[i].quota != 0) {
                                                        nameOption += '<option data-item="'+i+'" value="'+serviceOrder[i].product_id+'" '+status+'>'+serviceOrder[i].product_name+' *'+serviceOrder[i].quota+'</option>'
                                                    }
                                                }
                                                $('#productName').html(nameOption)
                                                // linkNode:1
                                                // console.log('order_items_id: '+data.serviceOrderItemsList[0].order_items_id)
                                            },
                                            error: function (xhr, ajaxOptions, thownError) {
                                                swal({
                                                    type: 'error',
                                                    title: 'ERROR - can not connecting database'
                                                })
                                            }
                                        })
                                        $('#userName').text(data.user_name + ' - ' + data.user_number + ' - ' + data.user_grade)
                                        resolve(data)
                                    }
                                },
                                error: function (xhr, ajaxOptions, thownError) {
                                    swal({
                                        type: 'error',
                                        title: 'ERROR - can not connecting database'
                                    })
                                }
                            })
                        }
                        else { // text is empty
                            swal({
                                type: 'error',
                                title: '請輸入會員編號或身分證字號',
                                showCancelButton: true,
                                confirmButtonText: '確認',
                                cancelButtonText: '關閉'
                            }).then((result) => {
                                if (result.value) {
                                    chooseMember()
                                }
                            })
                        }
                    })
                },
                allowOutsideClick: () => !swal.isLoading()
            }).then((result) => {
                if (result.value) {
                    swal({
                        type: 'success',
                        title: '已取得該會員資料',
                        html: '會員姓名: ' + result.value.user_name + '<br>剩餘點數: ' + result.value.user_point
                    })
                    $('#addEventModal').modal('show')
                    $('#employees').attr('disabled', true)
                }
                else if (result.dismiss === swal.DismissReason.cancel) {  // Read more about handling dismissals
                    $('.fc-day-grid-event.fc-h-event.fc-event.fc-start.fc-end.fc-draggable.fc-resizable').not('.leaveSwitch').remove()
                    $('.fc-time-grid-event.fc-v-event.fc-event.fc-start.fc-end.fc-draggable.fc-resizable').not('.leaveSwitch').remove()
                }
            })
        }

        var allEmployee = '<option value="0">請選擇</option>'+
                    {% for roles in roles %}
                        {% if roles.id > 1 %}
                            {% for data in employee %}
                                {% if data['grade_id'] == roles.id %}
                                    '<option data-type="{{data['grade_id']}}" data-grade="{{ roles['name'] }}" value="{{ data.id }}">{{ roles['name'] }} - {{ data.name }}</option>'+
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                    '';

        // linkNode:1 // linkNode:2
        var employeeLimit = []
        var employeeGrade = []
        var employeeTitle = []
        var employeeEvent = []
        $('#productName').change(function () {
            employeeLimit = []
            employeeGrade = []
            employeeTitle = []
            employeeEvent = []
            $('#employees').attr('disabled', false)
            var index = $('#productName').select2('data')[0].element.dataset.item
            var employeeNeed = ''
            
            $('#employees').html(allEmployee)
            // console.log( $('#productName').select2('data')[0])
            // console.log(index)
            // console.log(serviceOrder[index])
            for (var i = 0; i < serviceOrder[index].servicepart_list.length; i++) {
                employeeTitle.push('0')
                employeeLimit.push(parseInt(serviceOrder[index].servicepart_list[i].number))
                employeeGrade.push(serviceOrder[index].servicepart_list[i].employee_grade)
                $('#employees option').each(function () {
                    if ($(this).data('type') == employeeGrade[i]) {
                        $(this).data('type', 0)
                        employeeTitle[i] = $(this).data('grade')
                    }
                })
                employeeNeed += ' '+ employeeTitle[i] +':'+ employeeLimit[i]+ '名'
                // console.log('employee_grade: '+ serviceOrder[index].servicepart_list[i].employee_grade)
                // console.log('number: '+serviceOrder[index].servicepart_list[i].number)
            }
            console.log(serviceOrder[index].event_list)
            for (var i = 0; i < serviceOrder[index].event_list[0].length; i++) {
                // console.log(serviceOrder[index].event_list[0][i].event_employee_id)
                employeeEvent.push(String(serviceOrder[index].event_list[0][i].event_employee_id))
            }
            $('#employees option').each(function () {
                if ($(this).data('type') != 0) {
                    $(this).remove()
                }
            })
            $('#employeeNeed').html(employeeNeed)
        })

        var event_employee_list // submit request
        $('#employees').change(function () {
            event_employee_list = []
            var employeeLimitCount = []
            for (var i = 0; i < employeeLimit.length; i++) {
                employeeLimitCount.push(employeeLimit[i])
                event_employee_list.push({ "employee_grade": '', "employee_id": [], "event_employee_id": []  })
            }
            // console.log(employeeLimit)
            // console.log(employeeLimitCount)
            // console.log($('#employees').select2('data'))
            // console.log($('#employees').select2('data').length)
            for (var i = 0; i < $('#employees').select2('data').length; i++) {
                var type = $('#employees').select2('data')[i].element.dataset.type
                // console.log('~~~~~~~~~~~~~~~~type: '+type)
                for (var j = 0; j < employeeGrade.length; j++) {
                    if (employeeGrade[j] == type) {
                        employeeLimitCount[j] -= 1
                        event_employee_list[j].employee_grade = parseInt(type)
                        event_employee_list[j].employee_id.push($('#employees').select2('data')[i].id)
                        event_employee_list[j].event_employee_id.push(employeeEvent[i])

                    }
                    if (employeeLimitCount[j] < 0) {
                        swal({
                            type: 'error',
                            title: employeeTitle[j]+'已超出人數'
                        })
                    }
                    // console.log('event_employee_list')
                    // console.log('{"event_employee_list": "'+JSON.stringify(event_employee_list)+'" }')
                    // console.log(event_employee_list[0].employee_grade)
                    // console.log(event_employee_list[0].employee_id)
                    // console.log('employeeGrade: '+employeeGrade[j])
                    // console.log('employeeLimitCount: '+employeeLimitCount[j])
                }
            }
        })
        $('#addEventModal').on('shown.bs.modal', function (e) {
            $('#eventId').val('')
            $('#note').val('')
            $('#employeeNeed').text('')

            $('.select2').select2()

            // modal
            setTimeout(function () {
                $('#startTime').children('input').val($('#startTime').children('input').data('time'))
                $('#endTime').children('input').val($('#endTime').children('input').data('time'))
            },300)
                

            $('#startTime').datetimepicker({
                // locale: 'zh-TW',
                format: 'YYYY/MM/DD HH:mm',
                // defaultDate: new Date(),
                minDate: new Date() //new Date((new Date()).getTime() + (new Date().getTimezoneOffset() * 60000) + 28800000)
            });
            $('#endTime').datetimepicker({
                // locale: 'zh-TW',
                minDate: new Date() ,
                format: 'YYYY/MM/DD HH:mm',
                useCurrent: false
            });

            $("#startTime").on("change.datetimepicker", function (e) {
                $('#endTime').datetimepicker('minDate', e.date);
                var end = new Date(e.date)
                var hour = (end.getHours()+1)<10?'0'+(end.getHours()+1):end.getHours()+1
                var minute = end.getMinutes()<10?'0'+end.getMinutes():end.getMinutes()
                $('#endTime').children('input').val(end.getFullYear()+'/'+(end.getMonth()+1)+'/'+end.getDate() + ' '+hour+':'+minute)

            });
            $("#endTime").on("change.datetimepicker", function (e) {
                $('#startTime').datetimepicker('maxDate', e.date);
            });
        })

        function submitEvent() {
            var order_items_id = serviceOrder[$('#productName').select2('data')[0].element.dataset.item].order_items_id
            var eventId = $('#eventId').val()//==''?"":$('#eventId').val()
            var token = localStorage.getItem('token');
            var data = '{"_token": "' + token + '","event_id": "'+eventId+'","user_uuid": "'+memberData.uuid+'","order_item_id": "'+order_items_id+'","product_name": "'+$('#productName').select2('data')[0].text+'", "start_time": "'+$('#startTime input').val()+'","end_time": "'+$('#endTime input').val()+'","note": "'+$('#note').val()+'", "event_employee_list": '+JSON.stringify(event_employee_list)+' }'

            $.ajax({
                url: "{{ url_for('orderApi.eventCreate') }}",
                type: 'POST',
                data: data,
                datatype: 'json',
                contentType: "application/json",
                success: function (data) {
                    swal({
                        type: 'success',
                        title: '資料已完成'
                    })
                    $('.fc-day-grid-event.fc-h-event.fc-event.fc-start.fc-end.fc-draggable.fc-resizable').not('.leaveSwitch').remove()
                    $('.fc-time-grid-event.fc-v-event.fc-event.fc-start.fc-end.fc-draggable.fc-resizable').not('.leaveSwitch').remove()
                    // $('.fc-day-grid-event.fc-h-event.fc-event.fc-start.fc-end.fc-draggable')
                    $('#addEventModal').modal('hide')                    
                },
                error: function (xhr, ajaxOptions, thownError) {
                    swal({
                        type: 'error',
                        title: '資料有誤，請確認輸入內容'
                    })
                }
            })
        }
        
        function editEvent(calEvent) {
            console.log(calEvent.status)
            if (calEvent.status > 1) { // allready checkin
              $('.modal .form-control').attr('disabled', true)
              $('.modal .btn-danger').hide() // delete
              $('.modal .btn-primary').hide() // comfirm, checked
            }
            else {
              $('.modal .form-control').attr('disabled', false)
              $('.modal .btn-danger').show()
              $('.modal .btn-primary').show()
            }
            // console.log("!!!!!!!  "+calEvent.start)
            // console.log("  "+calEvent.end)
            var start = calEvent.start.format(), end = calEvent.end.format()
            var employeesId = calEvent.event_employee_id_list
            // console.log('start : '+start)
            // console.log('calEvent.start._i : '+calEvent.start._i)
            // console.log('typeof calEvent.start._i : '+typeof calEvent.start._i)
            // console.log('end : '+end)

            if (typeof calEvent.start._i == 'string') { // if false, event is from drop
                var Sarray = calEvent.start._i.split(':'), Earray = calEvent.end._i.split(':')
                var start = Sarray[2]=='undefined'?calEvent.start._i:(Sarray[0]+':'+Sarray[1])
                var end = Earray[2]=='undefined'?calEvent.end._i:(Earray[0]+':'+Earray[1])
                $('#startTime').children('input').data('time', start.replace(/-/g, "/"))
                $('#endTime').children('input').data('time', end.replace(/-/g, "/"))
            }
            else if (typeof calEvent.start._i == 'object') { // event resize or eventDrop
                var Sarray = calEvent.start.format().replace(/-/g, "/").replace(/T/g, " ").split(':')
                var Earray = calEvent.end.format().replace(/-/g, "/").replace(/T/g, " ").split(':')
                var start = Sarray[2]=='undefined'?calEvent.start.format():(Sarray[0]+':'+Sarray[1])
                var end = Earray[2]=='undefined'?calEvent.end.format():(Earray[0]+':'+Earray[1])
                $('#startTime').children('input').data('time', start)
                $('#endTime').children('input').data('time', end)
            }
            else { // array (when dropevent)
                // console.log(calEvent)
                $('#startTime').children('input').data('time', calEvent.start.format().replace(/-/g, "/").replace(/T/g, " "))
                $('#endTime').children('input').data('time', calEvent.end.format().replace(/-/g, "/").replace(/T/g, " "))
            }
            
            // console.log(calEvent)
            $('#addEventModal').modal('show')
            $('#employees').attr('disabled', false)

            setTimeout(function () {
                $('#eventId').val(calEvent.event_id)
                $('#note').val(calEvent.note)
            },500)

             $.ajax({
                url: "{{ url_for('userApi.userSearch') }}",
                type: 'POST',
                data: '{"search":"'+ calEvent.user_number +'"}',
                datatype: 'json',
                contentType: "application/json",
                success: function (data) {
                  console.log(data)
                    if(data.code) {
                        swal({
                            type: 'error',
                            title: data.msg
                        })
                    }
                    else {
                        memberData = data
                        $.ajax({
                            url: "/admin/order/api/get/orderitems/by/useruuid/"+data.uuid+"/without/filter",
                            type: 'GET',
                            datatype: 'json',
                            contentType: "application/json",
                            success: function (data) {
                                serviceOrder = data.serviceOrderItemsList
                                // console.log(serviceOrder)
                                // console.log(calEvent)

                                var nameOption = '<option value="0">請選擇</option>'
                                for (var i = 0; i < serviceOrder.length; i++) {
                                    
                                    var status = '' //disabled="true"
                                    if (calEvent.order_item_id == serviceOrder[i].order_items_id ) { 
                                        status = 'selected="true"'
                                        nameOption += '<option data-item="'+i+'" value="'+serviceOrder[i].product_id+'" '+status+'>'+serviceOrder[i].product_name+' *'+serviceOrder[i].quota+'</option>'
                                    }
                                    else if (serviceOrder[i].quota != 0) {
                                        nameOption += '<option data-item="'+i+'" value="'+serviceOrder[i].product_id+'" '+status+'>'+serviceOrder[i].product_name+' *'+serviceOrder[i].quota+'</option>'
                                    }
                                }
                                $('#productName').html(nameOption)

                                // choose selector
                                setTimeout(function () {
                                    $('#productName').trigger('change') // linkNode:2

                                    for (var i = 0; i < employeesId.length; i++) {
                                        $('#employees option[value="'+employeesId[i]+'"]').attr('selected', true)
                                    }
                                    $('#employees').trigger('change')
                                },500)
                                
                            },
                            error: function (xhr, ajaxOptions, thownError) {
                                swal({
                                    type: 'error',
                                    title: 'ERROR - can not connecting database'
                                })
                            }
                        })
                        $('#userName').text(data.user_name + ' - ' + data.user_number + ' - ' + data.user_grade)
                    }
                },
                error: function (xhr, ajaxOptions, thownError) {
                    swal({
                        type: 'error',
                        title: 'ERROR - can not connecting database'
                    })
                }
            })
        }
        function deleteEvent(id) {
            var eventId = $('#eventId').val()//==''?"":$('#eventId').val()
            swal({
                title: '取消預約',
                text: "取消預約後即無法恢復",
                type: 'info',
                showCancelButton: true,
                confirmButtonText: '確認',
                cancelButtonText: '關閉',
                reverseButtons: true
            }).then((result) => {
                if (result.value) {
                var token = localStorage.getItem('token');
                var request_data = '{"_token":"'+ token +'"}'
                    $.ajax({
                        url: "/admin/order/api/event/cancel/"+eventId,
                        type: 'DELETE',
                        data: request_data,
                        datatype: 'json',
                        contentType: "application/json",
                        success: function (data) {
                            swal({
                                type: 'success',
                                title: '預約已取消'
                            })
                            $('.eventId_'+eventId).remove()
                            $("#addEventModal").modal('hide')
                        },
                        error: function (xhr, ajaxOptions, thownError) {
                            swal({
                                type: 'error',
                                title: '查無會員資料，請重新輸入刪除時發生錯誤'
                            })
                        }
                    })
                } 
                else if (result.dismiss === swal.DismissReason.cancel) { // Read more about handling dismissals 
                    swal({
                        type: 'info',
                        title: '保留預約'
                    })
                }
            })    
        }
        function checkin() {
            swal({
                title: '報到',
                text: "確認預約後即無法取消",
                type: 'info',
                showCancelButton: true,
                confirmButtonText: '確認',
                cancelButtonText: '關閉',
                reverseButtons: true
            }).then((result) => {
                if (result.value) {
                var token = localStorage.getItem('token');
                    $.ajax({
                        url: "/admin/order/api/event",
                        type: 'PUT',
                        data: '{"_token": "' + token + '","event_id": "'+$('#eventId').val()+'"}',
                        datatype: 'json',
                        contentType: "application/json",
                        success: function (data) {
                            swal({
                                type: 'success',
                                title: '已完成報到'
                            })
                            $("#addEventModal").modal('hide')
                        },
                        error: function (xhr, ajaxOptions, thownError) {
                            swal({
                                type: 'error',
                                title: '查無會員資料，請重新輸入刪除時發生錯誤'
                            })
                        }
                    })
                } 
                else if (result.dismiss === swal.DismissReason.cancel) { // Read more about handling dismissals 
                    swal({
                        type: 'error',
                        title: '已取消報到'
                    })
                }
            })
        }
    </script>
</body>
</html>
