{% extends "admin/template.html" %}

{% block style %}
   <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='backend/vendor/plugins/datatables/media/css/datatables.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='backend/vendor/plugins/datatables/media/css/datatables_addons.min.css') }}">
{% endblock style %}

{% block content %}

    <section class="content container-fluid of-a">
         <div class="panel panel-visible mnw500">
            <div class="panel-heading">
                <div class="panel-title">
                    <span class="glyphicon glyphicon-tasks"></span>已註銷訂單列表
                    <div class="pull-right form-group mbn mt5">
                        <label for="pageLength" class="form-label">單頁筆數</label>
                        <select id="pageLength" class="form-control w100 d-inline">
                            <option value="10" selected>10</option>
                            <option value="25">25</option>
                            <option value="50">50</option>
                            <option value="9999999">all</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="panel-body pn">
                <table id="example2" class="table table-bordered table-hover">
                    <thead>
                    <tr>
                        <th>訂單編號</th>
                        <th>會員姓名</th>
                        <th>會員手機號碼</th>
                        <th>付款方式</th>
                        <th>取貨方式</th>
                        <!-- <th>運費</th> -->
                        <th>總金額</th>
                        <th>退款狀態</th>
                        <th>#</th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
            <!-- /.box-body -->
        </div>

    </section>

    <!-- Modal -->
<div class="modal fade bs-example-modal-lg" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">變更訂單</h4>
      </div>
      <div class="modal-body">
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">關閉</button>
        <button id="saveOrder" onclick="saveOrder()" type="button" class="btn btn-primary">儲存</button>
      </div>
    </div>
  </div>
</div>

{% endblock content %}

{% block script %}

    <script src="{{ url_for('static', filename='backend/vendor/plugins/datatables/media/js/datatables.min.js') }}"></script>
    <script src="{{ url_for('static', filename='backend/vendor/plugins/datatables/media/js/datatables_addons.min.js') }}"></script>
    <script>

        $(document).on('click', '.order-edit', function () {
            uuid = $(this).data('uuid');
            // window.location = '/admin/order/' + uuid + '/edit'
            $('#token').attr('action', '/admin/order/' + uuid + '/edit')
            $('input[name="_token"]').val(localStorage[tokenName])
            $('#token').submit();
        });

        $('#pageLength').change(function () {
            $('#example2').DataTable().destroy()
            showTable()
        })

        function showTable() {
            $('#example2').dataTable({
                dom: '<"top dt-panelmenu"Bf>rt<"bottom dt-panelfooter"ip>',
                buttons: [
                    {
                        extend: 'copy',
                        exportOptions: {
                            columns: ':visible'
                        }
                    },
                    {
                        extend: 'excel',
                        exportOptions: {
                            columns: ':visible'
                        }
                    },
                    {
                        extend: 'print',
                        exportOptions: {
                            columns: ':visible'
                        }
                    },
                    'colvis'
                ],
                autoWidth: false,
                paging: true,
                ajax: "/admin/order/api/order/cancel",
                columns: [
                    {data: 'order_num', name: 'order_num'},
                    {data: 'user_name', name: 'user_name'},
                    {data: 'user_mobile_phone', name: 'user_mobile_phone'},
                    {data: 'payment_type_str', name: 'payment_type_str'},
                    {data: 'shipping_type_str', name: 'shipping_type_str'},
                    {data: 'shipping_fee', name: 'shipping_fee'},
                    {data: 'total_price', name: 'total_price'},
                    {data: 'href', name: 'href'}
                ],
                pageLength: parseInt($('#pageLength').val())
            });
        }
        showTable()

        var choosen
        function editOrder($this,uuid) {
        // body...
        var id = $this.parents('tr').children().eq(0).text()
        // console.log(id)
        $.ajax({
            url: "/admin/order/api/get/order/"+uuid,
            type: 'GET',
            datatype: 'json',
            contentType: "application/json",
            success: function (data) {
                if(data.code) {
                    swal({
                        type: 'error',
                        title: data.msg
                    })
                }
                else {
                    console.log(data)
                    choosen =data.data
                    displayEdit(uuid)
                }
            },
            error: function (xhr, textStatus, thownError) {
                swal({
                    type: 'error',
                    text: xhr.getResponseHeader('error_code'),
                    title: 'ERROR - can not connecting database'
                })
            }
        })
    }

    function displayEdit(uuid) {
        var list = ''
        var statusA = '',statusB = ''
        if (choosen.refund) { statusA = 'selected' }
        else { statusB = 'selected' }
        list+='<div class="box box-primary box-solid">'+
        '<div class="box-header with-border">'+
          '<h3 class="box-title">註銷人員:'+choosen.cancel_employee_name+'</h3>'+
        '</div>'+
        '<div class="box-body editOrder">'+
            '<div class="form-group">'+
                '<label class="control-label">退款狀態</label>'+
                '<select class="form-control" name="refund">'+
                    '<option value="0" '+statusB+'>未歸還</optoin>'+
                    '<option value="1" '+statusA+'>已歸還</optoin>'+
                '</select>'+
            '</div>'+
        '</div>'+
      '</div>';
                    
        $('.modal-body').html(list)
        $('#myModal').modal('show')
        $('#saveOrder').attr('onclick', 'saveOrder("'+uuid+'")')
    }

    function saveOrder(uuid) {
        var token = localStorage.getItem(tokenName);
        $.ajax({
            url: "/admin/order/api/order/cancel/refund/"+uuid,
            type: 'POST',
            data: '{"_token": "' + token + '","refund":'+ $('select[name="refund"]').val() +'}',
            datatype: 'json',
            contentType: "application/json",
            success: function (data) {
                swal({
                    type: 'success',
                    title: '已變更訂單'
                })
            },
            error: function (xhr, textStatus, thownError) {
                swal({
                    type: 'error',
                    text: xhr.getResponseHeader('error_code'),
                    title: 'ERROR - can not connecting database'
                })
            }
        })
    }
    </script>
{% endblock script %}