{% extends "admin/template.html" %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='backend/vendor/plugins/datatables/media/css/datatables.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='backend/vendor/plugins/datatables/media/css/datatables_addons.min.css') }}">
    
{% endblock style %}

{% block content %}

    <section class="content container-fluid of-a">
         <div class="panel panel-visible mnw500">
            <div class="panel-heading">
                <div class="panel-title">
                    <span class="glyphicon glyphicon-tasks"></span>訂單
                    <div class="pull-right form-group mbn mt5">
                        <label for="pageLength" class="form-label">單頁筆數</label>
                        <select id="pageLength" class="form-control w100 d-inline">
                            <option value="10" selected>10</option>
                            <option value="25">25</option>
                            <option value="50">50</option>
                            <option value="9999999">all</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="panel-body pn">
                {# <div class="d-flex m10">
                    <div class="w100 ph5">
                        <a href="{{ url_for('order.orderCreate') }}" class="btn btn-primary btn-gradient dark btn-block jwtLink">新增</a>
                    </div>
                </div> #}
                <table id="example2" class="table table-bordered table-hover">
                    <thead>
                    <tr>
                        <th>訂單編號</th>
                        <th>會員姓名</th>
                        <th>會員手機號碼</th>
                        <th>付款方式</th>
                        <th>取貨方式</th>
                        <th>運費</th>
                        <th>總金額</th>
                        <th>#</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for data in orderList.data %}
                        <tr>
                            <td>{{ data.order_num }}</td>
                            <td>{{ data.user_name }}</td>
                            <td>{{ data.user_mobile_phone }}</td>
                            <td>{{ data.payment_type_str }}</td>
                            <td>{{ data.shipping_fee }}</td>
                            <td>{{ data.shipping_type_str }}</td>
                            <td>{{ data.total_price }}</td>
                            <td>
                                <a class="btn btn-info btn-xs" target="_blank" href="{{data.href}}" >詳情</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <!-- /.box-body -->
        </div>

    </section>

{% endblock content %}

{% block script %}

    <script src="{{ url_for('static', filename='backend/vendor/plugins/datatables/media/js/datatables.min.js') }}"></script>
    <script src="{{ url_for('static', filename='backend/vendor/plugins/datatables/media/js/datatables_addons.min.js') }}"></script>


    <script>
        $('#pageLength').change(function () {
            $('#example2').DataTable().destroy()
            showTable()
        })

        function showTable() {
            $('#example2').dataTable({
                dom: '<"top dt-panelmenu"Bf>rt<"bottom dt-panelfooter"ip>',
                buttons: [
                    {
                        extend: 'copy',
                        exportOptions: {
                            columns: ':visible'
                        }
                    },
                    {
                        extend: 'excel',
                        exportOptions: {
                            columns: ':visible'
                        }
                    },
                    {
                        extend: 'print',
                        exportOptions: {
                            columns: ':visible'
                        }
                    },
                    'colvis'
                ],
                autoWidth: false,
                paging: true,
                // ajax: "/admin/order/api/order?search[value]=",
                // columns: [
                //     {data: 'order_num', name: 'order_num'},
                //     {data: 'user_name', name: 'user_name'},
                //     {data: 'user_mobile_phone', name: 'user_mobile_phone'},
                //     {data: 'payment_type_str', name: 'payment_type_str'},
                //     {data: 'shipping_type_str', name: 'shipping_type_str'},
                //     {data: 'shipping_fee', name: 'shipping_fee'},
                //     {data: 'total_price', name: 'total_price'},
                //     {data: 'href', name: 'href'}
                // ],
                pageLength: parseInt($('#pageLength').val()),
                columns: [
                    {orderable: true},
                    {orderable: true},
                    {orderable: true},
                    {orderable: true},
                    {orderable: true},
                    {orderable: true},
                    {orderable: true},
                    {orderable: false}
                ],
            });
        }
        showTable()

    </script>
{% endblock script %}