{% extends "admin/template.html" %}

{% block style %}
    <link rel="stylesheet" href="{{ url_for('static', filename='backend/plugins/iCheck/all.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='backend/vendor/plugins/datatables/media/css/datatables.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='backend/vendor/plugins/datatables/media/css/datatables_addons.min.css') }}">
{% endblock style %}

{% block content %}


    <section class="content container-fluid of-a">

        <div onclick="searchMember()" class="btn btn-primary w100 mb5">會員查詢</div>

        <div id="userInfo" class="panel panel-primary" style="display: none;">
            <div class="panel-body fill">
                <h4><label id="user_number"></label> <label id="user_name"></label> (<label id="user_grade"></label>) <i
                        class="fa fa-fw fa-phone"></i><label id="user_phone"></label></h4>
                剩餘點數: <label id="user_point" class="mr10"></label>
            </div>
        </div>

        <div class="panel panel-visible mnw1280">
            <div class="panel-heading">
                <div class="panel-title">
                    <span class="glyphicon glyphicon-tasks"></span>變更會員訂單
                    <div class="pull-right form-group mbn mt5">
                        <label for="pageLength" class="form-label">單頁筆數</label>
                        <select id="pageLength" class="form-control w100 d-inline">
                            <option value="10" selected>10</option>
                            <option value="25">25</option>
                            <option value="50">50</option>
                            <option value="9999999">all</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="panel-body pn">
                <table id="example2" class="table table-bordered table-hover">
                    <thead>
                    <tr>
                        <th>訂單編號</th>
                        <th>會員姓名</th>
                        <th>會員手機號碼</th>
                        <th>付款方式</th>
                        <th>取貨方式</th>
                        <th>運費</th>
                        <th>總金額</th>
                        <th>#</th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
            <!-- /.box-body -->
        </div>

    </section>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-lg hidden"></button>

<!-- Modal -->
<div class="modal fade bs-example-modal-lg" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">變更訂單</h4>
      </div>
      <div class="modal-body">
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">關閉</button>
      </div>
    </div>
  </div>
</div>


	
{% endblock content %}

{% block script %}
<script src="{{ url_for('static', filename='backend/vendor/plugins/datatables/media/js/datatables.min.js') }}"></script>
<script src="{{ url_for('static', filename='backend/vendor/plugins/datatables/media/js/datatables_addons.min.js') }}"></script>
<script src="{{ url_for('static', filename='backend/bower_components/select2/dist/js/select2.full.min.js') }}"></script>
<script src="{{ url_for('static', filename='backend/bower_components/jquery-ui/jquery-ui.js') }}"></script>

<script>
    // $(document).on('click', '.order-info', function () {
    //     uuid = $(this).data('uuid');
    //     // window.location = '/admin/order/' + uuid
    //     $('#token').attr('action', '/admin/redirect.html/admin/order/' + uuid)
    //     $('input[name="_token"]').val(localStorage[tokenName])
    //     $('#token').submit();
    // });

    var choosen

    function editOrder($this,uuid) {
        // body...
        var id = $this.parents('tr').children().eq(0).text()
        // console.log(id)
        $.ajax({
            url: "/admin/order/api/get/order/"+uuid,
            type: 'GET',
            datatype: 'json',
            contentType: "application/json",
            success: function (data) {
                if(data.code) {
                    swal({
                        type: 'error',
                        title: data.msg
                    })
                }
                else {
                    console.log(data)
                    choosen =data.data
                    localStorage.setItem('diazyOrderPickup', JSON.stringify(choosen))
                    displayEdit(uuid)
                }
            },
            error: function (xhr, textStatus, thownError) {
                swal({
                    type: 'error',
                    text: xhr.getResponseHeader('error_code'),
                    title: 'ERROR - can not connecting database'
                })
            }
        })
    }

    function changeProduct($this,uuid) {
        var immediate = $this.parents('.editOrder').find('.immediate').val()==undefined?0:$this.parents('.editOrder').find('.immediate').val()
        var data = '{"_token":"'+localStorage[tokenName]+'","user_uuid":"'+uuid+'","order_item_id":'+$this.parents('.editOrder').find('.orderItemId').val() +',"sku_id":'+$this.parents('.editOrder').find('.productSelect').val()+',"quantity":'+$this.parents('.editOrder').find('.quantity').val()+',"immediate":'+immediate+',"note":"'+$this.parents('.editOrder').find('.note').val()+'"}'

        // ,"total_price":'+$this.parents('.editOrder').find('.price').val()+'

        $.ajax({
            url: "/admin/order/api/orderitem/change",
            type: 'POST',
            data: data,
            datatype: 'json',
            contentType: "application/json",
            success: function (data) {
                $('#myModal').modal('hide')
                swal({
                    type: 'success',
                    title: '已變更訂單',
                    text: '請點擊詳情列印存聯'
                })
            },
            error: function (xhr, textStatus, thownError) {
                $('#myModal').modal('hide')
                swal({
                    type: 'error',
                    text: xhr.getResponseHeader('error_code'), // 
                    title: 'ERROR - can not connecting database'
                })
            }
        })
    }

    function displayEdit(uuid) {
        var list = ''
        if (choosen.cancel_employee_id != '') {
            list+='<div class="box box-primary box-solid">'+
            '<div class="box-header with-border">'+
              '<h3 class="box-title">註銷人員:'+choosen.cancel_employee_name+'<br>該訂單已註銷</h3>'+
            '</div>'+
          '</div>';
        }
        else {
            for (var i = 0; i < choosen.order_items_single_list.length; i++) {
                // console.log(choosen.order_items_single_list[i])
                // console.log(choosen.order_items_single_list[i].order_items_id)

                list+='<div class="box box-warning box-solid">'+
                '<div class="box-header with-border">'+
                  '<h3 class="box-title">'+choosen.order_items_single_list[i].name+'(單品)</h3>'+
                '</div>'+
                
                '<div class="box-body editOrder" data-id="'+choosen.order_items_single_list[i].sku_id+'">'+
                    '<input type="text" class="form-control hidden orderItemId" value="'+choosen.order_items_single_list[i].order_items_id+'">'+
                    productList+
                    '<div class="form-group">'+
                        '<label class="control-label">購買數量</label>'+
                        '<input type="number" class="form-control quantity" min="1">'+
                    '</div>'+
                    '<div class="form-group">'+
                        '<label class="control-label">取貨數量 (服務項目請填: 0 )</label>'+
                        '<input type="number" class="form-control immediate" min="0">'+
                    '</div>'+
                    // '<div class="form-group">'+
                    //     '<label class="control-label">總價<small>(請注意顧客付款方式為現金或點數)</small></label>'+
                    //     '<input type="number" class="form-control price" min="0" value="'+choosen.order_items_single_list[i].total_price+'">'+
                    // '</div>'+
                    '<div class="form-group">'+
                        '<label class="control-label">備註</label>'+
                        '<textarea class="form-control note">'+choosen.order_items_single_list[i].note+'</textarea>'+
                    '</div>'+
                    '<button id="cancelOrder" onclick="deleteOrder(\''+uuid+'\')" type="button" class="btn btn-primary">註銷訂單</button>'+
                    '<button id="editOrder" onclick="changeProduct($(this),\''+uuid+'\')" type="button" class="btn btn-primary pull-right" >編輯訂單</button>'+
                '</div>'+

              '</div>';
            }
            for (var i = 0; i < choosen.order_items_assemble_list.length; i++) {
                // console.log(choosen.order_items_assemble_list[i])
                // console.log(choosen.order_items_assemble_list[i].order_items_id)

                list+='<div class="box box-success box-solid">'+
                '<div class="box-header with-border">'+
                  '<h3 class="box-title">'+choosen.order_items_assemble_list[i].name+'(組合)</h3>'+
                '</div>'+
                
                '<div class="box-body editOrder" data-id="'+choosen.order_items_assemble_list[i].sku_id+'">'+
                    '<input type="text" class="form-control hidden orderItemId" value="'+choosen.order_items_assemble_list[i].order_items_id+'">'+
                    productList+
                    '<div class="form-group">'+
                        '<label class="control-label">購買數量</label>'+
                        '<input type="number" class="form-control quantity" min="1">'+
                    '</div>'+
                    '<div class="form-group">'+
                        '<label class="control-label">取貨數量 (服務項目請填: 0 )</label>'+
                        '<input type="number" class="form-control immediate" min="0">'+
                    '</div>'+
                    // '<div class="form-group ">'+
                    //     '<label class="control-label">總價<small>(請注意顧客付款方式為現金或點數)</small></label>'+
                    //     '<input type="number" class="form-control price" min="0" value="'+choosen.order_items_assemble_list[i].total_price+'">'+
                    // '</div>'+
                    '<div class="form-group">'+
                        '<label class="control-label">備註</label>'+
                        '<textarea class="form-control note">'+choosen.order_items_assemble_list[i].note+'</textarea>'+
                    '</div>'+
                    '<button id="cancelOrder" onclick="deleteOrder(\''+uuid+'\')" type="button" class="btn btn-primary">註銷訂單</button>'+
                    '<button id="editOrder" onclick="changeProduct($(this),\''+uuid+'\')" type="button" class="btn btn-primary pull-right" >編輯訂單</button>'+
                '</div>'+
              '</div>';
            }
        }
                    
        $('.modal-body').html(list)
        $('#myModal').modal('show')
        $('#myModal').on('shown.bs.modal', function () {
            $('.select2').select2({ width: '100%' })
        })
        $('.editOrder').each(function (key) {
            $(this).find('.productSelect').val($(this).data('id')).trigger('change')
        })
    }

    var productList = '<div class="form-group">'+
                        '<select class="form-control select2 productSelect" data-placeholder="產品 - 數量 - 金額">'+
                            {% for list in list.skusList %}
                                '<option value="{{list.id}}">{{list.product_name}} - {{list.number}} - ${{list.price}}</option>'+
                            {% endfor %}
                        '</select>'+
                    '</div>';

    function deleteOrder(uuid) {
        $('#myModal').modal('hide')
        var {value: confirmPassword} = swal({
            title: '請輸入密碼',
            html: '<input type="search" id="swal-input1" class="swal2-input hidden">'+
                '<input type="password" id="swal-input2" class="swal2-input">',
            focusConfirm: false,
            preConfirm: () => {
                swal({
                    title: '資料處理中請稍候',
                    onOpen: () => {
                        swal.showLoading()
                    }
                })
                $.ajax({
                    url: "{{ url_for('admin.checkPassword') }}",
                    type: 'POST',
                    data: '{"password":"'+ $("#swal-input2").val() +'"}',
                    datatype: 'json',
                    contentType: "application/json",
                    success: function (data) {
                        $.ajax({
                            url: "/admin/order/api/order/cancel/"+uuid,
                            type: 'POST',
                            data: '{"_token": "'+localStorage["token"]+'"}',
                            datatype: 'json',
                            contentType: "application/json",
                            success: function (data) {
                                swal({
                                    title: '訂單已註銷',
                                    type: 'success'
                                })
                            },
                            error: function (xhr, textStatus, thownError) {
                                swal({
                                    title: '發生錯誤',
                                    text: xhr.getResponseHeader('error_code'),
                                    type: 'error'
                                })
                            }
                        });
                    },
                    error: function (xhr, textStatus, thownError) {
                        swal({
                            title: '發生錯誤',
                            text: xhr.getResponseHeader('error_code'),
                            type: 'error'
                        })
                    }
                });
            }
        })

    }


    // function saveOrder() {
    //     var orderUuid = $('#cancelOrder').attr('onclick').split('deleteOrder(\'')[1].split('\')')[0]
    //     $('.editOrder').each(function (key) {
    //         var token = localStorage.getItem(tokenName);
    //         $.ajax({
    //             url: "{{ url_for('orderApi.orderitemUpdate') }}",
    //             type: 'PUT',
    //             data: '{"_token": "' + token + '","order_item_id":'+ $(this).find('input[name="orderItemId"]').val() +',"used":'+ $(this).find('input[name="used"]').val() +',"exp_date":"'+ $(this).find('input[name="exp_date"]').val() +'","note": "'+$(this).find('textarea[name="note"]').val()+'"}',
    //             datatype: 'json',
    //             contentType: "application/json",
    //             success: function (data) {
    //                 swal({
    //                     type: 'success',
    //                     title: '已變更訂單'
    //                 })
    //             },
    //             error: function (xhr, textStatus, thownError) {
    //                 swal({
    //                     type: 'error',
    //                     text: xhr.getResponseHeader('error_code'),
    //                     title: 'ERROR - can not connecting database'
    //                 })
    //             }
    //         })
    //         $('#myModal').modal('hide')
    //         if (key+1 == $('.editOrder').length) {
    //             $('#token').attr('action', '/admin/order/printPickup/'+orderUuid).attr('target','_blank')
    //             $('input[name="_token"]').val(localStorage[tokenName])
    //             $('#token').submit();
    //             $('#token').attr('target','')
    //         }
    //     })
    // }

    function displayTable(path) {
        // console.log(path)
        $('#example2').dataTable({
            dom: '<"top dt-panelmenu"Bf>rt<"bottom dt-panelfooter"ip>',
            buttons: [
                {
                    extend: 'copy',
                    exportOptions: {
                        columns: ':visible'
                    }
                },
                {
                    extend: 'excel',
                    exportOptions: {
                        columns: ':visible'
                    }
                },
                {
                    extend: 'print',
                    exportOptions: {
                        columns: ':visible'
                    }
                },
                'colvis'
            ],
            autoWidth: false,
            paging: true,
            ajax: path,
            columns: [
                {data: 'order_num', name: 'order_num'},
                {data: 'user_name', name: 'user_name'},
                {data: 'user_mobile_phone', name: 'user_mobile_phone'},
                {data: 'payment_type_str', name: 'payment_type_str'},
                {data: 'shipping_type_str', name: 'shipping_type_str'},
                {data: 'shipping_fee', name: 'shipping_fee'},
                {data: 'total_price', name: 'total_price'},
                {data: 'href', name: 'href'}
            ],
            pageLength: parseInt($('#pageLength').val()),
        });
    }
    $(window).ready(function () {
        if (localStorage['orderMember'] != undefined) {
            displayTable(localStorage['orderMember'])
            var data = JSON.parse(localStorage['orderMemberData'])
            $('#user_name').text(data.user_name)
            $('#user_number').text(data.user_number)
            $('#user_phone').text(data.user_phone)
            $('#user_point').text(data.user_point)
            $('#user_grade').text(data.user_grade)
            $('#userInfo').show()
            return false
        }
        getList()
    })
    function searchMember() {
        localStorage.removeItem('orderMember')
        $('#token').attr('action', '{{ url_for('order.managerOrder') }}')
        $('input[name="_token"]').val(localStorage[tokenName])
        $('#token').submit();
    }
    function getList() {
        swal({
            title: '請輸入會員編號或身分證字號',
            input: 'text',
            showCancelButton: true,
            confirmButtonText: '查詢',
            cancelButtonText: '關閉',
            showLoaderOnConfirm: true,
            preConfirm: (text) => {
                return new Promise((resolve) => {
                    if (text) {
                        $.ajax({
                            url: "{{ url_for('userApi.userSearch') }}",
                            type: 'POST',
                            data: '{"search":"'+ text +'"}',
                            datatype: 'json',
                            contentType: "application/json",
                            success: function (data) {
                                if(data.code) {
                                    swal({
                                        type: 'error',
                                        title: data.msg
                                    })
                                }
                                else {
                                    displayTable("/admin/order/api/get/order/by/useruuid/"+data.uuid)
                                    localStorage.setItem('orderMember' , "/admin/order/api/get/order/by/useruuid/"+data.uuid)
                                    localStorage.setItem('orderMemberData', JSON.stringify(data))
                                    $('#user_name').text(data.user_name)
                                    $('#user_number').text(data.user_number)
                                    $('#user_phone').text(data.user_phone)
                                    $('#user_point').text(data.user_point)
                                    $('#user_grade').text(data.user_grade)
                                    $('#userInfo').show()
                                    resolve(data)
                                }
                            },
                            error: function (xhr, textStatus, thownError) {
                                swal({
                                    type: 'error',
                                    text: xhr.getResponseHeader('error_code'),
                                    title: 'ERROR - can not connecting database'
                                })
                            }
                        })
                    }
                    else { // text is empty
                        swal({
                            type: 'error',
                            title: '請輸入會員編號或身分證字號',
                            showCancelButton: true,
                            confirmButtonText: '確認',
                            cancelButtonText: '關閉'
                        }).then((result) => {
                            if (result.value) {
                                chooseMember()
                            }
                        })
                    }
                })
            },
            allowOutsideClick: () => !swal.isLoading()
        }).then((result) => {
            if (result.value) {
                swal({
                    type: 'success',
                    title: '已取得該會員資料',
                    html: '會員姓名: ' + result.value.user_name + '<br>剩餘點數: ' + result.value.user_point
                })
            }
            else if (result.dismiss === swal.DismissReason.cancel) {  // Read more about handling dismissals
            }
        })
    }
</script>
{% endblock script %}