{% extends "admin/template.html" %}

{% block style %}
    <link rel="stylesheet" href="{{ url_for('static', filename='backend/plugins/iCheck/all.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='backend/vendor/plugins/datatables/media/css/datatables.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='backend/vendor/plugins/datatables/media/css/datatables_addons.min.css') }}">
{% endblock style %}

{% block content %}


    <section class="content-header">
        <h1>
            查詢會員訂單
        </h1>
    </section>

    <section class="content container-fluid of-a">
        {# <div class="d-flex m10">
            <div class="w100 ph5">
                <a href="{{ url_for('order.orderCreate') }}" class="btn btn-primary btn-gradient dark btn-block jwtLink">新增</a>
            </div>
        </div> #}
        <div onclick="searchMember()" class="btn btn-primary w100 mb5">會員查詢</div>

        <div id="userInfo" class="panel panel-primary" style="display: none;">
            <div class="panel-body fill">
                <h4><label id="user_number"></label> <label id="user_name"></label> (<label id="user_grade"></label>) <i
                        class="fa fa-fw fa-phone"></i><label id="user_phone"></label></h4>
                剩餘點數: <label id="user_point" class="mr10"></label>
                總消費金額: <label id="user_total_consume"></label>
            </div>
        </div>

        <div class="panel panel-visible mnw500">
            <div class="panel-heading">
                <div class="panel-title">
                    <span class="glyphicon glyphicon-tasks"></span>產品/服務剩餘統計
                    <div class="pull-right form-group mbn mt5">
                        <a class="accordion-toggle accordion-icon link-unstyled pull-right" data-toggle="collapse" data-parent="#accordion" aria-expanded="true" href="#accord1">
                            <i class="fa fa-plus"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div id="unusedList" class="panel-body pn">
                <div id="accord1" class="panel-collapse collapse">
                    <table id="example3" class="table table-bordered table-hover" style="width: 100%; min-width: 500px;">
                        <thead>
                            <tr>
                                <th>產品名稱</th>
                                <th>購買數量</th>
                                <th>剩餘數量</th>
                            </tr>
                        </thead>
                        <tbody>
                            
                        </tbody>
                    </table>
                </div>
                    
            </div>
        </div>

         <div class="panel panel-visible mnw1000">
            <!-- /.box-header -->
            <div class="panel-heading">
                <div class="panel-title">
                    <span class="glyphicon glyphicon-tasks"></span>產品/服務 訂單
                    <div class="pull-right form-group mbn mt5">
                        <label for="pageLength" class="form-label">單頁筆數</label>
                        <select id="pageLength" class="form-control w100 d-inline">
                            <option value="10" selected>10</option>
                            <option value="25">25</option>
                            <option value="50">50</option>
                            <option value="9999999">all</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="panel-body pn">
                <table id="example2" class="table table-bordered table-hover">
                    <thead>
                    <tr>
                        <th>訂單編號</th>
                        <th>會員姓名</th>
                        <th>會員手機號碼</th>
                        <th>付款方式</th>
                        <th>取貨方式</th>
                        <th>運費</th>
                        <th>總金額</th>
                        <th>#</th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
            <!-- /.box-body -->
        </div>

    </section>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-lg hidden"></button>

<!-- Modal -->
<div class="modal fade bs-example-modal-lg" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">變更訂單</h4>
      </div>
      <div class="modal-body">
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">關閉</button>
        <button onclick="saveOrder()" type="button" class="btn btn-primary">儲存</button>
      </div>
    </div>
  </div>
</div>


	
{% endblock content %}

{% block script %}
<script src="{{ url_for('static', filename='backend/vendor/plugins/datatables/media/js/datatables.min.js') }}"></script>
<script src="{{ url_for('static', filename='backend/vendor/plugins/datatables/media/js/datatables_addons.min.js') }}"></script>

<script>
    // $(document).on('click', '.order-info', function () {
    //     uuid = $(this).data('uuid');
    //     // window.location = '/admin/order/' + uuid
    //     $('#token').attr('action', '/admin/redirect.html/admin/order/' + uuid)
    //     $('input[name="_token"]').val(localStorage[tokenName])
    //     $('#token').submit();
    // });

    var choosen

    function editOrder($this,uuid) {
        // body...
        var id = $this.parents('tr').children().eq(0).text()
        // console.log(id)
        $.ajax({
            url: "/admin/order/api/get/order/"+uuid,
            type: 'GET',
            datatype: 'json',
            contentType: "application/json",
            success: function (data) {
                if(data.code) {
                    swal({
                        type: 'error',
                        title: data.msg
                    })
                }
                else {
                    console.log(data)
                    choosen =data.data
                    localStorage.setItem('diazyOrderPickup', JSON.stringify(choosen))
                    displayEdit(uuid)
                }
            },
            error: function (xhr, textStatus, thownError) {
                swal({
                    type: 'error',
                    text: xhr.getResponseHeader('error_code'),
                    title: 'ERROR - can not connecting database'
                })
            }
        })
    }

    function displayEdit(uuid) {
        var list = ''
        if (choosen.cancel_employee_id != '') {
            list+='<div class="box box-primary box-solid">'+
            '<div class="box-header with-border">'+
              '<h3 class="box-title">註銷人員:'+choosen.cancel_employee_name+'<br>該訂單已註銷</h3>'+
            '</div>'+
          '</div>';
        }
        else {
            for (var i = 0; i < choosen.order_items_single_list.length; i++) {
                // console.log(choosen.order_items_single_list[i])
                // console.log(choosen.order_items_single_list[i].order_items_id)

                list+='<div class="box box-warning box-solid">'+
                '<div class="box-header with-border">'+
                  '<h3 class="box-title">'+choosen.order_items_single_list[i].name+'(單品)</h3>'+
                '</div>'+
                
                '<div class="box-body editOrder">'+
                    '<input type="text" class="form-control hidden" name="orderItemId" value="'+choosen.order_items_single_list[i].order_items_id+'">';
                if (choosen.order_items_single_list[i].category_id>=3) {
                    // console.log(choosen.order_items_single_list[i]>=3)
                    {% if all_grade[8].permission != 0 %}
                    list+='<div class="form-group">'+
                        '<label class="control-label">延長期限</label>'+
                        '<input type="date" class="form-control" name="exp_date" value="'+choosen.order_items_single_list[i].exp_date+'">'+
                    '</div>';
                    {% endif %}
                }
                else {
                    // console.log(choosen.order_items_single_list[i].category_id + ' CCCCCCCCCCCCC')
                    list+='<div class="form-group">'+
                        '<label class="control-label">已取貨數量(顧客取兩瓶則+2), 商品總數: '+choosen.order_items_single_list[i].total_amount+'</label>'+
                        '<input type="number" class="form-control" name="used" min="'+choosen.order_items_single_list[i].used+'" max="'+choosen.order_items_single_list[i].total_amount+'" value="'+choosen.order_items_single_list[i].used+'">'+
                    '</div>';
                }
                list+='<div class="form-group">'+
                        '<label class="control-label">備註</label>'+
                        '<textarea class="form-control" name="note">'+choosen.order_items_single_list[i].note+'</textarea>'+
                    '</div>'+
                '</div>'+
              '</div>';
            }
            for (var i = 0; i < choosen.order_items_assemble_list.length; i++) {
                // console.log(choosen.order_items_assemble_list[i])
                // console.log(choosen.order_items_assemble_list[i].order_items_id)

                list+='<div class="box box-success box-solid">'+
                '<div class="box-header with-border">'+
                  '<h3 class="box-title">'+choosen.order_items_assemble_list[i].name+'(組合)</h3>'+
                '</div>'+
                
                '<div class="box-body editOrder">'+
                    '<input type="text" class="form-control hidden" name="orderItemId" value="'+choosen.order_items_assemble_list[i].order_items_id+'">';
                if (choosen.order_items_assemble_list[i].category_id>=3) {
                    {% if all_grade[8].permission != 0 %}
                    list+='<div class="form-group">'+
                        '<label class="control-label">延長期限</label>'+
                        '<input type="date" class="form-control" name="exp_date" value="'+choosen.order_items_assemble_list[i].exp_date+'">'+
                    '</div>';
                    {% endif %}
                }
                else {
                    // console.log(choosen.order_items_assemble_list[i].category_id + ' XXXXXXXXXXXXXX')
                    list+='<div class="form-group">'+
                        '<label class="control-label">已取貨數量(顧客取兩瓶則+2), 商品總數: '+choosen.order_items_assemble_list[i].total_amount+'</label>'+
                        '<input type="number" class="form-control" name="used" min="'+choosen.order_items_assemble_list[i].used+'" max="'+choosen.order_items_assemble_list[i].total_amount+'" value="'+choosen.order_items_assemble_list[i].used+'">'+
                    '</div>';
                }
                list+='<div class="form-group">'+
                        '<label class="control-label">備註</label>'+
                        '<textarea class="form-control" name="note">'+choosen.order_items_assemble_list[i].note+'</textarea>'+
                    '</div>'+
                '</div>'+
              '</div>';
            }
            list+='<button id="cancelOrder" onclick="deleteOrder(\''+uuid+'\')" type="button" class="btn btn-primary">註銷訂單</button>'
        }
                    
        $('.modal-body').html(list)
        $('#myModal').modal('show')
    }

    function deleteOrder(uuid) {
        $('#myModal').modal('hide')
        var {value: confirmPassword} = swal({
            title: '請輸入密碼',
            html: '<input type="search" id="swal-input1" class="swal2-input hidden">'+
                '<input type="password" id="swal-input2" class="swal2-input">',
            focusConfirm: false,
            preConfirm: () => {
                swal({
                    title: '資料處理中請稍候',
                    onOpen: () => {
                        swal.showLoading()
                    }
                })
                $.ajax({
                    url: "{{ url_for('admin.checkPassword') }}",
                    type: 'POST',
                    data: '{"password":"'+ $("#swal-input2").val() +'"}',
                    datatype: 'json',
                    contentType: "application/json",
                    success: function (data) {
                        $.ajax({
                            url: "/admin/order/api/order/cancel/"+uuid,
                            type: 'POST',
                            data: '{"_token": "'+localStorage["token"]+'"}',
                            datatype: 'json',
                            contentType: "application/json",
                            success: function (data) {
                                swal({
                                    title: '訂單已註銷',
                                    type: 'success'
                                })
                            },
                            error: function (xhr, textStatus, thownError) {
                                swal({
                                    title: '發生錯誤',
                                    text: xhr.getResponseHeader('error_code'),
                                    type: 'error'
                                })
                            }
                        });
                    },
                    error: function (xhr, textStatus, thownError) {
                        swal({
                            title: '發生錯誤',
                            text: xhr.getResponseHeader('error_code'),
                            type: 'error'
                        })
                    }
                });
            }
        })

    }


    function saveOrder() {
        var orderUuid = $('#cancelOrder').attr('onclick').split('deleteOrder(\'')[1].split('\')')[0]
        $('.editOrder').each(function (key) {
            var token = localStorage.getItem(tokenName);

            var date = $(this).find('input[name="exp_date"]').val()==undefined?"":$(this).find('input[name="exp_date"]').val().replace(/-/ig, "/")
            var used = $(this).find('input[name="used"]').val()==undefined?0:$(this).find('input[name="used"]').val()
            $.ajax({
                url: "{{ url_for('orderApi.orderitemUpdate') }}",
                type: 'PUT',
                data: '{"_token": "' + token + '","order_item_id":'+ $(this).find('input[name="orderItemId"]').val() +',"used":'+ used +',"exp_date":"'+ date +'","note": "'+$(this).find('textarea[name="note"]').val()+'"}',
                datatype: 'json',
                contentType: "application/json",
                success: function (data) {
                    swal({
                        type: 'success',
                        title: '已變更訂單'
                    })
                },
                error: function (xhr, textStatus, thownError) {
                    swal({
                        type: 'error',
                        text: xhr.getResponseHeader('error_code'),
                        title: 'ERROR - can not connecting database'
                    })
                }
            })
            $('#myModal').modal('hide')
            if (key+1 == $('.editOrder').length) {
                $('#token').attr('action', '/admin/order/printPickup/'+orderUuid).attr('target','_blank')
                $('input[name="_token"]').val(localStorage[tokenName])
                $('#token').submit();
                $('#token').attr('target','')
            }
        })
    }

    

    function displayTable(path) {
        // console.log(path)
        // console.log('test')
        $('#pageLength').unbind('change').change(function () {
            $('#example2').DataTable().destroy()
            showTable()
        })
        function showTable() {
            $('#example2').DataTable({
                dom: '<"top dt-panelmenu"Bf>rt<"bottom dt-panelfooter"ip>',
                buttons: [
                    {
                        extend: 'copy',
                        exportOptions: {
                            columns: ':visible'
                        }
                    },
                    {
                        extend: 'excel',
                        exportOptions: {
                            columns: ':visible'
                        }
                    },
                    {
                        extend: 'print',
                        exportOptions: {
                            columns: ':visible'
                        }
                    },
                    'colvis'
                ],
                autoWidth: false,
                paging: true,
                pageLength: parseInt($('#pageLength').val()),
                // columns: [
                //     {orderable: true},
                //     {orderable: true},
                //     {orderable: true},
                //     {orderable: true},
                //     {orderable: true},
                //     {orderable: true},
                //     {orderable: true},
                //     {orderable: false}
                // ],
                ajax: path,
                columns: [
                    {data: 'order_num', name: 'order_num'},
                    {data: 'user_name', name: 'user_name'},
                    {data: 'user_mobile_phone', name: 'user_mobile_phone'},
                    {data: 'payment_type_str', name: 'payment_type_str'},
                    {data: 'shipping_type_str', name: 'shipping_type_str'},
                    {data: 'shipping_fee', name: 'shipping_fee'},
                    {data: 'total_price', name: 'total_price'},
                    {data: 'href', name: 'href'}
                ],
            });
        }
        showTable()

        var uuid = path.split('/admin/order/api/get/order/by/useruuid/')[1]

        $.ajax({
            url: "/admin/user/api/get/unused/"+uuid,
            type: 'GET',
            datatype: 'json',
            contentType: "application/json",
            success: function (data) {
                console.log(data.unusedList)
                var list = ''
                for (var i = 0; i < data.unusedList.length; i++) {
                    list += '<tr data-trigger="hover" data-toggle="popover" data-placement="bottom" data-content="訂單編號: '+data.unusedList[i].order_number_list.join(', ')+'">'+
                        '<td>'+data.unusedList[i].product_name+'</td>'+
                        '<td>'+data.unusedList[i].total_amount+'</td>'+
                        '<td>'+data.unusedList[i].unused_num+'</td>'+
                    '</tr>';
                }
                $("#unusedList tbody").html(list)
                $("#example3").DataTable({
                    dom: '<"top dt-panelmenu"Bf>rt<"bottom dt-panelfooter"ip>',
                    buttons: [
                        {
                            extend: 'copy',
                            exportOptions: {
                                columns: ':visible'
                            }
                        },
                        {
                            extend: 'excel',
                            exportOptions: {
                                columns: ':visible'
                            }
                        },
                        {
                            extend: 'print',
                            exportOptions: {
                                columns: ':visible'
                            }
                        },
                        'colvis'
                    ],
                    autoWidth: false,
                    paging: false,
                    columns: [
                        {orderable: true},
                        {orderable: true},
                        {orderable: true}
                    ],
                })
                $('[data-toggle="popover"]').popover()
            },
            error: function (xhr, textStatus, thownError) {
                swal({
                    title: '發生錯誤',
                    text: xhr.getResponseHeader("error_code"),
                    type: 'error'
                })
            }
        });
    }
    $(window).ready(function () {
        if (localStorage['orderMember'] != undefined) {
            displayTable(localStorage['orderMember'])
            var data = JSON.parse(localStorage['orderMemberData'])
            $('#user_name').text(data.user_name)
            $('#user_number').text(data.user_number)
            $('#user_phone').text(data.user_phone)
            $('#user_point').text(data.user_point)
            $('#user_grade').text(data.user_grade)
            $('#userInfo').show()
            return false
        }
        getList()
    })

    function searchMember() {
        localStorage.removeItem('orderMember')
        $('#token').attr('action', '{{ url_for('order.memberOrder') }}')
        $('input[name="_token"]').val(localStorage[tokenName])
        $('#token').submit();
    }
    function getList() {
        swal({
            title: '請輸入會員編號或身分證字號',
            input: 'text',
            showCancelButton: true,
            confirmButtonText: '查詢',
            cancelButtonText: '關閉',
            showLoaderOnConfirm: true,
            preConfirm: (text) => {
                return new Promise((resolve) => {
                    if (text) {
                        $.ajax({
                            url: "{{ url_for('userApi.userSearch') }}",
                            type: 'POST',
                            data: '{"search":"'+ text +'"}',
                            datatype: 'json',
                            contentType: "application/json",
                            success: function (data) {
                                if(data.code) {
                                    swal({
                                        type: 'error',
                                        title: data.msg
                                    })
                                }
                                else {
                                    console.log(data)
                                    displayTable("/admin/order/api/get/order/by/useruuid/"+data.uuid)
                                    localStorage.setItem('orderMember' , "/admin/order/api/get/order/by/useruuid/"+data.uuid)
                                    localStorage.setItem('orderMemberData', JSON.stringify(data))
                                    $('#user_name').text(data.user_name)
                                    $('#user_number').text(data.user_number)
                                    $('#user_phone').text(data.user_phone)
                                    $('#user_point').text(data.user_point)
                                    $('#user_grade').text(data.user_grade)
                                    $('#userInfo').show()
                                    resolve(data)
                                }
                            },
                            error: function (xhr, textStatus, thownError) {
                                swal({
                                    type: 'error',
                                    text: xhr.getResponseHeader('error_code'),
                                    title: 'ERROR - can not connecting database'
                                })
                            }
                        })
                    }
                    else { // text is empty
                        swal({
                            type: 'error',
                            title: '請輸入會員編號或身分證字號',
                            showCancelButton: true,
                            confirmButtonText: '確認',
                            cancelButtonText: '關閉'
                        }).then((result) => {
                            if (result.value) {
                                getList()
                            }
                        })
                    }
                })
            },
            allowOutsideClick: () => !swal.isLoading()
        }).then((result) => {
            if (result.value) {
                swal({
                    type: 'success',
                    title: '已取得該會員資料',
                    html: '會員姓名: ' + result.value.user_name + '<br>剩餘點數: ' + result.value.user_point
                })
            }
            else if (result.dismiss === swal.DismissReason.cancel) {  // Read more about handling dismissals
            }
        })
    }
</script>
{% endblock script %}