{% extends "admin/template.html" %}

{% block style %}
    <style>
        .statusColor {
            color: #fff;
        }
        .statusColor option {
            color: #777;
            background-color: #fff;
        }
        .select2-container .select2-selection--single {
            height: 36px!important;
        }
    </style>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='backend/vendor/plugins/datatables/media/css/datatables.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='backend/vendor/plugins/datatables/media/css/datatables_addons.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='backend/plugins/iCheck/all.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='backend/bower_components/select2/dist/css/select2.min.css') }}">
{% endblock style %}

{% block content %}

    <section class="content container-fluid of-a">
         <div class="panel panel-visible mnw1280">
            <div class="panel-heading">
                <div class="panel-title">
                    <div class="d-inline-block">
                        <a href="{{ url_for('order.calendar') }}" class="btn btn-primary w100 jwtLink">新增預約</a>
                    </div>
                    
                    <div onclick="searchMember()" class="btn btn-primary w100 d-inline-block">會員查詢</div>

                    <div class="pull-right mt5">
                        <div class="d-inline-block w200 mr10">
                            <div class="form-control d-inline">
                                <i class="fa fa-calendar fz14 text-danger ml5"></i>
                            </div>
                            <input type="text" class="form-control d-inline w150" id="datepicker">
                        </div>
                         <button onclick="print()" class="btn btn-primary d-inline-block jwtLink">
                            <i class="fa fa-print"></i> 列印
                        </button>
                    </div>
                       
                </div>
            </div>
            <div class="panel-body pn">
                <table id="example2" class="table table-bordered table-hover">
                    <thead>
                    <tr>
                        <th>會員姓名</th>
                        <th>課程時間</th>
                        <th>預約課程</th>
                        <th>相關人員</th>
                        <th>狀態</th>
                        <th><input id="selAllEmp" type="checkbox" class="minimal-red" data-id=""></th>
                    </tr>
                    </thead>
                    <tbody>
                        {# api #}
                    </tbody>
                </table>
            </div>
            <!-- /.box-body -->
        </div>

    </section>

{% endblock content %}

{% block script %}

    <script src="{{ url_for('static', filename='backend/vendor/plugins/datatables/media/js/datatables.min.js') }}"></script>
    <script src="{{ url_for('static', filename='backend/vendor/plugins/datatables/media/js/datatables_addons.min.js') }}"></script>
    <script src="{{ url_for('static', filename='backend/bower_components/select2/dist/js/select2.full.min.js') }}"></script>
    <script src="{{ url_for('static', filename='backend/plugins/iCheck/icheck.min.js') }}"></script>
    
    <script>
        var now = (new Date()).getTime()
        var nowYear = new Date().getFullYear()
        var nowMonth = new Date().getMonth()+1
        var nowDate = new Date().getDate()
        var eventsList
        var ifFinish = 0
        var serviceOrderArray = []
        var userArray = []
        var event_employee_list // submit request

        var allEmployee = '<option value="0">請選擇</option>'+
                    {% for roles in roles %}
                        {% if roles.id > 1 %}
                            {% for data in employee %}
                                {% if data['grade_id'] == roles.id %}
                                    '<option data-type="{{data['grade_id']}}" data-grade="{{ roles['name'] }}" value="{{ data.id }}">{{ roles['name'] }} - {{ data.name }}</option>'+
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                    '';


        {% if user_number != "0" %}
            display({{user_number}})
        {% else %}
            searchMember()
        {% endif %}
        var user
        function searchMember() {
            swal({
                title: '請輸入會員編號或身分證字號',
                input: 'text',
                showCancelButton: true,
                confirmButtonText: '查詢',
                cancelButtonText: '關閉',
                showLoaderOnConfirm: true,
                preConfirm: (text) => {
                    return new Promise((resolve) => {
                        if (text) {
                            display(text)
                        }
                        else { // text is empty
                            swal({
                                type: 'error',
                                title: '請輸入會員編號或身分證字號',
                                showCancelButton: true,
                                confirmButtonText: '確認',
                                cancelButtonText: '關閉'
                            }).then((result) => {
                                if (result.value) {
                                    searchMember()
                                }
                            })
                        }
                    })
                },
                allowOutsideClick: () => !swal.isLoading()
            })
        }

        function display(user_number) {
            $.ajax({
                url: "{{ url_for('userApi.userSearch') }}",
                type: 'POST',
                data: '{"search":"'+ user_number +'"}',
                datatype: 'json',
                contentType: "application/json",
                success: function (data) {
                    user = data
                    userArray.push(data)
                    if(data.code) {
                        swal({ type: 'error', title: data.msg })
                    }
                    else {
                        $.ajax({
                            url: '/admin/order/api/event/by/userid/'+user.uuid,
                            type: 'GET',
                            datatype: 'json',
                            contentType: "application/json",
                            success: function (data) {
                                eventsList = data.eventsList
                                    // console.log(eventsList)
                                var list = '', count = 0, array = []
                                $.each(eventsList,function(key,value) {
                                    if (!array.includes(eventsList[key].event_id)) {
                                        ifFinish++
                                        var start = eventsList[key].start+' ~ '
                                        var end = eventsList[key].end.split(' ')[1]
                                        var time = start.replace(/:00 ~ /ig, " ~ ")+ end.split(':')[0]+':'+end.split(':')[1]
                                        var registered = eventsList[key].status

                                
                                        $.ajax({
                                            url: "/admin/order/api/get/orderitems/by/useruuid/"+user.uuid+"/without/filter",
                                            type: 'GET',
                                            datatype: 'json',
                                            contentType: "application/json",
                                            success: function (data) {
                                                serviceOrder = data.serviceOrderItemsList
                                                serviceOrderArray.push(serviceOrder)
                                                // console.log(serviceOrder)
                                                // console.log(eventsList)

                                                var nameOption = '<option value="0">請選擇</option>'
                                                var index = 0
                                                for (var i = 0; i < serviceOrder.length; i++) {
                                                    
                                                    var status = '' //'disabled="true"'
                                                    if (eventsList[key].order_item_id == serviceOrder[i].order_items_id ) { 
                                                        status = 'selected="true"'
                                                        nameOption += '<option data-item="'+index+'" value="'+serviceOrder[i].product_id+'" '+status+'>'+serviceOrder[i].product_name+' *'+serviceOrder[i].quota+'</option>'
                                                        index++
                                                    }
                                                    else if (serviceOrder[i].quota != 0) {
                                                        nameOption += '<option data-item="'+index+'" value="'+serviceOrder[i].product_id+'" '+status+'>'+serviceOrder[i].product_name+' *'+serviceOrder[i].quota+'</option>'
                                                        index++
                                                    }
                                                }
                                                $('#'+eventsList[key].event_id).find('select[name="course"]').html(nameOption)
                                                $('#'+eventsList[key].event_id).find('select[name="status"]').val(registered)
                                                // // choose selector
                                                // setTimeout(function () {
                                                    $('#'+eventsList[key].event_id).find('select[name="course"]').trigger('change') // linkNode:2

                                                    for (var i = 0; i < eventsList[key].event_employee_id_list.length; i++) {
                                                        $('#'+eventsList[key].event_id).find('select[name="employee"] option[value="'+eventsList[key].event_employee_id_list[i]+'"]').attr('selected', true)
                                                    }
                                                    $('#'+eventsList[key].event_id).find('select[name="employee"]').trigger('change')
                                                    ifFinish--
                                                    if (ifFinish == 0) {
                                                        set()
                                                    }
                                                // },10)
                                            },
                                            error: function (xhr, textStatus, thownError) {
                                                swal({ title: '發生錯誤',text: xhr.getResponseHeader('error_code'),type: 'error' })
                                            }
                                        })
                                        
                                        list += 
                                            '<tr data-no="'+count+'" id="'+eventsList[key].event_id+'">'+
                                                '<td class="user" data-number="'+eventsList[key].user_number+'"><a onclick="getUser(0)">'+eventsList[key].user_name+'</a></td>'+
                                                '<td class="time" data-start="'+eventsList[key].start+'" data-end="'+eventsList[key].end+'">'+time+'</td>'+
                                                '<td>'+
                                                    '<select name="course" class="form-control select2" disabled="true">'+
                                                    '</select>'+
                                                '</td>'+
                                                '<td>'+
                                                    '<select name="employee" class="form-control select2" multiple="multiple" disabled="true">'+allEmployee+
                                                    '</select>'+
                                                '</td>'+
                                                '<td>'+
                                                    '<select name="status" class="form-control statusColor" style="width: 100%;">'+
                                                        '<option value="1" disabled="true">尚未報到</option>'+
                                                        '<option value="2">已報到</option>'+
                                                        '<option value="3">課程確認</option>'+
                                                    '</select>'+
                                                '</td>'+
                                                '<td class="employee" data-id="'+eventsList[key].employees_id+'" data-list="'+eventsList[key].event_employee_id_list+'">'+
                                                    '<input type="checkbox" class="minimal-grey" data-id="">'+
                                                '</td>'+
                                            '</tr>';

                                        count++
                                        // console.log(ifFinish+ ' '+count)
                                        array.push(eventsList[key].event_id)
                                    }
                                })
                                $('#example2 tbody').html(list)
                                // $('#todayReservation').text(count)
                            },
                            error: function (xhr, textStatus, thownError) {
                                swal({
                                    title: '發生錯誤',
                                    text: xhr.getResponseHeader('error_code'),
                                    type: 'error'
                                })
                            }
                        });
                    }
                },
                error: function (xhr, textStatus, thownError) {
                    swal({ title: '發生錯誤',text: xhr.getResponseHeader('error_code'),type: 'error' })
                }
            })
        }
            
        function set() {
            var employeeLimit = []
            var employeeGrade = []
            var employeeTitle = []
            var employeeEvent = []
            var count = 0
            $('select[name="course"]').change(function () {
                employeeLimit = []
                employeeGrade = []
                employeeTitle = []
                employeeEvent = []
                var employeeSel = $(this).parent().next().children('select')
                var index = $(this).select2('data')[0].element.dataset.item
                var no = parseInt($(this).parents('tr').data('no'))
                var employeeNeed = ''
                
                employeeSel.html(allEmployee)
                // console.log('no: '+no)
                // console.log('index: '+index)
                // console.log(serviceOrderArray[no][index])
                for (var i = 0; i < serviceOrderArray[no][index].servicepart_list.length; i++) {
                    // console.log(serviceOrderArray[no][index].servicepart_list[i])
                    employeeTitle.push('0')
                    employeeLimit.push(parseInt(serviceOrderArray[no][index].servicepart_list[i].number))
                    employeeGrade.push(serviceOrderArray[no][index].servicepart_list[i].employee_grade)
                    employeeSel.children('option').each(function () {
                        if ($(this).data('type') == employeeGrade[i]) {
                            $(this).data('type', 0)
                            employeeTitle[i] = $(this).data('grade')
                        }
                    })
                    employeeNeed += ' '+ employeeTitle[i] +':'+ employeeLimit[i]+ '名'
                }
                // console.log(serviceOrderArray[no][index].event_list)
                for (var i = 0; i < serviceOrderArray[no][index].event_list[0].length; i++) {
                    // console.log(serviceOrderArray[no][index].event_list[0][i].event_employee_id)
                    employeeEvent.push(String(serviceOrderArray[no][index].event_list[0][i].event_employee_id))
                }
                employeeSel.children('option').each(function () {
                    if ($(this).data('type') != 0) {
                        $(this).remove()
                    }
                })
                if (count>0) {
                    // swal({
                    //     type: 'info',
                    //     title: employeeNeed
                    // })
                }
                count++
            })

            $('select[name="employee"]').change(function () {
                event_employee_list = []
                var employeeLimitCount = []
                for (var i = 0; i < employeeLimit.length; i++) {
                    employeeLimitCount.push(employeeLimit[i])
                    event_employee_list.push({ "employee_grade": '', "employee_id": [], "event_employee_id": []  })
                }
                for (var i = 0; i < $(this).select2('data').length; i++) {
                    var type = $(this).select2('data')[i].element.dataset.type
                    // console.log('~~~~~~~~~~~~~~~~type: '+type)
                    for (var j = 0; j < employeeGrade.length; j++) {
                        if (employeeGrade[j] == type) {
                            employeeLimitCount[j] -= 1
                            event_employee_list[j].employee_grade = parseInt(type)
                            event_employee_list[j].employee_id.push($(this).select2('data')[i].id)
                            event_employee_list[j].event_employee_id.push(employeeEvent[i])

                        }
                        if (employeeLimitCount[j] < 0) {
                            swal({
                                type: 'error',
                                title: employeeTitle[j]+'已超出人數'
                            })
                        }
                    }
                }
                // console.log('event_employee_list: ')
                // console.log(event_employee_list)
            })

            $('input[type="checkbox"].minimal-grey').iCheck({
                checkboxClass: 'icheckbox_minimal-grey'
            })
            $('input[type="checkbox"].minimal-red').iCheck({
                checkboxClass: 'icheckbox_minimal-red'
            })
            $('#selAllEmp').on('ifChanged', function(){
                if ($(this).prop('checked')) {
                    $('input[type="checkbox"].minimal-grey').iCheck('check')
                }
                else {
                    $('input[type="checkbox"].minimal-grey').iCheck('uncheck')
                }
            });

            $('.select2').select2({ width: '100%', height: '100%' })

            $('select[name="status"]').each(function () {
                statusColor($(this))
            })
            function statusColor($this) {
                var color = $this.val()
                if (color == 3) {
                    $this.css('background-color', '#3c8dbc')
                } else if (color == 2) {
                    $this.css('background-color', '#00a65a')
                } else {
                    $this.css('background-color', '#999')
                }
                $this.attr('disabled', true)
            }

            $('#example2').DataTable().destroy()
            $('#example2').DataTable({
                dom: '<"top dt-panelmenu"Bf>rt<"bottom dt-panelfooter"ip>',
                buttons: [
                    {
                        extend: 'copy',
                        exportOptions: {
                            columns: ':visible'
                        }
                    },
                    {
                        extend: 'excel',
                        exportOptions: {
                            columns: ':visible'
                        }
                    },
                    {
                        extend: 'print',
                        exportOptions: {
                            columns: ':visible'
                        }
                    },
                    'colvis'
                ],
                autoWidth: false,
                paging: false,
                columns: [
                    {orderable: true},
                    {orderable: true},
                    {orderable: true},
                    {orderable: true},
                    {orderable: true},
                    {orderable: false}
                ],
                initComplete: function(settings, json) {
                    swal.close()
                }
            });
        }

        

        function getUser(id) {
            swal({
                title: '用戶名: '+ userArray[id].user_name,
                html: '<span style="font-size: 16px;">地址: '+ userArray[id].user_address+
                '<br>電話: '+ userArray[id].user_phone +
                '<br>點數: '+ userArray[id].user_point+'</span>',
            })
        }

        function print() {
            var printArray = []
            $('.icheckbox_minimal-grey').each(function () {
                if ($(this).attr('aria-checked') == 'true') {
                    var $tr = $(this).parents('tr')
                    // printArray.push({"user_name": $tr.find('.user').text()})
                    printArray.push({"user_name": $tr.find('.user').text(),"user_number": $tr.find('.user').data('number'),"employee_id": $tr.find('.employee').data('id'),"start": $tr.find('.time').data('start'),"end": $tr.find('.time').data('end'),"employees": [String($tr.find('.employee').data('list'))],"service": $tr.find('select[name="course"]').select2('data')[0].text.split(' *')[0],"quota": $tr.find('select[name="course"]').select2('data')[0].text.split(' *')[1]})
                }
            })
            // console.log(printArray)
            localStorage.setItem('reservationPrint', JSON.stringify(printArray))// JSON.parse(localStorage['reservationPrint'])
            $('#token').attr('action', '{{ url_for('order.printReservation') }}').attr('target','_blank')
            $('input[name="_token"]').val(localStorage[tokenName])
            $('#token').submit();
            $('#token').attr('target','')
        }

    </script>
{% endblock script %}