{% extends "admin/template.html" %}

{% block style %}
    <link rel="stylesheet" href="{{ url_for('static', filename='admin/plugins/iCheck/all.css') }}">
    <style>
        .member_info {
            width: 100%;
            height: 2.4rem;
            padding: .5rem;
            border-bottom: 1px solid #949292;
        }
        [v-cloak] {
          display: none;
        }
    </style>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
{% endblock style %}

{% block content %}
    <section class="content container-fluid" id="order">
        <form class="form-horizontal" action="{{ url_for('userApi.userPointData') }}" id="pointForm" method="post" v-cloak>
            <div class="invoice">
                <div class="form-group user_search">
                    <label for="search" class="col-sm-4 col-md-2 col-lg-1 control-label"> * 輸入會員</label>

                    <div class="col-sm-8 col-md-5 col-lg-3">
                        <input type="text" class="form-control enterSearch" name="search" v-model="customer" placeholder="編號/身分證字號">
                        <span class="help-block" id="user_search_helper">請輸入會員編號或會員身分證字號</span>
                    </div>
                    <div style="float: left;padding-top: 8px;">
                        <div class="btn btn-warning btn-xs pull-right" v-on:click="memberSearch()">查詢</div>
                    </div>
                </div>
                <div class="pad margin no-print" style="display: none;">
                    <div class="callout callout-success" style="margin-bottom: 0!important;">
                        <h4><label id="user_number">[[user.number]]</label> <label id="user_name">[[user.name]]</label> (<label id="user_grade">[[user.user_grade]] [[user.discount_str]]</label>) <i
                                class="fa fa-fw fa-phone"></i><label id="user_phone">[[user.phone]]</label></h4>
                        剩餘點數: <label id="user_point">[[user.point]]</label>
                    </div>
                    <input type="hidden" name="user_uuid" id="user_uuid">
                    <input type="hidden" name="employee_uuid1" id="employee_uuid1">
                    <input type="hidden" name="employee_uuid2" id="employee_uuid2">
                </div>

                <div class="form-group" v-bind:class="{ 'has-success': total_price >user.shipping_setting }" v-if="shipping_type == '2' || shipping_type == 2">
                    <label for="point" class="col-sm-4 col-md-4 col-lg-1 control-label" v-if="shipping_type == '2'">運費</label>

                    <div class="col-sm-8 col-md-6 col-lg-2" v-if="shipping_type == '2'">
                        <input type="text" class="form-control" name="search" v-model="shipping_fee" placeholder="運費">
                        <span class="help-block" id="user_search_helper">已達會員免運設定額度</span>
                    </div>
                </div>
                <div class="col-xs-12 " v-if="user.uuid != ''">
                    <div class="box">
                        <div class="box-header">
                            <h3 class="box-title">輸入產品</h3>

                            <div class="box-tools">
                                <div class="input-group input-group-sm" style="width: 150px;">
                                    <input type="text" name="productSearch" v-model="productText" class="form-control pull-right enterSearch2" placeholder="產品編號/產品名稱">

                                    <div class="input-group-btn">
                                        <span v-on:click="productSearch()" class="btn btn-default"><i class="fa fa-search"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="box-body table-responsive no-padding" v-if="productList.length != 0">
                            <table class="table table-hover" id="productTable">
                                <thead>
                                <tr>
                                    <th>產品編號</th>
                                    <th>產品名稱</th>
                                    <th>單組數量</th>
                                    <th>產品單價</th>
                                    <th>銷售金額</th>
                                    <th>購買數量</th>
                                    <th>取貨數量(服務品項請填0)</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr v-for="(item , index) in productList">
                                    <td>[[item.sku_number]]</td>
                                    <td>[[item.product_name]]</td>
                                    <td>[[item.number]]</td>
                                    <td>[[item.price]]</td>
                                    <td v-if="item.discount">
                                        [[Math.ceil(item.price * user.discount)]]
                                    </td>
                                    <td v-else>
                                        [[item.price]]
                                    </td>
                                    <td>[[item.quantity]]</td>
                                    <td>[[item.immediate]]</td>
                                    <td>
                                        <div class="btn btn-danger btn-xs" v-on:click="removeProduct(item)">刪除</div>
                                    </td>
                                </tr>
                                </tbody>
                                <tfoot>
                                <tr>
                                    <th colspan="6" class="text-right">總金額:[[total_price]]
                                    </th>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="form-group" v-if="user.uuid != ''">
                    <label for="point" class="col-sm-4 col-md-4 col-lg-1 control-label">付款方式</label>

                    <div class="col-sm-8 col-md-6 col-lg-2">
                        <select class="form-control" name="payment_type" v-model="payment_type">
                            <option value="1">現金</option>
                            <option value="2">點數</option>
                            <option value="3">信用卡</option>
                            <option value="4">信貸</option>
                        </select>
                        <span class="help-block">此為必填欄位</span>
                    </div>

                    <label for="point" class="col-sm-4 col-md-4 col-lg-1 control-label">取貨方式</label>

                    <div class="col-sm-8 col-md-6 col-lg-2">
                        <select class="form-control" v-model="shipping_type" name="shipping_type">
                            <option value="1">自取</option>
                            <option value="2">宅配</option>
                        </select>
                        <input type="hidden" name="shipping_fee" id="shipping_fee">
                        <input type="hidden" name="shipping_setting" id="shipping_setting">
                        <span class="help-block">此為必填欄位</span>
                    </div>

                </div>
                <div class="form-group" v-if="payment_type == '3'">
                    <label for="point" class="col-sm-4 col-md-4 col-lg-1 control-label">信用卡卡號末4碼</label>

                    <div class="col-sm-8 col-md-6 col-lg-2">
                        <input type="text" class="form-control" name="search" v-model="creditcard_note">
                        <span class="help-block" id="user_search_helper">請輸入信用卡卡號末4碼</span>
                    </div>
                </div>
                <div class="form-group" v-if="shipping_type == '2'">
                    <label for="point" class="col-sm-4 col-md-4 col-lg-1 control-label">收件人</label>

                    <div class="col-sm-8 col-md-6 col-lg-2">
                        <input type="text" class="form-control" name="search" v-model="recipient">
                        <span class="help-block" id="user_search_helper">請輸入會員編號或會員身分證字號</span>
                    </div>
                    <label for="point" class="col-sm-4 col-md-4 col-lg-1 control-label">連絡電話</label>

                    <div class="col-sm-8 col-md-6 col-lg-2">
                        <input type="text" class="form-control" name="search" v-model="recipient_phone_number">
                        <span class="help-block" id="user_search_helper">請輸入會員編號或會員身分證字號</span>
                    </div>
                    <label for="point" class="col-sm-4 col-md-4 col-lg-1 control-label">收件地址</label>

                    <div class="col-sm-8 col-md-6 col-lg-2">
                        <input type="text" class="form-control" name="search" v-model="recipient_deliver_address">
                        <span class="help-block" id="user_search_helper">請輸入會員編號或會員身分證字號</span>
                    </div>
                </div>
                <div class="form-group employee_search_1">
                    <label for="search" class="col-sm-4 col-md-2 col-lg-1 control-label"> * 銷售經理</label>

                    <div class="col-sm-8 col-md-5 col-lg-3 ">
                        <input type="text" class="form-control enterSearch" name="search" placeholder="編號/身分證字號">
                        <span class="help-block" id="emp_search_name">請輸入員工編號或員工身分證字號</span>
                    </div>
                    <div style="float: left;padding-top: 8px;">
                        <div class="btn btn-info btn-xs pull-right" onclick="employeeSearch(1)">查詢</div>
                    </div>
                </div>
                <div class="form-group employee_search_2">
                    <label for="search" class="col-sm-4 col-md-2 col-lg-1 control-label"> * 銷售醫美師</label>

                    <div class="col-sm-8 col-md-5 col-lg-3">
                        <input type="text" class="form-control enterSearch" name="search" placeholder="編號/身分證字號">
                        <span class="help-block" id="emp_search_name">請輸入員工編號或員工身分證字號</span>
                    </div>
                    <div style="float: left;padding-top: 8px;">
                        <div class="btn btn-info btn-xs pull-right" onclick="employeeSearch(2)">查詢</div>
                    </div>
                </div>
                <div class="form-group">
                    <button type="button" v-on:click="sendingOrder()" class="btn btn-info btn-flat pull-right"
                            v-if="(productList.length != 0) && (user.uuid !='') && (employee_uuid1 !='') && (employee_uuid2 !='')
                        && (real_total >= 0) && (payment_type !='') && (shipping_type !='') && (shipping_fee !='')">送出
                    </button>
                </div>
            </div>
        </form>

        <div class="modal fade" tabindex="-1" role="dialog" id="myModal">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">搜尋產品</h4>
                    </div>
                    <div class="modal-body">
                        <table class="table table-hover" id="productSearchTable">
                            <thead>
                            <th>產品編號</th>
                            <th>產品名稱</th>
                            <th>單組數量</th>
                            <th>金額</th>
                            <th>購買數量</th>
                            <th>取貨數量(服務品項請填0)</th>
                            <th>選擇產品</th>
                            </thead>
                            <tbody>
                            <tr v-for="(item , index) in productSearchList.data">
                                <td>[[ item.sku_number ]]</td>
                                <td>[[ item.product_name ]]</td>
                                <td>[[ item.number ]]</td>
                                <td>[[ item.price ]]</td>
                                <td><input type="number" min="1" class="form-control" v-model="item.quantity"></td>
                                <td><input type="number" min="0" class="form-control" v-model="item.immediate"></td>
                                <td>
                                    <div class="btn btn-warning btn-xs my-10 selectProduct" v-on:click="selectProduct(item)">選擇</div>
                                </td>
                            </tr>
                            </tbody>

                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">關閉</button>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock content %}

{% block script %}
    <script src="{{ url_for('static', filename='admin/plugins/iCheck/icheck.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.form.min.js') }}"></script>
    <script>
        $(function () {
            $('input[type="checkbox"].minimal-red, input[type="radio"].minimal-red').iCheck({
                checkboxClass: 'icheckbox_minimal-red',
                radioClass: 'iradio_minimal-red'
            });

        });

        var usedCategory7SkuIDList = []
        var app = new Vue({
            el: '#order',
            delimiters: ['[[', ']]'],
            data: {
                customer: '',
                user: {
                    uuid: '',
                    name: '',
                    number: '',
                    user_grade: '',
                    discount: 0,
                    discount_str: '',
                    address: '',
                    phone: '',
                    point: '',
                    shipping_fee: 0,
                    shipping_setting: '',
                },
                payment_type: 1,
                shipping_type: 1,
                shipping_fee: '',
                employee1: '',
                recipient: '',
                recipient_phone_number: '',
                recipient_deliver_address: '',
                creditcard_note:'',
                employee2: '',
                productText: '',
                productSearchList: {},
                productList: []
            },
            watch: {
                shipping_fee: function (val) {
                    if (val == 1) {
                        return 0
                    } else {
                        return this.user.shipping_fee
                    }
                }
            },
            computed: {
                total_price: function () {
                    var total = 0
                    {#                    for (var i = 0; i < this.productList.length; i++) {#}
                    for (var i = 0; i < this.productList.length; i++) {
                        console.log(this.productList[i].price)
                        if (this.productList[i].discount == true) {
                            total += Math.ceil(this.productList[i].price * this.user.discount) * parseInt(this.productList[i].quantity)
                        } else {
                            total += this.productList[i].price * parseInt(this.productList[i].quantity)
                        }
                    }
                    return total
                },
                real_total: function () {
                    var total = 0
                    if ((this.shipping_type == 2 || this.shipping_type == '2') && this.total_price < app.user.shipping_setting) {
                        total = parseInt(this.total_price) + parseInt(this.shipping_fee)
                    } else {
                        total = parseInt(this.total_price)
                    }

                    return total
                },
                employee_uuid1: function () {
                    $('#employee_uuid1').val()
                },
                employee_uuid2: function () {
                    $('#employee_uuid2').val()
                }
            },
            methods: {
                memberSearch: function () {
                    $('.user_search').removeClass('has-error')
                    $('.user_search').removeClass('has-success')
                    $('#user_search_helper').text('請輸入會員編號或會員身分證字號')
                    $('.member_info').empty()
                    search = this.customer
                    if (!search) {
                        $('.user_search').find('input[name=search]').parents('.form-group').addClass('has-error')
                        return false;
                    }
                    var data = '{"_token":"' + localStorage['token'] + '","search":"' + search + '"}';
                    $.ajax({
                        url: "{{ url_for('userApi.userSearch') }}",
                        type: 'POST',
                        data: data,
                        datatype: 'json',
                        contentType: "application/json",
                        success: function (res) {
                            if (res.code == 0) {
                                $('.no-print').show();
                                app.user.user_grade = res.user_grade
                                app.user.uuid = res.uuid
                                app.user.number = res.user_number
                                app.user.name = res.user_name
                                app.recipient = res.user_name
                                app.user.phone = res.user_phone
                                app.recipient_phone_number = res.user_phone
                                app.user.point = res.user_point
                                app.user.address = res.user_address
                                app.recipient_deliver_address = res.user_address
                                app.user.shipping_fee = res.user_shipping_fee
                                app.shipping_fee = res.user_shipping_fee
                                app.user.shipping_setting = res.user_shipping_setting
                                app.user.discount = parseFloat(res.user_discount)
                                app.user.discount_str = res.user_discount_str
                                $('.user_search').find('input[name="search"]').parents('.form-group').addClass('has-success')
                                $('#user_search_helper').text('')
                                getUserLimit(res.user_number)
                            } else {
                                $('.user_search').find('input[name="search"]').parents('.form-group').addClass('has-error')
                                $('#user_search_helper').text(res.msg)
                            }
                        },
                        error: function (xhr, ajaxOptions, thownError) {
                            swal({
                                title: 'xht: '+xhr+', status: '+status+', thownError: '+thownError,
                                type: 'error'
                            })
                        }
                    });
                    $('.enterSearch2').on('keyup', function (e) {
                        if (e.keyCode == 13) {
                            console.log('enter')
                            $(this).next().children().trigger('click')
                        }
                    });
                    function getUserLimit(user_number) {
                        var id = parseInt(user_number.split('M')[1])
                        $.ajax({
                            url: "/admin/product/api/sku/by/user_id/"+id,
                            type: 'GET',
                            data: data,
                            datatype: 'json',
                            contentType: "application/json",
                            success: function (data) {
                                usedCategory7SkuIDList = data.usedCategory7SkuIDList
                                console.log(usedCategory7SkuIDList)
                            },
                            error: function (xhr, ajaxOptions, thownError) {
                                swal({
                                    title: 'xht: '+xhr+', status: '+status+', thownError: '+thownError,
                                    type: 'error'
                                })
                            }
                        });
                    }
                        
                },
                selectProduct: function (item) {
                    console.log(item.category_id)
                    if (usedCategory7SkuIDList.includes(item.sku_number)) {
                        swal({
                            type: 'warning',
                            title: '該用戶已使用過本體驗卷'
                        })
                    }
                    else if (item.category_id == 7 && item.quantity > 1) {
                        swal({
                            type: 'warning',
                            title: '體驗卷購買數量只能為 : 1'
                        })
                    }
                    else if (item.quantity == undefined || item.immediate == undefined) {
                        swal({
                            type: 'warning',
                            title: '請填寫購買數量與取貨數量'
                        })
                    }
                    else if (!(item.quantity > 0) || !(item.immediate >= 0)) {
                        swal({
                            type: 'warning',
                            title: '購買數量與取貨數量輸入格式有誤'
                        })
                    }
                    else {
                        this.productList.push(item)
                        $('#myModal').modal('hide')
                    }
                },
                removeProduct: function (item) {
                    let index = this.productList.indexOf(item)
                    this.productList.splice(index, 1);
                },
                productSearch: function () {
                    var res = ''
                    if (this.productText) {
                        var data = '{"filter":"' + this.productText + '"}';
                        $.ajax({
                            url: "{{ url_for('productApi.getSkuByInputFilter') }}",
                            type: 'POST',
                            data: data,
                            datatype: 'json',
                            contentType: "application/json",
                            success: function (res) {
                                app.productSearchList = res
                                $('#myModal').modal('show')
                            },
                            error: function (xhr, ajaxOptions, thownError) {
                                swal({
                                    title: 'xht: '+xhr+', status: '+status+', thownError: '+thownError,
                                    type: 'error'
                                })
                            }
                        });
                    }
                },
                sendingOrder: function () {

                    var employee_uuid1 = $('#employee_uuid1').val()
                    var employee_uuid2 = $('#employee_uuid2').val()
                    var sku = []
                    for (var i = 0; i < this.productList.length; i++) {
                        sku.push('{"sku_id": '+ this.productList[i].sku_id +
                            ',"quantity": "'+ this.productList[i].quantity +
                            '","immediate": "'+ this.productList[i].immediate +'"}');
                    }
                    var token = localStorage.getItem(tokenName);
                    var data = ''
                    data += '{"_token": "' + token+'",' +
                            '"user_uuid":"' + this.user.uuid +
                            '","employee_uuid1":"' + employee_uuid1 +
                            '","employee_uuid2":"' + employee_uuid2 +
                            '","total_price":' + this.real_total +
                            ',"payment_type":' + this.payment_type +
                            ',"shipping_type":' + this.shipping_type +
                            ',"shipping_fee":' + this.shipping_fee +
                            ',"recipient":"' + this.recipient +
                            '","recipient_phone_number":"' + this.recipient_phone_number +
                            '","recipient_deliver_address":"' + this.recipient_deliver_address +
                            '","creditcard_note":"' + this.creditcard_note +
                            '","shipping_date":"' + //shipping_date+ //this.shipping_date +
                            '","skus_list":[' + sku +
                            ']}';
                    console.log(data)
                    // alert()
                    $.ajax({
                        url: "{{ url_for('orderApi.orderCreate') }}",
                        type: 'POST',
                        data: data,
                        datatype: 'json',
                        contentType: "application/json",
                        success: function (res) {
                            uuid = res.order_info.order_uuid
                            console.log(res.order_info.order_uuid)
                            // window.location = '/admin/order/' + uuid
                            $('#token').attr('action', '/admin/order/' + uuid)
                            $('input[name="_token"]').val(localStorage[tokenName])
                            $('#token').submit();
                        },
                        error: function (xhr, ajaxOptions, thownError) {
                            var error = xhr.getResponseHeader('error_code')
                            var error = error.split("'")[1]
                            var errorCode = "Error"

                            if (error == 'InsufficientBalance') {
                                errorCode = "會員點數餘額不足"
                            }
                            else if (error == 'InsufficientInventory') {
                                errorCode = "產品庫存不足"
                            }
                            else if (error == 'CreditcardNoteWrongFormat') {
                                errorCode = "請填寫正確的信用卡卡號末4碼"
                            }
                            else if (error == 'RecipientWrongFormat') {
                                errorCode = "請填寫正確的收件人資訊"
                            }
                            swal({
                                title: errorCode,
                                type: 'error'
                            })
                        }
                    });
                }
            }
        })
        function employeeSearch(index) {
            $('.employee_search_' + index).removeClass('has-error')
            $('.employee_search_' + index).removeClass('has-success')
            $('.employee_search_' + index).find('.help-block').text('請輸入員工編號或員工身分證字號')
            $('#employee_id' + index).val('')
            search = $('.employee_search_' + index).find('input[name=search]').val()
            if (!search) {
                $('.employee_search_' + index).find('input[name=search]').parents('.form-group').addClass('has-error')
                return false;
            }
            var data = '{"_token":"' + localStorage['token'] + '","search":"' + search + '"}';
            $.ajax({
                url: "{{ url_for('employeeApi.employeeSearch') }}",
                type: 'POST',
                data: data,
                datatype: 'json',
                contentType: "application/json",
                success: function (res) {
                    if (res.code == 0) {
                        $('#employee_uuid' + index).val(res.uuid)
                        if ($('#employee_uuid1').val() != $('#employee_uuid2').val()) {
                            $('.employee_search_' + index).find('input[name=search]').val(res.employee_number);
                            $('.employee_search_' + index).find('input[name=search]').parents('.form-group').addClass('has-success')
                            $('.employee_search_' + index).find('.help-block').text(res.name)
                            // $('.employee_search_' + index).find('.help-block').empty()
                        } else {
                            $('.employee_search_' + index).find('input[name=search]').parents('.form-group').addClass('has-error')
                            $('.employee_search_' + index).find('.help-block').text('重複輸入員工資料!')
                        }
                    } else {
                        $('.employee_search_' + index).find('input[name=search]').parents('.form-group').addClass('has-error')
                        $('.employee_search_' + index).find('.help-block').text(res.msg)
                    }
                },
                error: function (xhr, ajaxOptions, thownError) {
                    swal({
                        title: 'xht: '+xhr+', status: '+status+', thownError: '+thownError,
                        type: 'error'
                    })
                }
            });
        };

        $('.enterSearch').on('keyup', function (e) {
            if (e.keyCode == 13) {
                console.log('enter')
                $(this).parent().next().children().trigger('click')
            }
        });
    </script>
{% endblock script %}