{% extends "admin/template.html" %}

{% block style %}

{% endblock style %}

{% block content %}

    <section class="content-header">
        <h1>
            訂單系統
            <small><a href="{{ url_for('order.orderIndex') }}" class="jwtLink">訂單列表</a> 訂單資料 {{ data.data.order_num }}</small>
        </h1>
    </section>

    <section class="content container-fluid">
        <section class="invoice">
            <!-- title row -->
            <div class="row">
                <div class="col-xs-12">
                    <h2 class="page-header">
                        <i class="fa fa-globe"></i> <span class="page-header title">{{ data.data.status_str }}</span>
                        <small class="pull-right">購買日期: {{ data.data.date }}</small>
                    </h2>
                </div>
                <!-- /.col -->
            </div>
            <!-- info row -->
            <div class="row invoice-info">
                <div class="col-sm-6 invoice-col">
                    <address>
                        購買會員: <strong>{{ data.data.user_name }}</strong><br>
                        會員編號: <strong class="userNumber">{% if data.data.user_id < 10 %}M00000{{data.data.user_id}}{% elif data.data.user_id < 100 %}M0000{{data.data.user_id}}{% elif data.data.user_id < 1000 %}M000{{data.data.user_id}}{% elif data.data.user_id < 10000 %}M00{{data.data.user_id}}{% elif data.data.user_id < 100000 %}M0{{data.data.user_id}}{% elif data.data.user_id < 1000000 %}M{{data.data.user_id}}{% endif %}</strong><br>
                        聯絡電話: {{ data.data.user_mobile_phone }}<br>
                    </address>
                </div>
                <div class="col-sm-6 invoice-col">
                    <address>
                        訂單編號: <strong>{{ data.data.order_num }}</strong><br>
                        銷售經理: <strong>{{ data.data.saler_name }}</strong><br>
                        銷售醫美師: <strong>{{ data.data.employee_name }}</strong>
                    </address>
                </div>
            </div>
            <!-- /.row -->

            <!-- Table row -->
            <div class="row">
                <div class="col-xs-12 table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>產品編號 / 產品組合</th>
                            <th>產品名稱</th>
                            <th>銷售金額</th>
                            <th>銷售數量</th>
                            <th>寄貨數量/剩餘次數</th>
                            <th>使用期限</th>
                            <th>小計</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% set count = 0 %}
                        {% for item in data.data.order_items_single_list %}
                            <tr>
                                <td>{{ item.sku_number }}</td>
                                <td>{{ item.name }}</td>
                                <td>{{ item.price }}</td>
                                <td>{{ item.quantity }}</td>
                                <td>{{ item.total_amount - item.used }}</td>
                                <td>{{ item.exp_date }}</td>
                                <td class="price">{{ item.price * item.quantity }}</td>
                            </tr>
                            {% set count = count + 1 %}
                        {% endfor %}
                        {% for item in data.data.order_items_assemble_list %}
                            {% if loop.index == 1 %}
                                <tr class="active">
                                    <th>{{ item.sku_number }}</th>
                                    <th>{{ item.assemble_name }}</th>
                                    {% if item.input_personnel == '' %}
                                        <th class="change" data-price="z">{{ item.price }}</th>
                                    {% else %}
                                        <th class="change" data-price="{{item.price*item.quantity}}">{{item.price*item.quantity}}</th>
                                    {% endif %}
                                    <th>{{ item.quantity }}</th>
                                    <th></th>
                                    <td></td>
                                    <th class="price">{% if item.input_personnel == '' %}{{ item.price * item.quantity }}{% else %}{{ item.price_diff }}{% endif %}</th>
                                </tr>
                            {% endif %}
                            <tr>
                                <td>{{ item.sku_number }}</td>
                                <td>{{ item.name }}</td>
                                <td>-</td>
                                <td>{{ item.quantity * item.number }}</td>
                                <td>{{ item.total_amount - item.used }}</td>
                                <td>{{ item.exp_date }}</td>
                                <td></td>
                            </tr>
                            {% if item.input_personnel != '' %}
                                <tr class="active">
                                    <th>{{ item.sku_number }}</th>
                                    <th>核銷</th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th>-{{ item.price_diff }}</th>
                                </tr>
                            {% endif %}
                            {% set count = count + 1 %}
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->

            <div class="row">
                <!-- accepted payments column -->
                <div class="col-xs-6">
                    
                </div>
                <!-- /.col -->
                <div class="col-xs-6">
                    <div class="table-responsive">
                        <table class="table changeShow">
                            <tr>
                                <th style="width:50%">小計:</th>
                                <td class="addPrice">{{ data.data.total_price - data.data.shipping_fee }}</td>
                            </tr>
                            <tr>
                                <th class="userGrade"></th>
                                <td class="minusPrice"></td>
                            </tr>
                            <tr>
                                <th>運費:</th>
                                <td class="shippingFee">{{ data.data.shipping_fee }}</td>
                            </tr>
                            <tr>
                                <th>總金額:</th>
                                <td>{{ data.data.total_price }}</td>
                            </tr>
                            <tr>
                                <th>付款方式:</th>
                                <td>{{ data.data.payment_type_str }}</td>
                            </tr>
                            {% if data.data.payment_type == 3 %}
                            <tr>
                                <th>信用卡卡號末4碼:</th>
                                <td>{{ data.data.creditcard_note }}</td>
                            </tr>
                            {% endif %}
                        </table>
                    </div>
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->

            <!-- this row will not appear when printing -->
            <div class="row no-print">
                <div class="col-xs-12">
                    <a href="{{ url_for('order.printOrderByOrderUUID',order_uuid=uuid) }}" target="_blank" class="btn btn-primary pull-right jwtLink" style="margin-right: 5px;">
                        <i class="fa fa-print"></i> 列印
                    </a>
                </div>
            </div>
        </section>
    </section>

{% endblock content %}

{% block script %}
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script>
        $(function () {
            if (typeof $('.change').data('price') == 'number') { //換貨
                var show = '<tr>'+
                    '<th style="width:150px">總金額:</th>'+
                    '<td>0</td>'+
                '</tr>';
                $('.changeShow').html(show)
                $('.page-header.title').text('換貨單')
            }
        })

        var data = '{"_token":"' + localStorage['token'] + '","search":"' + $('.userNumber').text() + '"}';
        $.ajax({
            url: "{{ url_for('userApi.userSearch') }}",
            type: 'POST',
            data: data,
            datatype: 'json',
            contentType: "application/json",
            success: function (res) {
                if (res.code == 0) {
                    $('.userGrade').text(res.user_grade+':')
                    console.log(parseFloat(res.user_discount))
                    console.log(res.user_discount_str)
                } else {
                    swal({
                        title: res.msg,
                        type: 'error'
                    })
                }
            },
            error: function (xhr, ajaxOptions, thownError) {
                swal({
                    title: 'xht: '+xhr+', status: '+status+', thownError: '+thownError,
                    type: 'error'
                })
            }
        });
        var total_price = 0
        $('.price').each(function () {
            total_price+=parseInt($(this).text())
        })
        var addPrice = parseInt($('.addPrice').text())
        $('.minusPrice').text(addPrice-total_price) // 折扣金額
        $('.addPrice').text(addPrice-(addPrice-total_price)) // 所有產品總計原價
    </script>
{% endblock script %}