<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>黛子醫美診所 | 訂單存聯</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.7 -->
    <link rel="stylesheet" href="{{ url_for('static', filename='admin/bower_components/bootstrap/dist/css/bootstrap.min.css') }}">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="{{ url_for('static', filename='admin/bower_components/font-awesome/css/font-awesome.min.css') }}">
    <!-- Ionicons -->
    <link rel="stylesheet" href="{{ url_for('static', filename='admin/bower_components/Ionicons/css/ionicons.min.css') }}">
    <!-- Theme style -->
    <link rel="stylesheet" href="{{ url_for('static', filename='admin/dist/css/AdminLTE.min.css') }}">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->

    <!-- Google Font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>
<body onload="window.print();">
<div class="wrapper">
    <!-- Main content -->
    <section class="invoice">
        <!-- title row -->
        <div class="row">
            <div class="col-xs-12">
                <h2 class="page-header">
                    <i class="fa fa-globe"></i> 黛子醫美診所
                    <small class="pull-right">購買日期: {{ data.data.date }}</small>
                </h2>
            </div>
            <!-- /.col -->
        </div>
        <!-- info row -->
        <div class="row invoice-info">
            <div class="col-sm-6 invoice-col">
                <address>
                    購買會員: <strong>{{ data.data.user_name }}</strong><br>
                    聯絡電話: {{ data.data.user_mobile_phone }}<br>
                    訂單編號: <strong>{{ data.data.order_num }}</strong>
                </address>
            </div>
            <div class="col-sm-6 invoice-col">
                <address>
                    銷售人員: <strong>{{ data.data.employee_name }}</strong><br>
                    銷售人員: <strong>{{ data.data.saler_name }}</strong><br>
                </address>
            </div>
        </div>
        <!-- /.row -->

        <!-- Table row -->
        <div class="row">
            <div class="col-xs-12 table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <th>產品編號 / 產品組合</th>
                        <th>產品名稱</th>
                        <th>銷售金額</th>
                        <th>銷售數量</th>
                        <th>剩餘數量</th>
                        <th>本次增減</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% set count = 0 %}
                     {% for item in data.data.order_items_single_list %}
                            <tr class="single_list">
                                <td>{{ item.sku_number }}</td>
                                <td>{{ item.name }}</td>
                                <td>{{ item.price }}</td>
                                <td>{{ item.quantity }}</td>
                                <td>{{ item.used }}</td>
                                <td class="conputQuota">{{ item.used }}</td>
                            </tr>
                            {% set count = count + 1 %}
                        {% endfor %}
                        {% for item in data.data.order_items_assemble_list %}
                            {% if loop.index == 1 %}
                                <tr class="active">
                                    <th>{{ item.sku_number }}</th>
                                    <th>{{ item.assemble_name }}</th>
                                    <th>{{ item.price }}</th>
                                    <th>{{ item.quantity }}</th>
                                    <th>{{ item.total_amount - item.used }}</th>
                                    <th></th>
                                </tr>
                            {% endif %}
                            <tr class="assemble_list">
                                <td>{{ item.sku_number }}</td>
                                <td>{{ item.name }}</td>
                                <td>-</td>
                                <td>{{ item.quantity * item.number }}</td>
                                <td>{{ item.total_amount - item.used }}</td>
                                <td class="conputQuota">{{ item.used }}</td>
                            </tr>
                            {% set count = count + 1 %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
        <div style="text-align: right; line-height: 35px;">貴賓簽名: 
            <div style="width: 250px; border-bottom: 1px solid #000; float: right; height: 30px;margin-left: 10px;"></div>
        </div>
    </section>

    <hr style="margin-top: 50px; margin-bottom: 50px; border: 0; border-top: 1px dashed #777;">

    <div style="position: relative; margin-bottom: 20px;">
        <span style="font-size: 22px; font-weight: 600; margin-left: 1px;" id="today"></span>
        <div style="position: absolute; top: 0; left: calc(50% - 50px); font-size: 22px;" class="textCenter">黛子醫美診所 | 訂單存聯</div>
    </div>

    <section class="invoice">
        <!-- title row -->
        <div class="row">
            <div class="col-xs-12">
                <h2 class="page-header">
                    <i class="fa fa-globe"></i> 黛子醫美診所
                    <small class="pull-right">購買日期: {{ data.data.date }}</small>
                </h2>
            </div>
            <!-- /.col -->
        </div>
        <!-- info row -->
        <div class="row invoice-info">
            <div class="col-sm-6 invoice-col">
                <address>
                    購買會員: <strong>{{ data.data.user_name }}</strong><br>
                    聯絡電話: {{ data.data.user_mobile_phone }}<br>
                    訂單編號: <strong>{{ data.data.order_num }}</strong>
                </address>
            </div>
            <div class="col-sm-6 invoice-col">
                <address>
                    銷售人員: <strong>{{ data.data.employee_name }}</strong><br>
                    銷售人員: <strong>{{ data.data.saler_name }}</strong><br>
                </address>
            </div>
        </div>
        <!-- /.row -->

        <!-- Table row -->
        <div class="row">
            <div class="col-xs-12 table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <th>產品編號 / 產品組合</th>
                        <th>產品名稱</th>
                        <th>銷售金額</th>
                        <th>銷售數量</th>
                        <th>剩餘數量</th>
                        <th>本次增減</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% set count = 0 %}
                     {% for item in data.data.order_items_single_list %}
                            <tr class="single_list2">
                                <td>{{ item.sku_number }}</td>
                                <td>{{ item.name }}</td>
                                <td>{{ item.price }}</td>
                                <td>{{ item.quantity }}</td>
                                <td>{{ item.used }}</td>
                                <td class="conputQuota">{{ item.used }}</td>
                            </tr>
                            {% set count = count + 1 %}
                        {% endfor %}
                        {% for item in data.data.order_items_assemble_list %}
                            {% if loop.index == 1 %}
                                <tr class="active">
                                    <th>{{ item.sku_number }}</th>
                                    <th>{{ item.assemble_name }}</th>
                                    <th>{{ item.price }}</th>
                                    <th>{{ item.quantity }}</th>
                                    <th>{{ item.total_amount - item.used }}</th>
                                    <th></th>
                                </tr>
                            {% endif %}
                            <tr class="assemble_list2">
                                <td>{{ item.sku_number }}</td>
                                <td>{{ item.name }}</td>
                                <td>-</td>
                                <td>{{ item.quantity * item.number }}</td>
                                <td>{{ item.total_amount - item.used }}</td>
                                <td class="conputQuota">{{ item.used }}</td>
                            </tr>
                            {% set count = count + 1 %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
        <div style="text-align: right; line-height: 35px;">貴賓簽名: 
            <div style="width: 250px; border-bottom: 1px solid #000; float: right; height: 30px;margin-left: 10px;"></div>
        </div>
    </section>
    <!-- /.content -->
</div>
<!-- ./wrapper -->
<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<script>
    var printPickup = JSON.parse(localStorage['diazyOrderPickup'])
    console.log(printPickup)
    $.each(printPickup.order_items_assemble_list, function (key) {
        var conput = parseInt($('.assemble_list').eq(key).children('.conputQuota').text()) - printPickup.order_items_assemble_list[key].used
        $('.assemble_list').eq(key).children('.conputQuota').text(conput)
        $('.assemble_list2').eq(key).children('.conputQuota').text(conput)
        // console.log(printPickup.order_items_assemble_list[key].used)
    })
    $.each(printPickup.order_items_single_list, function (key) {
        var conput = parseInt($('.single_list').eq(key).children('.conputQuota').text()) - printPickup.order_items_single_list[key].used
        $('.single_list').eq(key).children('.conputQuota').text(conput)
        $('.single_list2').eq(key).children('.conputQuota').text(conput)
        // console.log(printPickup.order_items_single_list[key].used)
        // console.log($('.single_list').eq(key).children('.conputQuota').text())
    })

    $('#today').text(now.getFullYear()+'/'+(now.getMonth()+1)+'/'+now.getDate())
</script>
</body>
</html>
