<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>黛子醫美診所 | 訂單存聯</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.7 -->
    <link rel="stylesheet" href="{{ url_for('static', filename='admin/bower_components/bootstrap/dist/css/bootstrap.min.css') }}">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="{{ url_for('static', filename='admin/bower_components/font-awesome/css/font-awesome.min.css') }}">
    <!-- Ionicons -->
    <link rel="stylesheet" href="{{ url_for('static', filename='admin/bower_components/Ionicons/css/ionicons.min.css') }}">
    <!-- Theme style -->
    <link rel="stylesheet" href="{{ url_for('static', filename='admin/dist/css/AdminLTE.min.css') }}">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->

    <!-- Google Font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>
<body onload="window.print();">
<div class="wrapper">
    <!-- Main content -->
        <section class="invoice">
            <!-- title row -->
            <div class="row">
                <div class="col-xs-12">
                    <h2 class="page-header">
                        <i class="fa fa-globe"></i> <span class="page-header title">{{ data.data.status_str }}</span>
                        <small class="pull-right">購買日期: {{ data.data.date }}</small>
                    </h2>
                </div>
                <!-- /.col -->
            </div>
            <!-- info row -->
            <div class="row invoice-info">
                <div class="col-sm-6 invoice-col">
                    <address>
                        購買會員: <strong>{{ data.data.user_name }}</strong><br>
                        會員編號: <strong class="userNumber">{% if data.data.user_id < 10 %}M00000{{data.data.user_id}}{% elif data.data.user_id < 100 %}M0000{{data.data.user_id}}{% elif data.data.user_id < 1000 %}M000{{data.data.user_id}}{% elif data.data.user_id < 10000 %}M00{{data.data.user_id}}{% elif data.data.user_id < 100000 %}M0{{data.data.user_id}}{% elif data.data.user_id < 1000000 %}M{{data.data.user_id}}{% endif %}</strong><br>
                        聯絡電話: {{ data.data.user_mobile_phone }}<br>
                    </address>
                </div>
                <div class="col-sm-6 invoice-col">
                    <address>
<<<<<<< HEAD
                        訂單編號: <strong>{{ data.data.order_num }}</strong><br>
                        銷售經理: <strong>{{ data.data.employee_name }}</strong><br>
                        銷售醫美師: <strong>{{ data.data.saler_name }}</strong><br>
=======
                        訂單編號: <strong>{{ data.data.order_num }}</strong>
                        銷售經理: <strong>{{ data.data.saler_name }}</strong><br>
                        銷售醫美師: <strong>{{ data.data.employee_name }}</strong><br>
>>>>>>> 82c012e60c470cc818d43ce9ab1cd244f9cdb5be

                    </address>
                </div>
            </div>
            <!-- /.row -->

            <!-- Table row -->
            <div class="row">
                <div class="col-xs-12 table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>產品編號 / 產品組合</th>
                            <th>產品名稱</th>
                            <th>銷售金額</th>
                            <th>銷售數量</th>
                            <th>寄貨數量/剩餘次數</th>
                            <th>小計</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% set count = 0 %}
                        {% for item in data.data.order_items_single_list %}
                            <tr>
                                <td>{{ item.sku_number }}</td>
                                <td>{{ item.name }}</td>
                                <td>{{ item.price }}</td>
                                <td>{{ item.quantity }}</td>
                                <td>{{ item.total_amount - item.used }}</td>
                                <td>{{ item.price * item.quantity }}</td>
                            </tr>
                            {% set count = count + 1 %}
                        {% endfor %}
                        {% for item in data.data.order_items_assemble_list %}
                            {% if loop.index == 1 %}
                                <tr class="active">
                                    <th>{{ item.sku_number }}</th>
                                    <th>{{ item.assemble_name }}</th>
                                    {% if item.input_personnel == '' %}
                                        <th id="change" data-price="0">{{ item.price }}</th>
                                    {% else %}
                                        <th id="change" data-price="{{item.price*item.quantity}}">{{item.price*item.quantity}}</th>
                                    {% endif %}
                                    <th>{{ item.quantity }}</th>
                                    <th></th>
                                    <th>{% if item.input_personnel == '' %}{{ item.price * item.quantity }}{% else %}{{item.price*item.quantity}}{% endif %}</th>
                                </tr>
                            {% endif %}
                            <tr>
                                <td>{{ item.sku_number }}</td>
                                <td>{{ item.name }}</td>
                                <td>-</td>
                                <td>{{ item.quantity * item.number }}</td>
                                <td>{{ item.total_amount - item.used }}</td>
                                <td></td>
                            </tr>
                            {% if item.input_personnel != '' %}
                                <tr class="active">
                                    <th>{{ item.sku_number }}</th>
                                    <th>核銷</th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th>-{{ item.price * item.quantity }}</th>
                                </tr>
                            {% endif %}
                            {% set count = count + 1 %}
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->

            <div class="row">
                <!-- accepted payments column -->
                <div class="col-xs-6">
                    
                </div>
                <!-- /.col -->
                <div class="col-xs-6">
                    <div class="table-responsive">
                        <table class="table changeShow">
                            <tr>
                                <th style="width:50%">小計:</th>
                                <td>{{ data.data.total_price - data.data.shipping_fee }}</td>
                            </tr>
                            <tr>
                                <th>運費:</th>
                                <td>{{ data.data.shipping_fee }}</td>
                            </tr>
                            <tr>
                                <th>總金額:</th>
                                <td>{{ data.data.total_price }}</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <!-- /.col -->
            </div>
            <div style="text-align: right; line-height: 35px;">貴賓簽名: <div style="width: 250px; border-bottom: 1px solid #000; float: right; height: 30px;margin-left: 10px;"></div></div>
            <!-- /.row -->
        </section>
        
        <hr style="margin-top: 50px; margin-bottom: 50px; border: 0; border-top: 1px dashed #777;">

        <div style="position: relative; margin-bottom: 20px;">
            <span style="font-size: 22px; font-weight: 600; margin-left: 1px;" id="today"></span>
            <div style="position: absolute; top: 0; left: calc(50% - 50px); font-size: 22px;" class="textCenter">黛子醫美診所 | 訂單存聯</div>
        </div>

        <section class="invoice">
            <!-- title row -->
            <div class="row">
                <div class="col-xs-12">
                    <h2 class="page-header">
                        <i class="fa fa-globe"></i> <span class="page-header title">{{ data.data.status_str }}</span>
                        <small class="pull-right">購買日期: {{ data.data.date }}</small>
                    </h2>
                </div>
                <!-- /.col -->
            </div>
            <!-- info row -->
            <div class="row invoice-info">
                <div class="col-sm-6 invoice-col">
                    <address>
                        購買會員: <strong>{{ data.data.user_name }}</strong><br>
                        聯絡電話: {{ data.data.user_mobile_phone }}<br>
                        訂單編號: <strong>{{ data.data.order_num }}</strong>
                    </address>
                </div>
                <div class="col-sm-6 invoice-col">
                    <address>
                        銷售經理: <strong>{{ data.data.saler_name }}</strong><br>
                        銷售醫美師: <strong>{{ data.data.employee_name }}</strong><br>
                    </address>
                </div>
            </div>
            <!-- /.row -->

            <!-- Table row -->
            <div class="row">
                <div class="col-xs-12 table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>產品編號 / 產品組合</th>
                            <th>產品名稱</th>
                            <th>銷售金額</th>
                            <th>銷售數量</th>
                            <th>寄貨數量/剩餘次數</th>
                            <th>小計</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% set count = 0 %}
                        {% for item in data.data.order_items_single_list %}
                            <tr>
                                <td>{{ item.sku_number }}</td>
                                <td>{{ item.name }}</td>
                                <td>{{ item.price }}</td>
                                <td>{{ item.quantity }}</td>
                                <td>{{ item.total_amount - item.used }}</td>
                                <td>{{ item.price * item.quantity }}</td>
                            </tr>
                            {% set count = count + 1 %}
                        {% endfor %}
                        {% for item in data.data.order_items_assemble_list %}
                            {% if loop.index == 1 %}
                                <tr class="active">
                                    <th>{{ item.sku_number }}</th>
                                    <th>{{ item.assemble_name }}</th>
                                    {% if item.input_personnel == '' %}
                                        <th id="change" data-price="0">{{ item.price }}</th>
                                    {% else %}
                                        <th id="change" data-price="{{item.price*item.quantity}}">{{item.price*item.quantity}}</th>
                                    {% endif %}
                                    <th>{{ item.quantity }}</th>
                                    <th></th>
                                    <th>{% if item.input_personnel == '' %}{{ item.price * item.quantity }}{% else %}{{item.price*item.quantity}}{% endif %}</th>
                                </tr>
                            {% endif %}
                            <tr>
                                <td>{{ item.sku_number }}</td>
                                <td>{{ item.name }}</td>
                                <td>-</td>
                                <td>{{ item.quantity * item.number }}</td>
                                <td>{{ item.total_amount - item.used }}</td>
                                <td></td>
                            </tr>
                            {% if item.input_personnel != '' %}
                                <tr class="active">
                                    <th>{{ item.sku_number }}</th>
                                    <th>核銷</th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th>-{{ item.price * item.quantity }}</th>
                                </tr>
                            {% endif %}
                            {% set count = count + 1 %}
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->

            <div class="row">
                <!-- accepted payments column -->
                <div class="col-xs-6">
                    
                </div>
                <!-- /.col -->
                <div class="col-xs-6">
                    <div class="table-responsive">
                        <table class="table changeShow">
                            <tr>
                                <th style="width:50%">小計:</th>
                                <td>{{ data.data.total_price - data.data.shipping_fee }}</td>
                            </tr>
                            <tr>
                                <th>運費:</th>
                                <td>{{ data.data.shipping_fee }}</td>
                            </tr>
                            <tr>
                                <th>總金額:</th>
                                <td>{{ data.data.total_price }}</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
            <div style="text-align: right; line-height: 35px;">貴賓簽名: <div style="width: 250px; border-bottom: 1px solid #000; float: right; height: 30px;margin-left: 10px;"></div></div>
        </section>
    <!-- /.content -->
</div>

<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<script>
    $(function () {
        if (typeof $('#change').data('price') == 'number') { //換貨
            var show = '<tr>'+
                '<th style="width:150px">總金額:</th>'+
                '<td>0</td>'+
            '</tr>';
            $('.changeShow').html(show)
            $('.page-header.title').text('換貨單')
        }
        var now = new Date()

        $('#today').text(now.getFullYear()+'/'+(now.getMonth()+1)+'/'+now.getDate())
    })
</script>
<!-- ./wrapper -->
</body>
</html>
