<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>黛子醫美診所 | 服務證明存聯</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.7 -->
    <link rel="stylesheet" href="{{ url_for('static', filename='admin/bower_components/bootstrap/dist/css/bootstrap.min.css') }}">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="{{ url_for('static', filename='admin/bower_components/font-awesome/css/font-awesome.min.css') }}">
    <!-- Ionicons -->
    <link rel="stylesheet" href="{{ url_for('static', filename='admin/bower_components/Ionicons/css/ionicons.min.css') }}">
    <!-- Theme style -->
    <link rel="stylesheet" href="{{ url_for('static', filename='admin/dist/css/AdminLTE.min.css') }}">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->

    <!-- Google Font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
    <script>
        window.print()
    </script>
</head>
<body>
<div class="wrapper">
    
</div>
<!-- ./wrapper -->
<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<script>
    var emp = []
    {% for emp in employee %}
        emp.push({"id": "{{emp.id}}", "number": "{{emp.employee_number}}", "name": "{{emp.name}}"})
    {% endfor %}
    console.log(emp)
    var print = JSON.parse(localStorage['reservationPrint'])
    console.log(print)

    var userArray = []
    var count = 0
    $.each(print,function (key) {
        // console.log('XXXXXXXXXXXXXXXXX')
        // console.log(print[key].user_name)
        if (!userArray.includes(print[key].user_name)) { // 會員第一筆資料
            userArray.push(print[key].user_name)
            count = 0
            var nowDate = new Date()

            var list = '<section id="'+print[key].user_number+'" class="invoice">'+
                '<div class="row">'+
                    '<div class="col-xs-12">'+
                        '<h2 class="page-header">'+
                            '<i class="fa fa-globe"></i> 黛子醫美診所'+
                            '<small class="pull-right">日期: <span class="nowDate">'+nowDate.getFullYear()+'/'+(nowDate.getMonth()+1)+'/'+nowDate.getDate()+' '+nowDate.getHours()+':'+nowDate.getMinutes()+'</span></small>'+
                        '</h2>'+
                    '</div>'+
                '</div>'+
                '<div class="row invoice-info">'+
                    '<div class="col-sm-6 invoice-col">'+
                        '<address>'+
                            '會員姓名: <strong class="userName"></strong><br>'+
                        '</address>'+
                    '</div>'+
                    '<div class="col-sm-6 invoice-col">'+
                        '<address>'+
                            '會員編號: <strong class="userNumber"></strong><br>'+
                        '</address>'+
                    '</div>'+
                '</div>'+

                '<div class="row">'+
                    '<div class="col-xs-12 table-responsive">'+
                        '<table class="table">'+
                            '<thead>'+
                            '<tr>'+
                                '<th>服務名稱</th>'+
                                '<th>服務人員</th>'+
                                '<th>服務日期</th>'+
                                '<th>剩餘堂數</th>'+
                                '<th>建單人員</th>'+
                            '</tr>'+
                            '</thead>'+
                            '<tbody>'+
                            '</tbody>'+
                        '</table>'+
                    '</div>'+
                '</div>'+

                '<div style="text-align: right; line-height: 35px;">貴賓簽名: <div style="width: 250px; border-bottom: 1px solid #000; float: right; height: 30px;margin-left: 10px;"></div></div>'+
            '</section>';

            $('.wrapper').append(list)
            $('#'+print[key].user_number).find('.userName').text(print[key].user_name)
            $('#'+print[key].user_number).find('.userNumber').text(print[key].user_number)
        }
        var start = print[key].start.split(':')
        var end = print[key].end.split(':')
        var empName
        var empNames = print[key].employees[0].split(',')
        $.each(emp, function (index) {
            if (print[key].employee_id == emp[index].id) {
                empName = emp[index].name
            }
            $.each(empNames, function (no) {
                if (empNames[no] == emp[index].id) {
                    empNames[no] = emp[index].name
                }
                
            })
        })
        var list = '<tr>'+
                '<td>'+print[key].service+'</td>'+
                '<td>'+empNames.join('  ,  ')+'</td>'+
                '<td>'+start[0]+':'+start[1]+' - '+end[0]+':'+end[1]+'</td>'+
                '<td>'+print[key].quota+'</td>'+
                '<td>'+empName+'</td>'+
            '</tr>';
        $('#'+print[key].user_number).find('tbody').append(list)
        // var now = new Date()
        // var list = $('.wrapper').html()
        // $('.wrapper').append('<hr style="margin-top: 50px; margin-bottom: 50px; border: 0; border-top: 1px dashed #777;">'+
        //     '<div style="position: relative; margin-bottom: 20px;">'+
        //         '<span style="font-size: 22px; font-weight: 600; margin-left: 1px;" id="today">'+now.getFullYear()+'/'+(now.getMonth()+1)+'/'+now.getDate()+'</span>'+
        //         '<div style="position: absolute; top: 0; left: calc(50% - 50px); font-size: 22px;" class="textCenter">黛子醫美診所 | 服務證明存聯</div>'+
        //     '</div>'+list)
        
    })
</script>
</body>
</html>
