{% extends "admin/template.html" %}

{% block style %}
    <style>
        .statusColor {
            color: #fff;
        }
        .statusColor option {
            color: #777;
            background-color: #fff;
        }
        .select2-container .select2-selection--single {
            height: 36px!important;
        }
    </style>
    <link rel="stylesheet" href="{{ url_for('static', filename='backend/plugins/iCheck/all.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='backend/bower_components/select2/dist/css/select2.min.css') }}">
    <!-- Date Picker -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='backend/vendor/plugins/datatables/media/css/datatables.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='backend/vendor/plugins/datatables/media/css/datatables_addons.min.css') }}">
{% endblock style %}

{% block content %}

    <section class="content container-fluid of-a">
         <div class="panel panel-visible mnw1280">
            <div class="panel-heading">
                <div class="panel-title">
                    <div>
                        <a href="{{ url_for('order.calendar') }}" class="btn btn-primary w100 jwtLink">新增預約</a>
                    </div>
                    

                    <div class="pull-right mt5">
                        <div class="d-inline-block w200 mr10">
                            <div class="form-control d-inline">
                                <i class="fa fa-calendar fz14 text-danger ml5"></i>
                            </div>
                            <input type="text" class="form-control d-inline w150" id="datepicker">
                        </div>
                         <button onclick="print()" class="btn btn-primary d-inline-block jwtLink">
                            <i class="fa fa-print"></i> 列印
                        </button>
                    </div>
                       
                </div>
            </div>
            <div class="panel-body pn">
                <table id="example2" class="table table-bordered table-hover">
                    <thead>
                    <tr>
                        <th>會員姓名</th>
                        <th>會員等級</th>
                        <th>連絡電話</th>
                        <th>課程時間</th>
                        <th>預約課程</th>
                        <th>相關人員</th>
                        <th>狀態</th>
                        <th>#</th>
                        <th><input id="selAllEmp" type="checkbox" class="minimal-red" data-id=""></th>
                    </tr>
                    </thead>
                    <tbody>
                        {# api #}
                    </tbody>
                </table>
            </div>
            <!-- /.box-body -->
        </div>

    </section>

{% endblock content %}

{% block script %}

    <script src="{{ url_for('static', filename='backend/vendor/plugins/datatables/media/js/datatables.min.js') }}"></script>
    <script src="{{ url_for('static', filename='backend/vendor/plugins/datatables/media/js/datatables_addons.min.js') }}"></script>
    <script src="{{ url_for('static', filename='backend/bower_components/select2/dist/js/select2.full.min.js') }}"></script>
    <script src="{{ url_for('static', filename='backend/plugins/iCheck/icheck.min.js') }}"></script>
    <!-- datepicker -->
    <script src="{{ url_for('static', filename='backend/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js') }}"></script>
    
    <script>
        var now = (new Date()).getTime()
        var nowYear = new Date().getFullYear()
        var nowMonth = new Date().getMonth()+1
        var nowDate = new Date().getDate()

        var eventsList
        var ifFinish = 0
        var serviceOrderArray = []
        var userArray = []
        var event_employee_list // submit request

        var allEmployee = '<option value="0">請選擇</option>'+
                    {% for roles in roles %}
                        {% if roles.id > 1 %}
                            {% for data in employee %}
                                {% if data['grade_id'] == roles.id %}
                                    '<option data-type="{{data['grade_id']}}" data-grade="{{ roles['name'] }}" value="{{ data.id }}">{{ roles['name'] }} - {{ data.name }}</option>'+
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                    '';

        $('input[type="checkbox"].minimal-red').iCheck({
            checkboxClass: 'icheckbox_minimal-red'
        })

        $('#datepicker').val(nowYear+'/'+nowMonth+'/'+nowDate)
        $('#datepicker').datepicker({
            format: 'yyyy/mm/dd',
            autoclose: true,
            endDate: '+0d'
        })
        $('#datepicker').change(function () {
            var $new = new Date($('#datepicker').val())
            var newYear = $new.getFullYear()
            var newMonth = $new.getMonth()+1
            var newDate = $new.getDate()
            $('#example2').DataTable().destroy()
            getAPI(newYear,newMonth,newDate)
        })

        getAPI(nowYear,nowMonth,nowDate)
        function getAPI(year,month,date) {
            var tomorrow = new Date(year,month-1,date).getTime()+86400000
            var tomorrowYear = new Date(tomorrow).getFullYear()
            var tomorrowMonth = new Date(tomorrow).getMonth()+1
            var tomorrowDate = new Date(tomorrow).getDate()
            $.ajax({
                url: '/admin/order/api/event/'+year+'-'+month+'-'+date+'/'+tomorrowYear+'-'+tomorrowMonth+'-'+tomorrowDate,
                type: 'GET',
                datatype: 'json',
                contentType: "application/json",
                success: function (data) {
                    eventsList = data.eventsList
                        // console.log(eventsList)
                    var list = '', count = 0, array = []
                    $.each(eventsList,function(key,value) {
                        if (!array.includes(eventsList[key].event_id)) {
                            ifFinish++

                            var start = eventsList[key].start.split(' ')[1]
                            var end = eventsList[key].end.split(' ')[1]
                            var time = start.split(':')[0]+':'+start.split(':')[1] +'-'+ end.split(':')[0]+':'+end.split(':')[1]
                            var registered = eventsList[key].status

                            $.ajax({
                                url: "{{ url_for('userApi.userSearch') }}",
                                type: 'POST',
                                data: '{"search":"'+ eventsList[key].user_number +'"}',
                                datatype: 'json',
                                contentType: "application/json",
                                success: function (data) {
                                    // console.log(data)
                                    userArray.push(data)
                                    $('#'+eventsList[key].event_id).find('.grade').html(data.user_grade)
                                    $('#'+eventsList[key].event_id).find('.phone').html(data.user_phone)
                                    if(data.code) {
                                        swal({ type: 'error', title: data.msg })
                                    }
                                    else {
                                        $.ajax({
                                            url: "/admin/order/api/get/orderitems/by/useruuid/"+data.uuid+"/without/filter",
                                            type: 'GET',
                                            datatype: 'json',
                                            contentType: "application/json",
                                            success: function (data) {
                                                serviceOrder = data.serviceOrderItemsList
                                                serviceOrderArray.push(serviceOrder)
                                                // console.log(serviceOrder)
                                                // console.log(eventsList)

                                                var nameOption = '<option value="0">請選擇</option>'
                                                var index = 0
                                                for (var i = 0; i < serviceOrder.length; i++) {
                                                    
                                                    var status = '' //'disabled="true"'
                                                    if (eventsList[key].order_item_id == serviceOrder[i].order_items_id ) { 
                                                        status = 'selected="true"'
                                                        nameOption += '<option data-item="'+index+'" value="'+serviceOrder[i].product_id+'" '+status+'>'+serviceOrder[i].product_name+' *'+serviceOrder[i].quota+'</option>'
                                                        index++
                                                    }
                                                    else if (serviceOrder[i].quota != 0) {
                                                        nameOption += '<option data-item="'+index+'" value="'+serviceOrder[i].product_id+'" '+status+'>'+serviceOrder[i].product_name+' *'+serviceOrder[i].quota+'</option>'
                                                        index++
                                                    }
                                                }
                                                $('#'+eventsList[key].event_id).find('select[name="course"]').html(nameOption)
                                                $('#'+eventsList[key].event_id).find('select[name="status"]').val(registered)
                                                // // choose selector
                                                // setTimeout(function () {
                                                    $('#'+eventsList[key].event_id).find('select[name="course"]').trigger('change') // linkNode:2

                                                    for (var i = 0; i < eventsList[key].event_employee_id_list.length; i++) {
                                                        $('#'+eventsList[key].event_id).find('select[name="employee"] option[value="'+eventsList[key].event_employee_id_list[i]+'"]').attr('selected', true)
                                                    }
                                                    $('#'+eventsList[key].event_id).find('select[name="employee"]').trigger('change')
                                                    ifFinish--
                                                    if (ifFinish == 0) {
                                                        set()
                                                    }
                                                // },10)
                                            },
                                            error: function (xhr, textStatus, thownError) {
                                                swal({ title: '發生錯誤',text: xhr.getResponseHeader('error_code'),type: 'error' })
                                            }
                                        })
                                    }
                                },
                                error: function (xhr, textStatus, thownError) {
                                    swal({ title: '發生錯誤',text: xhr.getResponseHeader('error_code'),type: 'error' })
                                }
                            })
                            var $statusDisabled = '', $editDisabled = ''
                            if (eventsList[key].event_employee_id_list.indexOf({{ user['employee_id'] }}) < 0 && {{ grade }} == 4) {
                                $statusDisabled = ' disabled'
                            }
                            if ({{grade}} == 4) {
                                $editDisabled = ' hidden'
                            }
                            list += 
                                '<tr data-no="'+count+'" id="'+eventsList[key].event_id+'">'+
                                    '<td class="user" data-number="'+eventsList[key].user_number+'"><a onclick="getUser('+count+')">'+eventsList[key].user_name+'</a></td>'+
                                    '<td class="grade"></td>'+
                                    '<td class="phone"></td>'+
                                    '<td class="time" data-start="'+eventsList[key].start+'" data-end="'+eventsList[key].end+'">'+time+'</td>'+
                                    '<td>'+
                                        '<select name="course" class="form-control select2" disabled="true">'+
                                        '</select>'+
                                    '</td>'+
                                    '<td>'+
                                        '<select name="employee" class="form-control select2" multiple="multiple" disabled="true">'+allEmployee+
                                        '</select>'+
                                    '</td>'+
                                    '<td>'+
                                        '<select name="status" class="form-control statusColor" style="width: 100%;"'+$statusDisabled+'>'+
                                            '<option value="1" disabled="true">尚未報到</option>'+
                                            '<option value="2">已報到</option>'+
                                            '<option value="3">課程確認</option>'+
                                        '</select>'+
                                    '</td>'+
                                    '<td>'+
                                        '<a href="/admin/order/memberReservation/'+eventsList[key].user_number+'" class="btn btn-default btn-flat jwtLink">服務記錄</a>'+
                                        '<button onclick="edit($(this))" class="btn btn-warning btn-flat'+$editDisabled+'">編輯</button>'+
                                        '<button onclick="save($(this))" class="btn btn-success btn-flat hidden">儲存</button>'+
                                    '</td>'+
                                    '<td class="employee" data-id="'+eventsList[key].employees_id+'" data-list="'+eventsList[key].event_employee_id_list+'">'+
                                        '<input type="checkbox" class="minimal-grey" data-id="">'+
                                    '</td>'+
                                '</tr>';

                            count++
                            array.push(eventsList[key].event_id)
                        }
                    })
                    // if (list == '') {
                    //     list = '今日尚無預約'
                    // }
                    $('#example2 tbody').html(list)
                    // $('#todayReservation').text(count)
                },
                error: function (xhr, textStatus, thownError) {
                    swal({
                        title: '發生錯誤',
                        text: xhr.getResponseHeader('error_code'),
                        type: 'error'
                    })
                }
            });

        }

        function set() {
            var employeeLimit = []
            var employeeGrade = []
            var employeeTitle = []
            var employeeEvent = []
            var count = 0
            $('select[name="course"]').change(function () {
                employeeLimit = []
                employeeGrade = []
                employeeTitle = []
                employeeEvent = []
                var employeeSel = $(this).parent().next().children('select')
                var index = $(this).select2('data')[0].element.dataset.item
                var no = parseInt($(this).parents('tr').data('no'))
                var employeeNeed = ''
                
                employeeSel.html(allEmployee)
                // console.log('no: '+no)
                // console.log('index: '+index)
                // console.log(serviceOrderArray[no][index])
                for (var i = 0; i < serviceOrderArray[no][index].servicepart_list.length; i++) {
                    // console.log(serviceOrderArray[no][index].servicepart_list[i])
                    employeeTitle.push('0')
                    employeeLimit.push(parseInt(serviceOrderArray[no][index].servicepart_list[i].number))
                    employeeGrade.push(serviceOrderArray[no][index].servicepart_list[i].employee_grade)
                    employeeSel.children('option').each(function () {
                        if ($(this).data('type') == employeeGrade[i]) {
                            $(this).data('type', 0)
                            employeeTitle[i] = $(this).data('grade')
                        }
                    })
                    employeeNeed += ' '+ employeeTitle[i] +':'+ employeeLimit[i]+ '名'
                }
                // console.log(serviceOrderArray[no][index].event_list)
                for (var i = 0; i < serviceOrderArray[no][index].event_list[0].length; i++) {
                    // console.log(serviceOrderArray[no][index].event_list[0][i].event_employee_id)
                    employeeEvent.push(String(serviceOrderArray[no][index].event_list[0][i].event_employee_id))
                }
                employeeSel.children('option').each(function () {
                    if ($(this).data('type') != 0) {
                        $(this).remove()
                    }
                })
                if (count>0) {
                    // swal({
                    //     type: 'info',
                    //     title: employeeNeed
                    // })
                }
                count++
            })

            $('select[name="employee"]').change(function () {
                event_employee_list = []
                var employeeLimitCount = []
                for (var i = 0; i < employeeLimit.length; i++) {
                    employeeLimitCount.push(employeeLimit[i])
                    event_employee_list.push({ "employee_grade": '', "employee_id": [], "event_employee_id": []  })
                }
                for (var i = 0; i < $(this).select2('data').length; i++) {
                    var type = $(this).select2('data')[i].element.dataset.type
                    // console.log('~~~~~~~~~~~~~~~~type: '+type)
                    for (var j = 0; j < employeeGrade.length; j++) {
                        if (employeeGrade[j] == type) {
                            employeeLimitCount[j] -= 1
                            event_employee_list[j].employee_grade = parseInt(type)
                            event_employee_list[j].employee_id.push($(this).select2('data')[i].id)
                            event_employee_list[j].event_employee_id.push(employeeEvent[i])

                        }
                        if (employeeLimitCount[j] < 0) {
                            swal({
                                type: 'error',
                                title: employeeTitle[j]+'已超出人數'
                            })
                        }
                    }
                }
                // console.log('event_employee_list: ')
                // console.log(event_employee_list)
            })

            $('input[type="checkbox"].minimal-grey').iCheck({
                checkboxClass: 'icheckbox_minimal-grey'
            })
            $('#selAllEmp').on('ifChanged', function(){
                if ($(this).prop('checked')) {
                    $('input[type="checkbox"].minimal-grey').iCheck('check')
                }
                else {
                    $('input[type="checkbox"].minimal-grey').iCheck('uncheck')
                }
            });

            $('.select2').select2({ width: '100%', height: '100%' })

            $('select[name="status"]').change(function () {
                // console.log($(this).val())
                var $this = $(this)
                $.ajax({
                    url: "{{ url_for('orderApi.eventDoctorCheck') }}",
                    type: 'PUT',
                    data: '{"_token": "'+ localStorage['token'] +'", "event_id":'+ $(this).parents('tr').attr('id') +'}',
                    datatype: 'json',
                    contentType: "application/json",
                    success: function (data) {
                        statusColor($this)
                        swal({
                            title: '狀態已變更',
                            type: 'success'
                        })
                    },
                    error: function (xhr, textStatus, thownError) {
                        swal({
                            title: '發生錯誤',
                            text: xhr.getResponseHeader('error_code'),
                            type: 'error'
                        })
                    }
                });
            })
            $('select[name="status"]').each(function () {
                statusColor($(this))
            })
            function statusColor($this) {
                var color = $this.val()
                if (color == 3) {
                    $this.css('background-color', '#3c8dbc')
                    $this.attr('disabled', true)
                    $this.parents('tr').find('.btn-warning').css('display', 'none')
                } else if (color == 2) {
                    $this.css('background-color', '#00a65a')
                } else {
                    $this.attr('disabled', true)
                    $this.css('background-color', '#999')
                }
            }

            $('#example2').dataTable({
                dom: '<"top dt-panelmenu"Bf>rt<"bottom dt-panelfooter"ip>',
                buttons: [
                    {
                        extend: 'copy',
                        exportOptions: {
                            columns: ':visible'
                        }
                    },
                    {
                        extend: 'excel',
                        exportOptions: {
                            columns: ':visible'
                        }
                    },
                    {
                        extend: 'print',
                        exportOptions: {
                            columns: ':visible'
                        }
                    },
                    'colvis'
                ],
                autoWidth: false,
                paging: false,
                columns: [
                    {orderable: true},
                    {orderable: true},
                    {orderable: true},
                    {orderable: true},
                    {orderable: false},
                    {orderable: false},
                    {orderable: false},
                    {orderable: false},
                    {orderable: false}
                ],
            });
        }

        
        function edit($this) {
            var $tr = $this.parents('tr')
            $this.addClass('hidden')
            $this.next().removeClass('hidden')
            $this.parents('tr').find('.select2').attr('disabled', false)

            $tr.find('select[name="course"]').trigger('change')
        }
        function save($this) {
            var $tr = $this.parents('tr')
            $this.addClass('hidden')
            $this.prev().removeClass('hidden')
            $tr.find('.select2').attr('disabled', true)
            // console.log(serviceOrder[$tr.find('select[name="course"]').select2('data')])

            var order_items_id = serviceOrder[$tr.find('select[name="course"]').select2('data')[0].element.dataset.item].order_items_id
            var eventId = $this.parents('tr').attr('id')
            var index = $this.parents('tr').data('no')
            var token = localStorage.getItem(tokenName);
            var data = '{"_token": "' + token + '","event_id": "'+eventId+'","user_uuid": "'+userArray[index].uuid+'","order_item_id": "'+order_items_id+'","product_name": "'+$tr.find('select[name="course"]').select2('data')[0].text+'", "start_time": "'+$tr.find('.time').data('start')+'","end_time": "'+$tr.find('.time').data('end')+'","note": "", "event_employee_list": '+JSON.stringify(event_employee_list)+' }'

            $.ajax({
                url: "{{ url_for('orderApi.eventCreate') }}",
                type: 'POST',
                data: data,
                datatype: 'json',
                contentType: "application/json",
                success: function (data) {
                    swal({
                        type: 'success',
                        title: '資料已完成'
                    })
                },
                error: function (xhr, ajaxOptions, thownError) {
                    swal({
                        type: 'error',
                        title: '資料有誤，請確認輸入內容'
                    })
                }
            })
        }

        function getUser(id) {
            swal({
                title: '用戶名: '+ userArray[id].user_name,
                html: '<span style="font-size: 16px;">地址: '+ userArray[id].user_address+
                '<br>電話: '+ userArray[id].user_phone +
                '<br>點數: '+ userArray[id].user_point+'</span>',
            })
        }

        function print() {
            var printArray = []
            $('.icheckbox_minimal-grey').each(function () {
                if ($(this).attr('aria-checked') == 'true') {
                    var $tr = $(this).parents('tr')
                    // printArray.push({"user_name": $tr.find('.user').text()})
                    printArray.push({"user_name": $tr.find('.user').text(),"user_number": $tr.find('.user').data('number'),"employee_id": $tr.find('.employee').data('id'),"start": $tr.find('.time').data('start'),"end": $tr.find('.time').data('end'),"employees": [String($tr.find('.employee').data('list'))],"service": $tr.find('select[name="course"]').select2('data')[0].text.split(' *')[0],"quota": $tr.find('select[name="course"]').select2('data')[0].text.split(' *')[1]})
                }
            })
            // console.log(printArray)
            localStorage.setItem('reservationPrint', JSON.stringify(printArray))// JSON.parse(localStorage['reservationPrint'])
            $('#token').attr('action', '{{ url_for('order.printReservation') }}').attr('target','_blank')
            $('input[name="_token"]').val(localStorage[tokenName])
            $('#token').submit();
            $('#token').attr('target','')
        }

    </script>
{% endblock script %}