{% extends "admin/template.html" %}

{% block title %}
- 預約表
{% endblock title %}

{% block style %}
{# <link rel="stylesheet" href="{{ url_for('static', filename='general/bootstrap/css/bootstrap.min.css') }}"> #}
<link rel="stylesheet" href="{{ url_for('static', filename='backend/vendor/plugins/select2/css/select2.min.css') }}">
{# <link rel="stylesheet" href="{{ url_for('static', filename='backend/bower_components/font-awesome/css/font-awesome.min.css') }}"> #}
{# <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css"> #}
{# <link rel="stylesheet" href="{{ url_for('static', filename='backend/bower_components/bootstrap-tempusdominus/css/tempusdominus-bootstrap-4.min.css') }}"> #}
<link rel="stylesheet" href="{{ url_for('static', filename='backend/vendor/plugins/daterange/daterangepicker.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='backend/vendor/plugins/table-dragger/table-dragger.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='backend/plugins/iCheck/all.css') }}">
{# <link rel="stylesheet" href="{{ url_for('static', filename='css/admin.css') }}"> #}
<link rel="stylesheet" href="{{ url_for('static', filename=TenantSetting[2]+'/css/calendar.css') }}">

<script src=""></script>

{% endblock style %}

{% block content %}

	<div class="panel panel-visible mnw500">
        <div class="panel-heading">
            <div class="panel-title">
                <span class="glyphicon glyphicon-tasks"></span>預約表
            </div>
        </div>
        <div class="panel-body">
        	<div class="input-group date">
                <input id="chooseDate" type="text" class="form-control"/>
                <span class="input-group-addon" data-target="#chooseDate">
                    <span class="fa fa-calendar"></span>
                </span>
            </div>
        </div>
    </div>

	<div id='wrap'>

		<div id='external-events'>
			<h4>醫美人員</h4>
			<div>
				<div class='fc-event' id="leaveEmployee">休假員工</div>
				<input type="checkbox" class="minimal-grey" data-id="leaveSwitch">
			</div>
			{% for roles in roles %}
				{% if roles.id == 4 or roles.id == 3 %}
					{% for data in employee %}
						{% if data['grade_id'] == roles.id %}
						<div>
							<div class='fc-event' id="{{ data.employee_number }}">{{ roles['name'] }} - {{ data.name }}</div>
							<input type="checkbox" class="minimal-grey" data-id="{{ data.employee_number }}">
						</div>
						{% endif %}
					{% endfor %}
				{% endif %}
			{% endfor %}
			<label>
				全選
				<input id="selAllEmp" type="checkbox" class="minimal-red">
			</label>
		</div>

		<div id='calendar' class="d-flex">
			<table id="time-slot" class="table table-striped w100">
				<tbody>
				</tbody>
			</table>
			<div class="flex1 of-a">
				<table id="only-body-table" class="table table-striped">
					<tbody>
					</tbody>
				</table>
			</div>
		</div>

		

		<div style='clear:both'></div>

	</div>

<div class="modal fade" id="addEventModal" role="dialog" aria-labelledby="addEventModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addEventModalLabel">預約表</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        
        <label>預約客戶: <span id="userName"></span></label>
        <input type="text" id="eventId" value="" hidden>
        <div class="form-group">
            <label>預約開始時間:</label>
            <div class="input-group date">
                <input id="startTime" type="text" class="form-control"/>
                <span class="input-group-addon" data-target="#startTime">
                    <span class="fa fa-calendar"></span>
                </span>
            </div>
        </div>

        <div class="form-group">
            <label>預約結束時間:</label>
            <div class="input-group date">
                <input id="endTime" type="text" class="form-control"/>
                <span class="input-group-addon" data-target="#endTime">
                    <span class="fa fa-calendar"></span>
                </span>
            </div>
        </div>

        <div class="form-group">
            <label>預約項目:</label>
            <div class="input-group">
                <select id="productName" class="form-control select2" data-placeholder="請選擇">
                    
                </select>
            </div>
        </div>

        <div class="form-group">
            <label>相關人員: <span id="employeeNeed"></span></label>
            <div class="input-group">
                <select id="employees" class="form-control select2" multiple="multiple" data-placeholder="請選擇" disabled="true">
                    <option value="0">請選擇</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label>備註:</label>
            <div class="input-group">
                <textarea class="form-control" name="note" id="note" rows="2"></textarea>
            </div>
        </div>

      </div>
      <div class="modal-footer">
        <button onclick="checkin()" type="button" class="btn btn-primary editBtn" style="position: absolute;left: 15px;bottom: 15px;">報到</button>
        <button onclick="deleteEvent()" type="button" class="btn btn-danger editBtn">刪除</button>
        <button id="cancelModal" type="button" class="btn btn-secondary" data-dismiss="modal">關閉</button>
        <button onclick="submitEvent()" type="button" class="btn btn-primary">儲存</button>
      </div>
    </div>
  </div>
</div>

{% endblock content %}

{% block script %}
 	<script src="{{ url_for('static', filename='general/sweetalert.min.js') }}"></script>
    {# <script src="{{ url_for('static', filename='general/bootstrap/js/bootstrap.min.js') }}"></script> #}
    {# <script src="{{ url_for('static', filename='backend/bower_components/bootstrap/dist/js/bootstrap.min.js') }}"></script> #}
    {# <script src="{{ url_for('static', filename='backend/bower_components/bootstrap-tempusdominus/js/moment.js') }}"></script> #}
    {# <script src="{{ url_for('static', filename='backend/bower_components/bootstrap-tempusdominus/js/tempusdominus-bootstrap-4.min.js') }}"></script> #}
    <script src="{{ url_for('static', filename='backend/vendor/plugins/select2/js/select2.full.min.js') }}"></script>
    <script src="{{ url_for('static', filename='backend/vendor/plugins/moment/moment.min.js') }}"></script>
    <script src="{{ url_for('static', filename='backend/vendor/plugins/daterange/daterangepicker.js') }}"></script>
    <script src="{{ url_for('static', filename='backend/vendor/plugins/table-dragger/table-dragger.min.js') }}"></script>
    <script src="{{ url_for('static', filename='backend/plugins/iCheck/icheck.min.js') }}"></script>

    <script>
    	console.log(0)
    	var eventColor = ["#000000","#de8a45","#9b2335","#6ab25f","#2a78dc","#ffc3a0","#663271","#ff6666","#0e2f44","#794044","#ffa500","#3b5998","#6dc066","#191970","#088da5","#fa8072","#0c342a","#560101","#008bd2","#6497b1","#c22342","#f07d00","#b3ffe1","#f4cccc","#96358c","#70a3bc","#23a638","#e6007e","#b5b632","#4a5321","#e9c28b","#9b2335","#6ab25f","#2a78dc","#ffc3a0","#663271","#ff6666","#0e2f44","#794044","#ffa500","#3b5998","#6dc066","#191970","#088da5","#fa8072","#0c342a","#560101","#008bd2","#6497b1","#c22342","#f07d00","#b3ffe1","#f4cccc","#96358c","#70a3bc","#23a638","#e6007e","#b5b632","#4a5321","#e9c28b"]

        var nowTime = moment().utcOffset(8).add(1, 'hour').format('YYYY-MM-DD HH')+':00'
		$('#chooseDate').daterangepicker({
			singleDatePicker: true,
			showDropdowns: true,
			minYear: 2019,
			maxDate: nowTime,
			autoApply: true,
			timePicker: false,
			locale: {
				format: 'YYYY-MM-DD'
			}
		}, function(start, end, label) {
			getEvent(moment(start).format('YYYY-MM-DD'))
		});
		$('.input-group-addon').click(function () {
			$($(this).attr('data-target')).click()
		})

		$('input[type="checkbox"].minimal-grey').iCheck({
            checkboxClass: 'icheckbox_minimal-grey'
        })
        $('input[type="checkbox"].minimal-red').iCheck({
            checkboxClass: 'icheckbox_minimal-red'
        })
        $('input[type="checkbox"]').iCheck('check')
        $('.icheckbox_minimal-grey').css('float', 'right')

        $('#selAllEmp').on('ifChanged', function(){
            if ($(this).prop('checked')) {
                $('input[type="checkbox"].minimal-grey').iCheck('check')
            }
            else {
                $('input[type="checkbox"].minimal-grey').iCheck('uncheck')
            }
        });

        $('.minimal-grey').on('ifChanged', function(){
            var id = $(this).data('id')
            if ($(this).prop('checked')) {
                $('td[data-employeeid="'+id+'"]').removeClass('d-none')
            }
            else {
                $('td[data-employeeid="'+id+'"]').addClass('d-none')
            }
        })

		$('#external-events .fc-event').each(function(key) {
		  // store data so the calendar knows to render an event upon drop
			$(this).data('event', {
				title: $.trim($(this).text()), // use the element's text as the event title
				stick: true, // maintain when user navigates (see docs on the renderEvent method)
				color: eventColor[key],
				className: $.trim($(this).attr('id'))
			});

			$(this).css({
				// 'background-color': eventColor[key],
				'border-color': eventColor[key],
				'width': 'calc(100% - 30px)',
				'display': 'inline'
			})
		 
		});

    	var employeeList = [], countFinish = 2
    	var allEmployee = '<option value="0">請選擇</option>'
    	{% for roles in roles %}
            {% if roles.id == 4 or roles.id == 3 %}
                {% for data in employee %}
                    {% if data['grade_id'] == roles.id %}
                    	employeeList.push({'id':"{{ data['employee_number'] }}", 'roleName': "{{ roles['name'] }}", 'name': "{{ data['name'] }}", 'roleId': {{ roles['id'] }} })
                    	allEmployee += '<option data-type="{{data['grade_id']}}" data-grade="{{ roles['name'] }}" value="{{ data.id }}">{{ roles['name'] }} - {{ data.name }}</option>'
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endfor %}

        var employeeTD, employeeTH, timeSlot, employeeText
        var employeeWidth = 0
        function employeeFun() {
        	employeeTD = ''
        	employeeTH = ''
        	for (var i = 0; i < employeeList.length; i++) {
        		employeeTD += '<td class="" data-employeeId="'+employeeList[i].id+'"></td>'
        		employeeTH += '<td class="th" data-employeeId="'+employeeList[i].id+'">'+employeeList[i].name+'</td>'
        		employeeWidth += 10
        	}
        	setTimeSlot(9,21)
        }
        employeeFun()

    	function setTimeSlot(start,end) {
    		timeSlot = ''
    		
    		timeSlot += '<tr class="thead" data-timeSlot=""><td class="">時段/人員</td></tr>'
    		employeeText += '<tr class="thead" data-timeSlot="">'+employeeTH+'</tr>'
    		for (var i = start; i <= end; i++) {
    			timeSlot += '<tr class="" data-timeSlot="'+i+'"><td class="">'+i+':00</td></tr>'
    			employeeText += '<tr class="tbody" data-timeSlot="'+i+'">'+employeeTD+'</tr>'
    		}
    		$('#time-slot tbody').html(timeSlot)
    		$('#only-body-table tbody').html(employeeText)
    		$('#only-body-table').css('width', employeeWidth+'rem')
    		
    		
			countFinish--
    		if (countFinish == 0) {
    			showEvent()
    		}
    	}
    	
    	

    	function setDragger() {
            var Dragger = tableDragger(document.getElementById('only-body-table'), {
				mode: 'column',
				dragHandler: '.th',
				onlyBody: true,
				animation: 300
			});
           
            Dragger.on('drop',function(from, to){
                // console.log('from: '+from)
                // console.log('to: '+to)
                // var item = vueData.ProductImage
                // var temp = item[to]
                // item.splice(to,0,item[from])
                // item.splice(from+1,1)

                // imgSort()
            });
            Dragger.on('drag',function(from, to){
               	console.log(from)
            });
        }
        // setDragger()

        var startDate = moment().utcOffset(8).format('YYYY-MM-DD')
        var eventsList
        function getEvent(startDate) {
        	var endDate = moment(startDate).add(1, 'days').format('YYYY-MM-DD')
        	$.ajax({
	            url: "/admin/order/api/event/"+startDate+'/'+endDate,
	            type: 'GET',
	            datatype: 'json',
	            contentType: "application/json",
	            success: function (data) {
	                console.log(data.eventsList)
	                eventsList = data.eventsList
					countFinish--
					if (countFinish == 0) {
						countFinish++
						showEvent()
					}
	            },
	            error: function (xhr, textStatus, thownError) {
	              swal({
	                  title: '預約發生錯誤',
	                  text: xhr.getResponseHeader('error_code'),
	                  type: 'error'
	              })
	            }
	        });
        } getEvent(startDate)

        function showEvent() {
        	$('#only-body-table tr.tbody td').html('')
        	for (var i = 0; i < eventsList.length; i++) {
            	createItem(eventsList[i], i)
            }
            setDragger()
            setEventFunc()
        }

        function createItem(event, i) {
        	var start = moment(event.start)
        	var startHour = parseInt(start.format('HH'))
        	var startMinute = parseInt(start.format('mm'))
        	var end = moment(event.end)
        	var endHour = parseInt(end.format('HH'))
        	var endMinute = parseInt(end.format('mm'))
        	var itemHeight = ((endHour - startHour) * 60 + (endMinute - startMinute)) / 60 * 100
        	var itemTop = startMinute/60*100
        	var color = $('#'+event.title_employee_number).css('border-color')
        	var itemStyle = 'border-color: '+color+'; top: '+itemTop+'%; height: '+itemHeight+'%;'

        	var temp = '<div data-index="'+i+'" class="eventItem fc-event" style="'+itemStyle+'">'+event.user_name+'</div>'
			$('#only-body-table tr[data-timeslot="'+startHour+'"] td[data-employeeid="'+event.title_employee_number+'"]').append(temp)
        }

        function setEventFunc() {
        	$('.eventItem').unbind('click').click(function () {
        		var i = parseInt($(this).attr('data-index'))
        		editEvent(eventsList[i])
        	})
        	$('.tbody').unbind('click').click(function (e) {
        		if (!$('.eventItem ').is(e.target) && $('.eventItem ').has(e.target).length === 0) {
		            chooseMember()
		        }
        	})
        }

        var memberData, serviceOrder
		function chooseMember() {
			$('.btn-primar.editBtn').hide() // 報到
			swal({
			    title: '請輸入會員編號或身分證字號',
			    input: 'text',
			    showCancelButton: true,
			    confirmButtonText: '查詢',
			    cancelButtonText: '關閉',
			    showLoaderOnConfirm: true,
			    preConfirm: (text) => {
			        return new Promise((resolve) => {
			            if (text) {
			                $.ajax({
			                    url: "{{ url_for('userApi.userSearch') }}",
			                    type: 'POST',
			                    data: '{"search":"'+ text +'"}',
			                    datatype: 'json',
			                    contentType: "application/json",
			                    success: function (data) {
			                        if(data.code) {
			                            swal({
			                                type: 'error',
			                                title: data.msg
			                            })
			                        }
			                        else {
			                            memberData = data
			                            $.ajax({
			                                url: "/admin/order/api/get/orderitems/by/useruuid/"+data.uuid,
			                                type: 'GET',
			                                datatype: 'json',
			                                contentType: "application/json",
			                                success: function (data) {
			                                    serviceOrder = data.serviceOrderItemsList

			                                    var nameOption = '<option value="0">請選擇</option>'
			                                    for (var i = 0; i < serviceOrder.length; i++) {
			                                        if (serviceOrder[i].quota != 0) {
			                                            nameOption += '<option data-item="'+i+'" value="'+serviceOrder[i].product_id+'" '+status+'>'+serviceOrder[i].product_name+' *'+serviceOrder[i].quota+'</option>'
			                                        }
			                                    }
			                                    $('#productName').html(nameOption)
			                                    // linkNode:1
			                                    // console.log('order_items_id: '+data.serviceOrderItemsList[0].order_items_id)
			                                },
			                                error: function (xhr, ajaxOptions, thownError) {
			                                    swal({
			                                        type: 'error',
			                                        title: 'ERROR - can not connecting database'
			                                    })
			                                }
			                            })
			                            $('#userName').text(data.user_name + ' - ' + data.user_number + ' - ' + data.user_grade)
			                            resolve(data)
			                        }
			                    },
			                    error: function (xhr, ajaxOptions, thownError) {
			                        swal({
			                            type: 'error',
			                            title: 'ERROR - can not connecting database'
			                        })
			                    }
			                })
			            }
			            else { // text is empty
			                swal({
			                    type: 'error',
			                    title: '請輸入會員編號或身分證字號',
			                    showCancelButton: true,
			                    confirmButtonText: '確認',
			                    cancelButtonText: '關閉'
			                }).then((result) => {
			                    if (result.value) {
			                        chooseMember()
			                    }
			                })
			            }
			        })
			    },
			    allowOutsideClick: () => !swal.isLoading()
			}).then((result) => {
			    if (result.value) {
			        swal({
			            type: 'success',
			            title: '已取得該會員資料',
			            html: '會員姓名: ' + result.value.user_name + '<br>剩餘點數: ' + result.value.user_point
			        })
			        $('#addEventModal').modal('show')
			        $('#employees').attr('disabled', true)
			    }
			    else if (result.dismiss === swal.DismissReason.cancel) {  // Read more about handling dismissals
			        $('.fc-day-grid-event.fc-h-event.fc-event.fc-start.fc-end.fc-draggable.fc-resizable').not('.leaveSwitch').remove()
			        $('.fc-time-grid-event.fc-v-event.fc-event.fc-start.fc-end.fc-draggable.fc-resizable').not('.leaveSwitch').remove()
			    }
			})
		}

		var employeeLimit = []
        var employeeGrade = []
        var employeeTitle = []
        var employeeEvent = []
        $('#productName').change(function () {
            employeeLimit = []
            employeeGrade = []
            employeeTitle = []
            employeeEvent = []
            $('#employees').attr('disabled', false)
            var index = $('#productName').select2('data')[0].element.dataset.item
            var employeeNeed = ''
            
            $('#employees').html(allEmployee)
            // console.log( $('#productName').select2('data')[0])
            // console.log(index)
            // console.log(serviceOrder[index])
            for (var i = 0; i < serviceOrder[index].servicepart_list.length; i++) {
                employeeTitle.push('0')
                employeeLimit.push(parseInt(serviceOrder[index].servicepart_list[i].number))
                employeeGrade.push(serviceOrder[index].servicepart_list[i].employee_grade)
                $('#employees option').each(function () {
                    if ($(this).data('type') == employeeGrade[i]) {
                        $(this).data('type', 0)
                        employeeTitle[i] = $(this).data('grade')
                    }
                })
                employeeNeed += ' '+ employeeTitle[i] +':'+ employeeLimit[i]+ '名'
                // console.log('employee_grade: '+ serviceOrder[index].servicepart_list[i].employee_grade)
                // console.log('number: '+serviceOrder[index].servicepart_list[i].number)
            }
            console.log(serviceOrder[index].event_list)
            for (var i = 0; i < serviceOrder[index].event_list[0].length; i++) {
                // console.log(serviceOrder[index].event_list[0][i].event_employee_id)
                employeeEvent.push(String(serviceOrder[index].event_list[0][i].event_employee_id))
            }
            $('#employees option').each(function () {
                if ($(this).data('type') != 0) {
                    $(this).remove()
                }
            })
            $('#employeeNeed').html(employeeNeed)
        })

		var event_employee_list // submit request
        $('#employees').change(function () {
            event_employee_list = []
            var employeeLimitCount = []
            for (var i = 0; i < employeeLimit.length; i++) {
                employeeLimitCount.push(employeeLimit[i])
                event_employee_list.push({ "employee_grade": '', "employee_id": [], "event_employee_id": []  })
            }
            // console.log(employeeLimit)
            // console.log(employeeLimitCount)
            // console.log($('#employees').select2('data'))
            // console.log($('#employees').select2('data').length)
            for (var i = 0; i < $('#employees').select2('data').length; i++) {
                var type = $('#employees').select2('data')[i].element.dataset.type
                // console.log('~~~~~~~~~~~~~~~~type: '+type)
                for (var j = 0; j < employeeGrade.length; j++) {
                    if (employeeGrade[j] == type) {
                        employeeLimitCount[j] -= 1
                        event_employee_list[j].employee_grade = parseInt(type)
                        event_employee_list[j].employee_id.push($('#employees').select2('data')[i].id)
                        event_employee_list[j].event_employee_id.push(employeeEvent[i])

                    }
                    if (employeeLimitCount[j] < 0) {
                        swal({
                            type: 'error',
                            title: employeeTitle[j]+'已超出人數'
                        })
                    }
                    // console.log('event_employee_list')
                    // console.log('{"event_employee_list": "'+JSON.stringify(event_employee_list)+'" }')
                    // console.log(event_employee_list[0].employee_grade)
                    // console.log(event_employee_list[0].employee_id)
                    // console.log('employeeGrade: '+employeeGrade[j])
                    // console.log('employeeLimitCount: '+employeeLimitCount[j])
                }
            }
        })

        $('#addEventModal').on('shown.bs.modal', function (e) {
            $('#eventId').val('')
            $('#note').val('')
            $('#employeeNeed').text('')

            $('.select2').select2()

            // modal
            setTimeout(function () {
                $('#startTime').children('input').val($('#startTime').children('input').data('time'))
                $('#endTime').children('input').val($('#endTime').children('input').data('time'))
            },300)
                
            $('#startTime').daterangepicker({
				singleDatePicker: true,
				showDropdowns: true,
				minDate: nowTime,
				autoApply: true,
				timePickerIncrement: 5,
				locale: {
					format: 'YYYY-MM-DD HH:mm'
				}
			}, function(start, end, label) {
				endTime(moment(start._d).add(1, 'hour'))
			});
			function endTime($minDate) {
				$('#endTime').daterangepicker({
					singleDatePicker: true,
					showDropdowns: true,
					minDate: $minDate,
					autoApply: true,
					timePickerIncrement: 5,
					locale: {
						format: 'YYYY-MM-DD HH:mm'
					}
				})
			} endTime(moment(nowTime).add(1, 'hour'))
        })

		function submitEvent() {
            var order_items_id = serviceOrder[$('#productName').select2('data')[0].element.dataset.item].order_items_id
            var eventId = $('#eventId').val()//==''?"":$('#eventId').val()
            var token = localStorage.getItem(tokenName);
            var data = '{"_token": "' + token + '","event_id": "'+eventId+'","user_uuid": "'+memberData.uuid+'","order_item_id": "'+order_items_id+'","product_name": "'+$('#productName').select2('data')[0].text+'", "start_time": "'+$('#startTime').val()+'","end_time": "'+$('#endTime').val()+'","note": "'+$('#note').val()+'", "event_employee_list": '+JSON.stringify(event_employee_list)+' }'

            $.ajax({
                url: "{{ url_for('orderApi.eventCreate') }}",
                type: 'POST',
                data: data,
                datatype: 'json',
                contentType: "application/json",
                success: function (data) {
                    swal({
                        type: 'success',
                        title: '資料已完成'
                    })
                    getEvent($('#chooseDate').val())
                    // <<<< con't finish >>>>
                    // var userName = $('#userName').text().split(' - ')[0]
                    // for (var i = 0; i < event_employee_list.length; i++) {
                    // 	for (var j = 0; j < event_employee_list[i].employee_id.length; j++) {
                    // 		var temp = event_employee_list[i].employee_id[j]
                    // 		empNumb = 'E'
                    // 		for (var i = 0; i < (6 - String(temp).length).length; i++) {
                    // 			empNumb += '0'
                    // 		}
                    // 		empNumb += temp
                    // 		var event = {'start': $('#startTime').val(), 'end': $('#endTime').val(), 'title_employee_number': empNumb, 'user_name': userName}
                    // 	}
                    // }
                    // if (eventId) { // edit
                    // 	createItem(event)
                    // } else { // create

                    // }
                    $('#addEventModal').modal('hide')                    
                },
                error: function (xhr, ajaxOptions, thownError) {
                    swal({
                        type: 'error',
                        title: '資料有誤，請確認輸入內容'
                    })
                }
            })
        }

		function editEvent(calEvent) {
            console.log(calEvent)
            if (calEvent.status > 1) { // allready checkin
              $('.modal .form-control').attr('disabled', true)
              $('.modal .btn-danger').hide() // delete
              $('.modal .btn-primary').hide() // comfirm, checked
            }
            else {
              $('.modal .form-control').attr('disabled', false)
              $('.modal .btn-danger').show()
              $('.modal .btn-primary').show()
            }
            // console.log("!!!!!!!  "+calEvent.start)
            // console.log("  "+calEvent.end)
            $('#startTime').val(moment(calEvent.start).format('YYYY-MM-DD HH:mm'))
            $('#endTime').val(moment(calEvent.end).format('YYYY-MM-DD HH:mm'))
            var employeesId = calEvent.event_employee_id_list

            
            // console.log(calEvent)
            $('#addEventModal').modal('show')
            $('#employees').attr('disabled', false)

            setTimeout(function () {
                $('#eventId').val(calEvent.event_id)
                $('#note').val(calEvent.note)
            },500)

             $.ajax({
                url: "{{ url_for('userApi.userSearch') }}",
                type: 'POST',
                data: '{"search":"'+ calEvent.user_number +'"}',
                datatype: 'json',
                contentType: "application/json",
                success: function (data) {
                  console.log(data)
                    if(data.code) {
                        swal({
                            type: 'error',
                            title: data.msg
                        })
                    }
                    else {
                        memberData = data
                        $.ajax({
                            url: "/admin/order/api/get/orderitems/by/useruuid/"+data.uuid+"/without/filter",
                            type: 'GET',
                            datatype: 'json',
                            contentType: "application/json",
                            success: function (data) {
                                serviceOrder = data.serviceOrderItemsList
                                // console.log(serviceOrder)
                                // console.log(calEvent)

                                var nameOption = '<option value="0">請選擇</option>'
                                for (var i = 0; i < serviceOrder.length; i++) {
                                    
                                    var status = '' //disabled="true"
                                    if (calEvent.order_item_id == serviceOrder[i].order_items_id ) { 
                                        status = 'selected="true"'
                                        nameOption += '<option data-item="'+i+'" value="'+serviceOrder[i].product_id+'" '+status+'>'+serviceOrder[i].product_name+' *'+serviceOrder[i].quota+'</option>'
                                    }
                                    else if (serviceOrder[i].quota != 0) {
                                        nameOption += '<option data-item="'+i+'" value="'+serviceOrder[i].product_id+'" '+status+'>'+serviceOrder[i].product_name+' *'+serviceOrder[i].quota+'</option>'
                                    }
                                }
                                $('#productName').html(nameOption)

                                // choose selector
                                setTimeout(function () {
                                    $('#productName').trigger('change') // linkNode:2

                                    for (var i = 0; i < employeesId.length; i++) {
                                        $('#employees option[value="'+employeesId[i]+'"]').attr('selected', true)
                                    }
                                    $('#employees').trigger('change')
                                },500)
                                
                            },
                            error: function (xhr, ajaxOptions, thownError) {
                                swal({
                                    type: 'error',
                                    title: 'ERROR - can not connecting database'
                                })
                            }
                        })
                        $('#userName').text(data.user_name + ' - ' + data.user_number + ' - ' + data.user_grade)
                    }
                },
                error: function (xhr, ajaxOptions, thownError) {
                    swal({
                        type: 'error',
                        title: 'ERROR - can not connecting database'
                    })
                }
            })
        }
        function deleteEvent(id) {
            var eventId = $('#eventId').val()//==''?"":$('#eventId').val()
            swal({
                title: '取消預約',
                text: "取消預約後即無法恢復",
                type: 'info',
                showCancelButton: true,
                confirmButtonText: '確認',
                cancelButtonText: '關閉',
                reverseButtons: true
            }).then((result) => {
                if (result.value) {
                var token = localStorage.getItem(tokenName);
                var request_data = '{"_token":"'+ token +'"}'
                    $.ajax({
                        url: "/admin/order/api/event/cancel/"+eventId,
                        type: 'DELETE',
                        data: request_data,
                        datatype: 'json',
                        contentType: "application/json",
                        success: function (data) {
                            swal({
                                type: 'success',
                                title: '預約已取消'
                            })
                            $('.eventId_'+eventId).remove()
                            $("#addEventModal").modal('hide')
                        },
                        error: function (xhr, ajaxOptions, thownError) {
                            swal({
                                type: 'error',
                                title: '查無會員資料，請重新輸入刪除時發生錯誤'
                            })
                        }
                    })
                } 
                else if (result.dismiss === swal.DismissReason.cancel) { // Read more about handling dismissals 
                    swal({
                        type: 'info',
                        title: '保留預約'
                    })
                }
            })    
        }
        function checkin() {
            swal({
                title: '報到',
                text: "確認預約後即無法取消",
                type: 'info',
                showCancelButton: true,
                confirmButtonText: '確認',
                cancelButtonText: '關閉',
                reverseButtons: true
            }).then((result) => {
                if (result.value) {
                var token = localStorage.getItem(tokenName);
                    $.ajax({
                        url: "/admin/order/api/event",
                        type: 'PUT',
                        data: '{"_token": "' + token + '","event_id": "'+$('#eventId').val()+'"}',
                        datatype: 'json',
                        contentType: "application/json",
                        success: function (data) {
                            swal({
                                type: 'success',
                                title: '已完成報到'
                            })
                            $("#addEventModal").modal('hide')
                        },
                        error: function (xhr, ajaxOptions, thownError) {
                            swal({
                                type: 'error',
                                title: '查無會員資料，請重新輸入刪除時發生錯誤'
                            })
                        }
                    })
                } 
                else if (result.dismiss === swal.DismissReason.cancel) { // Read more about handling dismissals 
                    swal({
                        type: 'error',
                        title: '已取消報到'
                    })
                }
            })
        }
        
    </script>

{% endblock script %}
