/* Basic */
// Ensures page width is always >=320px.
html
	overflow-x: hidden
	overflow-y: auto
	body 
		min-width: 320px
		position: relative
		&::-webkit-scrollbar
			width: 0
html
	body
		margin-right: -15px
		&::-webkit-scrollbar
			width: 15px
			cursor: -webkit-grab
			background-color: transparent
		&::-webkit-scrollbar-thumb
			border-radius: 10px
			background-color: rgba(0,0,0,0.3)

html.iframe
	overflow: hidden
	height: 100vh
	body 
		height: 100vh
		overflow-y: auto
		overflow-x: hidden
		margin-right: 0
		-webkit-overflow-scrolling: touch
		&::-webkit-scrollbar
			width: 0
		&::-webkit-scrollbar
			width: 15px
			cursor: -webkit-grab
			background-color: transparent
		&::-webkit-scrollbar-thumb
			border-radius: 10px
			background-color: rgba(0,0,0,0.3)

// @media screen and (max-width: 768px)
// 	html
// 		body
// 			margin-right: unset
// #pageHead
// 	width: 100vw
// 	height: 100vh
// 	overflow-x: hidden !important
// 	overflow-y: auto !important
// body
// 	position: relative
// 	background: transparent
// 	// box-shadow: 5px 5px 25px 2px rgba(0, 0, 0, 0.2)
// #pageHead::-webkit-scrollbar
// 	width: 0
// #pageHead
// 	margin-right: -15px
// #pageHead::-webkit-scrollbar
// 	width: 15px
// 	cursor: -webkit-grab
// 	background-color: transparent
// #pageHead::-webkit-scrollbar-thumb
// 	border-radius: 10px
// 	background-color: rgba(0,0,0,0.3)
		