/* Type */
// @import url('https://fonts.googleapis.com/css?family=Bitter')
// @import url('https://fonts.googleapis.com/css?family=Arimo')
// @import url('https://fonts.googleapis.com/css?family=Cabin')
*
  font-family: Microsoft JhengHei !important

body
  font-size: 18px

h1, h2, h3, h4, h5, h6
  color: $basic-color
  font-weight: 700
  line-height: 1.5
  margin-bottom: 0.5em
// font-family: 'Cabin', sans-serif!important
p
  text-align: justify
  text-justify: inter-ideograph
  color: $font-color
  font-weight: 300
  line-height: 1.5
  margin-bottom: 0.5em

a
  // font-family: 'Cabin', sans-serif!important
  text-decoration: none
  font-size: 1.1em

h1
  font-size: 2.2em

h2
  font-size: 1.75em

h3
  font-size: 1.25em

h4
  font-size: 1.1em

h5
  font-size: 0.9em

h6
  font-size: 0.7em

p
  // font-family: 'Arimo', sans-serif!important
  font-size: 0.8em

hr
  width: 92%
  border: 0
  border-bottom: solid 0.1em rgba(254, 246, 91, 0.75)
  margin: 1em 4%
  box-shadow: 0 0 4px 2px rgba(73, 73, 73, 0.2), 0 0 2px 1px rgba(73, 73, 73, 0.1)
  float: left

  &.major
    margin: 2em 0

@media screen and (min-width: 1920px)

@media screen and (max-width: 1280px)

@media screen and (max-width: 992px)

@media all and (max-width: 576px)