<form id="token" method="POST" action="">
    <input name="_token" type="hidden">
</form>

<script>
        var url = "{{ url_for('employee.calendarIframe') }}"
        document.querySelector('#token').setAttribute("action", url)
        document.querySelector('input').value = localStorage['token']
        document.querySelector('#token').submit();
</script>