{% extends "admin/template.html" %}

{% block title %}
- 行事曆
{% endblock title %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='general/bootstrap/css/bootstrap.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='backend/vendor/plugins/select2/css/select2.min.css') }}">
<link rel="stylesheet"  href="{{ url_for('static', filename='general/fullcalendar/fullcalendar.css') }}" />
<link rel="stylesheet"  href="{{ url_for('static', filename='general/fullcalendar/fullcalendar.print.min.css') }}" media='print' />
{# <link rel="stylesheet" href="{{ url_for('static', filename='backend/bower_components/font-awesome/css/font-awesome.min.css') }}"> #}
{# <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css"> #}
<link rel="stylesheet" href="{{ url_for('static', filename='backend/vendor/plugins/bootstrap-tempusdominus/css/tempusdominus-bootstrap-4.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='backend/plugins/iCheck/all.css') }}">
{# <link rel="stylesheet" href="{{ url_for('static', filename='css/admin.css') }}"> #}
<link rel="stylesheet" href="{{ url_for('static', filename=TenantSetting[2]+'/css/calendar.css') }}">

<script src="{{ url_for('static', filename='general/fullcalendar/lib/moment.min.js') }}"></script>
<script src="{{ url_for('static', filename='general/fullcalendar/lib/jquery-ui.min.js') }}"></script>
<script src="{{ url_for('static', filename='general/fullcalendar/fullcalendar.js') }}"></script>
<script src="{{ url_for('static', filename='general/fullcalendar/locale/zh-tw.js') }}"></script>
<script>

	$(document).ready(function() {

    /* initialize the external events
    -----------------------------------------------------------------*/

    var eventColor = ["#de8a45","#9b2335","#6ab25f","#2a78dc","#ffc3a0","#663271","#ff6666","#0e2f44","#794044","#ffa500","#3b5998","#6dc066","#191970","#088da5","#fa8072","#0c342a","#560101","#008bd2","#6497b1","#c22342","#f07d00","#b3ffe1","#f4cccc","#96358c","#70a3bc","#23a638","#e6007e","#b5b632","#4a5321","#e9c28b","#9b2335","#6ab25f","#2a78dc","#ffc3a0","#663271","#ff6666","#0e2f44","#794044","#ffa500","#3b5998","#6dc066","#191970","#088da5","#fa8072","#0c342a","#560101","#008bd2","#d3f8a3","#c22342","#f07d00","#b3ffe1","#f4cccc","#96358c","#70a3bc","#23a638","#e6007e","#b5b632","#4a5321","#e9c28b"]

    $('#external-events .fc-event').each(function(key) {

      // store data so the calendar knows to render an event upon drop
      $(this).data('event', {
        title: $.trim($(this).text()), // use the element's text as the event title
        stick: true, // maintain when user navigates (see docs on the renderEvent method)
        color: eventColor[key]
      });

      $(this).css({
      	// 'background-color': eventColor[key],
        'border-color': eventColor[key],
        'display': 'inline'
      })

      // make the event draggable using jQuery UI
      $(this).draggable({
        zIndex: 999,
        revert: true,      // will cause the event to go back to its
        revertDuration: 0  //  original position after the drag
      });

    });


    /* initialize the calendar
    -----------------------------------------------------------------*/

    $('#addEventModal').on('hidden.bs.modal', function () {
        downloadSource(rerandarCalendar)
    })

    var eventsList = []
    downloadSource(randarCalendar)

    function downloadSource(callback) {
      $.ajax({
          url: "/admin/employee/api/calendar",
          type: 'GET',
          datatype: 'json',
          contentType: "application/json",
          success: function (data) {
              console.log(data.employee_calendar_list)
              eventsList = data.employee_calendar_list
              $.each(eventsList,function(key,value) {
              //     eventsList[key].start = new Date(eventsList[key].start)
              //     eventsList[key].end = new Date(eventsList[key].end)
                  eventsList[key].allDay = eventsList[key].start.split(' ')[1]==undefined?true:false
                  eventsList[key].color = $('#'+eventsList[key].employee_number).css('border-color') // compare with #external-events
                  eventsList[key].className = ['eventId_'+eventsList[key].employee_calendar_id]
                  // console.log(eventsList[key].employee_number)
              })
              callback()
          },
          error: function (xhr, textStatus, thownError) {
              swal({
                  title: '發生錯誤',
                  text: xhr.getResponseHeader('error_code'),
                  type: 'error'
              })
          }
      });
    }

    function rerandarCalendar() {
        $('#calendar').fullCalendar( 'removeEventSources' )
        $('#calendar').fullCalendar( 'addEventSource', eventsList )
        $('#calendar').fullCalendar( 'rerenderEvents' )
    }

    function randarCalendar() {
        // console.log(eventsList)

        $('#calendar').fullCalendar({
            header: {
                left: 'prev,next today',
                center: 'title',
                right: 'month,agendaWeek,agendaDay'
            },
            defaultDate: new Date((new Date()).getTime() + (new Date().getTimezoneOffset() * 60000) + 28800000),
            editable: true,
            navLinks: true, // can click day/week names to navigate views
            eventLimit: true, // allow "more" link when too many events
            events: eventsList,
            droppable: true, // this allows things to be dropped onto the calendar
            // drop: function() {
            //   // is the "remove after drop" checkbox checked?
            //   if ($('#drop-remove').is(':checked')) {
            //     // if so, remove the element from the "Draggable Events" list
            //     $(this).remove();
            //   }
            // },
            //drop event
            drop: function (date, jsEvent, ui, resourceId) {
                var memberName = $(this).data('event').title;
                var start = new Date(date.format())
                var sYear = start.getFullYear()
                var sMonth = start.getMonth()+1
                var sDate = start.getDate()
                var nowYear = new Date().getFullYear()
                var nowMonth = new Date().getMonth()+1
                var nowDate = new Date().getDate()
                var nowHour = new Date().getHours()+1>=24?new Date().getHours(): new Date().getHours()+1
                // console.log(nowHour)
                if (sYear >= nowYear && sMonth >= nowMonth && sDate >= nowDate) {
                    $('#startTime').children('input').data('time', sYear+'/'+sMonth+'/'+sDate)
                    // $('#endTime').children('input').data('time', sYear+'/'+sMonth+'/'+sDate)
                }
                else {
                    $('.fc-day-grid-event.fc-h-event.fc-event.fc-start.fc-end.fc-draggable.fc-resizable').remove()
                    $('.fc-time-grid-event.fc-v-event.fc-event.fc-start.fc-end.fc-draggable.fc-resizable').remove()
                    return false
                }
                // console.log($(this).data('event'))
                // console.log($(this)[0])
                // console.log($(this)[0].id)
                $.ajax({
                    url: "{{ url_for('employeeApi.employeeSearch') }}",
                    type: 'POST',
                    data: '{"search":"'+ $(this)[0].id +'"}',
                    datatype: 'json',
                    contentType: "application/json",
                    success: function (data) {
                        if(data.code) {
                            swal({
                                type: 'error',
                                title: data.msg
                            })
                            $('.fc-day-grid-event.fc-h-event.fc-event.fc-start.fc-end.fc-draggable.fc-resizable').remove()
                            $('.fc-time-grid-event.fc-v-event.fc-event.fc-start.fc-end.fc-draggable.fc-resizable').remove()
                        }
                        else {
                            memberData = data
                            $('#userName').text(data.employee_number)

                            setTimeout(function () {
                              $('#startTime').children('input').val($('#startTime').children('input').data('time'))
                              submitEvent()
                            },300)
                        }
                    },
                    error: function (xhr, ajaxOptions, thownError) {
                        swal({
                            type: 'error',
                            title: 'ERROR - can not connecting database'
                        })
                        $('.fc-day-grid-event.fc-h-event.fc-event.fc-start.fc-end.fc-draggable.fc-resizable').remove()
                        $('.fc-time-grid-event.fc-v-event.fc-event.fc-start.fc-end.fc-draggable.fc-resizable').remove()
                    }
                })
            },
            eventDrop: function(event, delta, revertFunc) {
                // console.log(event.title + " was dropped on " + event.start.format());
                // console.log(delta)
                swal({
                  title: '變更排班',
                  text: "若您要編輯此排班時間，請按確認",
                  type: 'warning',
                  showCancelButton: true,
                  confirmButtonText: '確認',
                  cancelButtonText: '關閉',
                  reverseButtons: true
                }).then((result) => {
                  if (result.value) {
                    // console.log(event)
                    editEvent(event)
                  } 
                  else if (result.dismiss === swal.DismissReason.cancel) { // Read more about handling dismissals 
                     revertFunc();
                  }
                })
            },
            eventResize: function(event, delta, revertFunc) {
                swal({
                  title: '變更排班',
                  text: "若您要編輯此排班時間，請按確認",
                  type: 'warning',
                  showCancelButton: true,
                  confirmButtonText: '確認',
                  cancelButtonText: '關閉',
                  reverseButtons: true
                }).then((result) => {
                  if (result.value) {
                    // console.log(event)
                    editEvent(event)
                  } 
                  else if (result.dismiss === swal.DismissReason.cancel) { // Read more about handling dismissals 
                     revertFunc();
                  }
                })
            },
            eventClick: function(calEvent, jsEvent, view) {
              editEvent(calEvent)
            },
            dayClick: function(date, allDay, jsEvent, view) {
                if (allDay) {
                  // console.log(date.format())
                  var d = new Date(date)

                  var adjust_zone = d.getTimezoneOffset()/60
                  // console.log(adjust_zone)
                  d = d.getTime()+(3600000 * adjust_zone)
                  d = new Date(d)

                  var y = d.getFullYear()
                  var m = d.getMonth()+1
                  var d = d.getDate()
                  var todate = y+'/'+m+'/'+d
                  // if (new Date(date.format()) >= new Date( $('.fc-today').data('date') )) {
                    // console.log(todate)
                    $('#startTime').children('input').data('time', todate)
                    $('#endTime').children('input').data('time', todate)
                    // $('#addEventModal').modal('show')
                    chooseMember()
                  // }
                      
                }
            },
        });

      }

  	});

</script>
{% endblock style %}

{% block content %}

 <div id='wrap'>

    <div id='external-events' style="margin-top: 60px;">
      <h4>醫美人員</h4>
        {% for roles in roles %}
            {# {% if roles.id > 1 %} #}
                {% for data in employee %}
                    {% if data['grade_id'] == roles.id %}
                    	<div>
                        	<div class='fc-event' id="{{ data.employee_number }}">{{ roles['name'] }} - {{ data.name }}</div>
                    	</div>
                    {% endif %}
                {% endfor %}
            {# {% endif %} #}
        {% endfor %}
<!--       <p>
        <input type='checkbox' id='drop-remove' />
        <label for='drop-remove'>remove after drop</label>
      </p> -->
    </div>

    <div id='calendar'></div>

    <div style='clear:both'></div>

  </div>

<div class="modal fade" id="addEventModal" role="dialog" aria-labelledby="addEventModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addEventModalLabel">排班表</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        
        <label>員工編號: <span id="userName"></span></label>
        <input type="text" id="eventId" value="" hidden>
        <div class="form-group">
            <label>休假開始時間: <small>(全天休假僅需日期，時間設為 00:00)</small></label>
            <div class="input-group date" id="startTime" data-target-input="nearest">
                <input type="text" class="form-control datetimepicker-input" data-target="#startTime"/>
                <span class="input-group-addon" data-target="#startTime" data-toggle="datetimepicker">
                    <span class="fa fa-calendar"></span>
                </span>
            </div>
        </div>

        <div class="form-group">
            <label>休假結束時間: <small>(全天休假無須填閜)</small></label>
            <div class="input-group date" id="endTime" data-target-input="nearest">
                <input type="text" class="form-control datetimepicker-input" data-target="#endTime"/>
                <span class="input-group-addon" data-target="#endTime" data-toggle="datetimepicker">
                    <span class="fa fa-calendar"></span>
                </span>
            </div>
        </div>

        <div class="form-group">
            <label>備註:</label>
            <div class="input-group">
                <textarea class="form-control" name="note" id="note" rows="2"></textarea>
            </div>
        </div>

      </div>
      <div class="modal-footer">
        <button onclick="deleteEvent()" type="button" class="btn btn-danger">刪除</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">關閉</button>
        <button onclick="submitEvent()" type="button" class="btn btn-primary">儲存</button>
      </div>
    </div>
  </div>
</div>

{% endblock content %}

{% block script %}
 <script src="{{ url_for('static', filename='general/sweetalert.min.js') }}"></script>
    <script src="{{ url_for('static', filename='general/bootstrap/js/bootstrap.min.js') }}"></script>
    {# <script src="{{ url_for('static', filename='backend/bower_components/bootstrap/dist/js/bootstrap.min.js') }}"></script> #}
    {# <script src="{{ url_for('static', filename='backend/vendor/plugins/bootstrap-tempusdominus/js/moment.js') }}"></script> #}
    <script src="{{ url_for('static', filename='backend/vendor/plugins/bootstrap-tempusdominus/js/tempusdominus-bootstrap-4.min.js') }}"></script>
    <script src="{{ url_for('static', filename='backend/vendor/plugins/select2/js/select2.full.min.js') }}"></script>
    <script src="{{ url_for('static', filename='backend/plugins/iCheck/icheck.min.js') }}"></script>
    <script>

        var memberData, serviceOrder
        function chooseMember() {
            swal({
                title: '請輸入員工編號或身分證字號',
                input: 'text',
                showCancelButton: true,
                confirmButtonText: '查詢',
                cancelButtonText: '關閉',
                showLoaderOnConfirm: true,
                preConfirm: (text) => {
                    return new Promise((resolve) => {
                        if (text) {
                            $.ajax({
                                url: "{{ url_for('employeeApi.employeeSearch') }}",
                                type: 'POST',
                                data: '{"search":"'+ text +'"}',
                                datatype: 'json',
                                contentType: "application/json",
                                success: function (data) {
                                    if(data.code) {
                                        swal({
                                            type: 'error',
                                            title: data.msg
                                        })
                                    }
                                    else {
                                        memberData = data
                                        $('#userName').text(data.employee_number)
                                        resolve(data)
                                    }
                                },
                                error: function (xhr, ajaxOptions, thownError) {
                                    swal({
                                        type: 'error',
                                        title: 'ERROR - can not connecting database'
                                    })
                                }
                            })
                        }
                        else { // text is empty
                            swal({
                                type: 'error',
                                title: '請輸入員工編號或身分證字號',
                                showCancelButton: true,
                                confirmButtonText: '確認',
                                cancelButtonText: '關閉'
                            }).then((result) => {
                                if (result.value) {
                                    chooseMember()
                                }
                            })
                        }
                    })
                },
                allowOutsideClick: () => !swal.isLoading()
            }).then((result) => {
                if (result.value) {
                    $('#addEventModal').modal('show')
                    $('#employees').attr('disabled', true)
                }
                else if (result.dismiss === swal.DismissReason.cancel) {  // Read more about handling dismissals
                    $('.fc-day-grid-event.fc-h-event.fc-event.fc-start.fc-end.fc-draggable.fc-resizable').remove()
                    $('.fc-time-grid-event.fc-v-event.fc-event.fc-start.fc-end.fc-draggable.fc-resizable').remove()
                }
            })
        }

        $('#addEventModal').on('shown.bs.modal', function (e) {
            $('#eventId').val('')
            $('#note').val('')
            // modal
            setTimeout(function () {
                $('#startTime').children('input').val($('#startTime').children('input').data('time'))
                $('#endTime').children('input').val($('#endTime').children('input').data('time'))
            },300)
                

            $('#startTime').datetimepicker({
                // locale: 'zh-TW',
                format: 'YYYY/MM/DD HH:mm',
                // defaultDate: new Date(),
                minDate: new Date() //new Date((new Date()).getTime() + (new Date().getTimezoneOffset() * 60000) + 28800000)
            });
            $('#endTime').datetimepicker({
                // locale: 'zh-TW',
                minDate: new Date() ,
                format: 'YYYY/MM/DD HH:mm',
                useCurrent: false
            });

            $("#startTime").on("change.datetimepicker", function (e) {
                $('#endTime').datetimepicker('minDate', e.date);
                var end = new Date(e.date)
            });
            $("#endTime").on("change.datetimepicker", function (e) {
                $('#startTime').datetimepicker('maxDate', e.date);
            });
        })

        function submitEvent() {
            var eventId = $('#eventId').val()//==''?"":$('#eventId').val()
            console.log(memberData)
            var start = $('#startTime input').val()
            if (start.split(' ')[1] == "00:00" || start.split(' ')[1] == "00:00:00") {
              start = start.split(' ')[0]
            }
            var token = localStorage.getItem(tokenName);
            var data = '{"_token": "' + token + '","calendar_id": "'+eventId+'","employee_uuid": "'+memberData.uuid+'","datetime_start": "'+start+'","datetime_end": "'+$('#endTime input').val()+'","note": "'+$('#note').val()+'"}'

            $.ajax({
                url: "{{ url_for('employeeApi.calendarCreateOrUpdate') }}",
                type: 'POST',
                data: data,
                datatype: 'json',
                contentType: "application/json",
                success: function (data) {
                    swal({
                        type: 'success',
                        title: '資料已完成'
                    })
                    $('.fc-day-grid-event.fc-h-event.fc-event.fc-start.fc-end.fc-draggable.fc-resizable').removeClass('fc-resizable')
                    // $('.fc-day-grid-event.fc-h-event.fc-event.fc-start.fc-end.fc-draggable')
                    $('#addEventModal').modal('hide')
                },
                error: function (xhr, ajaxOptions, thownError) {
                    swal({
                        type: 'error',
                        title: '查無員工資料，請重新輸入'
                    })
                    $('.fc-day-grid-event.fc-h-event.fc-event.fc-start.fc-end.fc-draggable.fc-resizable').remove()
                    $('.fc-time-grid-event.fc-v-event.fc-event.fc-start.fc-end.fc-draggable.fc-resizable').remove()
                }
            })
        }
        var memberData
        function editEvent(calEvent) {
            $.ajax({
                url: "{{ url_for('employeeApi.employeeSearch') }}",
                type: 'POST',
                data: '{"search":"'+ calEvent.employee_number +'"}',
                datatype: 'json',
                contentType: "application/json",
                success: function (data) {
                    if(data.code) {
                        swal({
                            type: 'error',
                            title: data.msg
                        })
                    }
                    else {
                        memberData = data
                        $('#userName').text(data.employee_number)
                        console.log(memberData)
                    }
                },
                error: function (xhr, ajaxOptions, thownError) {
                    swal({
                        type: 'error',
                        title: 'ERROR - can not connecting database'
                    })
                }
            })
            // console.log("!!!!!!!  "+calEvent.start._i)
            // console.log(calEvent)
            var start = calEvent.start.format(), end = calEvent.end==null?"":calEvent.end.format()
            console.log('start : '+start)
            console.log('end : '+end)
            // console.log('calEvent.employee_number : '+calEvent.employee_number)

            if (typeof calEvent.start._i == 'string') { // if false, event is from drop
                $('#startTime').children('input').data('time', calEvent.start._i.replace(/-/g, "/"))
                $('#endTime').children('input').data('time', calEvent.end==null?"":calEvent.end._i.replace(/-/g, "/"))
            }
            else if (typeof calEvent.start._i == 'object') { // event resize or eventDrop
                var Sarray = calEvent.start.format().replace(/-/g, "/").replace(/T/g, " ").split(':')
                var start = Sarray[2]=='undefined'?calEvent.start.format():(Sarray[0]+':'+Sarray[1])
                $('#startTime').children('input').data('time', start)
                if (end != "") {
                  var Earray = calEvent.end.format().replace(/-/g, "/").replace(/T/g, " ").split(':')
                  var end = Earray[2]=='undefined'?calEvent.end.format():(Earray[0]+':'+Earray[1])
                  $('#endTime').children('input').data('time', end)
                }
            }
            else { // array (when dropevent)
                // console.log(calEvent)
                $('#startTime').children('input').data('time', calEvent.start.format().replace(/-/g, "/").replace(/T/g, " "))
                $('#endTime').children('input').data('time', calEvent.end==null?"":calEvent.end.format().replace(/-/g, "/").replace(/T/g, " "))
            }
            
            // console.log(calEvent)
            $('#addEventModal').modal('show')
            $('#employees').attr('disabled', false)

            // console.log(calEvent.employee_calendar_id)
            setTimeout(function () {
                $('#eventId').val(calEvent.employee_calendar_id)
                $('#note').val(calEvent.note)
            },500)
        }
        function deleteEvent(id) {
            var eventId = $('#eventId').val()//==''?"":$('#eventId').val()
            swal({
                title: '取消休假',
                text: "取消休假後即無法恢復",
                type: 'info',
                showCancelButton: true,
                confirmButtonText: '確認',
                cancelButtonText: '關閉',
                reverseButtons: true
            }).then((result) => {
                if (result.value) {
                    var token = localStorage.getItem(tokenName);
                    $.ajax({
                        url: "{{ url_for('employeeApi.calendarDelete') }}",
                        type: 'DELETE',
                        datatype: 'json',
                        data: '{"calendar_id": "'+eventId+'","_token":"'+ token +'"}',
                        contentType: "application/json",
                        success: function (data) {
                            swal({
                                type: 'success',
                                title: '休假已取消'
                            })
                            $('.eventId_'+eventId).remove()
                            $("#addEventModal").modal('hide')
                        },
                        error: function (xhr, ajaxOptions, thownError) {
                            swal({
                                type: 'error',
                                title: '查無會員資料，請重新輸入刪除時發生錯誤'
                            })
                        }
                    })
                } 
                else if (result.dismiss === swal.DismissReason.cancel) { // Read more about handling dismissals 
                    swal({
                        type: 'info',
                        title: '保留休假'
                    })
                }
            })
                    
        }
    </script>

{% endblock script %}
