{% extends "admin/template.html" %}

{% block style %}
    <link rel="stylesheet" href="{{ url_for('static', filename='backend/plugins/iCheck/all.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='backend/vendor/plugins/select2/css/select2.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='backend/vendor/plugins/summernote/summernote.css') }}">
{% endblock style %}

{% block content %}

    <section class="content container-fluid">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="active">
                <a class="btn btn-primary menuItem active" id="sub1-tab" data-toggle="tab" href="#sub1" role="tab">基本資料</a>
            </li>
            <li class="">
                <a class="btn btn-primary menuItem" id="sub2-tab" data-toggle="tab" href="#sub2" role="tab">學歷/經歷</a>
            </li>
            <li class="">
                <a class="btn btn-primary menuItem" id="sub3-tab" data-toggle="tab" href="#sub3" role="tab">專長/證照</a>
            </li>
            <li class="">
                <a class="btn btn-primary menuItem" id="sub4-tab" data-toggle="tab" href="#sub4" role="tab">職位調動紀錄</a>
            </li>
        </ul>
            <form class="form-horizontal" method="post" action="{{ url_for('employeeApi.employeeData') }}">
                <div class="panel-body">
                    <div class="tab-content py-3">

                        <div class="tab-pane fade  active in" id="sub1" role="tabpanel" aria-labelledby="sub1-tab">
                            {% if update %}
                            <div class="form-group">
                                <label for="name" class="col-sm-2 control-label">帳號狀態</label>

                                <div class="col-sm-9">
                                    <label class="control-label">
                                        <input type="radio" name="status" value="1" class="minimal-red" {% if data['status'] == 1 %} checked {% endif %}>
                                        啟用帳號
                                    </label>
                                    <label class="control-label">
                                        <input type="radio" name="status" value="0" class="minimal-red" {% if data['status'] == 0 %} checked {% endif %}>
                                        關閉帳號
                                    </label>
                                </div>
                            </div>
                            {% endif %}

                            <div class="form-group">
                                <label for="name" class="col-sm-2 control-label"><span style="color: #6E1633;">* </span>職位</label>

                                <div class="col-sm-9">
                                    <select name="grade_id" class="form-control">
                                        <option value="0">請選擇</option>
                                        {% if update %}
                                            {% for role in roles %}
                                                <option value="{{ role['id'] }}"   {% if data['grade_id']==role['id'] %} selected {% endif %} >{{ role['name'] }}</option>
                                            {% endfor %}
                                        {% else %}
                                            {% for data in data %}
                                                <option value="{{ data['id'] }}">{{ data['name'] }}</option>
                                            {% endfor %}
                                        {% endif %}
                                    </select>
                                    <span class="help-block">請選擇員工職位</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="name" class="col-sm-2 control-label"><span style="color: #6E1633;">* </span>員工姓名</label>

                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="name" name="name" {% if update %} value="{{ data['name'] }}" {% endif %}>
                                    <span class="help-block">此為必填欄位</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="IDNumber" class="col-sm-2 control-label"><span style="color: #6E1633;">* </span>身分證字號</label>

                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="IDNumber" name="IDNumber" {% if update %} value="{{ data['IDNumber'] }}" {% endif %}>
                                    <span class="help-block">此為必填欄位</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="email" class="col-sm-2 control-label"><span style="color: #6E1633;">* </span>電子信箱</label>

                                <div class="col-sm-9">
                                    <input type="email" class="form-control" id="email" name="email" {% if update %} value="{{ data['email'] }}" {% endif %}>
                                    <span class="help-block">此為必填欄位</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="birthday" class="col-sm-2 control-label"><span style="color: #6E1633;">* </span>生日</label>

                                <div class="col-sm-9">
                                    <input type="date" class="form-control" id="birthday" name="birthday" {% if update %} value="{{ data['birthday'] }}" {% endif %}>
                                    <span class="help-block">此為必填欄位</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="name" class="col-sm-2 control-label"><span style="color: #6E1633;">* </span>性別</label>

                                <div class="col-sm-9">
                                    <label class="control-label">
                                        <input type="radio" name="gender" value="male" class="minimal-red" {% if update %} {% if data['gender'] == 'male' %} checked {% endif %} {% endif %}>
                                        男性
                                    </label>
                                    <label class="control-label">
                                        <input type="radio" name="gender" value="female" class="minimal-red" {% if update %} {% if data['gender'] == 'female' %} checked {% endif %} {% else %} checked {% endif %}>
                                        女性
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="name" class="col-sm-2 control-label"><span style="color: #6E1633;">* </span>血型</label>

                                <div class="col-sm-9">
                                    <label class="control-label">
                                        <input type="radio" name="bloodtype" value="A" class="minimal-red" {% if update %} {% if data['bloodtype'] == 'A' %} checked  {% endif %}{% endif %}>
                                        A型
                                    </label>
                                    <label class="control-label">
                                        <input type="radio" name="bloodtype" value="B" class="minimal-red" {% if update %} {% if data['bloodtype'] == 'B' %} checked  {% endif %}{% endif %}>
                                        B型
                                    </label>
                                    <label class="control-label">
                                        <input type="radio" name="bloodtype" value="O" class="minimal-red" {% if update %} {% if data['bloodtype'] == 'O' %} checked  {% endif %} {% else %} checked{% endif %}>
                                        O型
                                    </label>
                                    <label class="control-label">
                                        <input type="radio" name="bloodtype" value="AB" class="minimal-red" {% if update %} {% if data['bloodtype'] == 'AB' %} checked  {% endif %}{% endif %}>
                                        AB型
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="phone_number" class="col-sm-2 control-label">住家電話</label>

                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="phone_number" name="phone_number" {% if update %} value="{{ data['phone_number'] }}" {% endif %}>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="mobile_phone" class="col-sm-2 control-label"><span style="color: #6E1633;">* </span>手機號碼</label>

                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="mobile_phone" name="mobile_phone" {% if update %} value="{{ data['mobile_phone'] }}" {% endif %}>
                                    <span class="help-block">此為必填欄位</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="address" class="col-sm-2 control-label"><span style="color: #6E1633;">* </span>地址</label>

                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="address" name="address" {% if update %} value="{{ data['address'] }}" {% endif %}>
                                    <span class="help-block">此為必填欄位</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="height" class="col-sm-2 control-label">身高</label>

                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="height" name="height" {% if update %} value="{{ data['height'] }}" {% endif %}>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="weight" class="col-sm-2 control-label">體重</label>

                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="weight" name="weight" {% if update %} value="{{ data['weight'] }}" {% endif %}>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="name" class="col-sm-2 control-label"><span style="color: #6E1633;">* </span>婚姻狀態</label>

                                <div class="col-sm-9">
                                    <label class="control-label">
                                        <input type="radio" name="marriage" value="1" class="minimal-red" {% if update %} {% if data['marriage'] == True %} checked {% endif %} {% endif %}>
                                        已婚
                                    </label>
                                    <label class="control-label">
                                        <input type="radio" name="marriage" value="0" class="minimal-red" {% if update %} {% if data['marriage'] == False %} checked {% endif %} {% else %} checked {% endif %}>
                                        未婚
                                    </label>
                                </div>

                            </div>
                            <div class="form-group">
                                <label for="contact" class="col-sm-2 control-label"><span style="color: #6E1633;">* </span>緊急聯絡人</label>

                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="contact" name="contact" {% if update %} value="{{ data['contact'] }}" {% endif %}>
                                    <span class="help-block">此為必填欄位</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="contact_phone" class="col-sm-2 control-label"><span style="color: #6E1633;">* </span>聯絡電話</label>

                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="contact_phone" name="contact_phone" {% if update %} value="{{ data['contact_phone'] }}" {% endif %}>
                                    <span class="help-block">此為必填欄位</span>
                                </div>
                            </div>
                            <div class="form-group py-2">
                                <label for="p_imgFile" class="col-sm-2 control-label">員工頭像</label>

                                <div class="col-sm-9">
                                    <a href="javascript:;" class="file">
                                        <img class="preViewImg" src="{% if update %}data:image/jpeg;base64,{{ data['image'] }}{% endif %}">
                                        <input type="file" name="images" class="p_imgFile">
                                    </a>
                                </div>
                            </div>
                            <input type="hidden" id="p_newImgBase64" name="p_newImgBase64" value="{% if update %}{{ data['images'] }}{% endif %}">

                            <div class="form-group">
                                <label for="experience" class="col-sm-2 control-label">備註</label>

                                <div class="col-sm-9">
                                    <textarea id="note" class="form-control" name="note" rows="5" cols="10">{% if update %} {{ data['note'] }} {% endif %}</textarea>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade " id="sub2" role="tabpanel" aria-labelledby="sub2-tab">
                            <div class="form-group">
                                <label for="education" class="col-sm-2 control-label">學歷</label>

                                <div class="col-sm-9">
                                    <textarea class="summernote" id="education" name="education" rows="5" cols="10">{% if update %} {{ data['education'] }} {% endif %}</textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="experience" class="col-sm-2 control-label">經歷</label>

                                <div class="col-sm-9">
                                    <textarea class="summernote" id="experience" name="experience" rows="5" cols="10">{% if update %} {{ data['experience'] }} {% endif %}</textarea>
                                </div>
                            </div>

                        </div>
                        <div class="tab-pane fade " id="sub3" role="tabpanel" aria-labelledby="sub3-tab">
                            <div class="form-group">
                                <label for="skill" class="col-sm-2 control-label">專長</label>

                                <div class="col-sm-9">
                                    <textarea class="summernote" id="skill" name="skill" rows="5" cols="10">{% if update %} {{ data['skill'] }} {% endif %}</textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="certificate" class="col-sm-2 control-label">證照</label>

                                <div class="col-sm-9">
                                    <textarea class="summernote" id="certificate" name="certificate" rows="5" cols="10">{% if update %} {{ data['certificate'] }} {% endif %}</textarea>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade " id="sub4" role="tabpanel" aria-labelledby="sub4-tab">
                            <div class="form-group">
                                <label for="position_change" class="col-sm-2 control-label">職位調動</label>

                                <div class="col-sm-9">
                                    <textarea class="summernote" id="position_change" name="position_change" rows="5" cols="10">{% if update %} {{ data['position_change'] }} {% endif %}</textarea>
                                </div>
                            </div>
                        </div>
                    </div>

                    <input type="hidden" name="id" {% if update %} value="{{ data['id'] }}" {% endif %}>
                    <input type="hidden" name="password" {% if update %} value="diazy1215" {% endif %}>
                    <input type="hidden" name="store_id" value="1">
                    <button type="button" onclick="onSubmit();" class="btn btn-info btn-flat pull-right">送出</button>

                </div>
            </form>
        </div>

    </section>

{% endblock content %}

{% block script %}
    <script src="{{ url_for('static', filename='backend/plugins/iCheck/icheck.min.js') }}"></script>
    <script src="{{ url_for('static', filename='backend/vendor/plugins/summernote/summernote.js') }}"></script>
    <script src="{{ url_for('static', filename='backend/vendor/plugins/summernote/lang/summernote-zh-TW.min.js') }}"></script>
    <script>
        $('.crumb-link a').attr('href', '{{ url_for('employee.employeeList') }}').text('員工管理')
        $('.crumb-trail a').attr('href', '#').text('員工{% if update %} 編輯 {% else %} 新增 {% endif %}')
        $('.crumb-trail').removeClass('hidden').addClass('active')
        $('a[href="{{ url_for('employee.employeeList') }}"]').parents('li').children('a').addClass('menu-open')

        $('.summernote').summernote({
            height: 300,
            codemirror: {
                theme: 'monokai'
            },
        });

        $(function () {

            $('input[type="checkbox"].minimal-red, input[type="radio"].minimal-red').iCheck({
                checkboxClass: 'icheckbox_minimal-red',
                radioClass: 'iradio_minimal-red'
            })
            $("input[name='images']").on('change', function (event) {
                var image_type = $(this).val().split('.')
                image_type = image_type[1]
                if (this.files && this.files[0]) {
                    var FR = new FileReader();
                    var formBox = $(this).parents('form')
                    // get path
                    FR.addEventListener("load", function (e) {
                        var _base64 = e.target.result.split(';base64,')[1]
                        formBox.find("input[name='p_newImgBase64']").val(_base64)
                        formBox.find('.preViewImg').attr('src', e.target.result)
                        formBox.find('.imgPlusBtn').css('opacity', 0.4)
                        // console.log(_base64)
                    });
                    FR.readAsDataURL(this.files[0]);
                }
                // console.log("Selected File.");
                if ($(this).val() != '') {
                    $('.uploadBtn').attr('disabled', false)
                }
                ;
            });
        })
        function onSubmit(form) {
            var status = $('input[name="status"]:checked').val()
  
            $('.form-group').removeClass('has-error')
            //has-error
            var grade_id = $('select[name="grade_id"] option:selected').val()
            if (grade_id == '0') {
                $('select[name="grade_id"]').parents('.form-group').addClass('has-error')
                return false;
            }
            var store_id = $('input[name="store_id"]').val()
            var name = $('input[name="name"]').val()
            if (!name) {
                $('input[name="name"]').parents('.form-group').addClass('has-error')
                return false;
            }
            var IDNumber = $('input[name="IDNumber"]').val()
            if (!IDNumber) {
                $('input[name="IDNumber"]').parents('.form-group').addClass('has-error')
                return false;
            }
            var email = $('input[name="email"]').val()
            if (!email) {
                $('input[name="email"]').parents('.form-group').addClass('has-error')
                return false;
            }
            var birthday = $('input[name="birthday"]').val()
            if (!birthday) {
                $('input[name="birthday"]').parents('.form-group').addClass('has-error')
                return false;
            }
            var password = $('input[name="password"]').val()
            var phone_number = $('input[name="phone_number"]').val()
            var mobile_phone = $('input[name="mobile_phone"]').val()
            if (!mobile_phone) {
                $('input[name="mobile_phone"]').parents('.form-group').addClass('has-error')
                return false;
            }
            var bloodtype = $('input[name="bloodtype"]:checked').val()
            if (!bloodtype) {
                $('input[name="bloodtype"]').parents('.form-group').addClass('has-error')
                return false;
            }
            var gender = $('input[name="gender"]:checked').val()
            var address = $('input[name="address"]').val()
            if (!address) {
                $('input[name="address"]').parents('.form-group').addClass('has-error')
                return false;
            }
            var height = $('input[name="height"]').val()
            var weight = $('input[name="weight"]').val()
            var marriage = $('input[name="marriage"]:checked').val()
            var contact = $('input[name="contact"]').val()
            if (!contact) {
                $('input[name="contact"]').parents('.form-group').addClass('has-error')
                return false;
            }
            var contact_phone = $('input[name="contact_phone"]').val()
            if (!contact_phone) {
                $('input[name="contact_phone"]').parents('.form-group').addClass('has-error')
                return false;
            }
            var skill = $('#skill').summernote('code').replace(/\n/ig, "<br>").replace(/\t/ig, " ").replace(/"/ig, "'").replace(/\\/ig, "\\\\")
            var position_change = $('#position_change').summernote('code').replace(/\n/ig, "<br>").replace(/\t/ig, " ").replace(/"/ig, "'").replace(/\\/ig, "\\\\")
            var education = $('#education').summernote('code').replace(/\n/ig, "<br>").replace(/\t/ig, " ").replace(/"/ig, "'").replace(/\\/ig, "\\\\")
            var experience = $('#experience').summernote('code').replace(/\n/ig, "<br>").replace(/\t/ig, " ").replace(/"/ig, "'").replace(/\\/ig, "\\\\")
            var certificate = $('#certificate').summernote('code').replace(/\n/ig, "<br>").replace(/\t/ig, " ").replace(/"/ig, "'").replace(/\\/ig, "\\\\")
            var note = $('textarea[name="note"]').val()
            var images = $('input[name="p_newImgBase64"]').val()
            var images = $('input[name="p_newImgBase64"]').val()
            var id = $('input[name="id"]').val()
            {% if update %}
                var data = '{"id":' + id + ', "status":' + status;
            {% else %}
                var data = '{"id":"", "status": 1';
            {% endif %}
            data += ',"grade_id":"' + grade_id +
                    '","store_id":"' + store_id +
                    
                    '","name":"' + name +
                    '","email":"' + email +
                    '","IDNumber":"' + IDNumber +
                    '","password":"' + password +
                    '","phone_number":"' + phone_number +
                    '","mobile_phone":"' + mobile_phone +
                    '","birthday":"' + birthday +
                    '","bloodtype":"' + bloodtype +
                    '","gender":"' + gender +
                    '","address":"' + address +
                    '","height":"' + height +
                    '","weight":"' + weight +
                    '","marriage":"' + marriage +
                    '","contact":"' + contact +
                    '","contact_phone":"' + contact_phone +
                    '","skill":"' + skill +
                    '","position_change":"' + position_change +
                    '","education":"' + education +
                    '","experience":"' + experience +
                    '","certificate":"' + certificate +
                    '","note":"' + note +
                    '","images":"' + images +
                    '"}';
            $.ajax({
                url: "{{ url_for('employeeApi.employeeData') }}",
                type: 'POST',
                data: data,
                datatype: 'json',
                contentType: "application/json",
                success: function (msg) {
                    if (msg == 'success') {
                        // window.location = '{{ url_for('employee.employeeList') }}';
                        $('#token').attr('action', '{{ url_for('employee.employeeList') }}')
                        $('input[name="_token"]').val(localStorage[tokenName])
                        $('#token').submit();
                    } else {
                        alert(msg)
                    }
                },
                error: function (xhr, ajaxOptions, thownError) {
                    alert(xhr, status);
                    alert(thownError)
                }
            });
            console.log(data);
            return false; //don't submit
        }

    </script>
{% endblock script %}