{% extends "admin/template.html" %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='admin/plugins/iCheck/all.css') }}">
{% endblock style %}

{% block content %}

<section class="content-header">
    <h1>
        員工系統
        <small>
            Function
        </small>
    </h1>
</section>


<section class="content container-fluid">
    <div class="col-md-8">
        <form class="form-horizontal" method="post" action="/admin/employee/api/function">
            <div class="box-body">
                <div class="form-group">

                    <label for="name" class="col-sm-2 control-label">名稱</label>

                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="name" name="name" {% if update %} value="{{data['name']}}" {% endif %}>
                    </div>
                </div>
                <div class="form-group">

                    <label for="description" class="col-sm-2 control-label">敘述</label>

                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="description" name="description" {% if update %} value="{{data['description']}}" {% endif %}>
                    </div>
                </div>
                <input type="hidden" name="store_id" value="1">

                <button type="submit" class="btn btn-info btn-flat pull-right">儲存</button>


        </form>
    </div>

</section>

{% endblock content %}

{% block script %}
<script src="{{ url_for('static', filename='admin/bower_components/ckeditor/ckeditor.js') }}"></script>
<script src="{{ url_for('static', filename='admin/plugins/iCheck/icheck.min.js') }}"></script>
<script>
    $(function () {
        CKEDITOR.replace('content')
        $('input[type="checkbox"].minimal-red, input[type="radio"].minimal-red').iCheck({
            checkboxClass: 'icheckbox_minimal-red',
            radioClass: 'iradio_minimal-red'
        })
    })
</script>
{% endblock script %}