{% extends "admin/template.html" %}

{% block style %}
    <link rel="stylesheet" href="{{ url_for('static', filename='backend/plugins/iCheck/all.css') }}">
{% endblock style %}

{% block content %}

    <section class="content container-fluid of-a">
        <form class="form-horizontal" method="post" onsubmit="onSubmit(this)">
            <div class="panel panel-visible">
                <div class="panel-heading">
                    <div class="panel-title">
                        <span class="glyphicon glyphicon-tasks"></span>職務管理
                    </div>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <label for="name" class="col-sm-3 control-label">職位名稱</label>

                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="name" name="name" {% if update %} value="{{ data['name'] }}" {% endif %}>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="description" class="col-sm-3 control-label">職位敘述</label>

                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="description" name="description" {% if update %} value="{{ data['description'] }}" {% endif %}>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-8 col-sm-offset-2">
                            <label>
                                <input type="radio" name="sale" value="1" class="minimal-red"
                                        {% if update %}{% if (data['sale'] == True) %} checked {% endif %} {% else %} checked {% endif %}>
                                開放銷售
                            </label>
                            <label>
                                <input type="radio" name="sale" value="0" class="minimal-red" {% if update %}{% if (data['sale'] == False) %} checked {% endif %}{% endif %}>
                                關閉銷售
                            </label>
                        </div>
                    </div>
                    {% if update %}
                        {% for permission in data.permission %}

                            <div class="form-group">
                                <label class="col-sm-3 control-label"> {% for function in functions %} {% if function.id == permission.function_id %}{{ function.description }}
                                {% endif %}{% endfor %}</label>

                                <div class="col-sm-8">
                                    <label class="control-label">
                                        <input type="radio" class="minimal-red permission" data-id="{{ permission.id }}" name="{{ permission.id }}" value="0"
                                               {% if permission.permission == 0 %}checked{% endif %}>
                                        關閉
                                    </label>
                                    <label class="control-label">
                                        <input type="radio" class="minimal-red permission" data-id="{{ permission.id }}" name="{{ permission.id }}" value="4"
                                               {% if permission.permission == 4 %}checked{% endif %}>
                                        觀看
                                    </label>
                                    <label class="control-label">
                                        <input type="radio" class="minimal-red permission" data-id="{{ permission.id }}" name="{{ permission.id }}" value="6"
                                               {% if permission.permission == 6 %}checked{% endif %}>
                                        觀看及操作
                                    </label>
                                </div>
                            </div>

                        {% endfor %}
                    {% else %}
                        {% for data in data %}

                            <div class="form-group">
                                <label class="col-sm-3 control-label">{{ data.description }}</label>

                                <div class="col-sm-8">
                                    <label class="control-label">
                                        <input type="radio" class="minimal-red permission" data-id="{{ data.id }}" name="{{ data.id }}" value="0">
                                        關閉
                                    </label>
                                    <label class="control-label">
                                        <input type="radio" class="minimal-red permission" data-id="{{ data.id }}" name="{{ data.id }}" value="4">
                                        觀看
                                    </label>
                                    <label class="control-label">
                                        <input type="radio" class="minimal-red permission" data-id="{{ data.id }}" name="{{ data.id }}" value="6">
                                        觀看及操作
                                    </label>
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                    <input type="hidden" name="id" {% if update %} value="{{ data['id'] }}" {% endif %}>
                    <input type="hidden" name="permission">
                    <button type="button" onclick="onSubmit();" class="btn btn-info btn-flat pull-right">送出</button>
                </div>
            </form>
        </div>

    </section>

{% endblock content %}

{% block script %}
    <script src="{{ url_for('static', filename='backend/plugins/iCheck/icheck.min.js') }}"></script>
    <script>
        $('.crumb-link a').attr('href', '{{ url_for('employee.employeeGradesList') }}').text('職位權限')
        $('.crumb-trail a').attr('href', '#').text('職位{% if update %} 編輯 {% else %} 新增 {% endif %}')
        $('.crumb-trail').removeClass('hidden').addClass('active')
        $('a[href="{{ url_for('employee.employeeGradesList') }}"]').parents('li').children('a').addClass('menu-open')

        $(function () {
            $('input[type="checkbox"].minimal-red, input[type="radio"].minimal-red').iCheck({
                checkboxClass: 'icheckbox_minimal-red',
                radioClass: 'iradio_minimal-red'
            })
        })

        function onSubmit(form) {
            arr = []
            $('.iradio_minimal-red.checked>.permission').each(function (i) {
                arr.push('{"id": ' + $(this).data('id') + ',"value": "' + $(this).val() + '"}');
            });
            console.log(arr)
            var name = $('#name').val()
            var description = $('#description').val()
            var sale = $('input[name="sale"]').val()
            var id = $('input[name="id"]').val()
            {% if update %}
                var data = '{"id":' + id + ',"name":"' + name + '","description":"' + description + '","sale":' + sale + ',"permission":[' + arr + ']}';
            {% else %}
                var data = '{"id":"","name":"' + name + '","description":"' + description + '","sale":' + sale + ',"permission":[' + arr + ']}';
            {% endif %}
            $.ajax({
                url: "{{ url_for('employeeApi.roleData') }}",
                type: 'POST',
                data: data,
                datatype: 'json',
                contentType: "application/json",
                success: function (msg) {
                    if (msg == 'success') {
                        // window.location = '{{ url_for('employee.employeeGradesList') }}';
                        $('#token').attr('action', '{{ url_for('employee.employeeGradesList') }}')
                        $('input[name="_token"]').val(localStorage[tokenName])
                        $('#token').submit();
                    }
                },
                error: function (xhr, ajaxOptions, thownError) {
                    alert(xhr, status);
                    alert(thownError)
                }
            });
            console.log(data);
            return false; //don't submit
        }
    </script>
{% endblock script %}