{% extends "admin/template.html" %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='backend/vendor/plugins/datatables/media/css/datatables.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='backend/vendor/plugins/datatables/media/css/datatables_addons.min.css') }}">
{% endblock style %}

{% block content %}

    <section class="content container-fluid of-a">
        <div class="panel panel-visible mnw500">
            <div class="panel-heading">
                <div class="panel-title">
                    <div class="d-inline-block">
                        <a href="{{ url_for('employee.employeeGradesCreate') }}" class="btn btn-primary w100 jwtLink">新增</a>
                    </div>
                    <div class="pull-right form-group mbn">
                        <label for="pageLength" class="form-label">單頁筆數</label>
                        <select id="pageLength" class="form-control w100 d-inline">
                            <option value="10" selected>10</option>
                            <option value="25">25</option>
                            <option value="50">50</option>
                            <option value="9999999">all</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="panel-body pn">
                <table id="example2" class="table table-bordered table-hover">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>名稱</th>
                        <th>敘述</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for data in data %}
                    <tr>
                        <td>{{loop.index}}</td>
                        <td>
                            {% if data.id != 1 %}
                            <a href="{{ url_for('employee.employeeGradesData',id=data.id) }}" class="jwtLink">{{data.name}}</a></td>
                            {% else %}
                            {{data.name}}
                            {% endif %}
                        <td>{{data.description}}</td>
                        <td>
                            {% if data.id != 1 %}
                            <a href="{{ url_for('employee.employeeGradesData',id=data.id) }}" class="btn btn-info btn-flat jwtLink">編輯</a>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <!-- /.box-body -->
        </div>

    </section>

{% endblock content %}

{% block script %}

    <script src="{{ url_for('static', filename='backend/vendor/plugins/datatables/media/js/datatables.min.js') }}"></script>
    <!-- Datatables Addons -->
    <script src="{{ url_for('static', filename='backend/vendor/plugins/datatables/media/js/datatables_addons.min.js') }}"></script>
    <script>
        $('#pageLength').change(function () {
            $('#example2').DataTable().destroy()
            showTable()
        })

        function showTable() {
            $('#example2').dataTable({
                dom: '<"top dt-panelmenu"Bf>rt<"bottom dt-panelfooter"ip>',
                buttons: [
                    {
                        extend: 'copy',
                        exportOptions: {
                            columns: ':visible'
                        }
                    },
                    {
                        extend: 'excel',
                        exportOptions: {
                            columns: ':visible'
                        }
                    },
                    {
                        extend: 'print',
                        exportOptions: {
                            columns: ':visible'
                        }
                    },
                    'colvis'
                ],
                autoWidth: false,
                paging: true,
                pageLength: parseInt($('#pageLength').val()),
                columns: [
                    {orderable: false},
                    {orderable: true},
                    {orderable: true},
                    {orderable: false}
                ],
            });
        }
        showTable()
    </script>
{% endblock script %}