<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=4.0, minimum-scale=1.0, user-scalable=1">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/logo.ico') }}">
	<title>Diazy</title>

	<style>
		body {
			margin: 0;
		}
		img {
			width: calc(100vw + 10px);
			height: auto;
			margin: -5px;
		}
		html {
		  background: rgba(255, 255, 255, 0.7);
		  box-shadow: 5px 5px 25px 2px rgba(0, 0, 0, 0.2);
		  overflow-x: hidden;
		  overflow-y: auto;
		}
		/* line 5, ../sass/layout/_lightcase.sass */
		html body::-webkit-scrollbar {
		  width: 0;
		}

		/* line 11, ../sass/layout/_lightcase.sass */
		html:hover body {
		  margin-right: -15px;
		}
		/* line 13, ../sass/layout/_lightcase.sass */
		html:hover body::-webkit-scrollbar {
		  width: 15px;
		  cursor: -webkit-grab;
		  background-color: transparent;
		}
		/* line 17, ../sass/layout/_lightcase.sass */
		html:hover body::-webkit-scrollbar-thumb {
		  border-radius: 10px;
		  background-color: rgba(0, 0, 0, 0.3);
		}
	</style>
</head>
<body>
	<img src="{{ url_for('static', filename='images/wait.png') }}">
</body>
</html>