{% extends "admin/template.html" %}

{% block style %}

    <!-- Morris chart -->
    <link rel="stylesheet" href="{{ url_for('static', filename='backend/bt3/morris.js/morris.css') }}">
    <!-- jvectormap -->
    <link rel="stylesheet" href="{{ url_for('static', filename='backend/bt3/jvectormap/jquery-jvectormap.css') }}">
    <!-- Date Picker -->
    <link rel="stylesheet" href="{{ url_for('static', filename='backend/bt3/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css') }}">
    <!-- Daterange picker -->
    <link rel="stylesheet" href="{{ url_for('static', filename='backend/bt3/bootstrap-daterangepicker/daterangepicker.css') }}">
    <!-- bootstrap wysihtml5 - text editor -->
    <link rel="stylesheet" href="{{ url_for('static', filename='backend/bt3/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css') }}">
    <!-- Ionicons -->
    <link rel="stylesheet" href="{{ url_for('static', filename='backend/bt3/Ionicons/css/ionicons.min.css') }}">
    <!-- Theme style -->
    <link rel="stylesheet" href="{{ url_for('static', filename='backend/bt3/dist/css/AdminLTE.min.css') }}">
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="{{ url_for('static', filename='backend/bt3/dist/css/skins/_all-skins.css') }}">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>

  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->

{% endblock style %}


{% block content %}
    {{ session['profile'] }}
    <!-- Content Header (Page header) -->
   {#  <section class="content-header" style="height: 60px;">
        <h1>
            Dashboard{{ request.headers['Authorization'] }}
        </h1>
        <div class="pull-right breadcrumb">
            <div class="input-group date" style="width: 630px; text-align: right;">
                {% if all_grade[13].permission != 0 %}
                <div class="input-group-addon">
                    <i class="fa fa-calendar"></i>
                </div>
                <input type="text" class="form-control" id="datepicker" style="width: 100px; background: #fff;">
                <button class="btn btn-success" style="margin: 0 10px;" onclick="printExcel('/admin/order/api/export/excel/event/by/day/')">
                    <i class="fa fa-print"></i> 預約紀錄
                </button>
                <button class="btn btn-success" style="margin: 0 10px;" onclick="printExcel('/admin/order/api/export/excel/order/by/day/')">
                    <i class="fa fa-print"></i> 訂單紀錄
                </button>
                <button class="btn btn-success" style="margin: 0 10px;" onclick="printExcel('/admin/order/api/export/excel/point/by/day/')">
                    <i class="fa fa-print"></i> 點數紀錄
                </button>
                <button class="btn btn-success" style="margin: 0 10px;" onclick="printExcel('/admin/order/api/export/excel/supply/by/day/')">
                    <i class="fa fa-print"></i> 取貨紀錄
                </button>
                {% endif %}
            </div>
        </div>
        <form id="excelForm" action="" method="POST" class="hidden">
            <input id="excelToken" name="_token" type="hidden">
        </form>            
    </section> #}
    
    <h1>商業報表</h1>

        <!-- dashboard tiles -->
        <div class="row">
            <div class="col-sm-6 col-xl-3">
                <div class="panel panel-tile">
                    <div class="panel-body br-n">
                        <h5 class="">會員人數</h5>
                        <h1 class="fs45 mbn text-center" id="numOfUsers"><img class="w20" src="{{ url_for('static', filename=TenantSetting[2]+'/images/loading.gif') }}" alt="loading...">{{ numOfUsers }}</h1>
                        <div class="mt20 text-center h-20">
                         
                        </div>
                    </div>
                    <div class="panel-footer bg-info br-n p7 text-right">
                        <span class="fs11">
                            <a class="text-white" href="{{ url_for('user.userList') }}">瞭解更多</a>
                            <i class="fa fa-arrow-right pr5"></i>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-xl-3">
                <div class="panel panel-tile">
                    <div class="panel-body br-n">
                        <h5 class="">本日總業績</h5>
                        <h1 class="fs45 mbn text-center" id="salesToday"><img class="w20" src="{{ url_for('static', filename=TenantSetting[2]+'/images/loading.gif') }}" alt="loading...">${{ salesToday }}</h1>
                        <div class="mt20 text-center h-20">
                         
                        </div>
                    </div>
                    <div class="panel-footer bg-warning br-n p7 text-right">
                        <span class="fs11">
                            <a class="text-white" href="{{ url_for('order.orderIndex') }}">瞭解更多</a>
                            <i class="fa fa-arrow-right pr5"></i>
                        </span>
                    </div>
                </div>
            </div>

            {% if grade != 1 %}
            <div class="col-sm-6 col-xl-3">
                <div class="panel panel-tile">
                    <div class="panel-body br-n">
                        <h5 class="">個人當日業績</h5>
                        <h1 class="fs45 mbn text-center" id="salesTodayPersonal"><img class="w20" src="{{ url_for('static', filename=TenantSetting[2]+'/images/loading.gif') }}" alt="loading...">${{ salesTodayPersonal }}</h1>
                        <div class="mt20 text-center h-20">
                         
                        </div>
                    </div>
                    <div class="panel-footer bg-alert br-n p7 text-right">
                        <span class="fs11">
                            <a class="text-white" href="{{ url_for('order.orderIndex') }}">瞭解更多</a>
                            <i class="fa fa-arrow-right pr5"></i>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-xl-3">
                <div class="panel panel-tile">
                    <div class="panel-body br-n">
                        <h5 class="">個人當月業績</h5>
                        <h1 class="fs45 mbn text-center" id="salesThisMonthPersonal"><img class="w20" src="{{ url_for('static', filename=TenantSetting[2]+'/images/loading.gif') }}" alt="loading...">${{ salesThisMonthPersonal }}</h1>
                        <div class="mt20 text-center h-20">
                         
                        </div>
                    </div>
                    <div class="panel-footer bg-primary br-n p7 text-right">
                        <span class="fs11">
                            <a class="text-white" href="{{ url_for('order.orderIndex') }}">瞭解更多</a>
                            <i class="fa fa-arrow-right pr5"></i>
                        </span>
                    </div>
                </div>
            </div>
            {% endif %}
            
            {# admin #}
            {% if grade == 1 %}
            <div class="col-sm-6 col-xl-3">
                <div class="panel panel-tile">
                    <div class="panel-body br-n">
                        <h5 class="">目前未使用儲值金額</h5>
                        <h1 class="fs45 mbn text-center" id="allUnusedAmount"><img class="w20" src="{{ url_for('static', filename=TenantSetting[2]+'/images/loading.gif') }}" alt="loading...">${{ allUnusedAmount }}</h1>
                        <div class="mt20 text-center h-20">
                         
                        </div>
                    </div>
                    <div class="panel-footer bg-alert br-n p7 text-right">
                        <span class="fs11">
                            <a class="text-white" href="{{ url_for('order.orderIndex') }}">.</a>
                            <i class="fa fa-arrow-right pr5"></i>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-xl-3">
                <div class="panel panel-tile">
                    <div class="panel-body br-n">
                        <h5 class="">本月業績總計</h5>
                        <h1 class="fs45 mbn text-center" id="salesThisMonth"><img class="w20" src="{{ url_for('static', filename=TenantSetting[2]+'/images/loading.gif') }}" alt="loading...">${{ salesThisMonth }}</h1>
                        <div class="mt20 text-center h-20">
                         
                        </div>
                    </div>
                    <div class="panel-footer bg-primary br-n p7 text-right">
                        <span class="fs11">
                            <a class="text-white" href="{{ url_for('order.orderIndex') }}">瞭解更多</a>
                            <i class="fa fa-arrow-right pr5"></i>
                        </span>
                    </div>
                </div>
            </div>
            {% endif %}
            
        </div>

    <!-- /.row -->
    {% if all_grade[13].permission != 0 %}
    <!-- Main row -->
    <div class="row">
        <!-- Left col -->
        <section class="col-lg-7 connectedSortable" id="sortableL">
            
            <!-- solid sales graph -->
            <div class="box box-primary">
                <div class="box-header">
                    <i class="fa fa-th"></i>

                    <h3 class="box-title">業績總計(月)</h3>

                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="box-body border-radius-none">
                    <input id="salesTotalS" class="form-control" type="number" value="2018" min="2018" max="2050" style="width: 100px; float: right;" >

                    <div>
                        <canvas id="countSales" style="height: 250px;"></canvas>
                    </div>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </section>
        <!-- /.Left col -->
        <!-- right col (We are only adding the ID to make the widgets sortable)-->
        <section class="col-lg-5 connectedSortable" id="sortableR">
            <!-- TO DO List -->
            <div class="box box-primary">
                <div class="box-header">
                    <i class="ion ion-clipboard"></i>

                    <h3 class="box-title">排程表</h3>

                    <div class="pull-right">
                        <p>今日預約: <span id="todayReservation"></span>人</p>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body" id="reservationList" style="overflow: auto;">
                    <!-- See dist/js/pages/dashboard.js to activate the todoList plugin -->
                    <ul class="todo-list" id="reservation">
           <!--              <li>
                            <input type="checkbox" value="">
                            <span class="text">王醫師-肉毒桿菌</span>
                            <small class="label label-danger"><i class="fa fa-clock-o"></i> 2 分鐘</small>
                        </li> -->
                    </ul>
                </div>
                <!-- /.box-body -->
                <div class="box-footer clearfix no-border">
                    <a href="{{ url_for('order.calendar') }}" class="btn btn-default pull-right jwtLink"><i class="fa fa-plus"></i>新增</a>
                </div>
            </div>
            <!-- /.box -->
        </section>
        <!-- /.content -->

        <section class="col-lg-12 connectedSortable">
            <!-- Custom tabs (Charts with tabs)-->
            <div class="box box-success">
                <!-- Tabs within a box -->
                <div class="box-header with-border">
                    <h3 class="box-title">銷售表</h3>

                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>

                <div class="box-body">
                    <input id="annualSaleLineS" class="form-control" type="number" value="2018" min="2018" max="2050" style="width: 100px; float: right;" >
                    <!-- Morris chart - Sales -->
                    <div>
                        <canvas id="annualSaleLine" style="position: relative; height: 300px;"></canvas>
                    </div>
                </div>
            </div>
            <!-- /.nav-tabs-custom -->

            <div class="box box-success">
                <div class="box-header with-border">
                    <h3 class="box-title">員工業績金額排行榜</h3>

                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="box-body">
                    <select id="membersPerformanceS" class="form-control select2" data-placeholder="選擇月份" style="width: auto; float: right;">
                        <option value="month1">一月份</option>
                        <option value="month2">二月份</option>
                        <option value="month3">三月份</option>
                        <option value="month4">四月份</option>
                        <option value="month5">五月份</option>
                        <option value="month6">六月份</option>
                        <option value="month7">七月份</option>
                        <option value="month8">八月份</option>
                        <option value="month9">九月份</option>
                        <option value="month10">十月份</option>
                        <option value="month11">十一月份</option>
                        <option value="month12">十二月份</option>
                    </select>
                    <input class="form-control" type="number" value="" min="2018" max="2050" style="width: 80px; float: right; margin-right: 5px;" >

                    <div class="chart">
                        <canvas id="membersPerformance" height="230"></canvas>
                    </div>
                </div>
            </div>

            <div class="box box-warnning">
                <div class="box-header with-border">
                    <h3 class="box-title">本月每日訂單總金額</h3>

                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="box-body">
                    <select id="dailyPerformanceS" class="form-control select2" data-placeholder="選擇月份" style="width: auto; float: right;">
                        <option value="month1">一月份</option>
                        <option value="month2">二月份</option>
                        <option value="month3">三月份</option>
                        <option value="month4">四月份</option>
                        <option value="month5">五月份</option>
                        <option value="month6">六月份</option>
                        <option value="month7">七月份</option>
                        <option value="month8">八月份</option>
                        <option value="month9">九月份</option>
                        <option value="month10">十月份</option>
                        <option value="month11">十一月份</option>
                        <option value="month12">十二月份</option>
                    </select>
                    <input class="form-control" type="number" value="" min="2018" max="2050" style="width: 80px; float: right; margin-right: 5px;" >

                    <div class="chart">
                        <canvas id="dailyPerformance" height="230"></canvas>
                    </div>
                </div>
            </div>

            {% if all_grade[13].permission == 6 %}
            <div class="box box-success">
                <div class="box-header with-border">
                    <h3 class="box-title">產品累計銷售排行榜</h3>

                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="box-body">
                    <select class="form-control select2" style="width: auto; float: right;">
                        <option value="1">產品</option>

                    </select>
                    <select id="productSaleS" class="form-control select2" data-placeholder="選擇月份" style="width: auto; float: right;">
                        <option value="month1">一月份</option>
                        <option value="month2">二月份</option>
                        <option value="month3">三月份</option>
                        <option value="month4">四月份</option>
                        <option value="month5">五月份</option>
                        <option value="month6">六月份</option>
                        <option value="month7">七月份</option>
                        <option value="month8">八月份</option>
                        <option value="month9">九月份</option>
                        <option value="month10">十月份</option>
                        <option value="month11">十一月份</option>
                        <option value="month12">十二月份</option>
                    </select>
                    <input class="form-control" type="number" value="" min="2018" max="2050" style="width: 80px; float: right; margin-right: 5px;" >

                    <div class="chart">
                        <canvas id="productSale" height="350"></canvas>
                    </div>
                </div>
            </div>
            {% endif %}

           <!--  <div class="box box-success">
                <div class="box-header with-border">
                    <h3 class="box-title">服務累計銷售排行榜</h3>

                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="box-body">
                    <select class="form-control select2" data-placeholder="選擇類別" style="width: auto; float: right;">
                    </select>
                    <select id="serviceSaleS" class="form-control select2" data-placeholder="選擇月份" style="width: auto; float: right;">
                        <option value="month1">一月份</option>
                        <option value="month2">二月份</option>
                        <option value="month3">三月份</option>
                        <option value="month4">四月份</option>
                        <option value="month5">五月份</option>
                        <option value="month6">六月份</option>
                        <option value="month7">七月份</option>
                        <option value="month8">八月份</option>
                        <option value="month9">九月份</option>
                        <option value="month10">十月份</option>
                        <option value="month11">十一月份</option>
                        <option value="month12">十二月份</option>
                    </select>
                    <input class="form-control" type="number" value="" min="2018" max="2050" style="width: 80px; float: right; margin-right: 5px;" >

                    <div class="chart">
                        <canvas id="serviceSale" height="230"></canvas>
                    </div>
                </div>
            </div> -->

            {% if all_grade[13].permission == 6 %}
            <div class="box box-success">
                <div class="box-header with-border">
                    <h3 class="box-title">服務課程</h3>

                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="box-body">
                    <h4 style="margin-left: 15px;">累計未使用服務: <span id="accumulationUnused"></span> , 累計使用服務: <span id="accumulationUsed"></span> , 銷售總計: <span id="accumulationAmount"></span></h4>
                    <div class="chart">
                        <canvas id="accumulationCourse" height="300"></canvas>
                    </div>
                </div>
            </div>
            {% endif %}
        </section>
    </div>
    {% endif %}

{% endblock content %}


{% block script %}

    <!-- jQuery UI 1.11.4 -->
    <!-- <script src="{{ url_for('static', filename='backend/bt3/jquery-ui/jquery-ui.js') }}"></script> -->
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>
        $.widget.bridge('uibutton', $.ui.button);
    </script>
    <!-- Morris.js charts -->
    <!-- <script src="{{ url_for('static', filename='backend/bt3/raphael/raphael.min.js') }}"></script> -->
    <script src="{{ url_for('static', filename='backend/bt3/morris.js/morris.min.js') }}"></script>
    <!-- Sparkline -->
    <!-- <script src="{{ url_for('static', filename='backend/bt3/jquery-sparkline/dist/jquery.sparkline.min.js') }}"></script> -->
    <!-- jvectormap -->
    <!-- <script src="{{ url_for('static', filename='backend/bt3/jvectormap/jquery-jvectormap-1.2.2.min.js') }}"></script> -->
    <!-- <script src="{{ url_for('static', filename='backend/bt3/jvectormap/jquery-jvectormap-world-mill-en.js') }}"></script> -->
    <!-- jQuery Knob Chart -->
    <!-- <script src="{{ url_for('static', filename='backend/bt3/jquery-knob/dist/jquery.knob.min.js') }}"></script> -->
    <!-- daterangepicker -->
    <!-- <script src="{{ url_for('static', filename='backend/bt3/moment/min/moment.min.js') }}"></script> -->
    <script src="{{ url_for('static', filename='backend/bt3/bootstrap-daterangepicker/daterangepicker.js') }}"></script>
    <!-- datepicker -->
    <script src="{{ url_for('static', filename='backend/bt3/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js') }}"></script>
    <!-- Bootstrap WYSIHTML5 -->
    <script src="{{ url_for('static', filename='backend/bt3/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js') }}"></script>
    <!-- Slimscroll -->
    <!-- <script src="{{ url_for('static', filename='backend/bt3/jquery-slimscroll/jquery.slimscroll.min.js') }}"></script> -->
    <!-- ChartJS -->
    <script src="{{ url_for('static', filename='backend/bt3/chart.js/Chart.js') }}"></script>
    <!-- FastClick -->
    <!-- <script src="{{ url_for('static', filename='backend/bt3/fastclick/lib/fastclick.js') }}"></script> -->
    <!-- AdminLTE App -->
    <script src="{{ url_for('static', filename='backend/bt3/dist/js/adminlte.min.js') }}"></script>
    <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
    <!-- <script src="{{ url_for('static', filename='backend/dist/js/pages/dashboard.js') }}"></script> -->
    <!-- AdminLTE for demo purposes -->
    <!-- <script src="{{ url_for('static', filename='backend/dist/js/demo.js') }}"></script> -->

    <script>
        var now = (new Date()).getTime()
        var nowYear = new Date().getFullYear()
        var nowMonth = new Date().getMonth()+1
        var nowDate = new Date().getDate()

        var tomorrow = now+86400000
        var tomorrowYear = new Date(tomorrow).getFullYear()
        var tomorrowMonth = new Date(tomorrow).getMonth()+1
        var tomorrowDate = new Date(tomorrow).getDate()

        $('#datepicker').val(nowYear+'/'+nowMonth+'/'+nowDate)
        $('#datepicker').datepicker({
            format: 'yyyy/mm/dd',
            autoclose: true,
            endDate: '+0d'
        })

        Number.prototype.numberFormat = function(c, d, t){
        var n = this, 
            c = isNaN(c = Math.abs(c)) ? 2 : c, 
            d = d == undefined ? "." : d, 
            t = t == undefined ? "," : t, 
            s = n < 0 ? "-" : "", 
            i = String(parseInt(n = Math.abs(Number(n) || 0).toFixed(c))), 
            j = (j = i.length) > 3 ? j % 3 : 0;
           return s + (j ? i.substr(0, j) + t : "") + i.substr(j).replace(/(\d{3})(?=\d)/g, "$1" + t) + (c ? d + Math.abs(n - i).toFixed(c).slice(2) : "");
         };
        $('#numOfUsers').html(({{ numOfUsers }}).numberFormat(0,'.', ','))
        $('#salesToday').html('$'+({{ salesToday }}).numberFormat(0,'.', ','))
        $('#salesTodayPersonal').html('$'+({{ salesTodayPersonal }}).numberFormat(0,'.', ','))
        $('#salesThisMonthPersonal').html('$'+({{ salesThisMonthPersonal }}).numberFormat(0,'.', ','))
        $('#allUnusedAmount').html('$'+({{ allUnusedAmount }}).numberFormat(0,'.', ','))
        $('#salesThisMonth').html('$'+({{ salesThisMonth }}).numberFormat(0,'.', ','))

        var bgcArray = ["#de8a45","#9b2335","#6ab25f","#2a78dc","#ffc3a0","#663271","#ff6666","#0e2f44","#794044","#ffa500","#3b5998","#6dc066","#191970","#088da5","#fa8072","#0c342a","#560101","#008bd2","#d3f8a3","#c22342","#f07d00","#b3ffe1","#f4cccc","#96358c","#70a3bc","#23a638","#e6007e","#b5b632","#4a5321","#e9c28b","#9b2335","#6ab25f","#2a78dc","#ffc3a0","#663271","#ff6666","#0e2f44","#794044","#ffa500","#3b5998","#6dc066","#191970","#088da5","#fa8072","#0c342a","#560101","#008bd2","#d3f8a3","#c22342","#f07d00","#b3ffe1","#f4cccc","#96358c","#70a3bc","#23a638","#e6007e","#b5b632","#4a5321","#e9c28b"]

        

        $('#sortableL').sortable({
            axis: 'y',
            update: function (event, ui) {
                var data = $(this).sortable('serialize');
                var year = (new Date).getFullYear();
                var month = document.getElementById("mySelect").selectedIndex;
                console.log(data)

                // POST to server using $.post or $.ajax
                $.ajax({
                    data: data,
                    type: 'GET',
                    url: '/admin/businessRule/api/get/sales/by/month/all/personal/'+year+'/'+month
                });
            }
        });
        // Bar chart
        var thisYear = (new Date).getFullYear()
        var thisMonth = (new Date).getMonth() + 1
        var thisDate = (new Date).getDate()
        var daysInPreMonth = new Date(thisYear, thisMonth - 1, 0).getDate()
        // console.log('thisMonth: ' + thisMonth)
        // console.log('thisYear: ' + thisYear)
        // console.log('daysInPreMonth: ' + daysInPreMonth)


        // 業績總計(月)
        $('#salesTotalS').val(nowYear)
        $('#salesTotalS').change(function () {
            salesTotal($('#salesTotalS').val())
        })
        salesTotal(thisYear)
        function salesTotal(year) {
            $.ajax({
                url: "/admin/businessRule/api/get/sales/by/year/all/months/"+year+"/"+nowMonth,
                type: 'GET',
                datatype: 'json',
                contentType: "application/json",
                success: function (data) {
                    data = data.salesByYearAllMonths
                    console.log(data)
                    var bgc = []
                    var month = []
                    var price = []

                    for (var i = 0; i < data.length; i++) {
                        month.push(data[i].month)
                        price.push(data[i].total_price)
                        bgc.push(bgcArray[i])
                    }
                    $('#countSales').parent().html('<canvas id="countSales" style="height: 250px;"></canvas>')
                    new Chart(document.getElementById("countSales"), {
                        type: 'bar',
                        data: {
                            labels: month,
                            datasets: [
                                {
                                    label: "此月總業績",
                                    backgroundColor: bgc,
                                    data: price
                                }
                            ]
                        },
                        options: {
                            legend: {display: false},
                            title: {
                                display: true,
                            }
                        }
                    });
                },
                error: function (xhr, textStatus, thownError) {
                    swal({
                        title: '發生錯誤',
                        text: xhr.getResponseHeader('error_code'),
                        type: 'error'
                    })
                }
            });
        }

        // 排程表
        $.ajax({
            url: '/admin/order/api/event/'+nowYear+'-'+nowMonth+'-'+nowDate+'/'+tomorrowYear+'-'+tomorrowMonth+'-'+tomorrowDate,
            type: 'GET',
            datatype: 'json',
            contentType: "application/json",
            success: function (data) {
                var eventsList = data.eventsList
                    console.log(eventsList)
                var list = '', count = 0, array = []
                $.each(eventsList,function(key,value) {
                    // var sYear = new Date(eventsList[key].start).getFullYear()
                    // var sMonth = new Date(eventsList[key].start).getMonth() + 1
                    // var sDate = new Date(eventsList[key].start).getDate()
                    var remain = new Date(eventsList[key].start).getTime() - now

                    if (remain > 0 && !array.includes(eventsList[key].event_id)) {
                        remain = remain/3600000>=1?parseInt(remain/3600000)+'小時':remain/60000>=1?parseInt(remain/60000)+'分鐘':remain/1000+'秒'
                        list += '<li>'+
                            '<span class="text">'+eventsList[key].user_name+'</span>'+
                            '<small class="label label-danger"><i class="fa fa-clock-o"></i>'+remain+'</small>'+
                        '</li>';
                        count++
                        array.push(eventsList[key].event_id)
                    }
                })
                if (list == '') {
                    list = '今日尚無預約'
                }
                $('#reservation').html(list)
                $('#todayReservation').text(count)
            },
            error: function (xhr, textStatus, thownError) {
                swal({
                    title: '發生錯誤',
                    text: xhr.getResponseHeader('error_code'),
                    type: 'error'
                })
            }
        });

        // 員工業績金額排行榜
        $('#membersPerformanceS').val('month' + thisMonth)
        $('#membersPerformanceS').next().val(thisYear)
        $('#membersPerformanceS').change(function () {
            membersPerformanceChange()
        })
        $('#membersPerformanceS').next().change(function () {
            membersPerformanceChange()
        })
        function membersPerformanceChange() {
            membersPerformance($('#membersPerformanceS').next().val(), $('#membersPerformanceS').val().split('month')[1])
        }
        membersPerformance(thisYear, thisMonth)
        function membersPerformance(year,month) {
            $.ajax({
                url: "/admin/businessRule/api/get/sales/by/month/all/personal/"+year+"/"+month,
                type: 'GET',
                datatype: 'json',
                contentType: "application/json",
                success: function (data) {
                    // console.log(data.salesByMonthAllPersonal)
                    var data = data.salesByMonthAllPersonal
                    var labelArray=[], dataArray=[], bgc=[]
                    for (var i = 0; i < data.length; i++) {
                        labelArray.push(data[i].employeeName)
                        dataArray.push(data[i].sales)
                        bgc.push(bgcArray[i])
                    }
                    $('#membersPerformance').parent().html('<canvas id="membersPerformance" height="230"></canvas>')
                    new Chart(document.getElementById("membersPerformance"), {
                        type: 'bar',
                        data: {
                            labels: labelArray,
                            datasets: [
                                {
                                    label: "上月總業績",
                                    backgroundColor: bgc,
                                    data: dataArray
                                }
                            ]
                        },
                        options: {
                            legend: {display: false},
                            title: {
                                display: true,
                            }
                        }
                    });
                },
                error: function (xhr, textStatus, thownError) {
                    swal({
                        title: '發生錯誤',
                        text: xhr.getResponseHeader('error_code'),
                        type: 'error'
                    })
                }
            });
        }

        // 本月每日訂單總金額
        var lastMonth = thisMonth - 1
        if (lastMonth == 0) {
            lastMonth = 12
            thisYear--
        }
        $('#dailyPerformanceS').val('month' + lastMonth)
        $('#dailyPerformanceS').next().val(thisYear)
        $('#dailyPerformanceS').change(function () {
            dailyPerformanceChange()
        })
        $('#dailyPerformanceS').next().change(function () {
            dailyPerformanceChange()
        })
        function dailyPerformanceChange() {
            dailyPerformance($('#dailyPerformanceS').next().val(), $('#dailyPerformanceS').val().split('month')[1])
        }
        dailyPerformance(thisYear, lastMonth)
        function dailyPerformance(year,month) {
            $.ajax({
                url: "/admin/businessRule/api/get/sales/by/month/all/days/"+year+"/"+month,
                type: 'GET',
                datatype: 'json',
                contentType: "application/json",
                success: function (data) {
                    var list = data.salesByMonthAllDays
                    // console.log(list[0].total_price)
                    var eachDay = []
                    var eachDayPerformance = []
                    for (var i = 1; i <= list.length; i++) {
                        eachDay.push(i)
                        eachDayPerformance.push(list[(i-1)].total_price)
                    }
                    $('#dailyPerformance').parent().html('<canvas id="dailyPerformance" height="230"></canvas>')
                    new Chart(document.getElementById("dailyPerformance"), {
                        type: 'bar',
                        data: {
                            labels: eachDay,
                            datasets: [
                                {
                                    label: "每日業績",
                                    data: eachDayPerformance,
                                    backgroundColor: '#3e95cd'
                                }
                            ]
                        },
                        options: {
                            legend: {display: false},
                            title: {
                                display: true,
                            }
                        }
                    });
                },
                error: function (xhr, textStatus, thownError) {
                    swal({
                        title: '發生錯誤',
                        text: xhr.getResponseHeader('error_code'),
                        type: 'error'
                    })
                }
            });
        }

        //產品累計銷售排行榜
        $('#productSaleS').val('month' + lastMonth)
        $('#productSaleS').next().val(thisYear)
        $('#productSaleS').change(function () {
            productSaleChange()
        })
        $('#productSaleS').next().change(function () {
            productSaleChange()
        })
        $('#productSaleS').prev().change(function () {
           categoryId = $('#productSaleS').prev().val()
           productSaleChange()
        })
        function productSaleChange() {
            productSale($('#productSaleS').next().val(), $('#productSaleS').val().split('month')[1])
        }
        productSale(thisYear, lastMonth)
        var countProductSale = 0, categoryId = 1
        function productSale(year,month) {
            $.ajax({
                url: "/admin/businessRule/api/get/sales/by/month/all/products/"+year+"/"+month,
                type: 'GET',
                datatype: 'json',
                contentType: "application/json",
                success: function (data) {
                    var list = data.salesByMonthAllProducts
                    console.log('listXXXXXXXXXXXX')
                    console.log(list)
                    var categoryList = []
                    var categoryOption = ''
                    var products = []
                    var eachDayPerformance = []
                    for (var i = 0; i < list.length; i++) {
                        if (countProductSale == 0) {
                                console.log(categoryList.includes(list[i].category_id))
                            if (!(categoryList.includes(list[i].category_id))) {
                                categoryOption += '<option value="'+list[i].category_id+'">'+list[i].category_name+'</option>';
                                categoryList.push(list[i].category_id)
                                console.log(categoryList)
                            }
                        }
                        if (categoryId == list[i].category_id) {
                            products.push(list[i].product_name)
                            eachDayPerformance.push(list[i].total_price)
                        }
                    }
                    if (countProductSale == 0) {
                        $('#productSaleS').prev().html(categoryOption)
                        countProductSale++
                    }
                    $('#productSale').parent().html('<canvas id="productSale" height="350"></canvas>')
                    new Chart(document.getElementById("productSale"), {
                        type: 'bar',
                        data: {
                            labels: products,
                            datasets: [
                                {
                                    label: "每日業績",
                                    data: eachDayPerformance,
                                    backgroundColor: '#ee5a7e'
                                }
                            ]
                        },
                        options: {
                            legend: {display: false},
                            title: {
                                display: true,
                            }
                        }
                    });
                },
                error: function (xhr, textStatus, thownError) {
                    swal({
                        title: '發生錯誤',
                        text: xhr.getResponseHeader('error_code'),
                        type: 'error'
                    })
                }
            });
        }

        // 年度所有產品銷售表
        $('#annualSaleLineS').val(nowYear)
        $('#annualSaleLineS').change(function () {
            productTotal($('#annualSaleLineS').val())
        })
        window.onload = function () {
            productTotal(nowYear)
            $('#reservationList').height($('#countSales').height()-30) 
        }
        function productTotal(year) {
            $.ajax({
                url: "/admin/businessRule/api/get/sales/by/year/all/products/"+year+"/"+nowMonth,
                type: 'GET',
                datatype: 'json',
                contentType: "application/json",
                success: function (data) {
                    data = data.salesByYearAllProducts
                    console.log(data)
                    var products = []
                    var bgc = []
                    var month = []
                    var annualPrice = []
                    
                    for (var i = 0; i < data.length; i++) {
                        var name = data[i][0].category_name
                        // console.log(name)
                        var price = []
                        var addPrice = 0
                        bgc.push(bgcArray[i])
                        for (var j = 0; j < 12; j++) {
                            if (i == 0) {
                                month.push(data[i][j].month)
                            }
                            price.push(data[i][j].total_price)
                            addPrice+=data[i][j].total_price
                        }
                        // console.log(price)
                        annualPrice.push(addPrice)
                        products[i]={
                            data: price,
                            label: name,
                            borderColor: bgcArray[i],
                            fill: false
                        }
                    }
                    $('#annualSaleLine').parent().html('<canvas id="annualSaleLine" style="position: relative; height: 300px;"></canvas>')
                    new Chart(document.getElementById("annualSaleLine"), {
                        type: 'line',
                        data: {
                            labels: month,
                            datasets: products
                        },
                        options: {
                            title: {
                                display: true
                            }
                        }
                    });
                    // new Chart(document.getElementById("annualSalePie").getContext('2d'), {
                    //     type: 'pie',
                    //     data: {
                    //         labels: name,
                    //         datasets: [{
                    //             label: "Population (millions)",
                    //             backgroundColor: bgc,
                    //             data: annualPrice
                    //         }]
                    //     },
                    //     options: {
                    //         responsive: true
                    //     }
                    // });
                },
                error: function (xhr, textStatus, thownError) {
                    swal({
                        title: '發生錯誤',
                        text: xhr.getResponseHeader('error_code'),
                        type: 'error'
                    })
                }
            });
        }
        
        
        // 業績總計(月)
        $('#salesTotalS').val(nowYear)
        $('#salesTotalS').change(function () {
            salesTotal($('#salesTotalS').val())
        })
        salesTotal(thisYear)
        function salesTotal(year) {
            $.ajax({
                url: "/admin/businessRule/api/get/sales/by/year/all/months/"+year+"/"+nowMonth,
                type: 'GET',
                datatype: 'json',
                contentType: "application/json",
                success: function (data) {
                    data = data.salesByYearAllMonths
                    console.log(data)
                    var bgc = []
                    var month = []
                    var price = []

                    for (var i = 0; i < data.length; i++) {
                        month.push(data[i].month)
                        price.push(data[i].total_price)
                        bgc.push(bgcArray[i])
                    }

                    $('#countSales').html('')
                    new Chart(document.getElementById("countSales"), {
                        type: 'bar',
                        data: {
                            labels: month,
                            datasets: [
                                {
                                    label: "此月總業績",
                                    backgroundColor: bgc,
                                    data: price
                                }
                            ]
                        },
                        options: {
                            legend: {display: false},
                            title: {
                                display: true,
                            }
                        }
                    });
                },
                error: function (xhr, textStatus, thownError) {
                    swal({
                        title: '發生錯誤',
                        text: xhr.getResponseHeader('error_code'),
                        type: 'error'
                    })
                }
            });
        }

        // 累計服務剩餘
        $.ajax({
            url: '/admin/businessRule/api/get/unused/event/num/by/day/all/products',
            type: 'GET',
            datatype: 'json',
            contentType: "application/json",
            success: function (data) {
                data = data.unusedEventNumByDayAllProducts
                console.log(data)
                var bgc = []
                var name = []
                var amount = []
                var totalUnused = 0
                var totalUsed = 0
                var totalAmount = 0

                for (var i = 0; i < data.length; i++) {
                    name.push(data[i].product_name)
                    amount.push(data[i].unused)
                    bgc.push(bgcArray[i])
                    totalUnused +=data[i].unused
                    totalUsed +=data[i].used
                    totalAmount +=data[i].total_amount
                }

                $('#accumulationUnused').text(totalUnused)
                $('#accumulationUsed').text(totalUsed)
                $('#accumulationAmount').text(totalAmount)

                $('#accumulationCourse').parent().html('<canvas id="accumulationCourse" height="300"></canvas>')
                new Chart(document.getElementById("accumulationCourse"), {
                    type: 'bar',
                    data: {
                        labels: name,
                        datasets: [
                            {
                                label: "累計未使用",
                                backgroundColor: bgc,
                                data: amount
                            }
                        ]
                    },
                    options: {
                        legend: {display: false},
                        title: {
                            display: true,
                        }
                    }
                });
            },
            error: function (xhr, textStatus, thownError) {
                swal({
                    title: '發生錯誤',
                    text: xhr.getResponseHeader('error_code'),
                    type: 'error'
                })
            }
        });

        function printExcel(path) {
            var array = $('#datepicker').val().split('/')
            var year = array[0]
            var month = array[1]
            var date = array[2]
            $('#excelForm').attr('action', path+year+'/'+month+'/'+date)
            $('#excelToken').val(localStorage['token'])
            $('#excelForm').submit();
            // $.ajax({
            //     url: "/admin/order/api/export/excel/order/by/day/"+year+'/'+month+'/'+date,
            //     type: 'POST',
            //     data: '{"_token":"'+ localStorage['token'] +'"}',
            //     datatype: 'json',
            //     contentType: "application/json",
            //     success: function (data) {
                    
            //     },
            //     error: function (xhr, textStatus, thownError) {
            //         swal({
            //             title: '發生錯誤',
            //             text: textStatus.getResponseHeader("error_code"),
            //             type: 'error'
            //         })
            //     }
            // });
        }
        
    </script>
{% endblock script %}