

<!DOCTYPE html>
<html>
<head>
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="AdminDesigns">
    <meta name="keywords" content="Classic Admin HTML5 Bootstrap 3 Admin Template UI Theme">
    <meta name="description" content="AdminDesigns - A Responsive HTML5 Admin UI Framework">
    <title>{{TenantSetting[0]}}{{TenantSetting[1]}}</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="{{ url_for('static', filename=TenantSetting[2]+'/images/logo.ico') }}">

    <!-- Admin Forms CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='backend/assets/admin-tools/admin-forms/css/admin-forms.css') }}">

    <!-- Theme CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='backend/assets/skin/default_skin/css/theme.css') }}">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>

<body class="external-page sb-l-c sb-r-c">

    <!-- Start: Main -->
    <div id="main" class="animated fadeIn" style="min-height: 100vh;">

        <!-- Start: Content-Wrapper -->
        <section id="content_wrapper">

            <!-- begin canvas animation bg -->
            <div id="canvas-wrapper">
                <canvas id="demo-canvas"></canvas>
            </div>

            <form id="token" method="post" action="{{ url_for('admin.admin') }}">
                <input name="_token" type="hidden">
            </form>

            <!-- Begin: Content -->
            <section id="content">

                <div class="admin-form theme-info" id="login1">

                    <div class="row mb15 table-layout">

                        <div class="col-xs-6 va-m pln">
                            <!-- <a href="dashboard.html" title="Return to Dashboard">
                                <img alt="image" src="assets/img/logos/logo_white.png" title="AdminDesigns Logo" class="img-responsive w150 hidden">
                            </a> -->
                        </div>

                        <div class="col-xs-6 text-right va-b pr5">
                            <div class="login-links fs15">
                                <a id="forget_password" onclick="forgetPassword()" style="cursor: pointer;" title="Forget Password">忘記密碼</a>
                            </div>
                        </div>

                    </div>

                    <form class="panel panel-info panel-border border-top mt10" method="post" action="/" id="contact">

                        <!-- end .form-header section -->

                        <div class="panel-body bg-light p30">
                            <div class="row">
                                <div class="col-sm-7 pr30">
                                    <div class="section">
                                        <label for="account" class="field-label text-muted fs18 mb10">帳號</label>
                                        <label for="account" class="field prepend-icon">
                                            <input type="text" name="account" id="account" class="gui-input" placeholder="請輸入電子郵件">
                                            <label for="account" class="field-icon">
                                                <i class="fa fa-user"></i>
                                            </label>
                                        </label>
                                    </div>
                                    <!-- end section -->

                                    <div class="section">
                                        <label for="password" class="field-label text-muted fs18 mb10">密碼</label>
                                        <label for="password" class="field prepend-icon">
                                            <input type="password" name="password" id="password" class="gui-input" placeholder="Enter password">
                                            <label for="password" class="field-icon">
                                                <i class="fa fa-lock"></i>
                                            </label>
                                        </label>
                                    </div>
                                    <!-- end section -->

                                </div>
                                <div class="col-sm-5 br-l br-grey pl30">
                                    <!-- <h3 class="mb25"> You'll Have Access To Your:</h3>
                                    <p class="mb15">
                                        <span class="fa fa-check text-success pr5"></span> Unlimited Email Storage</p>
                                    <p class="mb15">
                                        <span class="fa fa-check text-success pr5"></span> Unlimited Photo Sharing/Storage</p>
                                    <p class="mb15">
                                        <span class="fa fa-check text-success pr5"></span> Unlimited Downloads</p>
                                    <p class="mb15">
                                        <span class="fa fa-check text-success pr5"></span> Unlimited Service Tickets</p> -->
                                    <a href="/web">
                                        <img class="fluid-width" src="{{ url_for('static', filename=TenantSetting[2]+'/images/logo.png') }}">
                                    </a>
                                </div>
                            </div>
                        </div>

                        <!-- end .form-body section -->
                        <div class="panel-footer clearfix p10 ph15">
                            <div class="button btn-danger mr10 pull-right" id="submit" onclick="onSubmit()">登入</div>
                            <label class="switch ib switch-primary pull-left input-align mt10">
                                <input type="checkbox" name="remember" id="remember" checked>
                                <label for="remember" data-on="YES" data-off="NO"></label>
                                <span>記住我</span>
                            </label>
                        </div>
                        <!-- end .form-footer section -->

                    </form>
                </div>

            </section>
            <!-- End: Content -->

        </section>
        <!-- End: Content-Wrapper -->

        <!-- Dropmenu -->
        <div id="dropmenu" class="">
            <div class="topbar-menu row">
                <div class="col-xs-4 col-sm-2">
                    <a class="dropmenu-tile tile-danger" href="#">
                        <div class="tile-inner">
                            <div class="tile-icon">
                                <span class="glyphicon glyphicon-inbox"></span>
                            </div>
                            <span class="tile-title">Messages</span>
                        </div>
                    </a>
                </div>
                <div class="col-xs-4 col-sm-2">
                    <a class="dropmenu-tile tile-warning" href="#">
                        <div class="tile-inner">
                            <div class="tile-icon">
                                <span class="glyphicon glyphicon-cog"></span>
                            </div>
                            <span class="tile-title">User Settings</span>
                        </div>
                    </a>
                </div>
                <div class="col-xs-4 col-sm-2">
                    <a class="dropmenu-tile tile-success" href="#">
                        <div class="tile-inner">
                            <div class="tile-icon">
                                <span class="glyphicon glyphicon-user"></span>
                            </div>
                            <span class="tile-title">Profile</span>
                        </div>
                    </a>
                </div>
                <div class="col-xs-4 col-sm-2">
                    <a class="dropmenu-tile tile-primary" href="#">
                        <div class="tile-inner">
                            <div class="tile-icon">
                                <span class="glyphicon glyphicon-book"></span>
                            </div>
                            <span class="tile-title">Directory</span>
                        </div>
                    </a>
                </div>
                <div class="col-xs-4 col-sm-2">
                    <a class="dropmenu-tile tile-alert" href="#">
                        <div class="tile-inner">
                            <div class="tile-icon">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </div>
                            <span class="tile-title">Projects</span>
                        </div>
                    </a>
                </div>
                <div class="col-xs-4 col-sm-2">
                    <a class="dropmenu-tile tile-system" href="#">
                        <div class="tile-inner">
                            <div class="tile-icon">
                                <span class="glyphicon glyphicon-home"></span>
                            </div>
                            <span class="tile-title">Settings</span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <!-- End: Dropmenu -->

    </div>
    <!-- End: Main -->

    <!-- BEGIN: PAGE SCRIPTS -->

    <!-- jQuery -->
    <script src="{{ url_for('static', filename='backend/vendor/jquery/jquery-3.2.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='backend/vendor/jquery/jquery_ui/jquery-ui.min.js') }}"></script>
    <!-- <script src="vendor/jquery/jquery_migrate/jquery-migrate-3.0.0.min.js') }}"></script> -->

    <!-- CanvasBG Plugin(creates mousehover effect) -->
    <script src="{{ url_for('static', filename='backend/vendor/plugins/canvasbg/canvasbg.js') }}"></script>
    <script src="{{ url_for('static', filename='backend/vendor/plugins/sweetalert/sweetalert.js') }}"></script>

    <!-- Theme Javascript -->
    <script src="{{ url_for('static', filename='backend/assets/js/utility/utility.js') }}"></script>
    <script src="{{ url_for('static', filename='backend/assets/js/demo/demo.js') }}"></script>
    <script src="{{ url_for('static', filename='backend/assets/js/main.js') }}"></script>

    <!-- Page Javascript -->
    <script type="text/javascript">
        domready(function() {

            // Init Demo JS
            Demo.init();

            // Init Theme Core
            Core.init();

            // Init CanvasBG and pass target starting location
            CanvasBG.init({
                Loc: {
                    x: window.innerWidth / 2,
                    y: window.innerHeight / 3.3
                },
            });

        });
        
        localStorage.removeItem(' {{TenantSetting[2]}}AdminToken')

        $('input[name="account"]').keyup(function(e) {
            if (e.keyCode == 13) {
                $('input[name="password"]').focus()
            }
        })
        $('input[name="password"]').keyup(function(e) {
            if (e.keyCode == 13) {
                onSubmit()
            }
        })

        $('#inputEmail').keypress(function (event) {
            if (event.which === 13)
            {
                forgetPassword();
            }
        });

        function onSubmit() {
            var account = $('input[name="account"]').val()
            var password = $('input[name="password"]').val()
            var data = '{"account":"' + account + '","password":"' + password + '"}';
            $.ajax({
                url: "{{ url_for('admin.authenticate') }}",
                type: 'POST',
                data: data,
                datatype: 'json',
                contentType: "application/json",
                success: function (msg) {
                    if ($('#remember')[0].checked) {
                        setCookie('{{TenantSetting[2]}}AdminUser',account,7); //保存帐号到cookie，有效期7天
                        setCookie('{{TenantSetting[2]}}AdminPw',password,7); //保存密码到cookie，有效期7天
                    } else {
                        delCookie('{{TenantSetting[2]}}AdminUser');
                        delCookie('{{TenantSetting[2]}}AdminPw');
                    }

                    if (localStorage['{{TenantSetting[2]}}LastPath']!=undefined) {
                        $('#token').attr('action', localStorage['{{TenantSetting[2]}}LastPath'])
                        localStorage.removeItem('{{TenantSetting[2]}}LastPath')
                    }
                    window.localStorage.setItem('{{TenantSetting[2]}}AdminToken', msg.token);
                    $('input[name=_token]').val(localStorage['{{TenantSetting[2]}}AdminToken'])
                    $('#token').submit();
                },
                error: function (xhr, ajaxOptions, thownError) {
                    swal({
                        title: '請提供正確的帳號/密碼',
                        type: 'error'
                    })
                }
            });
            return false; //don't submit
        };

        function forgetPassword() {
            var inputEmail = $("input[id='account']").val();

            var request_data = '{"email":"' + inputEmail + '"}';

            if ((inputEmail != "")) {
                swal({
                  title: '資料處理中請稍候',
                  onOpen: () => {
                    swal.showLoading()
                  }
                })
                $.ajax({
                    url: '/admin/employee/api/api/account/password/forget',
                    type: 'POST',
                    data: request_data,
                    dataType: 'json',
                    contentType: "application/json",
                    success: function (data, status) {

                        swal({
                            title: '信件已寄出<br>請至您的信箱收取認證信件',
                            type: 'success'
                        })
                        $('#inputEmail').val('')
                    },
                    error: function (textStatus) {
                        swal({
                            title: '輸入不正確<br>請檢查信箱或確認大小寫',
                            type: 'error'
                        })
                    }
                });
            }
        };


        //页面初始化时，如果帐号密码cookie存在则填充
        if(getCookie('{{TenantSetting[2]}}AdminUser') && getCookie('{{TenantSetting[2]}}AdminPw')){
            $("#username").val(getCookie('{{TenantSetting[2]}}AdminUser'))
            $("#password").val(getCookie('{{TenantSetting[2]}}AdminPw'))
            $('#remember')[0].checked = true
        } else {
            $('#remember')[0].checked = false
        }

        //设置cookie
        function setCookie(name,value,day){
            var date = new Date();
            date.setDate(date.getDate() + day);
            document.cookie = name + '=' + value + ';expires='+ date;
        };

        //获取cookie
        function getCookie(name){
            var reg = RegExp(name+'=([^;]+)');
            var arr = document.cookie.match(reg);
            if(arr){
                return arr[1];
            }else{
                return '';
            }
        };

        //删除cookie
        function delCookie(name){
            setCookie(name,null,-1);
        };
    </script>

    <!-- END: PAGE SCRIPTS -->

</body>

</html>