<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/logo.ico') }}">
    <title>Diazy 重設密碼</title>

    <!-- Bootstrap 3.3.7 -->
    <link rel="stylesheet" href="{{ url_for('static', filename='admin/bower_components/bootstrap/dist/css/bootstrap.min.css') }}">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="{{ url_for('static', filename='admin/bower_components/font-awesome/css/font-awesome.min.css') }}">
    <!-- Ionicons -->
    <link rel="stylesheet" href="{{ url_for('static', filename='admin/bower_components/Ionicons/css/ionicons.min.css') }}">
    <!-- Theme style -->
    <link rel="stylesheet" href="{{ url_for('static', filename='admin/dist/css/AdminLTE.min.css') }}">
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="{{ url_for('static', filename='admin/dist/css/skins/_all-skins.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='admin/dist/css/login.css') }}">
    <style>
        #forget_password {
            text-align: center;
            display: block;
            margin-top: 20px;
            text-decoration: none;
            color: #3c8dbc;
            cursor: pointer;
        }
        #forget_password:hover {
            color: #81d8d0;
            font-family: 600;
        }
    </style>
</head>
<body>
<div class="container">
    <div id="signup">
      <div class="page vertical-align text-center" data-animsition-in="fade-in" data-animsition-out="fade-out">
          <div class="page-content vertical-align-middle animation-slide-top animation-duration-1">
            <div class="brand">
              <h2 class="brand-text">DIAZY</h2>
            </div>
            <p>重設您的密碼</p>
            <form method="post" action="login.html">
              <input id='inputAccount' type="text" value="{{ employee_id }}" hidden>
              <div class="form-group">
                <label class="sr-only" for="inputPassword">新密碼</label>
                <input type="password" class="form-control" id="inputPassword" name="password"
                placeholder="新密碼">
              </div>
              <div class="form-group">
                <label class="sr-only" for="inputPassword_2">確認新密碼</label>
                <input type="password" class="form-control" id="inputPassword_2" name="password_2"
                placeholder="確認新密碼">
              </div>
              <button type="button" class="btn btn-primary btn-block"  onclick="javascript:resetPassword();">送出</button>
              <a href="/login" role="menuitem" style="margin-top: 20px; float: right;">登入</a>
            </form>

          </div>
        </div>

    </div>
   

    <form id="token" method="post" action="{{ url_for('admin.admin') }}">
        <input name="_token" type="hidden">
    </form>
</div>


<script src="{{ url_for('static', filename='javascript/sweetalert.min.js') }}"></script>
<script src="{{ url_for('static', filename='admin/bower_components/jquery/dist/jquery.min.js') }}"></script>
<script>
      $('#inputPassword_2').keypress(function (event) {
              console.log('count')
          if (event.which === 13)
          {
              resetPassword();
          }
      });

    function resetPassword() {
      var inputAccount = $("input[id='inputAccount']").val();
      var inputPassword = $("input[id='inputPassword']").val();
      var inputPassword_2 = $("input[id='inputPassword_2']").val();
            var token = location.href.split('=')[1]
            console.log(token)
      var request_data = '{"employee_id":"' + inputAccount + '","password":"' + inputPassword + '","token":"' + token + '"}';

      if ((inputPassword_2 != "") && (inputPassword != "") && inputPassword == inputPassword_2) {
        swal({
          title: '資料處理中請稍候',
          onOpen: () => {
            swal.showLoading()
          }
        })
        $.ajax({
          url: '/admin/employee/api/api/account/password',
          type: 'POST',
          data: request_data,
          dataType: 'json',
          contentType: "application/json",
          success: function (data, status) {

            var redirect_target = function (redirectUrl) {
            var form = $('<form action="' + redirectUrl + '" method="post"></form>');
            $('#loginForm').append(form);
            $(form).submit();
            };
                        swal({
                          title: "密碼已成功更改",
                          text: "",
                          type: "success",
                          closeOnConfirm: false,
                          closeOnCancel: false
                        })
                        window.location.href = '/login';
            console.log('done')

          },
          error: function (textStatus) {
            swal({
                          title: "Error",
                          text: "請確認輸入",
                          type: "error",
                          closeOnConfirm: false,
                          closeOnCancel: false
                        })
          }
        });
      }
      //e.preventDefault();
    };
</script>
</body>
</html>