<form id="token" method="POST" action="">
    <input name="_token" type="hidden">
</form>

<script>
		var local = location.href.split('/redirect/')[1]
		if (local==undefined) {
			document.querySelector('#token').setAttribute("action", "{{path}}")
		}
		else {
			document.querySelector('#token').setAttribute("action", '/admin/order/'+local)
		}
        
        document.querySelector('input').value = localStorage['token']
        document.querySelector('#token').submit();
</script>