<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="{{ url_for('static', filename=TenantSetting[2]+'/images/logo.ico') }}">
    <title>{{TenantSetting[0]}} 管理後台 {% block title %}{% endblock %}</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    
     <!-- Admin Forms CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='backend/assets/admin-tools/admin-forms/css/admin-forms.css') }}">
    <!-- Theme CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='backend/assets/skin/default_skin/css/theme.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='backend/vendor/plugins/magnific/magnific-popup.css') }}">

    <script src="{{ url_for('static', filename='backend/vendor/jquery/jquery-3.2.1.min.js') }}"></script>
    {% block style %}{% endblock %}
    <script>
        localStorage.setItem('{{TenantSetting[2]}}LastPath', location.href)
        var tokenName = '{{TenantSetting[2]}}AdminToken'
        function startModal() {
            $('[type="mfp"]').unbind('click').on('click', function() {
                var $this = $(this)
                var target = $this.data('target')
                $('[type="mfp"]').removeClass('active-animation');
                $this.addClass('active-animation item-checked');
                // Inline Admin-Form example
                $.magnificPopup.open({
                    removalDelay: 500, //delay removal by X to allow out-animation,
                    items: {
                        src: target
                    },
                    // overflowY: 'hidden', //
                    callbacks: {
                        beforeOpen: function(e) {
                            var Animation = $this.attr('data-effect');
                            this.st.mainClass = Animation;
                        },
                        open: function () {
                            if ($('.summernote').length) {
                                $('.summernote').summernote({
                                    height: 300,   //set editable area's height
                                    codemirror: { // codemirror options
                                        theme: 'monokai'
                                    },
                                });
                            }
                        },
                        close: function() {
                            getChatUnRead()
                        }
                    },
                    midClick: true // allow opening popup on middle mouse click. Always set it to true if you don't provide alternative source.
                });
            });
            $('.mfp-with-anim .text-right [type="button"]').click(function () {
                $('button.mfp-close').trigger('click')
            })
        }
        function ajaxError(xhr) {
            console.log(xhr.status)
            if (xhr.status >= 300 && xhr.status < 400) {
                swal({
                    title: '無法連線至伺服器('+xhr.status+')',
                    text: '將於 3 秒之後重新整理',
                    type: 'info'
                })
                setTimeout(function () {
                    location.reload()
                },3000)
                return false
            }
            if ( xhr.getResponseHeader("error_code") == "'IndexError' object is not subscriptable") {
                swal({
                    title: '權限遺失，請重新登入。',
                    text: '將於 3 秒之後自動登出',
                    type: 'info'
                })
                setTimeout(function () {
                    location.href='/web/backend/login'
                },3000)
            }
            else if ( xhr.getResponseHeader("error_code") == "'MissingRequiredParameters'") {
                swal({
                    title: '資料有誤',
                    text: '請確認欄位格式是否正確',
                    type: 'info'
                })
            }
            else if ( xhr.getResponseHeader("error_code") == "'CompanyDoesNotExist'") {
                swal({
                    title: '發生錯誤',
                    text: '公司行號有誤',
                    type: 'info'
                })
            }
            else if ( xhr.getResponseHeader("error_code") == "'AccountDoesNotExist'") {
                swal({
                    title: '發生錯誤',
                    text: '該帳號遺失或不存在',
                    type: 'info'
                })
            }
            else if ( xhr.getResponseHeader("error_code") == "'ParameterWrongFormat'") {
                swal({
                    title: '發生錯誤',
                    text: '參數格式錯誤',
                    type: 'info'
                })
            }
            else if ( xhr.getResponseHeader("error_code") == "'PermissionDenied'") {
                swal({
                    title: '發生錯誤',
                    text: '不符合使用權限',
                    type: 'info'
                })
            }
            else { swal({ title: xhr.status+' 連線失敗，請稍候再試', text: xhr.getResponseHeader("error_code"), type: 'info' }) }
        }
        function ajaxComplete(JWT) {
            if (JWT.getResponseHeader("JWTAuthorization") != null && JWT.getResponseHeader("JWTAuthorization") != 'null') {
                localStorage[tokenName] = JWT.getResponseHeader("JWTAuthorization")
            }
        }
    </script>
</head>
<body class="blank-page sb-l-o sb-r-c" style="min-height: calc(100vh - 1px);">
    <!-- Start: Main -->
    <div id="main" style="min-height: calc(100vh - 1px);">
        <!-- Header -->
        <header class="navbar navbar-gradient navbar-lg bg-light navbar-fixed-top">
            <!-- Navbar Branding -->
            <div class="navbar-branding">
                <a class="navbar-brand" href="{{ url_for('frontend.index') }}">
                    <img src="{{ url_for('static', filename=TenantSetting[2]+'/images/logo.png') }}" class="img-responsive-disabled" height="32" width="32" alt="logo">
                    <b>{{TenantSetting[0]}}</b>
                </a>
                <a class="menu-toggle-btn" data-menu-toggle="sidebar_left" href="#">
                    <i class="ad ad-lines"></i>
                </a>
            </div>

            <!-- Navbar Right Menu Container -->
            <ul class="nav navbar-nav navbar-right">
                
                <li class="navbar-link dropdown">
                    <div class="navbar-btn btn-group">
                        <button data-toggle="dropdown" class="btn btn-sm dropdown-toggle">
                            <span class="fa fa-bell-o fs14 va-m"></span>
                            <span id="oChatUnReadTotal" class="badge badge-danger"></span>
                        </button>
                        <div class="dropdown-menu dropdown-persist animated animated-shorter fadeIn" role="menu">
                            <div class="panel panel-inverse mbn">
                                <div class="panel-menu">
                                    <span class="panel-icon">
                                        <i class="fa fa-clock-o"></i>
                                    </span>
                                    <span class="panel-title fw600"> 未讀訂單訊息</span>
                                    <button id="getChatUnRead" class="btn btn-default light btn-xs ph10 pull-right" type="button" onclick="getChatUnRead()">
                                        <i class="fa fa-refresh"></i>
                                    </button>
                                </div>
                                <div class="panel-scroller scroller-overlay bg-light dark mnw250">
                                    <ol class="timeline-list timeline-item-hover" id="oChatList">
                                        
                                    </ol>
                                </div>
                                <div class="panel-footer text-center">
                                    <a href="/web/backend/oChat" class="link-unstyled"> 查詢訂單 </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>

                <li class="navbar-link dropdown" onclick="getProfile();">
                    <div class="navbar-btn btn-group user-menu">
                        <button class="btn btn-sm dropdown-toggle" data-toggle="dropdown" type="button">
                            <span class="caret caret-lg mr5"></span>
                            <span class="glyphicon glyphicon-user"></span>
                        </button>
                        <ul class="dropdown-menu list-group dropdown-persist animated animated-shorter fadeIn" role="menu">
                            <li class="dropdown-header clearfix hiddn">
                                <img id="employeeImg" src="" class="img-circle" alt="大頭貼">
                                <p>
                                    <span id="employeeName"></span>
                                    <small id="employeeNumber"></small>
                                </p>
                                <div id="changePassword" onclick="">變更密碼</div>
                            </li>
                            <li class="dropdown-footer">
                                <a href="{{ url_for('admin.login') }}" class="">
                                    <span class="fa fa-power-off"></span> 登出 </a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </header>
        <!-- End: Header -->
    
        <!-- Start: Sidebar -->
        <aside id="sidebar_left" class="sidebar sidebar-light">

            <!-- Start: Sidebar Left Content -->
            <div class="sidebar-content">

                <!-- Start: Sidebar Header -->
                <header class="sidebar-header">

                    <!-- Sidebar Widget -->
                    <div class="sidebar-widget search-widget search-widget-light">
                        <div class="form-group mbn">
                            <span class="append-icon left">
                                <i class="fa fa-search"></i>
                            </span>
                            <input type="text" class="form-control" id="sidebarSearch" placeholder="Search...">
                        </div>
                    </div>

                </header>
                <!-- End: Sidebar Header -->
                

                {% include 'admin/layout/_menu.html' %}


                <!-- Start: Sidebar Collapse Button -->
                <a class="menu-toggle-btn" data-menu-toggle="sidebar_left_mini" href="#">
                    <span class="fa fa-sign-out icon-rotate-180"></span>
                </a>
                <!-- End: Sidebar Collapse Button -->

            </div>
            <!-- End: Sidebar Left Content -->

        </aside>
        <!-- End: Sidebar Left -->


        <section id="content_wrapper">
            
            <!-- Start: Topbar -->
            <header class="content-topbar pn h-25">
                <div class="topbar-left">
                    <ol id="breadcrumb" class="breadcrumb-styled">
                        <li class="crumb-icon">
                            <a href="{{ url_for('admin.admin') }}">
                                <span class="glyphicon glyphicon-home"></span>
                            </a>
                        </li>
                        <li class="crumb-link">
                            <a class="jwtLink" href=""></a>
                        </li>
                        <li class="crumb-trail hidden">
                            <a class="jwtLink" href=""></a>
                        </li>
                    </ol>
                </div>
                <div class="topbar-right hidden">

                    <div class="ml15 va-m hidden" id="toggle_sidemenu_r">
                        <a href="#" class="pl5">
                            <i class="fa fa-sign-in fs22 text-primary"></i>
                            <span class="badge badge-danger badge-hero">3</span>
                        </a>
                    </div>
                </div>
            </header>
            <!-- End: Topbar -->

            <!-- Begin: Content -->
            <section id="content" class="">

                {% block content %}{% endblock %}

            </section>
            <!-- End: Content -->
        </section>

        <footer class="main-footer">
            <!-- To the right -->
            <div class="pull-right hidden-xs">
                Anything you want
            </div>
            <!-- Default to the left -->
            <strong>Copyright &copy; 2016 <a href="#">Company</a>.</strong> All rights reserved.
            <form id="token" method="POST" action="">
                <input name="_token" type="hidden">
            </form>
        </footer>
    </div>

<script src="{{ url_for('static', filename='backend/vendor/jquery/jquery_ui/jquery-ui.min.js') }}"></script>
{# <script src="{{ url_for('static', filename='backend/vendor/jquery/jquery_migrate/jquery-migrate-3.0.0.min.js') }}"></script> #}

<script src="{{ url_for('static', filename='backend/vendor/plugins/sweetalert/sweetalert.js') }}"></script>
<!-- Theme Javascript -->
<script src="{{ url_for('static', filename='backend/assets/js/utility/utility.js') }}"></script>
<script src="{{ url_for('static', filename='backend/assets/js/demo/demo.js') }}"></script>
<script src="{{ url_for('static', filename='backend/assets/js/main.js') }}"></script>
<!-- Page Plugins -->
<script src="{{ url_for('static', filename='backend/vendor/plugins/magnific/jquery.magnific-popup.js') }}"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>

{% block script %}{% endblock %}

<script type="text/javascript">
    domready(function() {

        // Init Demo Functionality
        
        Demo.init({ disableLayout: true })

        // Init Theme Core
        Core.init();

    });

    var menuActive = location.href.split('/admin/')[1]
        menuActive = menuActive.split('/')
        menuActive = menuActive[0]+'/'+menuActive[1].split('#')[0]
    $('.sidebar-menu a').each(function () {
        var $this = $(this)
        // console.log($this.attr('href').indexOf(menuActive))
        if ($this.attr('href').indexOf(menuActive)>-1) {
            $this.parent().addClass('active')
            $this.parents('ul').parent('li').children('a').addClass('menu-open')

            $('.crumb-link a').attr('href', $this.attr('href')).text($this.text())
        }
    })

    if (String(localStorage[tokenName]) == 'undefined') {
        // location.href = "{{ url_for('admin.login') }}"
    }
    $(document).on('click', 'a.jwtLink', function () {
        var url = $(this).attr('href');
        $('#token').attr('action', url)
        $('input[name="_token"]').val(localStorage[tokenName])
        $('#token').submit();
        return false
    });

    // menu active
    var path = '/admin'+location.href.split('admin')[1]
    $('a[href="'+path+'"]').parent().addClass('active')

    function getProfile() {
        $.ajax({
            url: "{{ url_for('employeeApi.getProfile') }}",
            type: 'POST',
            data: '{"_token":"'+ localStorage[tokenName] +'"}',
            datatype: 'json',
            contentType: "application/json",
            success: function (data) {
                // console.log(data)
                // localStorage['diazyEmployee_id'] = data.employee_id
                $('#employeeName').text(data.employee_name)
                $('#employeeNumber').text(data.employee_number)
                $('#employeeImg').attr('src', 'data:image/jpeg;base64,'+data.employee_image)
                $('#changePassword').attr('onclick', 'changePassword("'+data.employee_number+'")')
            },
            error: function (xhr, ajaxOptions, thownError) {
                swal({
                    title: 'Error',
                    text: 'Can not connect to database',
                    type: 'error'
                })
            }
        });
    }

    function changePassword(number) {
        swal({
            title: '變更密碼',
            text: '請輸入新密碼',
            html: '<div class="form-group">'+
                '<label class="col-sm-4 control-label textRight">舊密碼</label>'+
                '<div class="col-sm-8 pb-1">'+
                    '<input type="password" class="form-control" id="old_password">'+
                '</div>'+
                '<label class="col-sm-4 control-label textRight">新密碼</label>'+
                '<div class="col-sm-8 pb-1">'+
                    '<input type="password" class="form-control" id="new_password">'+
                '</div>'+
                '<label class="col-sm-4 control-label textRight">確認密碼</label>'+
                '<div class="col-sm-8 pb-1">'+
                    '<input type="password" class="form-control" id="comfirm_password">'+
                '</div>'+
            '</div>',
            showCancelButton: true,
            confirmButtonText: '確認',
            cancelButtonText: '取消'
        }).then((result) => {
            if (result.value) {
                if ($('#new_password').val() != $('#comfirm_password').val()) {
                    swal({
                        type: 'error',
                        title: '新密碼確認失敗，請重新輸入',
                        showConfirmButton: false,
                        timer: 1000
                    })
                    setTimeout(function () {
                        changePassword(number)
                    },1000)
                    return false
                }
                var data = '{"_token":"'+ localStorage[tokenName] +'", "number":"'+ number +'","old_password":"'+ $('#old_password').val() +'","new_password":"'+ $('#comfirm_password').val() +'"}'
                $.ajax({
                    url: "{{ url_for('employeeApi.updatePassword') }}",
                    type: 'POST',
                    data: data,
                    datatype: 'json',
                    contentType: "application/json",
                    success: function (data) {
                        // console.log(data)
                        if (data=='AuthenticateFailed' || data=='MissingCriticalParameters') {
                            swal({
                                type: 'error',
                                title: '密碼錯誤'
                            })
                        }
                        else {
                            swal({
                                type: 'success',
                                title: '密碼已變更'
                            })
                        }
                    },
                    error: function (xhr, ajaxOptions, thownError) {
                        swal({
                            title: 'Error',
                            text: 'Can not connect to database',
                            type: 'error'
                        })
                    }
                });
            }
        })
    }

</script>
</body>
</html>