<!DOCTYPE html>
<html lang="en" class="iframe">
<head>
  <meta charset="UTF-8">
  <title>case</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=4.0, minimum-scale=1.0, user-scalable=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='general/bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename=TenantSetting[2]+'/css/main.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename=TenantSetting[2]+'/images/logo.ico') }}">
</head>
<body>
  <div class="loader-wrapper">
      <div class="loader"></div>
  </div>
  <script>
      var wHeight = $(window).height();
      var wWidth = $(window).width();
      $(".loader").css({
          top: wHeight / 2 - 2.5,
          left: wWidth / 2 - wWidth*.325
      })
      $(".loader").animate({width:' 20%'}, 50)
  </script>
  <div id="caseItem">
    <div class="bannerModal">
      <img src="data:image/jpeg;base64,{{data.experiences.image}}">
    </div>
    <div class="body">
      <h2 class="title">簡易訪談</h2>
      <div class="content">
        {{data.experiences.interview|safe}}
      </div>
      <h2 class="title">美容諮詢</h2>
      <div class="content">
        {{data.experiences.advisory|safe}}
      </div>
      <h2 class="title">醫師建議</h2>
      <div class="content">
        {{data.experiences.suggest|safe}}
      </div>
      <h2 class="title">成果感想</h2>
      <div class="content">
        {{data.experiences.results|safe}}
      </div>
    </div>


  </div>
  <script src="{{ url_for('static', filename='backend/vendor/jquery/jquery-3.2.1.min.js') }}"></script>
  <script>
    $(".loader").animate({width: '65%'}, 50)
    $(".loader").animate({
        left: '0',
        width: '100%'
    }, 500)
    $(".loader").animate({
        top: '0',
        height: '100vh'
    }, 500)

    $('iframe').each(function () {
      $(this).css({
        "margin": "0 auto",
        "display": "block"
      })
      $(this).height($(this).width()*9/16)
    })

    $(".loader-wrapper").fadeOut(500);
    ($('.loader')).fadeOut(500);
    $(".loader-wrapper").css('opacity', 0)
    
  </script>
</body>
</html>
  
