<!DOCTYPE html>
<html lang="en" class="iframe">
<head>
  <meta charset="UTF-8">
  <title>cast</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=4.0, minimum-scale=1.0, user-scalable=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='general/bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename=TenantSetting[2]+'/css/main.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename=TenantSetting[2]+'/images/logo.ico') }}">
</head>
<body>
  <div class="loader-wrapper">
      <div class="loader"></div>
  </div>
  <script>
      var wHeight = $(window).height();
      var wWidth = $(window).width();
      $(".loader").css({
          top: wHeight / 2 - 2.5,
          left: wWidth / 2 - wWidth*.325
      })
      $(".loader").animate({width:' 20%'}, 50)
  </script>
  <div id="castItem">
    <div class="head row">
      <div class="col-sm-6 col-xs-12">
        <img src="data:image/jpeg;base64,{{ data['image'] }}">
      </div>
      <div class="col-sm-6 col-xs-12">
        <div class="drName">{{ data['name'] }}  {% for role in roles %} {% if data['grade_id']==role['id'] %}{{ role['name'] }}{% endif %}{% endfor %}</div>
        <h2 class="title">學歷</h2>
        <div class="school">
          {{ data['education'] |safe}}
          <!-- <p>國立台南成功大學</p>
          <p>成大醫院醫學士</p> -->
        </div>
      </div>
    </div>
    <div class="body">
      <h2 class="title">專長</h2>
      <div class="content">
        {{ data['skill'] |safe}}
        <!-- <p>各式微整形注射</p> -->
      </div>
      <h2 class="title">經歷</h2>
      <div class="content">
        {{ data['experience'] |safe}}
      </div>
      <h2 class="title">認證證書</h2>
      <div class="content row">
        {{ data['certificate'] |safe}}
        <!-- <div class="col-sm-6 col-xs-12">
          <img src="/static/images/logo.png">
        </div>
        <div class="col-sm-6 col-xs-12">
          <img src="/static/images/logo.png">
        </div>
        <div class="col-sm-6 col-xs-12">
          <img src="/static/images/logo.png">
        </div> -->
      </div>
    </div>

  </div>
  <script src="{{ url_for('static', filename='backend/vendor/jquery/jquery-3.2.1.min.js') }}"></script>
  <script>
    $(".loader").animate({width: '65%'}, 50)
    $(".loader").animate({
        left: '0',
        width: '100%'
    }, 500)
    $(".loader").animate({
        top: '0',
        height: '100vh'
    }, 500)

    $('iframe').each(function () {
      $(this).css({
        "margin": "0 auto",
        "display": "block"
      })
      $(this).height($(this).width()*9/16)
    })

    $(".loader-wrapper").fadeOut(500);
    ($('.loader')).fadeOut(500);
    $(".loader-wrapper").css('opacity', 0)

  </script>
</body>
</html>
  
