<!DOCTYPE html>
<html lang="en" class="iframe">
<head>
  <meta charset="UTF-8">
  <title>service</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=4.0, minimum-scale=1.0, user-scalable=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='general/bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename=TenantSetting[2]+'/css/main.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename=TenantSetting[2]+'/images/logo.ico') }}">
</head>
<body>
<!--   <div class="loader-wrapper">
      <div class="loader"></div>
  </div>
  <script>
      var wHeight = $(window).height();
      var wWidth = $(window).width();
      $(".loader").css({
          top: wHeight / 2 - 2.5,
          left: wWidth / 2 - wWidth*.325
      })
      $(".loader").animate({width:' 20%'}, 50)
  </script> -->
  <div id="productItem">
    <div class="bannerModal">
      <!-- <img class="callAjax" data-id="{{data.products.products_id}}" data-type="1" src=""> -->
      <img src="data:image/jpeg;base64,{{data.products.products_image}}" data-type="1">
    </div>
    <div class="body row">
      <div class="col-md-5">
        
      </div>
      <div class="col-md-7">
        <div class="text">
            {{data.products.products_intro|safe}}
        </div>
      </div>
    </div>
    <div class="body row">
      <div class="col-md-7">
        <div class="text">
            {{data.products.products_ingredient|safe}}
        </div>
      </div>
      <div class="col-md-5">
        
      </div>
    </div>
    <div class="body row">
      <div class="col-md-5">
        
      </div>
      <div class="col-md-7">
        <div class="text">
            {{data.products.products_tip|safe}}
        </div>
      </div>
    </div>
    <div class="body row">
      <div class="col-md-7">
        <div class="text">
            {{data.products.products_notice|safe}}
        </div>
      </div>
      <div class="col-md-5">
        
      </div>
    </div>
    <div class="body row">
      <div class="col-md-5">
        
      </div>
      <div class="col-md-7">
        <div class="text">
            {{data.products.products_faq|safe}}
        </div>
      </div>
    </div>
  </div>
  <script src="{{ url_for('static', filename='backend/vendor/jquery/jquery-3.2.1.min.js') }}"></script>
  <script>
    // $(".loader").animate({width: '65%'}, 50)
    // $(".loader").animate({
    //     left: '0',
    //     width: '100%'
    // }, 500)
    // $(".loader").animate({
    //     top: '0',
    //     height: '100vh'
    // }, 500)

    $('img').each(function () {
      $(this).css('height', '')
    })
    $('img').css('height', 'auto')

    $(document).ready(function () {
      $('.text').each(function () {
        $(this).parents('.body').children('.col-md-5').html($(this).find('img').clone())
        $(this).find('img').remove()
        $(this).children().addClass('content')
        $(this).find('h2').addClass('title').removeClass('content')
        if ($(this).text().replace('\n', "").split(' ').join('').replace('\n', "").split(' ').join('').split('').length == 0) {
          $(this).parents('.body').hide()
        }
      })
      var w = $(window).width()
      // console.log(w)

      if (w <= 990) {
        $('.body').each(function () {
          if ($(this).children('').eq(0).hasClass('col-md-7')) {
            $(this).children('').eq(0).clone().appendTo(this)
            $(this).children('').eq(0).remove()
          }
        })
        $('.col-md-7').css('margin-top', '3rem')
      }
      else {
        $('.body').each(function () {
          var imgH = $(this).find('img').height()
          var textH = $(this).find('.text').height()
          var H = imgH > textH ? imgH : textH
          $(this).children().height(H)
          $(this).children('.col-md-5').css('line-height', H+'px')
        })
      }
        
    })

    $('.callAjax').each(function () {
        var $this = $(this)
        var id = $this.data('id')
        var type = $this.data('type')
        $.ajax({
            url: "/admin/product/api/get/image/"+type+"/by/"+id,
            type: 'GET',
            data: '',
            datatype: 'json',
            contentType: "application/json",
            success: function (data) {
                $this.attr('src', 'data:image/jpeg;base64,'+data.image)
            },
            error: function (xhr, ajaxOptions, thownError) {
                console.log('error')
            }
        });
    })
    $('iframe').each(function () {
      $(this).css({
        "margin": "0 auto",
        "display": "block"
      })
      $(this).height($(this).width()*9/16)
    })

    // $(".loader-wrapper").fadeOut(500);
    // ($('.loader')).fadeOut(500);
    // $(".loader-wrapper").css('opacity', 0)

  </script>
</body>
</html>
  
