<!DOCTYPE html>
<html lang="en" class="iframe">
<head>
  <meta charset="UTF-8">
  <title>service</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=4.0, minimum-scale=1.0, user-scalable=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='general/bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename=TenantSetting[2]+'/css/main.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename=TenantSetting[2]+'/images/logo.ico') }}">
</head>
<body>
<!--   <div class="loader-wrapper">
      <div class="loader"></div>
  </div>
  <script>
      var wHeight = $(window).height();
      var wWidth = $(window).width();
      $(".loader").css({
          top: wHeight / 2 - 2.5,
          left: wWidth / 2 - wWidth*.325
      })
      $(".loader").animate({width:' 20%'}, 50)
  </script> -->
  <div id="serviceItem">
    <div class="bannerModal">
      <!-- <img class="callAjax" data-id="{{data.products.products_id}}" data-type="1" src=""> -->
      <img src="data:image/jpeg;base64,{{data.products.products_image}}" data-type="1">
    </div>
    <div class="body">
      <!-- <h2 class="title">主要介紹</h2> -->
      {{data.products.products_intro|safe}}
      <!-- <h2 class="title">儀器介紹</h2> -->
      {{data.products.products_ingredient|safe}}
      <!-- <h2 class="title">術後照顧</h2> -->
      {{data.products.products_care|safe}}
      <!-- <h2 class="title">注意事項</h2> -->
      {{data.products.products_notice|safe}}
      <!-- <h2 class="title">常見問題</h2> -->
      {{data.products.products_faq|safe}}
    </div>

  </div>
  <script src="{{ url_for('static', filename='backend/vendor/jquery/jquery-3.2.1.min.js') }}"></script>
  <script>
    // $(".loader").animate({width: '65%'}, 50)
    // $(".loader").animate({
    //     left: '0',
    //     width: '100%'
    // }, 500)
    // $(".loader").animate({
    //     top: '0',
    //     height: '100vh'
    // }, 500)

    $('img').each(function () {
      $(this).css({
        'height': '',
        "margin": "0 auto",
        "display": "block"
      })
    })
    $('img').css('height', 'auto')

    // $(document).ready(function () {
    //   $('.body').each(function () {
    //     var imgH = $(this).find('img').height()
    //     var textH = $(this).find('.text').height()
    //     var H = imgH > textH ? imgH : textH
    //     $(this).children().height(H)
    //   })
    // })

    $('.callAjax').each(function () {
        var $this = $(this)
        var id = $this.data('id')
        var type = $this.data('type')
        $.ajax({
            url: "/admin/product/api/get/image/"+type+"/by/"+id,
            type: 'GET',
            data: '',
            datatype: 'json',
            contentType: "application/json",
            success: function (data) {
                $this.attr('src', 'data:image/jpeg;base64,'+data.image)
            },
            error: function (xhr, ajaxOptions, thownError) {
                alert('error')
            }
        });
    })

    window.onload = function () {
      $('iframe').each(function () {
        $(this).css({
          "margin": "0 auto",
          "display": "block"
        })
        $(this).height($(this).width()*9/16)
      })

      // $(".loader-wrapper").fadeOut(500);
      // ($('.loader')).fadeOut(500);
      // $(".loader-wrapper").css('opacity', 0)
    }
  </script>
</body>
</html>
  
