<ul class="nav sidebar-menu sidebar-menu-border">
    <li class="sidebar-label pt20 hidden">Menu</li>
    <!-- Optionally, you can add icons to the links -->
    <li>
        <a class="jwtLink" href="{{ url_for('admin.admin') }}">
            <span class="glyphicon glyphicon-stats"></span>
            <span class="sidebar-title">商業報表</span>
        </a>
    </li>

    {% if all_grade[1].permission != 0 %}
    <li>
        <a class="accordion-toggle" href="#">
            <span class="glyphicon glyphicon-user"></span>
            <span class="sidebar-title">會員管理</span>
            <span class="caret"></span>
        </a>
        <ul class="nav sub-nav">
            <li>
                <a class="jwtLink" href="{{ url_for('user.userGradesList') }}">
                    <span class="glyphicon glyphicon-th-large"></span>會員類別</a>
            </li>
            <li>
                <a class="jwtLink" href="{{ url_for('user.userList') }}">
                    <span class="glyphicon glyphicon-list"></span>會員列表</a>
            </li>
            {% if all_grade[14].permission != 0 %}
            <li>
                <a class="jwtLink" href="{{ url_for('user.userCreate') }}">
                    <span class="glyphicon glyphicon-folder-open"></span>新增會員</a>
            </li>
            {% endif %}
        </ul>
    </li>
    {% endif %}
    {% if all_grade[1].permission == 0 and all_grade[14].permission != 0 %}
    <li>
        <a class="jwtLink" href="{{ url_for('user.userCreate') }}">
            <span class="glyphicon glyphicon-user"></span>
            <span class="sidebar-title">新增會員</span>
        </a>
    </li>
    {% endif %}

    {% if all_grade[7].permission != 0 or all_grade[10].permission != 0 %}
    <li>
        <a class="accordion-toggle" href="#">
            <span class="fa fa-credit-card"></span>
            <span class="sidebar-title">訂單系統</span>
            <span class="caret"></span>
        </a>
        <ul class="nav sub-nav">
            {% if all_grade[7].permission != 0 %}
            <li>
                <a class="jwtLink" href="{{ url_for('order.calendar') }}">
                    <span class=""></span>預約行事曆</a>
            </li>
            <li>
                <a class="jwtLink" href="{{ url_for('order.taskboard') }}">
                    <span class=""></span>預約表</a>
            </li>
            <li>
                <a class="jwtLink" href="{{ url_for('order.orderCreate') }}">
                    <span class=""></span>新增訂單</a>
            </li>
            <li>
                <a class="jwtLink" href="{{ url_for('order.orderIndex') }}">
                    <span class=""></span>訂單列表</a>
            </li>
            <li>
                <a class="jwtLink" href="{{ url_for('order.memberOrder') }}">
                    <span class=""></span>會員訂單記錄</a>
            </li>
            {% endif %}
            {% if all_grade[7].permission != 0 and all_grade[10].permission != 0 %}
            <hr style="margin-top: 3px;margin-bottom: 3px;border: 0;border-top: 1px solid #4c5b61;">
            {% endif %}
            {% if all_grade[10].permission != 0 %}
            <li>
                <a class="jwtLink" href="{{ url_for('order.orderReservation') }}">
                    <span class=""></span>確認課程</a>
            </li>
            <li>
                <a class="jwtLink" href="{{ url_for('order.orderMemberReservation', user_number='0') }}">
                    <span class=""></span>會員服務記錄</a>
            </li>
            {% endif %}
            {% if all_grade[11].permission != 0 %}
            <li>
                <a class="jwtLink" href="{{ url_for('order.managerOrder') }}">
                    <span class=""></span>管理員變更訂單</a>
            </li>
            {% endif %}
            {% if all_grade[12].permission != 0 %}
            <li>
                <a class="jwtLink" href="{{ url_for('order.orderCancel') }}">
                    <span class=""></span>已註銷訂單</a>
            </li>
            {% endif %}
        </ul>
    </li>
    {% endif %}

    {% if all_grade[2].permission != 0 %}
    <li>
        <a class="accordion-toggle" href="#">
            <span class="fa fa-envelope"></span>
            <span class="sidebar-title">線上諮詢</span>
            <span class="caret"></span>
        </a>
        <ul class="nav sub-nav">
            <li>
                <a class="jwtLink" href="{{ url_for('faq.unReply') }}">
                    <span class="fa fa-desktop"></span>未回覆信息</a>
            </li>
            <li>
                <a class="jwtLink" href="{{ url_for('faq.faqIndex') }}">
                    <span class="fa fa-cloud"></span>信息記錄</a>
            </li>
        </ul>
    </li>
    {% endif %}

    {% if all_grade[4].permission != 0 %}
    <li>
        <a class="jwtLink" href="{{ url_for('product.productList') }}">
            <span class="fa fa-suitcase"></span>
            <span class="sidebar-title">產品管理</span>
        </a>
    </li>
    <li>
        <a class="accordion-toggle" href="#">
            <span class="fa fa-list-alt"></span>
            <span class="sidebar-title">服務項目</span>
            <span class="caret"></span>
        </a>
        <ul class="nav sub-nav">
            <li>
                <a class="jwtLink" href="{{ url_for('product.productServiceType') }}">
                    <span class=""></span>分類管理</a>
            </li>
            <li>
                <a class="jwtLink" href="{{ url_for('product.productService') }}">
                    <span class=""></span>項目管理</a>
            </li>
        </ul>
    </li>
    {% endif %}

    {% if all_grade[5].permission != 0 or all_grade[6].permission != 0 %}
    <li>
        <a class="jwtLink" href="{{ url_for('supply.List') }}">
            <span class="fa fa-clipboard"></span>
            <span class="sidebar-title">倉庫庫存</span>
        </a>
    </li>
    {% endif %}

    {% if all_grade[3].permission != 0 %}
    <li>
        <a class="accordion-toggle" href="#">
            <span class="fa fa-id-badge"></span>
            <span class="sidebar-title">員工系統</span>
            <span class="caret"></span>
        </a>
        <ul class="nav sub-nav">
            <li>
                <a class="jwtLink" href="{{ url_for('employee.employeeGradesList') }}">
                    <span class=""></span>職位權限</a>
            </li>
            <li>
                <a class="jwtLink" href="{{ url_for('employee.employeeList') }}">
                    <span class=""></span>員工管理</a>
            </li>
            <li>
                <a class="jwtLink" href="{{ url_for('employee.calendar') }}">
                    <span class=""></span>員工假表</a>
            </li>
        </ul>
    </li>
    {% endif %}

    {% if all_grade[0].permission != 0 %}
    <li>
        <a class="accordion-toggle" href="#">
            <span class="fa fa-cogs"></span>
            <span class="sidebar-title">官網設定</span>
            <span class="caret"></span>
        </a>
        <ul class="nav sub-nav">
            <li>
                <a class="jwtLink" href="{{ url_for('setting.SettingBrand') }}">
                    <span class=""></span>{{TenantSetting[0]}}品牌</a>
            </li>
            <li>
                <a class="jwtLink" href="{{ url_for('setting.SettingStory') }}">
                    <span class=""></span>{{TenantSetting[0]}}記事</a>
            </li>
            <li>
                <a class="jwtLink" href="{{ url_for('setting.SettingNews') }}">
                    <span class=""></span>最新消息</a>
            </li>
            <li>
                <a class="jwtLink" href="{{ url_for('setting.SettingShares') }}">
                    <span class=""></span>新知分享</a>
            </li>
           {#  <li>
                <a class="jwtLink" href="{{ url_for('product.productServiceCase') }}">
                    <span class=""></span>成功案例</a>
            </li> #}
            <li>
                <a class="jwtLink" href="{{ url_for('setting.SettingSlider') }}">
                    <span class=""></span>首頁輪播圖</a>
            </li>
        </ul>
    </li>
    {% endif %}
</ul>