/* This file creates and combines all of the AdminForm color skins.
 * To minimize file size, we recommended using only one or two skins.
 * However, we have provided this file as it proves useful for demonstrating
 * all of skins or for enabling true multi-skin support. 
 */
.section-divider.section-primary span {
  color: #4a89dc;
}
.admin-form .panel.panel-primary.panel-border,
.admin-form .panel .panel-primary .panel-border {
  border-top-color: #4a89dc;
}
.admin-form .bg-primary {
  background-color: #4a89dc;
}
.admin-form .bg-primary.light {
  background-color: #5d9cec;
}
.admin-form .bg-primary.lighter {
  background-color: #83aee7;
}
.admin-form .bg-primary.dark {
  background-color: #2e76d6;
}
.admin-form .bg-primary.darker {
  background-color: #2567bd;
}
.admin-form .option-primary input:hover + .checkbox,
.admin-form .option-primary input:hover + .radio {
  border-color: #5d9cec;
}
.admin-form .option-primary input:checked + .checkbox,
.admin-form .option-primary input:focus + .checkbox,
.admin-form .option-primary input:checked + .radio,
.admin-form .option-primary input:focus + .radio {
  border-color: #4a89dc;
}
.admin-form .option-primary input:checked + .radio:before,
.admin-form .option-primary input:focus + .radio:before {
  background-color: #4a89dc;
}
.admin-form .option-primary input:checked + .checkbox:before,
.admin-form .option-primary input:focus + .checkbox:before {
  border-color: #4a89dc;
}
.admin-form .switch-primary > input:checked + label {
  background-color: #4a89dc;
  border-color: #4a89dc;
}
.admin-form .switch-primary > input:checked + label:after {
  color: #4a89dc;
}
.admin-form .switch-primary > input:checked:focus + label {
  background-color: #2e76d6;
  border-color: #2e76d6;
}
.admin-form .btn-primary {
  background-color: #4a89dc;
}
.admin-form .btn-primary:hover,
.admin-form .btn-primary:focus {
  background-color: #5d9cec;
  border-color: #5d9cec;
}
.admin-form .btn-primary:active {
  background-color: #2e76d6;
}
.admin-form .btn-primary,
.admin-form .btn-primary:hover,
.admin-form .btn-primary:focus,
.admin-form .btn-primary:active {
  color: #fff;
  text-shadow: 0 1px rgba(0, 0, 0, 0.08);
}
.admin-form .slider-wrapper.slider-primary .ui-slider .ui-slider-range {
  background-color: #4a89dc;
}
.admin-form .slider-wrapper.slider-primary .ui-slider .ui-slider-handle {
  border-color: #4a89dc;
}
.admin-form .slider-wrapper.slider-primary .ui-slider .ui-slider-handle:before {
  background-color: #4a89dc;
}
.admin-form.theme-primary .section-divider span {
  color: #4a89dc;
}
.admin-form.theme-primary .tagline span {
  color: #4a89dc;
}
.admin-form.theme-primary .theme-link {
  color: #4a89dc;
}
.admin-form.theme-primary .gui-input:hover,
.admin-form.theme-primary .gui-textarea:hover,
.admin-form.theme-primary .select > select:hover,
.admin-form.theme-primary .select-multiple select:hover,
.admin-form.theme-primary .gui-input:hover ~ .input-footer,
.admin-form.theme-primary .file .gui-file:hover + .gui-input,
.admin-form.theme-primary .gui-textarea:hover ~ .input-footer {
  border-color: #5d9cec;
}
.admin-form.theme-primary .gui-input:focus,
.admin-form.theme-primary .gui-textarea:focus,
.admin-form.theme-primary .select > select:focus,
.admin-form.theme-primary .select-multiple select:focus {
  border-color: #5d9cec;
  color: #3C3C3C;
}
.admin-form.theme-primary .gui-textarea:focus {
  height: 120px;
}
.admin-form.theme-primary .select > select:focus {
  z-index: 10;
  z-index: 20\9;
}
.admin-form.theme-primary .gui-input:focus ~ .field-icon i,
.admin-form.theme-primary .gui-textarea:focus ~ .field-icon i {
  color: #4a89dc;
}
.admin-form.theme-primary .select-multiple select:focus,
.admin-form.theme-primary .gui-input:focus ~ .input-footer,
.admin-form.theme-primary .gui-textarea:focus ~ .input-footer,
.admin-form.theme-primary .file .gui-file:focus + .gui-input {
  border-color: #5d9cec;
}
.admin-form.theme-primary .select > select:focus + .arrow {
  color: #4a89dc;
}
.admin-form.theme-primary .rating:hover .rating-star:hover,
.admin-form.theme-primary .rating:hover .rating-star:hover ~ .rating-star,
.admin-form.theme-primary .rating-input:checked ~ .rating-star {
  color: #4a89dc;
}
.admin-form.theme-primary .rating-star,
.admin-form.theme-primary .rating:hover .rating-star {
  color: #A2A6A8;
}
.admin-form.theme-primary .ui-datepicker .ui-datepicker-prev,
.admin-form.theme-primary .ui-datepicker .ui-datepicker-next,
.admin-form.theme-primary .ui-datepicker .ui-datepicker-title {
  color: #4a89dc;
}
.admin-form.theme-primary .ui-datepicker-today a,
.admin-form.theme-primary .ui-datepicker-today a:hover,
.admin-form.theme-primary .ui-datepicker .ui-state-highlight {
  background-color: #75a5e4;
}
.admin-form.theme-primary .ui-datepicker .ui-state-active {
  background-color: #4a89dc;
}
.admin-form.theme-primary .ui-datepicker .ui-timepicker-div .ui-slider .ui-slider-handle.ui-state-active {
  background-color: #FFF;
}
.admin-form.theme-primary .ui-datepicker .ui-timepicker-div .ui-slider .ui-slider-handle {
  border-color: #4a89dc;
}
.admin-form.theme-primary .ui-datepicker .ui-timepicker-div .ui-slider .ui-slider-handle:before {
  background-color: #4a89dc;
}
.admin-form.theme-primary .wizard .steps li a,
.admin-form.theme-primary .wizard .actions li a {
  background-color: #4a89dc;
}
.admin-form.theme-primary .wizard .steps li.current a {
  background-color: #2e76d6;
}
.section-divider.section-info span {
  color: #3bafda;
}
.admin-form .panel.panel-info.panel-border,
.admin-form .panel .panel-info .panel-border {
  border-top-color: #3bafda;
}
.admin-form .bg-info {
  background-color: #3bafda;
}
.admin-form .bg-info.light {
  background-color: #4fc1e9;
}
.admin-form .bg-info.lighter {
  background-color: #74c6e5;
}
.admin-form .bg-info.dark {
  background-color: #27a0cc;
}
.admin-form .bg-info.darker {
  background-color: #2189b0;
}
.admin-form .option-info input:hover + .checkbox,
.admin-form .option-info input:hover + .radio {
  border-color: #4fc1e9;
}
.admin-form .option-info input:checked + .checkbox,
.admin-form .option-info input:focus + .checkbox,
.admin-form .option-info input:checked + .radio,
.admin-form .option-info input:focus + .radio {
  border-color: #3bafda;
}
.admin-form .option-info input:checked + .radio:before,
.admin-form .option-info input:focus + .radio:before {
  background-color: #3bafda;
}
.admin-form .option-info input:checked + .checkbox:before,
.admin-form .option-info input:focus + .checkbox:before {
  border-color: #3bafda;
}
.admin-form .switch-info > input:checked + label {
  background-color: #3bafda;
  border-color: #3bafda;
}
.admin-form .switch-info > input:checked + label:after {
  color: #3bafda;
}
.admin-form .switch-info > input:checked:focus + label {
  background-color: #27a0cc;
  border-color: #27a0cc;
}
.admin-form .btn-info {
  background-color: #3bafda;
}
.admin-form .btn-info:hover,
.admin-form .btn-info:focus {
  background-color: #4fc1e9;
  border-color: #4fc1e9;
}
.admin-form .btn-info:active {
  background-color: #27a0cc;
}
.admin-form .btn-info,
.admin-form .btn-info:hover,
.admin-form .btn-info:focus,
.admin-form .btn-info:active {
  color: #fff;
  text-shadow: 0 1px rgba(0, 0, 0, 0.08);
}
.admin-form .slider-wrapper.slider-info .ui-slider .ui-slider-range {
  background-color: #3bafda;
}
.admin-form .slider-wrapper.slider-info .ui-slider .ui-slider-handle {
  border-color: #3bafda;
}
.admin-form .slider-wrapper.slider-info .ui-slider .ui-slider-handle:before {
  background-color: #3bafda;
}
.admin-form.theme-info .section-divider span {
  color: #3bafda;
}
.admin-form.theme-info .tagline span {
  color: #3bafda;
}
.admin-form.theme-info .theme-link {
  color: #3bafda;
}
.admin-form.theme-info .gui-input:hover,
.admin-form.theme-info .gui-textarea:hover,
.admin-form.theme-info .select > select:hover,
.admin-form.theme-info .select-multiple select:hover,
.admin-form.theme-info .gui-input:hover ~ .input-footer,
.admin-form.theme-info .file .gui-file:hover + .gui-input,
.admin-form.theme-info .gui-textarea:hover ~ .input-footer {
  border-color: #4fc1e9;
}
.admin-form.theme-info .gui-input:focus,
.admin-form.theme-info .gui-textarea:focus,
.admin-form.theme-info .select > select:focus,
.admin-form.theme-info .select-multiple select:focus {
  border-color: #4fc1e9;
  color: #3C3C3C;
}
.admin-form.theme-info .gui-textarea:focus {
  height: 120px;
}
.admin-form.theme-info .select > select:focus {
  z-index: 10;
  z-index: 20\9;
}
.admin-form.theme-info .gui-input:focus ~ .field-icon i,
.admin-form.theme-info .gui-textarea:focus ~ .field-icon i {
  color: #3bafda;
}
.admin-form.theme-info .select-multiple select:focus,
.admin-form.theme-info .gui-input:focus ~ .input-footer,
.admin-form.theme-info .gui-textarea:focus ~ .input-footer,
.admin-form.theme-info .file .gui-file:focus + .gui-input {
  border-color: #4fc1e9;
}
.admin-form.theme-info .select > select:focus + .arrow {
  color: #3bafda;
}
.admin-form.theme-info .rating:hover .rating-star:hover,
.admin-form.theme-info .rating:hover .rating-star:hover ~ .rating-star,
.admin-form.theme-info .rating-input:checked ~ .rating-star {
  color: #3bafda;
}
.admin-form.theme-info .rating-star,
.admin-form.theme-info .rating:hover .rating-star {
  color: #A2A6A8;
}
.admin-form.theme-info .ui-datepicker .ui-datepicker-prev,
.admin-form.theme-info .ui-datepicker .ui-datepicker-next,
.admin-form.theme-info .ui-datepicker .ui-datepicker-title {
  color: #3bafda;
}
.admin-form.theme-info .ui-datepicker-today a,
.admin-form.theme-info .ui-datepicker-today a:hover,
.admin-form.theme-info .ui-datepicker .ui-state-highlight {
  background-color: #66c1e2;
}
.admin-form.theme-info .ui-datepicker .ui-state-active {
  background-color: #3bafda;
}
.admin-form.theme-info .ui-datepicker .ui-timepicker-div .ui-slider .ui-slider-handle.ui-state-active {
  background-color: #FFF;
}
.admin-form.theme-info .ui-datepicker .ui-timepicker-div .ui-slider .ui-slider-handle {
  border-color: #3bafda;
}
.admin-form.theme-info .ui-datepicker .ui-timepicker-div .ui-slider .ui-slider-handle:before {
  background-color: #3bafda;
}
.admin-form.theme-info .wizard .steps li a,
.admin-form.theme-info .wizard .actions li a {
  background-color: #3bafda;
}
.admin-form.theme-info .wizard .steps li.current a {
  background-color: #27a0cc;
}
.section-divider.section-success span {
  color: #70ca63;
}
.admin-form .panel.panel-success.panel-border,
.admin-form .panel .panel-success .panel-border {
  border-top-color: #70ca63;
}
.admin-form .bg-success {
  background-color: #70ca63;
}
.admin-form .bg-success.light {
  background-color: #87d37c;
}
.admin-form .bg-success.lighter {
  background-color: #9edc95;
}
.admin-form .bg-success.dark {
  background-color: #58c249;
}
.admin-form .bg-success.darker {
  background-color: #49ae3b;
}
.admin-form .option-success input:hover + .checkbox,
.admin-form .option-success input:hover + .radio {
  border-color: #87d37c;
}
.admin-form .option-success input:checked + .checkbox,
.admin-form .option-success input:focus + .checkbox,
.admin-form .option-success input:checked + .radio,
.admin-form .option-success input:focus + .radio {
  border-color: #70ca63;
}
.admin-form .option-success input:checked + .radio:before,
.admin-form .option-success input:focus + .radio:before {
  background-color: #70ca63;
}
.admin-form .option-success input:checked + .checkbox:before,
.admin-form .option-success input:focus + .checkbox:before {
  border-color: #70ca63;
}
.admin-form .switch-success > input:checked + label {
  background-color: #70ca63;
  border-color: #70ca63;
}
.admin-form .switch-success > input:checked + label:after {
  color: #70ca63;
}
.admin-form .switch-success > input:checked:focus + label {
  background-color: #58c249;
  border-color: #58c249;
}
.admin-form .btn-success {
  background-color: #70ca63;
}
.admin-form .btn-success:hover,
.admin-form .btn-success:focus {
  background-color: #87d37c;
  border-color: #87d37c;
}
.admin-form .btn-success:active {
  background-color: #58c249;
}
.admin-form .btn-success,
.admin-form .btn-success:hover,
.admin-form .btn-success:focus,
.admin-form .btn-success:active {
  color: #fff;
  text-shadow: 0 1px rgba(0, 0, 0, 0.08);
}
.admin-form .slider-wrapper.slider-success .ui-slider .ui-slider-range {
  background-color: #70ca63;
}
.admin-form .slider-wrapper.slider-success .ui-slider .ui-slider-handle {
  border-color: #70ca63;
}
.admin-form .slider-wrapper.slider-success .ui-slider .ui-slider-handle:before {
  background-color: #70ca63;
}
.admin-form.theme-success .section-divider span {
  color: #70ca63;
}
.admin-form.theme-success .tagline span {
  color: #70ca63;
}
.admin-form.theme-success .theme-link {
  color: #70ca63;
}
.admin-form.theme-success .gui-input:hover,
.admin-form.theme-success .gui-textarea:hover,
.admin-form.theme-success .select > select:hover,
.admin-form.theme-success .select-multiple select:hover,
.admin-form.theme-success .gui-input:hover ~ .input-footer,
.admin-form.theme-success .file .gui-file:hover + .gui-input,
.admin-form.theme-success .gui-textarea:hover ~ .input-footer {
  border-color: #87d37c;
}
.admin-form.theme-success .gui-input:focus,
.admin-form.theme-success .gui-textarea:focus,
.admin-form.theme-success .select > select:focus,
.admin-form.theme-success .select-multiple select:focus {
  border-color: #87d37c;
  color: #3C3C3C;
}
.admin-form.theme-success .gui-textarea:focus {
  height: 120px;
}
.admin-form.theme-success .select > select:focus {
  z-index: 10;
  z-index: 20\9;
}
.admin-form.theme-success .gui-input:focus ~ .field-icon i,
.admin-form.theme-success .gui-textarea:focus ~ .field-icon i {
  color: #70ca63;
}
.admin-form.theme-success .select-multiple select:focus,
.admin-form.theme-success .gui-input:focus ~ .input-footer,
.admin-form.theme-success .gui-textarea:focus ~ .input-footer,
.admin-form.theme-success .file .gui-file:focus + .gui-input {
  border-color: #87d37c;
}
.admin-form.theme-success .select > select:focus + .arrow {
  color: #70ca63;
}
.admin-form.theme-success .rating:hover .rating-star:hover,
.admin-form.theme-success .rating:hover .rating-star:hover ~ .rating-star,
.admin-form.theme-success .rating-input:checked ~ .rating-star {
  color: #70ca63;
}
.admin-form.theme-success .rating-star,
.admin-form.theme-success .rating:hover .rating-star {
  color: #A2A6A8;
}
.admin-form.theme-success .ui-datepicker .ui-datepicker-prev,
.admin-form.theme-success .ui-datepicker .ui-datepicker-next,
.admin-form.theme-success .ui-datepicker .ui-datepicker-title {
  color: #70ca63;
}
.admin-form.theme-success .ui-datepicker-today a,
.admin-form.theme-success .ui-datepicker-today a:hover,
.admin-form.theme-success .ui-datepicker .ui-state-highlight {
  background-color: #93d789;
}
.admin-form.theme-success .ui-datepicker .ui-state-active {
  background-color: #70ca63;
}
.admin-form.theme-success .ui-datepicker .ui-timepicker-div .ui-slider .ui-slider-handle.ui-state-active {
  background-color: #FFF;
}
.admin-form.theme-success .ui-datepicker .ui-timepicker-div .ui-slider .ui-slider-handle {
  border-color: #70ca63;
}
.admin-form.theme-success .ui-datepicker .ui-timepicker-div .ui-slider .ui-slider-handle:before {
  background-color: #70ca63;
}
.admin-form.theme-success .wizard .steps li a,
.admin-form.theme-success .wizard .actions li a {
  background-color: #70ca63;
}
.admin-form.theme-success .wizard .steps li.current a {
  background-color: #58c249;
}
.section-divider.section-warning span {
  color: #f6bb42;
}
.admin-form .panel.panel-warning.panel-border,
.admin-form .panel .panel-warning .panel-border {
  border-top-color: #f6bb42;
}
.admin-form .bg-warning {
  background-color: #f6bb42;
}
.admin-form .bg-warning.light {
  background-color: #ffce54;
}
.admin-form .bg-warning.lighter {
  background-color: #f9d283;
}
.admin-form .bg-warning.dark {
  background-color: #f4af22;
}
.admin-form .bg-warning.darker {
  background-color: #d9950a;
}
.admin-form .option-warning input:hover + .checkbox,
.admin-form .option-warning input:hover + .radio {
  border-color: #ffce54;
}
.admin-form .option-warning input:checked + .checkbox,
.admin-form .option-warning input:focus + .checkbox,
.admin-form .option-warning input:checked + .radio,
.admin-form .option-warning input:focus + .radio {
  border-color: #f6bb42;
}
.admin-form .option-warning input:checked + .radio:before,
.admin-form .option-warning input:focus + .radio:before {
  background-color: #f6bb42;
}
.admin-form .option-warning input:checked + .checkbox:before,
.admin-form .option-warning input:focus + .checkbox:before {
  border-color: #f6bb42;
}
.admin-form .switch-warning > input:checked + label {
  background-color: #f6bb42;
  border-color: #f6bb42;
}
.admin-form .switch-warning > input:checked + label:after {
  color: #f6bb42;
}
.admin-form .switch-warning > input:checked:focus + label {
  background-color: #f4af22;
  border-color: #f4af22;
}
.admin-form .btn-warning {
  background-color: #f6bb42;
}
.admin-form .btn-warning:hover,
.admin-form .btn-warning:focus {
  background-color: #ffce54;
  border-color: #ffce54;
}
.admin-form .btn-warning:active {
  background-color: #f4af22;
}
.admin-form .btn-warning,
.admin-form .btn-warning:hover,
.admin-form .btn-warning:focus,
.admin-form .btn-warning:active {
  color: #fff;
  text-shadow: 0 1px rgba(0, 0, 0, 0.08);
}
.admin-form .slider-wrapper.slider-warning .ui-slider .ui-slider-range {
  background-color: #f6bb42;
}
.admin-form .slider-wrapper.slider-warning .ui-slider .ui-slider-handle {
  border-color: #f6bb42;
}
.admin-form .slider-wrapper.slider-warning .ui-slider .ui-slider-handle:before {
  background-color: #f6bb42;
}
.admin-form.theme-warning .section-divider span {
  color: #f6bb42;
}
.admin-form.theme-warning .tagline span {
  color: #f6bb42;
}
.admin-form.theme-warning .theme-link {
  color: #f6bb42;
}
.admin-form.theme-warning .gui-input:hover,
.admin-form.theme-warning .gui-textarea:hover,
.admin-form.theme-warning .select > select:hover,
.admin-form.theme-warning .select-multiple select:hover,
.admin-form.theme-warning .gui-input:hover ~ .input-footer,
.admin-form.theme-warning .file .gui-file:hover + .gui-input,
.admin-form.theme-warning .gui-textarea:hover ~ .input-footer {
  border-color: #ffce54;
}
.admin-form.theme-warning .gui-input:focus,
.admin-form.theme-warning .gui-textarea:focus,
.admin-form.theme-warning .select > select:focus,
.admin-form.theme-warning .select-multiple select:focus {
  border-color: #ffce54;
  color: #3C3C3C;
}
.admin-form.theme-warning .gui-textarea:focus {
  height: 120px;
}
.admin-form.theme-warning .select > select:focus {
  z-index: 10;
  z-index: 20\9;
}
.admin-form.theme-warning .gui-input:focus ~ .field-icon i,
.admin-form.theme-warning .gui-textarea:focus ~ .field-icon i {
  color: #f6bb42;
}
.admin-form.theme-warning .select-multiple select:focus,
.admin-form.theme-warning .gui-input:focus ~ .input-footer,
.admin-form.theme-warning .gui-textarea:focus ~ .input-footer,
.admin-form.theme-warning .file .gui-file:focus + .gui-input {
  border-color: #ffce54;
}
.admin-form.theme-warning .select > select:focus + .arrow {
  color: #f6bb42;
}
.admin-form.theme-warning .rating:hover .rating-star:hover,
.admin-form.theme-warning .rating:hover .rating-star:hover ~ .rating-star,
.admin-form.theme-warning .rating-input:checked ~ .rating-star {
  color: #f6bb42;
}
.admin-form.theme-warning .rating-star,
.admin-form.theme-warning .rating:hover .rating-star {
  color: #A2A6A8;
}
.admin-form.theme-warning .ui-datepicker .ui-datepicker-prev,
.admin-form.theme-warning .ui-datepicker .ui-datepicker-next,
.admin-form.theme-warning .ui-datepicker .ui-datepicker-title {
  color: #f6bb42;
}
.admin-form.theme-warning .ui-datepicker-today a,
.admin-form.theme-warning .ui-datepicker-today a:hover,
.admin-form.theme-warning .ui-datepicker .ui-state-highlight {
  background-color: #f8cd73;
}
.admin-form.theme-warning .ui-datepicker .ui-state-active {
  background-color: #f6bb42;
}
.admin-form.theme-warning .ui-datepicker .ui-timepicker-div .ui-slider .ui-slider-handle.ui-state-active {
  background-color: #FFF;
}
.admin-form.theme-warning .ui-datepicker .ui-timepicker-div .ui-slider .ui-slider-handle {
  border-color: #f6bb42;
}
.admin-form.theme-warning .ui-datepicker .ui-timepicker-div .ui-slider .ui-slider-handle:before {
  background-color: #f6bb42;
}
.admin-form.theme-warning .wizard .steps li a,
.admin-form.theme-warning .wizard .actions li a {
  background-color: #f6bb42;
}
.admin-form.theme-warning .wizard .steps li.current a {
  background-color: #f4af22;
}
.section-divider.section-danger span {
  color: #e9573f;
}
.admin-form .panel.panel-danger.panel-border,
.admin-form .panel .panel-danger .panel-border {
  border-top-color: #e9573f;
}
.admin-form .bg-danger {
  background-color: #e9573f;
}
.admin-form .bg-danger.light {
  background-color: #fc6e51;
}
.admin-form .bg-danger.lighter {
  background-color: #f08c7c;
}
.admin-form .bg-danger.dark {
  background-color: #e63c21;
}
.admin-form .bg-danger.darker {
  background-color: #cd3117;
}
.admin-form .option-danger input:hover + .checkbox,
.admin-form .option-danger input:hover + .radio {
  border-color: #fc6e51;
}
.admin-form .option-danger input:checked + .checkbox,
.admin-form .option-danger input:focus + .checkbox,
.admin-form .option-danger input:checked + .radio,
.admin-form .option-danger input:focus + .radio {
  border-color: #e9573f;
}
.admin-form .option-danger input:checked + .radio:before,
.admin-form .option-danger input:focus + .radio:before {
  background-color: #e9573f;
}
.admin-form .option-danger input:checked + .checkbox:before,
.admin-form .option-danger input:focus + .checkbox:before {
  border-color: #e9573f;
}
.admin-form .switch-danger > input:checked + label {
  background-color: #e9573f;
  border-color: #e9573f;
}
.admin-form .switch-danger > input:checked + label:after {
  color: #e9573f;
}
.admin-form .switch-danger > input:checked:focus + label {
  background-color: #e63c21;
  border-color: #e63c21;
}
.admin-form .btn-danger {
  background-color: #e9573f;
}
.admin-form .btn-danger:hover,
.admin-form .btn-danger:focus {
  background-color: #fc6e51;
  border-color: #fc6e51;
}
.admin-form .btn-danger:active {
  background-color: #e63c21;
}
.admin-form .btn-danger,
.admin-form .btn-danger:hover,
.admin-form .btn-danger:focus,
.admin-form .btn-danger:active {
  color: #fff;
  text-shadow: 0 1px rgba(0, 0, 0, 0.08);
}
.admin-form .slider-wrapper.slider-danger .ui-slider .ui-slider-range {
  background-color: #e9573f;
}
.admin-form .slider-wrapper.slider-danger .ui-slider .ui-slider-handle {
  border-color: #e9573f;
}
.admin-form .slider-wrapper.slider-danger .ui-slider .ui-slider-handle:before {
  background-color: #e9573f;
}
.admin-form.theme-danger .section-divider span {
  color: #e9573f;
}
.admin-form.theme-danger .tagline span {
  color: #e9573f;
}
.admin-form.theme-danger .theme-link {
  color: #e9573f;
}
.admin-form.theme-danger .gui-input:hover,
.admin-form.theme-danger .gui-textarea:hover,
.admin-form.theme-danger .select > select:hover,
.admin-form.theme-danger .select-multiple select:hover,
.admin-form.theme-danger .gui-input:hover ~ .input-footer,
.admin-form.theme-danger .file .gui-file:hover + .gui-input,
.admin-form.theme-danger .gui-textarea:hover ~ .input-footer {
  border-color: #fc6e51;
}
.admin-form.theme-danger .gui-input:focus,
.admin-form.theme-danger .gui-textarea:focus,
.admin-form.theme-danger .select > select:focus,
.admin-form.theme-danger .select-multiple select:focus {
  border-color: #fc6e51;
  color: #3C3C3C;
}
.admin-form.theme-danger .gui-textarea:focus {
  height: 120px;
}
.admin-form.theme-danger .select > select:focus {
  z-index: 10;
  z-index: 20\9;
}
.admin-form.theme-danger .gui-input:focus ~ .field-icon i,
.admin-form.theme-danger .gui-textarea:focus ~ .field-icon i {
  color: #e9573f;
}
.admin-form.theme-danger .select-multiple select:focus,
.admin-form.theme-danger .gui-input:focus ~ .input-footer,
.admin-form.theme-danger .gui-textarea:focus ~ .input-footer,
.admin-form.theme-danger .file .gui-file:focus + .gui-input {
  border-color: #fc6e51;
}
.admin-form.theme-danger .select > select:focus + .arrow {
  color: #e9573f;
}
.admin-form.theme-danger .rating:hover .rating-star:hover,
.admin-form.theme-danger .rating:hover .rating-star:hover ~ .rating-star,
.admin-form.theme-danger .rating-input:checked ~ .rating-star {
  color: #e9573f;
}
.admin-form.theme-danger .rating-star,
.admin-form.theme-danger .rating:hover .rating-star {
  color: #A2A6A8;
}
.admin-form.theme-danger .ui-datepicker .ui-datepicker-prev,
.admin-form.theme-danger .ui-datepicker .ui-datepicker-next,
.admin-form.theme-danger .ui-datepicker .ui-datepicker-title {
  color: #e9573f;
}
.admin-form.theme-danger .ui-datepicker-today a,
.admin-form.theme-danger .ui-datepicker-today a:hover,
.admin-form.theme-danger .ui-datepicker .ui-state-highlight {
  background-color: #ee7f6d;
}
.admin-form.theme-danger .ui-datepicker .ui-state-active {
  background-color: #e9573f;
}
.admin-form.theme-danger .ui-datepicker .ui-timepicker-div .ui-slider .ui-slider-handle.ui-state-active {
  background-color: #FFF;
}
.admin-form.theme-danger .ui-datepicker .ui-timepicker-div .ui-slider .ui-slider-handle {
  border-color: #e9573f;
}
.admin-form.theme-danger .ui-datepicker .ui-timepicker-div .ui-slider .ui-slider-handle:before {
  background-color: #e9573f;
}
.admin-form.theme-danger .wizard .steps li a,
.admin-form.theme-danger .wizard .actions li a {
  background-color: #e9573f;
}
.admin-form.theme-danger .wizard .steps li.current a {
  background-color: #e63c21;
}
.section-divider.section-alert span {
  color: #967adc;
}
.admin-form .panel.panel-alert.panel-border,
.admin-form .panel .panel-alert .panel-border {
  border-top-color: #967adc;
}
.admin-form .bg-alert {
  background-color: #967adc;
}
.admin-form .bg-alert.light {
  background-color: #ac92ec;
}
.admin-form .bg-alert.lighter {
  background-color: #c0b0ea;
}
.admin-form .bg-alert.dark {
  background-color: #815fd5;
}
.admin-form .bg-alert.darker {
  background-color: #6c44ce;
}
.admin-form .option-alert input:hover + .checkbox,
.admin-form .option-alert input:hover + .radio {
  border-color: #ac92ec;
}
.admin-form .option-alert input:checked + .checkbox,
.admin-form .option-alert input:focus + .checkbox,
.admin-form .option-alert input:checked + .radio,
.admin-form .option-alert input:focus + .radio {
  border-color: #967adc;
}
.admin-form .option-alert input:checked + .radio:before,
.admin-form .option-alert input:focus + .radio:before {
  background-color: #967adc;
}
.admin-form .option-alert input:checked + .checkbox:before,
.admin-form .option-alert input:focus + .checkbox:before {
  border-color: #967adc;
}
.admin-form .switch-alert > input:checked + label {
  background-color: #967adc;
  border-color: #967adc;
}
.admin-form .switch-alert > input:checked + label:after {
  color: #967adc;
}
.admin-form .switch-alert > input:checked:focus + label {
  background-color: #815fd5;
  border-color: #815fd5;
}
.admin-form .btn-alert {
  background-color: #967adc;
}
.admin-form .btn-alert:hover,
.admin-form .btn-alert:focus {
  background-color: #ac92ec;
  border-color: #ac92ec;
}
.admin-form .btn-alert:active {
  background-color: #815fd5;
}
.admin-form .btn-alert,
.admin-form .btn-alert:hover,
.admin-form .btn-alert:focus,
.admin-form .btn-alert:active {
  color: #fff;
  text-shadow: 0 1px rgba(0, 0, 0, 0.08);
}
.admin-form .slider-wrapper.slider-alert .ui-slider .ui-slider-range {
  background-color: #967adc;
}
.admin-form .slider-wrapper.slider-alert .ui-slider .ui-slider-handle {
  border-color: #967adc;
}
.admin-form .slider-wrapper.slider-alert .ui-slider .ui-slider-handle:before {
  background-color: #967adc;
}
.admin-form.theme-alert .section-divider span {
  color: #967adc;
}
.admin-form.theme-alert .tagline span {
  color: #967adc;
}
.admin-form.theme-alert .theme-link {
  color: #967adc;
}
.admin-form.theme-alert .gui-input:hover,
.admin-form.theme-alert .gui-textarea:hover,
.admin-form.theme-alert .select > select:hover,
.admin-form.theme-alert .select-multiple select:hover,
.admin-form.theme-alert .gui-input:hover ~ .input-footer,
.admin-form.theme-alert .file .gui-file:hover + .gui-input,
.admin-form.theme-alert .gui-textarea:hover ~ .input-footer {
  border-color: #ac92ec;
}
.admin-form.theme-alert .gui-input:focus,
.admin-form.theme-alert .gui-textarea:focus,
.admin-form.theme-alert .select > select:focus,
.admin-form.theme-alert .select-multiple select:focus {
  border-color: #ac92ec;
  color: #3C3C3C;
}
.admin-form.theme-alert .gui-textarea:focus {
  height: 120px;
}
.admin-form.theme-alert .select > select:focus {
  z-index: 10;
  z-index: 20\9;
}
.admin-form.theme-alert .gui-input:focus ~ .field-icon i,
.admin-form.theme-alert .gui-textarea:focus ~ .field-icon i {
  color: #967adc;
}
.admin-form.theme-alert .select-multiple select:focus,
.admin-form.theme-alert .gui-input:focus ~ .input-footer,
.admin-form.theme-alert .gui-textarea:focus ~ .input-footer,
.admin-form.theme-alert .file .gui-file:focus + .gui-input {
  border-color: #ac92ec;
}
.admin-form.theme-alert .select > select:focus + .arrow {
  color: #967adc;
}
.admin-form.theme-alert .rating:hover .rating-star:hover,
.admin-form.theme-alert .rating:hover .rating-star:hover ~ .rating-star,
.admin-form.theme-alert .rating-input:checked ~ .rating-star {
  color: #967adc;
}
.admin-form.theme-alert .rating-star,
.admin-form.theme-alert .rating:hover .rating-star {
  color: #A2A6A8;
}
.admin-form.theme-alert .ui-datepicker .ui-datepicker-prev,
.admin-form.theme-alert .ui-datepicker .ui-datepicker-next,
.admin-form.theme-alert .ui-datepicker .ui-datepicker-title {
  color: #967adc;
}
.admin-form.theme-alert .ui-datepicker-today a,
.admin-form.theme-alert .ui-datepicker-today a:hover,
.admin-form.theme-alert .ui-datepicker .ui-state-highlight {
  background-color: #b6a2e7;
}
.admin-form.theme-alert .ui-datepicker .ui-state-active {
  background-color: #967adc;
}
.admin-form.theme-alert .ui-datepicker .ui-timepicker-div .ui-slider .ui-slider-handle.ui-state-active {
  background-color: #FFF;
}
.admin-form.theme-alert .ui-datepicker .ui-timepicker-div .ui-slider .ui-slider-handle {
  border-color: #967adc;
}
.admin-form.theme-alert .ui-datepicker .ui-timepicker-div .ui-slider .ui-slider-handle:before {
  background-color: #967adc;
}
.admin-form.theme-alert .wizard .steps li a,
.admin-form.theme-alert .wizard .actions li a {
  background-color: #967adc;
}
.admin-form.theme-alert .wizard .steps li.current a {
  background-color: #815fd5;
}
.section-divider.section-system span {
  color: #37bc9b;
}
.admin-form .panel.panel-system.panel-border,
.admin-form .panel .panel-system .panel-border {
  border-top-color: #37bc9b;
}
.admin-form .bg-system {
  background-color: #37bc9b;
}
.admin-form .bg-system.light {
  background-color: #48cfad;
}
.admin-form .bg-system.lighter {
  background-color: #65d2b7;
}
.admin-form .bg-system.dark {
  background-color: #2fa285;
}
.admin-form .bg-system.darker {
  background-color: #288770;
}
.admin-form .option-system input:hover + .checkbox,
.admin-form .option-system input:hover + .radio {
  border-color: #48cfad;
}
.admin-form .option-system input:checked + .checkbox,
.admin-form .option-system input:focus + .checkbox,
.admin-form .option-system input:checked + .radio,
.admin-form .option-system input:focus + .radio {
  border-color: #37bc9b;
}
.admin-form .option-system input:checked + .radio:before,
.admin-form .option-system input:focus + .radio:before {
  background-color: #37bc9b;
}
.admin-form .option-system input:checked + .checkbox:before,
.admin-form .option-system input:focus + .checkbox:before {
  border-color: #37bc9b;
}
.admin-form .switch-system > input:checked + label {
  background-color: #37bc9b;
  border-color: #37bc9b;
}
.admin-form .switch-system > input:checked + label:after {
  color: #37bc9b;
}
.admin-form .switch-system > input:checked:focus + label {
  background-color: #2fa285;
  border-color: #2fa285;
}
.admin-form .btn-system {
  background-color: #37bc9b;
}
.admin-form .btn-system:hover,
.admin-form .btn-system:focus {
  background-color: #48cfad;
  border-color: #48cfad;
}
.admin-form .btn-system:active {
  background-color: #2fa285;
}
.admin-form .btn-system,
.admin-form .btn-system:hover,
.admin-form .btn-system:focus,
.admin-form .btn-system:active {
  color: #fff;
  text-shadow: 0 1px rgba(0, 0, 0, 0.08);
}
.admin-form .slider-wrapper.slider-system .ui-slider .ui-slider-range {
  background-color: #37bc9b;
}
.admin-form .slider-wrapper.slider-system .ui-slider .ui-slider-handle {
  border-color: #37bc9b;
}
.admin-form .slider-wrapper.slider-system .ui-slider .ui-slider-handle:before {
  background-color: #37bc9b;
}
.admin-form.theme-system .section-divider span {
  color: #37bc9b;
}
.admin-form.theme-system .tagline span {
  color: #37bc9b;
}
.admin-form.theme-system .theme-link {
  color: #37bc9b;
}
.admin-form.theme-system .gui-input:hover,
.admin-form.theme-system .gui-textarea:hover,
.admin-form.theme-system .select > select:hover,
.admin-form.theme-system .select-multiple select:hover,
.admin-form.theme-system .gui-input:hover ~ .input-footer,
.admin-form.theme-system .file .gui-file:hover + .gui-input,
.admin-form.theme-system .gui-textarea:hover ~ .input-footer {
  border-color: #48cfad;
}
.admin-form.theme-system .gui-input:focus,
.admin-form.theme-system .gui-textarea:focus,
.admin-form.theme-system .select > select:focus,
.admin-form.theme-system .select-multiple select:focus {
  border-color: #48cfad;
  color: #3C3C3C;
}
.admin-form.theme-system .gui-textarea:focus {
  height: 120px;
}
.admin-form.theme-system .select > select:focus {
  z-index: 10;
  z-index: 20\9;
}
.admin-form.theme-system .gui-input:focus ~ .field-icon i,
.admin-form.theme-system .gui-textarea:focus ~ .field-icon i {
  color: #37bc9b;
}
.admin-form.theme-system .select-multiple select:focus,
.admin-form.theme-system .gui-input:focus ~ .input-footer,
.admin-form.theme-system .gui-textarea:focus ~ .input-footer,
.admin-form.theme-system .file .gui-file:focus + .gui-input {
  border-color: #48cfad;
}
.admin-form.theme-system .select > select:focus + .arrow {
  color: #37bc9b;
}
.admin-form.theme-system .rating:hover .rating-star:hover,
.admin-form.theme-system .rating:hover .rating-star:hover ~ .rating-star,
.admin-form.theme-system .rating-input:checked ~ .rating-star {
  color: #37bc9b;
}
.admin-form.theme-system .rating-star,
.admin-form.theme-system .rating:hover .rating-star {
  color: #A2A6A8;
}
.admin-form.theme-system .ui-datepicker .ui-datepicker-prev,
.admin-form.theme-system .ui-datepicker .ui-datepicker-next,
.admin-form.theme-system .ui-datepicker .ui-datepicker-title {
  color: #37bc9b;
}
.admin-form.theme-system .ui-datepicker-today a,
.admin-form.theme-system .ui-datepicker-today a:hover,
.admin-form.theme-system .ui-datepicker .ui-state-highlight {
  background-color: #58ceb1;
}
.admin-form.theme-system .ui-datepicker .ui-state-active {
  background-color: #37bc9b;
}
.admin-form.theme-system .ui-datepicker .ui-timepicker-div .ui-slider .ui-slider-handle.ui-state-active {
  background-color: #FFF;
}
.admin-form.theme-system .ui-datepicker .ui-timepicker-div .ui-slider .ui-slider-handle {
  border-color: #37bc9b;
}
.admin-form.theme-system .ui-datepicker .ui-timepicker-div .ui-slider .ui-slider-handle:before {
  background-color: #37bc9b;
}
.admin-form.theme-system .wizard .steps li a,
.admin-form.theme-system .wizard .actions li a {
  background-color: #37bc9b;
}
.admin-form.theme-system .wizard .steps li.current a {
  background-color: #2fa285;
}
.section-divider.section-dark span {
  color: #3b3f4f;
}
.admin-form .panel.panel-dark.panel-border,
.admin-form .panel .panel-dark .panel-border {
  border-top-color: #3b3f4f;
}
.admin-form .bg-dark {
  background-color: #3b3f4f;
}
.admin-form .bg-dark.light {
  background-color: #424759;
}
.admin-form .bg-dark.lighter {
  background-color: #51566c;
}
.admin-form .bg-dark.dark {
  background-color: #2c2f3c;
}
.admin-form .bg-dark.darker {
  background-color: #1e2028;
}
.admin-form .option-dark input:hover + .checkbox,
.admin-form .option-dark input:hover + .radio {
  border-color: #424759;
}
.admin-form .option-dark input:checked + .checkbox,
.admin-form .option-dark input:focus + .checkbox,
.admin-form .option-dark input:checked + .radio,
.admin-form .option-dark input:focus + .radio {
  border-color: #3b3f4f;
}
.admin-form .option-dark input:checked + .radio:before,
.admin-form .option-dark input:focus + .radio:before {
  background-color: #3b3f4f;
}
.admin-form .option-dark input:checked + .checkbox:before,
.admin-form .option-dark input:focus + .checkbox:before {
  border-color: #3b3f4f;
}
.admin-form .switch-dark > input:checked + label {
  background-color: #3b3f4f;
  border-color: #3b3f4f;
}
.admin-form .switch-dark > input:checked + label:after {
  color: #3b3f4f;
}
.admin-form .switch-dark > input:checked:focus + label {
  background-color: #2c2f3c;
  border-color: #2c2f3c;
}
.admin-form .btn-dark {
  background-color: #3b3f4f;
}
.admin-form .btn-dark:hover,
.admin-form .btn-dark:focus {
  background-color: #424759;
  border-color: #424759;
}
.admin-form .btn-dark:active {
  background-color: #2c2f3c;
}
.admin-form .btn-dark,
.admin-form .btn-dark:hover,
.admin-form .btn-dark:focus,
.admin-form .btn-dark:active {
  color: #fff;
  text-shadow: 0 1px rgba(0, 0, 0, 0.08);
}
.admin-form .slider-wrapper.slider-dark .ui-slider .ui-slider-range {
  background-color: #3b3f4f;
}
.admin-form .slider-wrapper.slider-dark .ui-slider .ui-slider-handle {
  border-color: #3b3f4f;
}
.admin-form .slider-wrapper.slider-dark .ui-slider .ui-slider-handle:before {
  background-color: #3b3f4f;
}
.admin-form.theme-dark .section-divider span {
  color: #3b3f4f;
}
.admin-form.theme-dark .tagline span {
  color: #3b3f4f;
}
.admin-form.theme-dark .theme-link {
  color: #3b3f4f;
}
.admin-form.theme-dark .gui-input:hover,
.admin-form.theme-dark .gui-textarea:hover,
.admin-form.theme-dark .select > select:hover,
.admin-form.theme-dark .select-multiple select:hover,
.admin-form.theme-dark .gui-input:hover ~ .input-footer,
.admin-form.theme-dark .file .gui-file:hover + .gui-input,
.admin-form.theme-dark .gui-textarea:hover ~ .input-footer {
  border-color: #424759;
}
.admin-form.theme-dark .gui-input:focus,
.admin-form.theme-dark .gui-textarea:focus,
.admin-form.theme-dark .select > select:focus,
.admin-form.theme-dark .select-multiple select:focus {
  border-color: #424759;
  color: #3C3C3C;
}
.admin-form.theme-dark .gui-textarea:focus {
  height: 120px;
}
.admin-form.theme-dark .select > select:focus {
  z-index: 10;
  z-index: 20\9;
}
.admin-form.theme-dark .gui-input:focus ~ .field-icon i,
.admin-form.theme-dark .gui-textarea:focus ~ .field-icon i {
  color: #3b3f4f;
}
.admin-form.theme-dark .select-multiple select:focus,
.admin-form.theme-dark .gui-input:focus ~ .input-footer,
.admin-form.theme-dark .gui-textarea:focus ~ .input-footer,
.admin-form.theme-dark .file .gui-file:focus + .gui-input {
  border-color: #424759;
}
.admin-form.theme-dark .select > select:focus + .arrow {
  color: #3b3f4f;
}
.admin-form.theme-dark .rating:hover .rating-star:hover,
.admin-form.theme-dark .rating:hover .rating-star:hover ~ .rating-star,
.admin-form.theme-dark .rating-input:checked ~ .rating-star {
  color: #3b3f4f;
}
.admin-form.theme-dark .rating-star,
.admin-form.theme-dark .rating:hover .rating-star {
  color: #A2A6A8;
}
.admin-form.theme-dark .ui-datepicker .ui-datepicker-prev,
.admin-form.theme-dark .ui-datepicker .ui-datepicker-next,
.admin-form.theme-dark .ui-datepicker .ui-datepicker-title {
  color: #3b3f4f;
}
.admin-form.theme-dark .ui-datepicker-today a,
.admin-form.theme-dark .ui-datepicker-today a:hover,
.admin-form.theme-dark .ui-datepicker .ui-state-highlight {
  background-color: #51566c;
}
.admin-form.theme-dark .ui-datepicker .ui-state-active {
  background-color: #3b3f4f;
}
.admin-form.theme-dark .ui-datepicker .ui-timepicker-div .ui-slider .ui-slider-handle.ui-state-active {
  background-color: #FFF;
}
.admin-form.theme-dark .ui-datepicker .ui-timepicker-div .ui-slider .ui-slider-handle {
  border-color: #3b3f4f;
}
.admin-form.theme-dark .ui-datepicker .ui-timepicker-div .ui-slider .ui-slider-handle:before {
  background-color: #3b3f4f;
}
.admin-form.theme-dark .wizard .steps li a,
.admin-form.theme-dark .wizard .actions li a {
  background-color: #3b3f4f;
}
.admin-form.theme-dark .wizard .steps li.current a {
  background-color: #2c2f3c;
}
/*# sourceMappingURL=all-themes.css.map */