{% extends "admin/template.html" %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='backend/vendor/plugins/datatables/media/css/datatables.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='backend/vendor/plugins/datatables/media/css/datatables_addons.min.css') }}">
{% endblock style %}

{% block content %}

    <section class="content container-fluid of-a">
        <div class="panel panel-visible mnw500">
            <div class="panel-heading">
                <div class="panel-title">
                    <span class="glyphicon glyphicon-tasks"></span>庫存記錄
                    <div class="pull-right form-group mbn">
                        <div class="d-inline-block">
                            <a href="{{ url_for('supply.inventoryCreate',supplyId=id) }}" class="btn btn-primary w100 jwtLink">新增</a>
                        </div>

                        <label for="pageLength" class="form-label">單頁筆數</label>
                        <select id="pageLength" class="form-control w100 d-inline">
                            <option value="10" selected>10</option>
                            <option value="25">25</option>
                            <option value="50">50</option>
                            <option value="9999999">all</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="panel-body pn">
                <span>* 庫存記錄無法編輯，您可以直接新增一筆記錄，並在備註欄填寫修正原因。</span>
                <table id="example2" class="table table-bordered table-hover">
                    <thead>
                    <tr>
                        <th>操作員工</th>
                        <th>進出貨數量</th>
                        <th>庫存量</th>
                        <th>類別</th>
                        <th>備註</th>
                        <th>日期時間</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for data in data.data %}
                        <tr>
                            <td>{{ data.employee_number }} {{ data.employee_name }}</td>
                            <td>{{ data.quantity }}</td>
                            <td class="total"></td>
                            <td>{{ data.type }}</td>
                            <td>{{ data.note }}</td>
                            <td>{{ data.date }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <!-- /.box-body -->
        </div>

    </section>

{% endblock content %}

{% block script %}

    <script src="{{ url_for('static', filename='backend/vendor/plugins/datatables/media/js/datatables.min.js') }}"></script>
    <!-- Datatables Addons -->
    <script src="{{ url_for('static', filename='backend/vendor/plugins/datatables/media/js/datatables_addons.min.js') }}"></script>
    <script>
        $('.crumb-link a').attr('href', '{{ url_for('supply.List') }}').text('倉庫庫存')
        $('.crumb-trail a').attr('href', '#').text('庫存{% if update %} 編輯 {% else %} 新增 {% endif %}')
        $('.crumb-trail').removeClass('hidden').addClass('active')
        $('a[href="{{ url_for('supply.List') }}"]').parents('li').children('a').addClass('menu-open')

        $('#pageLength').change(function () {
            $('#example2').DataTable().destroy()
            showTable()
        })

        console.log({{data|safe}})

        function showTable() {
            var total = 0
            $('#example2 .total').each(function () {
                var val = parseInt($(this).prev().text())
                total += val
                $(this).text(total)
            })
            $('#example2').dataTable({
                dom: '<"top dt-panelmenu"Bf>rt<"bottom dt-panelfooter"ip>',
                buttons: [
                    {
                        extend: 'copy',
                        exportOptions: {
                            columns: ':visible'
                        }
                    },
                    {
                        extend: 'excel',
                        exportOptions: {
                            columns: ':visible'
                        }
                    },
                    {
                        extend: 'print',
                        exportOptions: {
                            columns: ':visible'
                        }
                    },
                    'colvis'
                ],
                autoWidth: false,
                paging: true,
                pageLength: parseInt($('#pageLength').val()),
                columns: [
                    {orderable: true},
                    {orderable: true},
                    {orderable: true},
                    {orderable: true},
                    {orderable: true},
                    {orderable: true}
                ],
            });
        }
        showTable()
    </script>
{% endblock script %}