{% extends "admin/template.html" %}

{% block style %}
    <link rel="stylesheet" href="{{ url_for('static', filename='backend/plugins/iCheck/all.css') }}">
{% endblock style %}

{% block content %}

    <section class="content-header">
        <h1>
            庫存系統
            <small><a href="/admin/supply/inventory/{{ supplyId }}" class="jwtLink">庫存記錄列表</a> 庫存記錄新增</small>
        </h1>
    </section>
    
    <section class="content container-fluid">
        <form class="row form-horizontal p10" method="" action="">
            <div class="row">
                <div class="col-sm-3"></div>
                <div class="col-sm-5">
                    <p>* 倉庫出貨與櫃台進貨有連動關係，因此無須編寫兩次，則一記錄即可。</p>
                </div>
            </div>
            
            <input id="supplies_id" type="text" class="hidden" value="{{ supplyId }}">

            <div class="form-group py-2">
                <label for="type" class="col-sm-3 control-label">產品類別</label>
                <div class="col-sm-5 pt10">
                    <label class="radios">
                        <input type="radio" name="type" value="0" class="minimal-grey" checked="true">
                        倉庫
                    </label>
                    <label class="radios">
                        <input type="radio" name="type" value="1" class="minimal-grey">
                        櫃台
                    </label>
                </div>
            </div>

            <div class="form-group py-2">
                <label for="quantity" class="col-sm-3 control-label">進貨數量</label>
                <div class="col-sm-5">
                    <input type="number" class="form-control" id="quantity" name="quantity">
                </div>
            </div>


            <div class="form-group py-2">
                <label for="note" class="col-sm-3 control-label">備註</label>
                <div class="col-sm-5">
                    <textarea class="form-control" id="note" name="note" rows="10"></textarea>
                </div>
            </div>

            <div class="col-xs-8 py-2 textRight pr-3" style="padding-right: 15px;">
                <button class="btn btn-primary saveBtn pull-right" onclick="sumitForm();" type="button">新增</button>
            </div>

        </form>
    </section>

{% endblock content %}

{% block script %}

    <script src="{{ url_for('static', filename='backend/plugins/iCheck/icheck.min.js') }}"></script>
    <script>
        $('.crumb-link a').attr('href', '{{ url_for('supply.List') }}').text('倉庫庫存')
        $('.crumb-trail a').attr('href', '#').text('庫存{% if update %} 編輯 {% else %} 新增 {% endif %}')
        $('.crumb-trail').removeClass('hidden').addClass('active')
        $('a[href="{{ url_for('supply.List') }}"]').parents('li').children('a').addClass('menu-open')

        $('input[type="checkbox"].minimal-grey, input[type="radio"].minimal-grey').iCheck({
            checkboxClass: 'icheckbox_minimal-grey',
            radioClass: 'iradio_minimal-grey'
        })

        function sumitForm() {

            var quantity = parseInt($('#quantity').val())
            var token = localStorage.getItem(tokenName);
            var data = '{"_token": "' + token + '","inventory_id":"","supplies_id":'+ $('#supplies_id').val() +',"quantity":'+ quantity +',"note":"'+ $('#note').val() +'","type":'+ $('input[name="type"]:checked').val() +'}'

            if (quantity == "" || quantity == 0) {
                swal({
                    title: '請輸入進貨數量',
                    type: 'info'
                })
            } else {
                
                if ($('input[name="type"]').val() == 0 && quantity < 0) {
                    swal({
                        title: '是否出貨至櫃台',
                        type: 'question',
                        showCancelButton: true,
                        confirmButtonText: '確認',
                        cancelButtonText: '取消'
                    }).then((result) => {
                        if (result.value) {
                            ajax(data,0)
                            ajax('{"_token": "' + token + '","inventory_id":"","supplies_id":'+ $('#supplies_id').val() +',"quantity":'+( quantity*(-1)) +',"note":"進貨(系統)","type": 1}',1)
                        }
                        else if ( result.dismiss === swal.DismissReason.cancel ) {
                            ajax(data,1)
                        }
                    })
                } else if ($('input[name="type"]').val() == 1 && quantity > 0) {
                    swal({
                        title: '是否從倉庫進貨',
                        type: 'question',
                        showCancelButton: true,
                        confirmButtonText: '確認',
                        cancelButtonText: '取消'
                    }).then((result) => {
                        if (result.value) {
                            ajax(data,0)
                            ajax('{"_token": "' + token + '","inventory_id":"","supplies_id":'+ $('#supplies_id').val() +',"quantity":'+( quantity*(-1)) +',"note":"出貨(系統)","type": 0}',1)
                        }
                        else if ( result.dismiss === swal.DismissReason.cancel ) {
                            ajax(data,1)
                        }
                    })
                } else {
                    ajax(data,1)
                }
                
            }
        }
        function ajax(json,type) {
            swal({
              title: '資料處理中請稍候',
              onOpen: () => {
                swal.showLoading()
              }
            })
            $.ajax({
                url: "{{ url_for('inventoryApi.inventoryCreateOrUpdate') }}",
                type: 'POST',
                data: json,
                datatype: 'json',
                contentType: "application/json",
                success: function (data) {
                    if (type == 1) {
                        swal({
                            title: '新增完成',
                            type: 'success',
                            showCancelButton: true,
                            confirmButtonText: '確認',
                            cancelButtonText: '關閉'
                        }).then((result) => {
                            if (result.value) {
                                // location.href = "/admin/supply/inventory/"+$('#supplies_id').val();
                                $('#token').attr('action', "/admin/supply/inventory/"+$('#supplies_id').val())
                                $('input[name="_token"]').val(localStorage[tokenName])
                                $('#token').submit();
                            }
                        })
                    }
                },
                error: function (xhr, textStatus, thownError) {
                    swal({
                        title: '發生錯誤',
                        text: xhr.getResponseHeader('error_code'),
                        type: 'error'
                    })
                }
            });
        }
    </script>
{% endblock script %}