{% extends "admin/template.html" %}

{% block style %}
    <link rel="stylesheet" href="{{ url_for('static', filename='backend/vendor/plugins/select2/css/select2.min.css') }}">
{% endblock style %}

{% block content %}

    <section class="content container-fluid">
        <form class="row form-horizontal p10" method="" action="">

            <input type="text" class="hidden" value="{{ id }}">

            <div class="form-group">
                <label for="name" class="col-sm-3 control-label"></label>
                <div class="col-sm-5">
                    <p>* 消耗品無須選擇對應產品(填寫名稱與成本即可)</p>
                </div>
            </div>

            <div class="form-group">
                <label for="name" class="col-sm-3 control-label">庫存名稱</label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" id="name" name="name" {% if update %} value="{{ name }}" {% endif %}>
                </div>
            </div>

             <div class="form-group py-2">
                <label for="as_" class="col-sm-3 control-label">選擇產品</label>
                <div class="col-sm-5">
                    <select class="form-control select2" id="pid">
                        <option value="">選擇產品</option>
                        {% for list in list.products_list %}
                            <option value="{{list.products_id}}"{% if update %}{% if list.products_name == pname %} selected{% endif %}{% endif %}
           {#                  {% for product in product.suppliesList %}
                                {% if product.product_name == list.products_name %}
                                    disabled="true"
                                {% endif %}
                            {% endfor %} #}
                            >{{list.products_name}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label for="cost" class="col-sm-3 control-label">產品成本</label>
                <div class="col-sm-5">
                    <input type="number" class="form-control" id="cost" name="cost" {% if update %} value="{{ cost }}" {% endif %}>
                </div>
            </div>

            <div class="col-xs-8 textCenter">
                <button class="btn btn-primary saveBtn pull-right" onclick="sumitForm();" type="button">{% if update %}儲存{% else %}新增{% endif %}</button>
            </div>

        </form>
    </section>

{% endblock content %}

{% block script %}
    <script src="{{ url_for('static', filename='backend/vendor/plugins/select2/js/select2.full.min.js') }}"></script>
    <script>
        $('.crumb-link a').attr('href', '{{ url_for('supply.List') }}').text('倉庫庫存')
        $('.crumb-trail a').attr('href', '#').text('庫存{% if update %} 編輯 {% else %} 新增 {% endif %}')
        $('.crumb-trail').removeClass('hidden').addClass('active')
        $('a[href="{{ url_for('supply.List') }}"]').parents('li').children('a').addClass('menu-open')

        $('.select2').select2({ width: '100%'})

        function sumitForm() {
            swal({
              title: '資料處理中請稍候',
              onOpen: () => {
                swal.showLoading()
              }
            })
            var id = "{{ id }}"
            console.log(id)
            var token = localStorage.getItem(tokenName);
            var data = '{"_token": "' + token + '","supplies_id":"'+ id +'","products_id":"'+ $('#pid').val() +'","name":"'+ $('#name').val() +'","cost":'+ $('#cost').val() +'}'
            $.ajax({
                url: "{{ url_for('inventoryApi.suppliesCreateOrUpdate') }}",
                type: 'POST',
                data: data,
                datatype: 'json',
                contentType: "application/json",
                success: function (data) {
                    swal({
                        title: '編輯完成',
                        type: 'success',
                        showCancelButton: true,
                        confirmButtonText: '確認',
                        cancelButtonText: '關閉'
                    }).then((result) => {
                        if (result.value) {
                            // location.href = "/admin/supply/list";
                            $('#token').attr('action', "/admin/supply/list")
                            $('input[name="_token"]').val(localStorage[tokenName])
                            $('#token').submit();
                        }
                    })
                },
                error: function (xhr, textStatus, thownError) {
                    swal({
                        title: '發生錯誤',
                        text: xhr.getResponseHeader('error_code'),
                        type: 'error'
                    })
                }
            });
        }
    </script>
{% endblock script %}