<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en"> <!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8"/>
    <title>Diazy</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <meta content="" name="description"/>
    <meta content="" name="author"/>
    <link href="{{ url_for('static', filename='backend/bower_components/bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet"/>
    <!-- <link href="{{ url_for('static', filename='assets/bootstrap/css/dist/css/bootstrap-responsive.min.css') }}" rel="stylesheet"/> -->
    <link href="{{ url_for('static', filename='assets/bootstrap/css/bootstrap-responsive.min.css') }}" rel="stylesheet"/>
    <!-- <link href="{{ url_for('static', filename='assets/font-awesome/css/font-awesome.css') }}" rel="stylesheet"/> -->
    <link href="{{ url_for('static', filename='backend/assets/fonts/font-awesome/font-awesome.css') }}" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='css/style-responsive.css') }}" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='css/style-default.css') }}" rel="stylesheet"/>
</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<body class="error-404">
<div class="error-wrap error-wrap-404">
    <div class="metro big terques">
        <span style="font-size: 50px;"> 請重新登入 </span>
    </div>
    <div class="metro green">
        <span> {{ error.code[0] }} </span>
    </div>
    <div class="metro yellow">
        <span> {{ error.code[1] }} </span>
    </div>
    <div class="metro purple">
        <span> {{ error.code[2] }} </span>
    </div>
    <div class="metro double red">
        <span class="page-txt"> {{ error.str }} </span>
    </div>
    <div class="metro gray">
        <a href="/login" class="home"><i class="icon-home"></i> </a>
    </div>

</div>
</body>
<!-- END BODY -->
</html>