{% extends "templates.html" %}

{% block style %}

{% endblock style %}

{% block title %} - 關於我們{% endblock title %}

{% block content %}
	<div class="banner">
        <img class="subpage" src="/static/{{TenantSetting[2]}}/images/banner/about.png">
    </div>

	<div id="slogan">
		{{ brand['story']  | safe}}
		<!-- <img src="/static/images/slogan.png"> -->
	</div>

	<section id="introduction">
		<div class="box row">
			<div class="col-md-3">
	            <img class="logo" src="/static/{{TenantSetting[2]}}/images/logo.png">
	        </div>
	        <div class="col-md-9">
	        	{{ brand['idea']  | safe}}
	            <!-- <img src="/static/images/introduction.png"> -->
	        </div>
		</div>
	</section>
	
	{% if brand['about']|length > 0 %}
	<div style="padding: 10%; background: #fff;">
		{{ brand['about']  | safe}}
	</div>
	{% endif %}
	
{% endblock content %}

{% block script %}
<script>
	function aboutReload() {
		// body...
	}
</script>
{% endblock script %}
