{% extends "templates.html" %}

{% block style %}
	<style>
		#case, #case .body {
			height: 100% !important
		}
	</style>
{% endblock style %}

{% block title %} - {{TenantSetting[0]}} 案例{% endblock title %}

{% block content %}
    <div class="banner">
        <img class="subpage" src="/static/images/banner/case.png">
    </div>

	<section id="case" style="background-image: unset;">
        <div class="titleBox">
            <span>{{TenantSetting[0]}} 案例</span>
        </div>
        <div class="body">
            <div class="row">
                {% for data in case.experiencesList %}
                     <a href="/case/item/{{data.id}}" data-rel="lightcase" class="caseBox col-md-4 col-sm-6 col-xs-12">
                        <div class="textBox" style="height: 650px;">
                            <div class="img">
                                <img class="callAjax" data-id="{{data.id}}" data-type="2" src="">
                                {# <img src="/static/images/other/case1.png"> #}
                            </div>
                            <div class="header">
                                <div class="title">{{data.product_name}}</div>
                                <div class="date">2018.01.18</div>
                            </div>
                            <div class="content"></div>
                            <div class="full-content hidden">
                                 {{ data.interview | safe }}
                            </div>
                            <div class="more">Read More</div>
                        </div>
                    </a>
                {% endfor %}
                {# <a href="#" class="caseBox col-md-4 col-sm-6 col-xs-12">
                     <div class="textBox">
                        <div class="img">
                            <img src="/static/images/service4.png">
                        </div>
                        <div class="header">
                            <div class="title">店下八</div>
                            <div class="date">2018.01.18</div>
                        </div>
                        <div class="content"></div>
                        <div class="full-content hidden">
                            <p>從高中開始，就經常關注大家的五官。一直為自己的下巴不太滿意，因為下巴短，臉就感覺很員。</p>
                        </div>
                        <div class="more">Read More</div>
                    </div>
                </a> #}
            </div>
        </div>
    </section>
{% endblock content %}

{% block script %}
<script>
    $('#case .textBox').each(function () {
        setMaxWords($(this))
    })

    $('.callAjax').each(function () {
        var $this = $(this)
        var id = $this.data('id')
        var type = $this.data('type')
        $.ajax({
            url: "/admin/product/api/get/image/"+type+"/by/"+id,
            type: 'GET',
            data: '',
            datatype: 'json',
            contentType: "application/json",
            success: function (data) {
                $this.attr('src', 'data:image/jpeg;base64,'+data.image)
            },
            error: function (xhr, ajaxOptions, thownError) {
                alert('error')
            }
        });
    })

    function setMaxWords(box) {
        var rem = 18
        var head = box.children('.header')
        var boxH = box.height()
        var boxW = box.width()
        var headH = head.height()+70
        var imgH = box.children('.img').height()
        var caseX = imgH==0?0:30 // case's more Height
        var content = box.children('.full-content')
        var contentH = boxH - headH - (2*rem) - imgH - caseX
        var contentRow = Math.round(contentH / (rem * 1.5))
        var contentCol = boxW / (rem * 1.2)
        console.log('boxH: '+boxH)
        console.log('headH: '+headH)
        console.log('imgH: '+imgH)
        console.log('contentH: '+(boxH - headH - rem))
        console.log('contentRow: '+contentRow)
        console.log('contentCol: '+contentCol)

        box.children('.content').html('<p>'+box.children('.full-content').text()+'<p>')

        var p = box.find('.full-content p').text().split("")
        var newP = ''
        if (p.length > (contentRow*contentCol-1)) {
            console.log('123')
            for(i = 0; i < contentRow*contentCol-1; i++) {
                newP+=p[i]
            }
            box.find('.content').html('<p>'+newP+'...。</p>')
        }
    }

</script>
{% endblock script %}
