{% extends "templates.html" %}

{% block style %}
	<style>
		#cast, #cast .body {
			height: 100% !important
		}
	</style>
{% endblock style %}

{% block title %} - 團隊介紹{% endblock title %}

{% block content %}
    <div class="banner">
        <img class="subpage" src="/static/{{TenantSetting[2]}}/images/banner/cast.png">
    </div>

	<section id="cast" class="blockBox">
        <div class="titleBox">
            <span>團隊介紹</span>
        </div>
        <div class="body">
            <ul class="nav" id="myTab" role="tablist">
                {% for roles in roles %}
                    {% if roles.id > 1 and roles.id < 6 %}
                     <li class="nav-item">
                        <a class="nav-link{% if loop.index == 2 %} active{% endif %}" id="sub{{roles.id}}-tab" data-toggle="tab" href="#sub{{roles.id}}" role="tab">{{roles.name}}</a>
                    </li>
                    {% endif %}
                {% endfor %}
               {#  <li class="nav-item">
                    <a class="nav-link active" id="sub1-tab" data-toggle="tab" href="#sub1" role="tab">醫師</a>
                </li>#}
            </ul>
            <div class="tab-content" id="myTabContent2">
                {% for roles in roles %}
                    {% if roles.id > 1 and roles.id < 6 %}
                    <div class="tab-pane fade{% if loop.index == 2 %} in active{% endif %}" id="sub{{roles.id}}">
                        <div class="row">
                            {% for data in employee %}
                                {% if data['grade_id'] == roles.id and data['grade_id'] != 9  %}
                                <a href="/cast/item/{{ data.id }}" data-rel="lightcase" class="col-md-3 col-sm-4 col-xs-6 castA">
                                    <div class="castCover">
                                        <img class="castImg" src="data:image/jpeg;base64,{{ data['image'] }}">
                                    </div>
                                    <div class="castName">{{ data.name }}</div>
                                    <div class="castTitle">{% if data['grade_id']==roles['id'] %}{{ roles['name'] }}{% endif %}</div>
                                </a>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                    {% endif %}
                {% endfor %}
            </div>







            
        </div>
    </section>
{% endblock content %}

{% block script %}
<script>
    function castReloadI() {
        $('.castCover').height($('.castA').width()*0.9)
        $('.castCover').width($('.castA').width()*0.9)
    }

</script>
{% endblock script %}
