{% extends "templates.html" %}

{% block style %}

{% endblock style %}

{% block title %}{{TenantSetting[1]}}{% endblock title %}

{% block content %}
    <div class="banner swiper-container">
        <div class="swiper-wrapper">
            {% for slider in sliderList.sliders %}
                {# {% if slider.status == 1 %} #}
                <div class="swiper-slide">
                    <a href="{{slider.description}}"><img src="data:image/jpeg;base64,{{ slider.image }}"></a>
                </div>
                {# {% endif %} #}
            {% endfor %}
           {#  <div class="swiper-slide">
                <img src="/static/images/banner.png">
            </div> #}
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
        {# <!-- Add Arrows -->
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div> #}
    </div>

    <section id="news">
        <div class="newsBg"></div>
        <div class="titleBox">
            <span>最新消息</span>
        </div>
        <div class="newsBox">
            <div class="newsBoxBg"></div>
            <div class="body">
                {% for news in news %}
                    <div class="item{% if loop.index > 3 %} hidden{% endif %}" href="#newsModal" role="button" data-toggle="modal">
                        <h3 class="no">0{{ loop.index }}</h3>
                        <div class="textBox">
                            <h3>{{news.title}}</h3>
                            <div class="content"></div>
                            <div class="full-content hidden">
                                 {{news.content|safe}}
                            </div>
                        </div>
                    </div>
                {% endfor %}

                <div class="clean"></div>
            </div>
        </div>
        <div class="moreBox">
            <a class="moreBtn"  href="/newsList" data-rel="lightcaseNews">More</a>
        </div>
    </section>

    <section id="service" class="blockBox">
        <div class="titleBox">
            <span>服務項目</span>
        </div>
        <div class="body row">
            {% for data in service.products_list %}
                {% if loop.index0 < 8 %}
                <div class="item col-lg-3 col-md-4 col-sm-6">
                    <a href="/service/item/{{data.products_id}}" data-rel="lightcase">
                        <div class="cover"></div>
                        <img class="callAjax" data-id="{{data.products_id}}" data-type="1" src="">
                    </a>
                </div>
                {% endif %}
            {% endfor %}
        </div>
        <div class="moreBox">
            <a class="moreBtn"  href="/service">More</a>
        </div>
    </section>

    <section id="product" class="blockBox">
        <div class="titleBox">
            <span>主打產品</span>
        </div>
        <div class="body row">
            {% for data in product.products_list %}
                {% if loop.index0 < 2 %}
                <div class="item col-lg-3 col-md-4 col-sm-6">
                    <a href="/product/item/{{data.products_id}}" data-rel="lightcase">
                        <div class="cover"></div>
                        <img class="callAjax" data-id="{{data.products_id}}" data-type="1" src="">
                        <div class="title">
                            {{data.products_name}}
                        </div>
                    </a>
                </div>
                {% endif %}
            {% endfor %}
            {% for data in assemble.products_list %}
                {% if loop.index0 < 2 %}
                <div class="item col-lg-3 col-md-4 col-sm-6">
                    <a href="/product/item/{{data.products_id}}" data-rel="lightcase">
                        <div class="cover"></div>
                        <img class="callAjax" data-id="{{data.products_id}}" data-type="1" src="">
                        <div class="title">
                            {{data.products_name}}
                        </div>
                    </a>
                </div>
                {% endif %}
            {% endfor %}
        </div>
        <div class="moreBox">
            <a class="moreBtn"  href="/product">More</a>
        </div>
    </section>

    {# <section id="case">
        <div class="titleBox">
            <span>{{TenantSetting[2]}} 案例</span>
        </div>
        <div class="body">
            <div class="swiper-wrapper">
                {% for data in case.experiencesList %}
                    <div class="swiper-slide">
                        <div class="textBox">
                            <div class="img">
                                <img class="callAjax" data-id="{{data.id}}" data-type="2" src="">
                            </div>
                            <div class="header">
                                <div class="title">{{data.product_name}}</div>
                                <div class="date">2018.01.18</div>
                            </div>
                            <div class="content"></div>
                            <div class="full-content hidden">
                                 {{ data.interview | safe }}
                            </div>
                            <a href="/case/item/{{data.id}}" data-rel="lightcase" class="more">Read More</a>
                        </div>
                    </div>
                {% endfor %}
               
            </div>
            <!-- Add Arrows -->
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </div>
        <a class="moreBtn" style="color: white;border-color: white;z-index: 11" href="case">More</a>
    </section> #}

    <section id="knows" class="blockBox">
        <div class="titleBox">
            <span>新知分享</span>
        </div>
        <div class="body row">
            {% for data in shares %}
                {% if loop.index0 < 6 %}
                <div class="item col-md-4 col-sm-6">
                    <a class="knowsBox" href="#newsModal" role="button" data-toggle="modal">
                        <div class="cover"></div>
                        <img src="">
                        <div class="textBox">
                            <div class="header">
                                <div class="title">[{{data.title|safe}}]</div>
                                {# <div class="date">{{data.date|safe}}</div> #}
                                <div class="titleBg"></div>
                            </div>
                            <div class="full-content hidden">
                                <p>{{data.content|safe}}</p>
                            </div>
                        </div>
                    </a>
                </div>
                {% endif %}
            {% endfor %}
        </div>
        <div class="moreBox">
            <a class="moreBtn"  href="/knows">More</a>
        </div>
    </section>

    <div id="cast">
        <div class="titleBox">
            <span>團隊介紹</span>
        </div>
        <div class="body">
            <div class="swiper-wrapper">
                {% for data in employee %}
                    {% if data['grade_id'] != 1 and data['grade_id'] != 9 %}
                    <a href="/cast/item/{{ data.id }}" data-rel="lightcase" class="swiper-slide castA">
                        <div class="castCover">
                            <img class="castImg" src="data:image/jpeg;base64,{{ data['image'] }}">
                        </div>
                        <div class="castName">{{ data.name }}</div>
                        <div class="castTitle">{% for role in roles %} {% if data['grade_id']==role['id'] %}{{ role['name'] }}{% endif %}{% endfor %}</div>
                    </a>
                    {% endif %}
                {% endfor %}
            </div>
            <!-- Add Pagination -->
            <div class="swiper-pagination"></div>
        </div>
        <a class="moreBtn" href="cast" style="position: absolute; left: 2rem; top: 2rem;">More</a>
    </div>


    <section id="contact">
        <div class="titleBox">
            <span>線上諮詢</span>
        </div>
        <form id="faq" class="body row" action="" method="post" onsubmit="return mySubmitFunction()">
            <div class="col-sm-6 gapLine">
                <div class="form-group">
                    <label for="userName"><span>◆</span>姓名</label>
                    <input type="text" class="form-control" id="userName" name="userName" required>
                </div>
                <div class="col-xs-6 p-0">
                    <div class="form-group">
                        <label for="birth"><span>◆</span>生日</label>
                        <input type="text" class="form-control" id="birth" name="birth" required>
                    </div>
                </div>
                <div class="col-xs-6 p-0">
                    <div class="form-group">
                        <label for="phone"><span>◆</span>性別</label>
                        <div class="col form-check form-check-inline">
                            <label class="form-check-label">
                                <input class="form-check-input" type="radio" name="userGender" value="0" hidden checked>
                                <div class="circle radios d-inline-block">
                                    <div class="circle radiosCheck bgBlack"></div>
                                </div>
                                女性
                            </label>
                        </div>
                        <div class="col form-check form-check-inline">
                            <label class="form-check-label">
                                <input class="form-check-input" type="radio" name="userGender" value="1" hidden>
                                <div class="circle radios d-inline-block">
                                    <div class="circle bgBlack"></div>
                                </div>
                                男性
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12"></div>
                <div class="col-xs-6 p-0">
                    <div class="form-group">
                        <label for="tel"><span>◆</span>電話</label>
                        <input type="text" class="form-control" id="tel" name="tel" required>
                    </div>
                </div>
                <div class="col-xs-6 p-0">
                    <div class="form-group">
                        <label for="phone"><span>◆</span>行動電話</label>
                        <input type="text" class="form-control" id="phone" name="phone" required>
                    </div>
                </div>
                <div class="col-xs-12 p-0">
                    <div class="form-group">
                        <label for="email"><span>◆</span>E-mail</label>
                        <input type="email" class="form-control" id="email" name="email" required>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="askType"><span>◆</span>諮詢類別</label>
                    <div class="col form-check">
                        <label class="form-check-label blackText">
                            <input class="form-check-input" type="radio" name="askType" value="product" hidden checked>
                            <div class="circle radios d-inline-block">
                                <div class="circle radiosCheck bgBlack"></div>
                            </div>
                            產品訂購
                        </label>
                    </div>
                    <div class="col form-check">
                        <label class="form-check-label blackText">
                            <input class="form-check-input" type="radio" name="askType" value="reservation" hidden>
                            <div class="circle radios d-inline-block">
                                <div class="circle bgBlack"></div>
                            </div>
                            預約諮詢
                        </label>
                    </div>
                </div>
                <div class="form-group" style="padding-top: 20px;">
                    <label class="blackText" for="description"><span>◆</span>需求描述</label>
                    <textarea class="form-control" id="description" name="description" width="100%" rows="6" required></textarea>
                </div>
            </div>
            <div class="col-sm-12">
                <button class="btn btnRed contactSumit" type="submit">送出</button>
            </div>
        </form>
    </section>

    <section id="lineContact">
        <div class="titleBox">
            <span>打造客戶個人化服務體驗</span>
            <small>線上專業LINE諮詢</small>
            <img class="lineLogo" src="/static/{{TenantSetting[2]}}/images/lineLogo.png">
        </div>
        <img class="lineQRcode" src="/static/{{TenantSetting[2]}}/images/lineQRcode.png">
    </section>

    

    

    {% include 'extend/newsModal.html' %}
{% endblock content %}

{% block script %}
<script>
    // banner
    if ($(".swiper-container").find('.swiper-slide').length != 1) {
        var swiper = new Swiper('.swiper-container', {
            slidesPerView: 1,
            spaceBetween: 30,
            loop: true,
            autoplay: {
                delay: 7000,
                disableOnInteraction: false,
            },
            pagination: {
                el: '.swiper-pagination',
                clickable: true,
            },
        });
    }

    $('a[data-rel=lightcaseNews]').lightcase({
        onStart : {
            corge: function() {
                if (windowWidth > 576) {
                    $('html').css('overflow-y', 'hidden')
                    $('html body').css('margin-right', 0)
                } else { $('html').css('overflow-y', 'hidden') }
                $('.lightcase-open').css('overflow-y', 'hidden')
            }
        },
        onFinish: {
            finish: function () {
                if (windowWidth <= 576) {
                    $('#lightcase-content iframe').css({
                        'background-color': '#eee',
                        'height': '100vh',
                        'width': '100vw'
                    })
                    $('.lightcase-icon-close').css({
                        'right': '2vw',
                        'top': '2vh'
                    })
                }
                else {
                    $('#lightcase-content iframe').css({
                        'background-color': '#eee',
                        'height': '80vh',
                        'width': '80vw',
                        'position': 'absolute',
                        'top': '50%',
                        'left': '50%',
                        'transform': 'translateX(-50%)translateY(-50%)'
                    })
                    $('.lightcase-icon-close').css({
                        'right': '12vw',
                        'top': '12vh'
                    })
                }
            }
        },
        onClose: {
            grault: function() {
                setTimeout(function () {
                    if (windowWidth > 576) {
                        $('html').css('overflow-y', 'auto')
                        $('html body').css('margin-right', '-15px')
                    } else { $('html').css('overflow-y', 'auto') }
                },500)
            }
        }
    });

    // news
    $('.newsBox .item').click(function () {
        var textBox = $(this).find('.textBox')
        var title = textBox.children('h3').html()
        var text = textBox.children('.full-content').html()
        $('#newsModal').on('show.bs.modal', function () {
            $('#newsModal .modal-title').html(title)
            $('#newsModal .modal-body').html(text)
        })
    })
    // knows
    $('.knowsBox').click(function () {
        var textBox = $(this).find('.textBox')
        var title = textBox.find('.title').html()
        var text = textBox.find('.full-content').html()
        $('#newsModal').on('show.bs.modal', function () {
            $('#newsModal .modal-title').html(title)
            $('#newsModal .modal-body').html(text)
        })
    })

    var $body = (window.opera) ? (document.compatMode == "CSS1Compat" ? $('html') : $('body')) : $('html,body'); 
    $('.menu a').on('click', function() {
      var href = $(this).attr('href')
      var wh = $(href).offset()
      
      $body.animate({ 
        scrollTop: wh.top-60
      }, 1000); 
      if (windowWidth <= 992) {
        $('.menuMobile').trigger('click')
      }
      return false; 
    })

    var menuTitle = ['news','product','service','knows']; //,'cast','case'
    var menuTop = []
    var menuPos = 10

    $(window).scroll(function () {
        menuPos = 10
        var scrollVal = $(this).scrollTop();
        for (var i = 0; i < menuTitle.length; i++) {
            if (scrollVal > menuTop[i] ) {
                menuPos = i
            }
        }
        $('.menuList ul li').removeClass('active')
        $('a[data-id="'+menuTitle[menuPos]+'"]').parent().addClass('active')
    })

    // call this function in translates.html
    function indexReload() {
        var $w = $(window).width()
        var $h = $(window).height()
            // console.log('out')
        // // product service knows
        // if ($w < ($h*1.3) || $h < 500) {
        //     // console.log('in')
        //     $('.blockBox .item a .cover').css({'left': '50%','right': 'unset','transform': 'translateX(-50%)'})
        //     $('.blockBox').css({'height': 'unset',})
        //     $('.blockBox .item').css({'width': '100%','height': 'unset','float': 'unset'})
        //     $('.blockBox .item img').css({'display': 'block','margin': 'auto','max-width': '90vw','height': 'auto'})
        //     $('.blockBox .body').css({'padding': 'unset'})

        //     // $('#service').css({'height': 'unset',})
        //     // $('#service .item').css({'width': '100%','height': 'unset','float': 'unset'})
        //     // $('#service .item img').css({'display': 'block','margin': 'auto','max-width': '90vw','height': 'auto'})
        //     // $('#service .body').css({'padding': 'unset'})

        //     // $('#knows').css({'height': 'unset',})
        //     // $('#knows .item').css({'width': '100%','height': 'unset','float': 'unset'})
        //     // $('#knows .item img').css({'display': 'block','margin': 'auto','max-width': '90vw','height': 'auto'})
        //     // $('#knows .body').css({'padding': 'unset'})

        //     // var imgW = $('#knows .item:first-of-type img').width()
        //     // $('#knows .textBox').css({'left': 'calc(50vw + 7px)','right': 'unset','margin-left': imgW/(-2)-7,'width': imgW})
        // }
        // else {
        //     $('.blockBox .item a .cover').css({'transform': 'unset'})
        //     $('.blockBox').css({'height': '100vh',})
        //     $('.blockBox .item').css({'width': '50%','height': '50%','position': 'relative','float': 'left'})
        //     $('.blockBox .item img').css({'display': 'block','margin': 'unset','max-width': '50vw','height': '100%'})
        //     $('.blockBox .item.left .cover').css({'right': '1.5vh','left': 'unset'})
        //     $('.blockBox .item.right .cover').css({'left': '1.5vh','right': 'unset'})
        //     $('.blockBox .body').css({'padding': '0 20px'})

        //     // $('#service').css({'height': '100vh',})
        //     // $('#service .item').css({'width': '50%','height': '50%','float': 'left'})
        //     // $('#service .item img').css({'display': 'block','margin': 'unset','max-width': '50vw','height': '100%'})
        //     // $('#service .body').css({'padding': '0 20px'})

        //     // $('#knows').css({'height': '100vh',})
        //     // $('#knows .item').css({'width': '50%','height': '50%','float': 'left'})
        //     // $('#knows .item img').css({'display': 'block','margin': 'unset','max-width': '50vw','height': '100%'})
        //     // $('#knows .body').css({'padding': '0 20px'})

        //     // var imgW = $('#knows .item:first-of-type img').width()
        //     // $('#knows .textBox').css({'position': 'absolute','margin-left': 'unset','width': imgW})
        //     // $('#knows .item.left .textBox').css({'right': 'calc(1.5vh + 7px)'})
        //     // $('#knows .item.right .textBox').css({'left': 'calc(1.5vh + 7px)'})
        // }

        // var productImgH = $('#product .item:first-of-type img').height()
        // var productImgW = $('#product .item:first-of-type img').width()
        // $('#product .item .cover').height(productImgH).width(productImgW)
        // // var serviceImgH = $('#service .item:first-of-type img').height()
        // // var serviceImgW = $('#service .item:first-of-type img').width()
        // // $('#service .item .cover').height(serviceImgH).width(serviceImgW)
        // var knowsImgH = $('#knows .item:first-of-type img').height()
        // var knowsImgW = $('#knows .item:first-of-type img').width()
        // $('#knows .item .cover').height(knowsImgH+14).width(knowsImgW+14)
        // setTimeout(function () {
        //     var productImgH = $('#product .item:first-of-type img').height()
        //     var productImgW = $('#product .item:first-of-type img').width()
        //     $('#product .item .cover').height(productImgH).width(productImgW)
        //     // var serviceImgH = $('#service .item:first-of-type img').height()
        //     // var serviceImgW = $('#service .item:first-of-type img').width()
        //     // $('#service .item .cover').height(serviceImgH).width(serviceImgW)
        //     var knowsImgH = $('#knows .item:first-of-type img').height()
        //     var knowsImgW = $('#knows .item:first-of-type img').width()
        //     $('#knows .item .cover').height(knowsImgH+14).width(knowsImgW+14)
        // },3000)
        // setTimeout(function () {
        //     var productImgH = $('#product .item:first-of-type img').height()
        //     var productImgW = $('#product .item:first-of-type img').width()
        //     $('#product .item .cover').height(productImgH).width(productImgW)
        //     // var serviceImgH = $('#service .item:first-of-type img').height()
        //     // var serviceImgW = $('#service .item:first-of-type img').width()
        //     // $('#service .item .cover').height(serviceImgH).width(serviceImgW)
        //     var knowsImgH = $('#knows .item:first-of-type img').height()
        //     var knowsImgW = $('#knows .item:first-of-type img').width()
        //     $('#knows .item .cover').height(knowsImgH+14).width(knowsImgW+14)
        // },10000)

        setNewsMaxWords()
        // $('#knows .textBox').each(function () {
        //     setMaxWords($(this))
        // })
        $('#case .textBox').each(function () {
            setMaxWords($(this))
        })

        if ($w > 1280) {
            var swiper = new Swiper('#cast .body', {
                slidesPerView: 4,
                spaceBetween: 30,
                slidesPerGroup: 4,
                loop: true,
                autoplay: {
                    delay: 5000,
                    disableOnInteraction: false,
                },
                pagination: {
                    el: '.swiper-pagination',
                    clickable: true,
                },
            });
            var swiper = new Swiper('#case .body', {
                slidesPerView: 3,
                spaceBetween: 30,
                loop: true,
                autoplay: {
                    delay: 5500,
                    disableOnInteraction: false,
                },
                navigation: {
                    nextEl: '.swiper-button-next',
                    prevEl: '.swiper-button-prev',
                },
            });
        }
        else if ($w > 576) {
            var swiper = new Swiper('#cast .body', {
                slidesPerView: 3,
                spaceBetween: 30,
                slidesPerGroup: 3,
                loop: true,
                autoplay: {
                    delay: 5000,
                    disableOnInteraction: false,
                },
                pagination: {
                    el: '.swiper-pagination',
                    clickable: true,
                },
            });
            var swiper = new Swiper('#case .body', {
                slidesPerView: 2,
                spaceBetween: 30,
                loop: true,
                autoplay: {
                    delay: 5500,
                    disableOnInteraction: false,
                },
                navigation: {
                    nextEl: '.swiper-button-next',
                    prevEl: '.swiper-button-prev',
                },
            });
            $('#case .body .swiper-wrapper').css('margin-left', 'calc(-25vw + 20px)')
        }
        else {
            var swiper = new Swiper('#cast .body', {
                slidesPerView: 2,
                spaceBetween: 30,
                slidesPerGroup: 2,
                loop: true,
                autoplay: {
                    delay: 5000,
                    disableOnInteraction: false,
                },
                pagination: {
                    el: '.swiper-pagination',
                    clickable: true,
                },
            });
            var swiper = new Swiper('#case .body', {
                slidesPerView: 1,
                spaceBetween: 30,
                loop: true,
                autoplay: {
                    delay: 5500,
                    disableOnInteraction: false,
                },
                navigation: {
                    nextEl: '.swiper-button-next',
                    prevEl: '.swiper-button-prev',
                },
            });
        }

        for (var i = 0; i < menuTitle.length; i++) {
            menuTop.push($('#'+menuTitle[i]).offset().top-250)
        }

        $('.castCover').height($('.castA').width()*0.9)
        $('.castCover').width($('.castA').width()*0.9)

    } // end reload

    var rem = 18
    // news check max words
    function setNewsMaxWords() {
        var newsBox = $('.newsBox')
        var newsBoxH = newsBox.height()
        var headH = newsBox.find('.titleBox').height()
        var bodyH = newsBoxH - headH - 12 - 2*rem - newsBox.width()*0.03
        // console.log('newsBoxH: '+newsBoxH)
        // console.log('headH: '+headH)
        // console.log('bodyH: '+bodyH)
        var newsW = newsBox.find('.content').width()
        newsBoxH = 0
        newsBox.find('.textBox').each(function () {
            var newsH = parseInt(bodyH/3)-$(this).children('h3').height()-60-5 // 60 = padding
            var contentRow = Math.round(newsH / (rem * 1.5))
            var contentCol = newsW / (rem * 1.2)
            $(this).find('.content').height(newsH)
            // console.log('newsH: '+newsH)
            // console.log('newsW: '+newsW)
            // console.log('contentRow: '+contentRow)
            // console.log('contentCol: '+contentCol)

            $(this).children('.content').html('<p>'+$(this).children('.full-content').text()+'<p>')

            var p = $(this).find('.full-content p').text().split("")
            var newP = ''
            if (p.length > (contentRow*contentCol-1)) {
                for(i = 0; i < contentRow*contentCol-1; i++) {
                    newP+=p[i]
                }
                if (newP.length < 1) {
                    $(this).find('.content').html('')
                }
                else {
                    $(this).find('.content').html('<p>'+newP+'...。</p>')
                }
            }
        })
        newsBox.height(newsBox.find('.body').height()+60+36+24+newsBox.width()*0.03)
    }
    // know check max words
    function setMaxWords(box) {
        var head = box.children('.header')
        var boxH = box.height()
        var boxW = box.width()
        var headH = head.height()
        var imgH = box.children('.img').height()>0?box.children('.img').height():0
        var caseX = imgH==0?0:30 // case's more Height
        var content = box.children('.full-content')
        var contentH = boxH - headH - (2*rem) - imgH - caseX
        var contentRow = Math.round(contentH / (rem * 1.5))
        var contentCol = boxW / (rem * 1.2)

        box.children('.content').html('<p>'+box.children('.full-content').text()+'<p>')

        var p = box.find('.full-content p').text().split("")
        var newP = ''
        if (p.length > (contentRow*contentCol-1)) {
            for(i = 0; i < contentRow*contentCol-1; i++) {
                newP+=p[i]
            }
            if (newP.length < 1) {
                box.find('.content').html('')
            }
            else {
                box.find('.content').html('<p>'+newP+'...。</p>')
            }
        }
    }
    $('.callAjax').each(function () {
        var $this = $(this)
        var id = $this.data('id')
        var type = $this.data('type')
        $.ajax({
            url: "/admin/product/api/get/image/"+type+"/by/"+id,
            type: 'GET',
            data: '',
            datatype: 'json',
            contentType: "application/json",
            success: function (data) {
                $this.attr('src', 'data:image/jpeg;base64,'+data.image)
            },
            error: function (xhr, ajaxOptions, thownError) {
                // alert('error')
            }
        });
    })

    $('#knows .textBox').each(function () {
        getImg($(this))
    })

    function getImg(box) {
       var img = box.find('.full-content').find('img').eq(0).attr('src')
       box.prev().attr('src', img)
    }

</script>
{% endblock script %}