{% extends "templates.html" %}

{% block style %}
	<style>
		#knows, #knows .body {
			height: 100% !important
		}
	</style>
{% endblock style %}

{% block title %} - 新知分享{% endblock title %}

{% block content %}
    <div class="banner">
        <img class="subpage" src="/static/{{TenantSetting[2]}}/images/banner/knows.png">
    </div>

	<section id="knows" class="blockBox">
        <div class="titleBox">
            <span>新知分享</span>
        </div>
        <div class="body row">
            {% for data in shares %}
                <div class="item col-md-4 col-sm-6">
                    <a class="knowsBox" href="#newsModal" role="button" data-toggle="modal">
                        <div class="cover"></div>
                        <img src="/static/images/service{{loop.index}}.png">
                        <div class="textBox">
                            <div class="header">
                                <div class="title">[{{data.title|safe}}]</div>
                                {# <div class="date">{{data.date|safe}}</div> #}
                                <div class="titleBg"></div>
                            </div>
                            {# <div class="content"></div> #}
                            <div class="full-content hidden">
                                <p>{{data.content|safe}}</p>
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
            <div class="clean"></div>
        </div>
    </section>

    {% include 'extend/newsModal.html' %}
{% endblock content %}

{% block script %}
<script>
 // knows
    $('.knowsBox').click(function () {
        var textBox = $(this).find('.textBox')
        var title = textBox.find('.title').html()
        var text = textBox.find('.full-content').html()
        $('#newsModal').on('show.bs.modal', function () {
            $('#newsModal .modal-title').html(title)
            $('#newsModal .modal-body').html(text)
        })
    })

	// call this function in translates.html
    function knowsReload() {
        var $w = $(window).width()
        var $h = $(window).height()
        // knows service knows
        // if ($w < ($h*1.3) || $h < 500) {
        //     $('.blockBox .item a .cover').css({
        //         'left': '50%',
        //         'right': 'unset',
        //         'transform': 'translateX(-50%)'
        //     })
        //     $('#knows').css({
        //         'height': 'unset',
        //     })
        //     $('#knows .item').css({
        //         'width': '100%',
        //         'height': 'unset',
        //         'max-height': 'unset',
        //         'float': 'unset'
        //     })
        //     $('#knows .item img').css({
        //         'display': 'block',
        //         'margin': 'auto',
        //         'max-width': '90vw',
        //         'height': 'auto'
        //     })
        //     $('#knows .body').css({
        //         'padding': 'unset'
        //     })

        //     var imgW = $('#knows .item:first-of-type img').width()
        //     $('#knows .textBox').css({
        //         'left': 'calc(50vw + 7px)',
        //         'right': 'unset',
        //         'margin-left': imgW/(-2)-7,
        //         'width': imgW
        //     })
        // }
        // else {
        //     $('.blockBox .item a .cover').css({
        //         'transform': 'unset'
        //     })
        //     $('#knows').css({
        //         'height': '100vh',
        //     })
        //     $('#knows .item').css({
        //         'width': '50%',
        //         'height': '42vh',
        //         'max-height': '28vw',
        //         'float': 'left'
        //     })
        //     $('#knows .item img').css({
        //         'display': 'block',
        //         'margin': 'unset',
        //         'max-width': '50vw',
        //         'height': '100%'
        //     })
        //     $('#knows .body').css({
        //         'padding': '0 20px'
        //     })

        //     var imgW = $('#knows .item:first-of-type img').width()
        //     $('#knows .textBox').css({
        //         'position': 'absolute',
        //         'margin-left': 'unset',
        //         'width': imgW
        //     })
        //     $('#knows .item.left .textBox').css({
        //         'right': 'calc(1.5vh + 7px)'
        //     })
        //     $('#knows .item.right .textBox').css({
        //         'left': 'calc(1.5vh + 7px)'
        //     })
        //     $('.blockBox .item.left .cover').css({'right': '1.5vh','left': 'unset'})
        //     $('.blockBox .item.right .cover').css({'left': '1.5vh','right': 'unset'})
        //     $('.blockBox .body').css({
        //         'padding': '0 20px'
        //     })
        // }

        //  // know img cover
        // var knowImgH = $('.blockBox .item:first-of-type img').height()
        // var knowImgW = $('.blockBox .item:first-of-type img').width()
        // $('.blockBox .item .cover').height(knowImgH+14).width(knowImgW+14)
        // setTimeout(function () {
        //     var knowImgH = $('.blockBox .item:first-of-type img').height()
        //     var knowImgW = $('.blockBox .item:first-of-type img').width()
        //     $('.blockBox .item .cover').height(knowImgH+14).width(knowImgW+14)
        // },1000)
        // setTimeout(function () {
        //     var knowImgH = $('.blockBox .item:first-of-type img').height()
        //     var knowImgW = $('.blockBox .item:first-of-type img').width()
        //     $('.blockBox .item .cover').height(knowImgH+14).width(knowImgW+14)
        // },3000)

        $('#knows .textBox').each(function () {
            getImg($(this))
        })

        function getImg(box) {
           var img = box.find('.full-content').find('img').eq(0).attr('src')
           box.prev().attr('src', img)
        }
       
    } // end reload
</script>
{% endblock script %}
