{% extends "templates.html" %}

{% block style %}
	<style>
		#product, #product .body {
			height: 100% !important
		}
	</style>
{% endblock style %}

{% block title %} - 主打商品{% endblock title %}

{% block content %}
    <div class="banner">
        <img class="subpage" src="/static/{{TenantSetting[2]}}/images/banner/product.png">
    </div>

	<section id="product" class="blockBox">
        <div class="titleBox">
            <span>主打商品</span>
        </div>
        <div class="body">
            <ul class="nav" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="sub1-tab" data-toggle="tab" href="#sub1" role="tab">單品特賣</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="sub2-tab" data-toggle="tab" href="#sub2" role="tab">組合優惠</a>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent2">
                <div class="tab-pane fade row in active" id="sub1">
                    {% for data in product.products_list %}
                        <div class="item col-lg-3 col-md-4 col-sm-6">
                            <a href="/product/item/{{data.products_id}}" data-rel="lightcase">
                                <div class="cover"></div>
                                <img class="callAjax" data-id="{{data.products_id}}" data-type="1" src="">
                                <div class="title">
                                    {{data.products_name}}
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                </div>
                <div class="tab-pane fade row" id="sub2">
                    {% for data in assemble.products_list %}
                        <div class="item col-lg-3 col-md-4 col-sm-6">
                            <a href="/product/item/{{data.products_id}}" data-rel="lightcase">
                                <div class="cover"></div>
                                <img class="callAjax" data-id="{{data.products_id}}" data-type="1" src="">
                                <div class="title">
                                    {{data.products_name}}
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>

                    
            {# <div class="item left">
                <a href="/product/item" data-rel="lightcase">
                    <div class="cover"></div>
                    <img src="/static/images/service1.png">
                </a>
            </div>
            <div class="item right">
                <a href="#">
                    <div class="cover"></div>
                    <img src="/static/images/service2.png">
                </a>
            </div>
            <div class="item left">
                <a href="#">
                    <div class="cover"></div>
                    <img src="/static/images/service3.png">
                </a>
            </div>
            <div class="item right">
                <a href="#">
                    <div class="cover"></div>
                    <img src="/static/images/service4.png">
                </a>
            </div>
            <div class="item left">
                <a href="#">
                    <div class="cover"></div>
                    <img src="/static/images/service1.png">
                </a>
            </div>
            <div class="item right">
                <a href="#">
                    <div class="cover"></div>
                    <img src="/static/images/service2.png">
                </a>
            </div>
            <div class="item left">
                <a href="#">
                    <div class="cover"></div>
                    <img src="/static/images/service3.png">
                </a>
            </div>
            <div class="item right">
                <a href="#">
                    <div class="cover"></div>
                    <img src="/static/images/service4.png">
                </a>
            </div> #}
            <div class="clean"></div>
        </div>
    </section>
{% endblock content %}

{% block script %}
<script>
	// call this function in translates.html
    function productReload() {
        var $w = $(window).width()
        var $h = $(window).height()
        // product service knows
        // if ($w < ($h*1.3) || $h < 500) {
        //     $('.blockBox .item a .cover').css({
        //         'left': '50%',
        //         'right': 'unset',
        //         'transform': 'translateX(-50%)'
        //     })
        //     $('.blockBox').css({
        //         'height': 'unset',
        //     })
        //     $('.blockBox .item').css({
        //         'width': '100%',
        //         'height': 'unset',
        //         'float': 'unset'
        //     })
        //     $('.blockBox .item img').css({
        //         'display': 'block',
        //         'margin': 'auto',
        //         'max-width': '90vw',
        //         'height': 'auto'
        //     })
        //     $('.blockBox .body').css({
        //         'padding': 'unset'
        //     })
        // }
        // else {
        //     $('.blockBox .item a .cover').css({
        //         'transform': 'unset'
        //     })
        //     $('.blockBox').css({
        //         'height': '100vh',
        //     })
        //     $('.blockBox .item').css({
        //         'width': '50%',
        //         'height': '45vh', // diffrent
        //         'position': 'relative',
        //         'float': 'left'
        //     })
        //     $('.blockBox .item img').css({
        //         'display': 'block',
        //         'margin': 'unset',
        //         'max-width': '50vw',
        //         'height': '100%'
        //     })
        //     $('.blockBox .item.left .cover').css({'right': '1.5vh','left': 'unset'})
        //     $('.blockBox .item.right .cover').css({'left': '1.5vh','right': 'unset'})
        //     $('.blockBox .body').css({
        //         'padding': '0 20px'
        //     })
        // }

        // // product img cover
        // var productImgH = $('.blockBox .item:first-of-type img').height()
        // var productImgW = $('.blockBox .item:first-of-type img').width()
        // $('.blockBox .item .cover').height(productImgH).width(productImgW)
        // setTimeout(function () {
        //     var productImgH = $('.blockBox .item:first-of-type img').height()
        //     var productImgW = $('.blockBox .item:first-of-type img').width()
        //     $('.blockBox .item .cover').height(productImgH).width(productImgW)
        // },2000)
        // setTimeout(function () {
        //     var productImgH = $('.blockBox .item:first-of-type img').height()
        //     var productImgW = $('.blockBox .item:first-of-type img').width()
        //     $('.blockBox .item .cover').height(productImgH).width(productImgW)
        // },5000)
    } // end reload

    $('.callAjax').each(function () {
        var $this = $(this)
        var id = $this.data('id')
        var type = $this.data('type')
        console.log(type)
        $.ajax({
            url: "/admin/product/api/get/image/"+type+"/by/"+id,
            type: 'GET',
            data: '',
            datatype: 'json',
            contentType: "application/json",
            success: function (data) {
                $this.attr('src', 'data:image/jpeg;base64,'+data.image)
            },
            error: function (xhr, ajaxOptions, thownError) {
                // alert('error')
            }
        });
    })
</script>
{% endblock script %}
