{% extends "templates.html" %}

{% block style %}
	<style>
		#service, #service .body {
			height: 100% !important
		}
	</style>
{% endblock style %}

{% block title %} - 服務項目{% endblock title %}

{% block content %}
    <div class="banner">
        <img class="subpage" src="/static/{{TenantSetting[2]}}/images/banner/service.png">
    </div>

	<section id="service" class="blockBox">
        <div class="titleBox">
            <span>服務項目</span>
        </div>
        <div class="body">
            <ul class="nav" id="myTab" role="tablist">
                {% for data in type.productCategoriesList %}
                    {% if data.id > 2 %}
                    <li class="nav-item">
                        <a class="nav-link{% if loop.index == 1 %} active{% endif %}" id="sub{{data.id}}-tab" data-toggle="tab" href="#sub{{data.id}}" role="tab">{{data.name}}</a>
                    </li>
                    {% endif %}
                {% endfor %}
            </ul>
            <div class="tab-content" id="myTabContent2">
                {% for data in type.productCategoriesList %}
                    {% if data.id > 2 %}
                    <div class="tab-pane fade serviceBox row{% if loop.index == 1 %} in active{% endif %}" id="sub{{data.id}}">
                        {% for service in service.products_list %}
                            {% if data.id == service.categories_id %}
                                <div class="item col-lg-3 col-md-4 col-sm-6">
                                    <a href="/service/item/{{service.products_id}}" data-rel="lightcase">
                                        <div class="cover"></div>
                                        <img class="callAjax" data-id="{{service.products_id}}" data-type="1" src="">
                                    </a>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock content %}

{% block script %}
<script>
    // $('.nav-link').click(function () {
    //     var id = $(this).attr('href')
    //     var H = $(id).children('.item:first-child').height()
    //     var L = Math.ceil($(id).children('.item').length/2)
    //     $(id).height(H*L)
    // })
    function serviceReload() {
        var $w = $(window).width()
        var $h = $(window).height()
        // if ($w < ($h*1.3) || $h < 500) {
        //     $('.blockBox .item a .cover').css({
        //         'left': '50%',
        //         'right': 'unset',
        //         'transform': 'translateX(-50%)'
        //     })
        //     $('.blockBox').css({
        //         'height': 'unset',
        //     })
        //     $('.blockBox .item').css({
        //         'width': '100%',
        //         'height': 'unset',
        //         'float': 'unset'
        //     })
        //     $('.blockBox .item img').css({
        //         'display': 'block',
        //         'margin': 'auto',
        //         'max-width': '90vw',
        //         'height': 'auto'
        //     })
        //     $('.blockBox .body').css({
        //         'padding': 'unset'
        //     })
        // }
        // else {
        //     $('.blockBox .item a .cover').css({
        //         'transform': 'unset'
        //     })
        //     $('.blockBox').css({
        //         'height': '100vh',
        //     })
        //     $('.blockBox .item').css({
        //         'width': '50%',
        //         'height': '45vh', // diffrent
        //         'position': 'relative',
        //         'float': 'left'
        //     })
        //     $('.blockBox .item img').css({
        //         'display': 'block',
        //         'margin': 'unset',
        //         'max-width': '50vw',
        //         'height': '100%'
        //     })
        //     $('.blockBox .item.left .cover').css({'right': '1.5vh','left': 'unset'})
        //     $('.blockBox .item.right .cover').css({'left': '1.5vh','right': 'unset'})
        //     $('.blockBox .body').css({
        //         'padding': '0 20px'
        //     })
        // }

        // // service img cover
        // var serviceImgH = $('.blockBox .item:first-of-type img').height()
        // var serviceImgW = $('.blockBox .item:first-of-type img').width()
        // $('.blockBox .item .cover').height(serviceImgH).width(serviceImgW)
        // setTimeout(function () {
        //     var serviceImgH = $('.blockBox .item:first-of-type img').height()
        //     var serviceImgW = $('.blockBox .item:first-of-type img').width()
        //     $('.blockBox .item .cover').height(serviceImgH).width(serviceImgW)
        // },2000)
        // setTimeout(function () {
        //     var serviceImgH = $('.blockBox .item:first-of-type img').height()
        //     var serviceImgW = $('.blockBox .item:first-of-type img').width()
        //     $('.blockBox .item .cover').height(serviceImgH).width(serviceImgW)
        // },5000)

        $('#myTab li').eq(0).children().click()
    }

    $('.callAjax').each(function () {
        var $this = $(this)
        var id = $this.data('id')
        var type = $this.data('type')
        $.ajax({
            url: "/admin/product/api/get/image/"+type+"/by/"+id,
            type: 'GET',
            data: '',
            datatype: 'json',
            contentType: "application/json",
            success: function (data) {
                $this.attr('src', 'data:image/jpeg;base64,'+data.image)
            },
            error: function (xhr, ajaxOptions, thownError) {
                alert('error')
            }
        });
    })

    // let even right
    $('.serviceBox').each(function () {
        $(this).find('.item').each(function (key) {
            // console.log(key)
            if (key%2==1) {
                $(this).removeClass('left').addClass('right')
            }
        })
        // console.log('XXXXXXXXXXXXXXXXXXXXXXXXX')
    })
</script>
{% endblock script %}
