<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=4.0, minimum-scale=1.0, user-scalable=1">
	{# <meta name="keywords" content=""> #}
	{# <meta name="description" content=""> #}
	{# <meta property="og:image" content="http://wise.saylingwen.org.tw/static/2018/images/hiddenImg.jpg" /> #}
    <link rel="shortcut icon" href="{{ url_for('static', filename=TenantSetting[2]+'/images/logo.ico') }}">
    <!-- Bootstrap v4.0.0-beta.2 -->
    <link rel="stylesheet" href="{{ url_for('static', filename='general/bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='backend/vendor/plugins/daterange/daterangepicker.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='general/lightcasePlugin/lightcase.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='general/swiper.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename=TenantSetting[2]+'/css/main.css') }}">

    {# <!--[if IE]><link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='2018/css/ie.css') }}" />
    <![endif]--> #}
    {% block style %}{% endblock %}

    <title>{{TenantSetting[0]}}{% block title %}{% endblock %}</title>

    <script src="{{ url_for('static', filename='backend/vendor/jquery/jquery-3.2.1.min.js') }}"></script>
    

</head>
<body id="father">
<div class="wrapper" id="pageHead">
    <div class="loader-wrapper">
        <div class="loader"></div>
    </div>
    <script>
        var wHeight = $(window).height();
        var wWidth = $(window).width();
        $(".loader").css({
            top: wHeight / 2 - 2.5,
            left: wWidth / 2 - wWidth*.325
        })
        $(".loader").animate({width:' 20%'}, 50)
    </script>
    <nav>
        <div class="menu">
            <div class="bgc"></div>
            <a href="/home"><img src="/static/{{TenantSetting[2]}}/images/logoSlogan.png" class="logo"></a>
            {# <img src="/static/images/svg/menu.svg" class="menuMobile"> #}
            <div class="menuMobile">
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
            </div>
            <div class="menuList">
                <ul>
                    <li><a data-id="service" href="/service">
                        <span>服務項目</span>
                        <!-- <img class="baseLine" src="/static/images/svg/menuImg.svg"> -->
                    </a></li>
                    <li><a data-id="product" href="/product">
                        <span>產品組合</span>
                        <!-- <img class="baseLine" src="/static/images/svg/menuImg.svg"> -->
                    </a></li>
                    <li><a data-id="news" href="/home#news">
                        <span>最新消息</span>
                        <!-- <img class="baseLine" src="/static/images/svg/menuImg.svg"> -->
                    </a></li>
                    {# <li><a data-id="case" href="/case">
                        <span>{{TenantSetting[2]}} 案例</span>
                        <!-- <img class="baseLine" src="/static/images/svg/menuImg.svg"> -->
                    </a></li> #}
                    <li><a data-id="cast" href="/cast">
                        <span>團隊介紹</span>
                        <!-- <img class="baseLine" src="/static/images/svg/menuImg.svg"> -->
                    </a></li>
                    <li><a data-id="about-Diazy" href="/about-Diazy">
                        <span>關於我們</span>
                        <!-- <img class="baseLine" src="/static/images/svg/menuImg.svg"> -->
                    </a></li>
                    <li><a data-id="knows" href="/knows">
                        <span>新知分享</span>
                        <!-- <img class="baseLine" src="/static/images/svg/menuImg.svg"> -->
                    </a></li>
                    <li><a data-id="contact" href="/home#contact">
                        <span>線上諮詢</span>
                        <!-- <img class="baseLine" src="/static/images/svg/menuImg.svg"> -->
                    </a></li>
                </ul>
            </div>
                
        </div>
    </nav>
    <script>
        $(".loader").animate({width:' 35%'}, 50)
    </script>
    
    {% block content %}{% endblock %}

    <footer>
        <div class="logo">
            <img src="/static/{{TenantSetting[2]}}/images/logoWhite.png">
        </div>
        <div class="footMenu">
            <ul>
                <li><a data-id="service" href="/service">
                    <span>服務項目</span>
                </a></li>
                <li><a data-id="product" href="/product">
                    <span>產品組合</span>
                </a></li>
                <li><a data-id="news" href="/home#news">
                    <span>最新消息</span>
                </a></li>
                {# <li><a data-id="case" href="/case">
                    <span>{{TenantSetting[2]}} 案例</span>
                </a></li> #}
                <li><a data-id="cast" href="/cast">
                    <span>團隊介紹</span>
                </a></li>
                <li><a data-id="about-Diazy" href="/about-Diazy">
                    <span>關於我們</span>
                </a></li>
                <li><a data-id="knows" href="/knows">
                    <span>新知分享</span>
                </a></li>
                <li><a data-id="contact" href="/home#contact">
                    <span>線上諮詢</span>
                </a></li>
            </ul>
        </div>
        <div class="linkBox">
            
        </div>
        <div class="info">
            <span>80146  高雄市前金區中山二路507號12樓</span>
        </div>
        <div class="copyright">
            <span>© Copyright 2018. All Rights Reserved.</span>
        </div>
    </footer>

    <script>
        $(".loader").animate({width:' 50%'}, 50)
    </script>
	
</div>

<script src="{{ url_for('static', filename='general/bootstrap/js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='backend/vendor/plugins/moment/moment.min.js') }}"></script>
<script src="{{ url_for('static', filename='backend/vendor/plugins/daterange/daterangepicker.js') }}"></script>
<script src="{{ url_for('static', filename='general/swiper.js') }}"></script>
<script src="{{ url_for('static', filename='general/lightcasePlugin/lightcase.js') }}"></script>
<script src="{{ url_for('static', filename='general/sweetalert.min.js') }}"></script>


<script>
    var windowWidth = 0

    $('input[name="userGender"]').change(function () {
        $('input[name="userGender"]').next().children().removeClass('radiosCheck')
        $(this).next().children().toggleClass('radiosCheck')
    })
    $('input[name="askType"]').change(function () {
        $('input[name="askType"]').next().children().removeClass('radiosCheck')
        $(this).next().children().toggleClass('radiosCheck')
    })

    window.onload = function (){
        windowWidth = $(window).width()
        {{reloadFunction}}

        $('a[data-rel=lightcase]').lightcase({
            // Will be called after everything is loaded and visible
            onFinish : {
                finish: function() {
                    $('#lightcase-content iframe').css({
                        'background-color': '#eee',
                        'height': '100vh !important',
                        'width': '100vw !important'
                    })
                    // $('.lightcase-open').css('overflow-y', 'hidden')
                    $('.lightcase-icon-close').css({
                        'right': '27px',
                        'top': '15px'
                    })
                    if (windowWidth > 576) {
                        $('html').css('overflow-y','hidden')
                        $('html').css('-webkit-overflow-y','hidden')
                        $('html body').css('margin-right', 0)
                    } else {
                        $('html').css('overflow-y','hidden')
                        $('html').css('-webkit-overflow-y','hidden')
                    }

                    // console.log('XXXXXXXXXX')
                    return false
                }
            },
            onClose: {
                grault: function() {
                    setTimeout(function () {
                        if (windowWidth > 576) {
                            $('html').css('overflow-y', 'auto')
                            $('html').css('-webkit-overflow-y','auto')
                            $('html body').css('margin-right', '-15px')
                        } else { $('html').css('overflow-y', 'auto') }
                    },500)
                    
                    return false
                }
            }
        });
        $(".loader-wrapper").fadeOut(500);
        ($('.loader')).fadeOut(500);
        $(".loader-wrapper").css('opacity', 0)
    }
    $(window).resize(function () {
        {{reloadFunction}}
    })

    $('.menuMobile').click(function () {
        var $this = $(this)
        if ($this.hasClass('cross')) {
            $this.removeClass('cross')
            $this.next().removeClass('active')
            setTimeout(function () {
                $('html').css('overflow-y', 'auto')
            },500)
        }
        else {
            $this.addClass('cross')
            $this.next().addClass('active')
            $('html').css('overflow-y', 'hidden')
        }
    })

    $('a[data-id="{{href}}"]').parent().addClass('active')


    // datepicker
    var today = moment().utcOffset(8).add(1, 'hour').format('YYYY-MM-DD HH')+':00'
    $('#birth').daterangepicker({
        singleDatePicker: true,
        showDropdowns: true,
        minYear: 1900,
        maxDate: today,
        autoApply: true,
        timePicker: false,
        locale: {
            format: 'YYYY/MM/DD'
        }
    });

    function mySubmitFunction() {
        submitMsg()
        return false
    }

    function submitMsg() {
        var userName = $('#userName').val()
        var birth = $('#birth').val()
        var userGender = $('input[name="userGender"]').val()
        var tel = $('#tel').val()
        var phone = $('#phone').val()
        var email = $('#email').val()
        var askType = $('input[name="askType"]').val()
        var description = $('#description').val().replace(/\n/ig, "<br>").replace(/\t/ig, " ")

        var data = '{"name":"'+ userName +'","birthday":"'+ birth +'","gender":"'+ userGender +'","phone_number":"'+ tel +'","mobile_phone":"'+ phone +'","email":"'+ email +'","faq_type":"'+ askType +'","content":"'+ description +'"}'

        $.ajax({
            url: "{{ url_for('faqApi.faqCreate') }}",
            type: 'POST',
            data: data,
            datatype: 'json',
            contentType: "application/json",
            success: function (data) {
                swal({
                    title: '信件已寄出<br>黛子將透過您的電子信箱回覆您',
                    type: 'success'
                })
                $('#userName').val('')
                $('#birth').val('')
                $('input[name="userGender"][value="0"]').trigger('click')
                $('#tel').val('')
                $('#phone').val('')
                $('#email').val('')
                $('input[name="askType"][value="product"]').trigger('click')
                $('#description').val('')
            },
            error: function (xhr, ajaxOptions, thownError) {
                swal({
                    title: '傳送失敗',
                    type: 'errot',
                })
            }
        });

    }

    $('')


</script>
{% block script %}{% endblock %}
    <script>
        $(".loader").animate({width: '65%'}, 50)
        $(".loader").animate({
            left: '0',
            width: '100%'
        }, 500)
        $(".loader").animate({
            top: '0',
            height: '100vh'
        }, 500)
    </script>
</body>
</html>