.banner
	margin-top: 5rem
	width: 100%
	overflow: hidden
	img
		// max-height: calc(100vh - 75px)
		width: 100%
		margin-top: -5px
		margin-bottom: -5px
.swiper-container
	width: calc(100% - 10rem)
	border-radius: 2rem 2rem 0 0

@media screen and (max-width: 1280px)
	.banner
		// max-height: calc(100vh - 60px)
		// margin-top: 50px
// @media screen and (max-width: 980px)
// @media screen and (max-width: 736px)
// @media all and (max-width: 480px)
