#contact
  background-image: url('/static/beauty/images/bgContact.png')
  ackground-position: center
  background-repeat: no-repeat
  background-size: cover
  height: auto
  padding: 8rem 12%
  .titleBox
    padding-top: 2rem
  .body
    +relativeM
    max-width: 1200px
    margin: 2rem auto 0
    padding: 3rem 3rem 0 3rem
    background-color: rgba(255,255,255,0.7)
  .gapLine
    border-right: 1px solid #aaa
  .p-0
    padding: 0
  .form-group
    padding: 0 5px
    > label
      font-size: 1.2rem
      color: $basic-color-dark2
      font-weight: 600
      margin-bottom: 0.75rem
      display: block
      font-family: 'Cabin', sans-serif
      span
        color: $basic-color
        // orange
        margin-right: 5px
    div > label
      font-size: 1rem
  .form-control
    background-color: rgba(255, 255, 255, 0.4)
    border-radius: 21px
  .radios
    width: 14px
    height: 14px
    padding: 1px
    border: 1px solid #aaa
    border-radius: 20px
    background-color: rgba(255, 255, 255, 0.4)

  .radiosCheck
    width: 100%
    height: 100%
    border-radius: 20px
  .form-check-inline, .d-inline-block
    display: inline-block
  .form-check-label
    cursor: pointer
    height: 34px
    padding-top: 7px
  .bgBlack
    background-color: $basic-color
  .blackText
    color: #000 !important
    font-size: 1.2rem !important
  .contactSumit
    margin: 3rem auto
  #description
    // max-width: 45vw
    max-height: 20rem

#lineContact
  background-color: #fcfcfc
  background-image: url('/static/beauty/images/bgLineContact.png')
  background-repeat: no-repeat
  background-size: cover
  padding: 12rem 12% 0
  .titleBox
    top: 5rem
  .lineLogo
    position: absolute
    right: -5rem
    top: -3.5rem
    width: 5rem
  .lineQRcode
    width: 90%
    max-width: 600px
    margin: 3rem auto 0
    display: block

footer
  background-color: $basic-color
  background: -webkit-linear-gradient(left,$basic-color,$basic-color-dark)
  background: -o-linear-gradient(right,$basic-color,$basic-color-dark)
  background: -moz-linear-gradient(right,$basic-color,$basic-color-dark)
  background: linear-gradient(to right,$basic-color,$basic-color-dark)
  margin: 0
  padding: 4rem 12%
  max-width: 100vw
  text-align: center
  color: #fff
  .logo
    img
      width: 8rem
  .footMenu
    margin-top: 2rem
    ul
      margin-left: 1rem
    li
      display: inline-block
      margin-right: 1rem
      margin-bottom: 1rem
      a
        color: #fff
  .info
    margin-top: 1.5rem
  .copyright
    margin-top: 1rem

// @media screen and (min-width: 1920px)

// @media screen and (max-width: 1280px)

// @media screen and (max-width: 992px)
//   #map
//     div.info
//       .col-sm-9
//         padding-left: 5rem
//     iframe
//       padding: 0 10% 10% 10%
//       height: 50vh
//       width: 100%

// @media screen and (max-width: 768px)
//   // #map
//   // 	div.info
//   // 		height: 25vh
//   // 		// height: unset
//   // 		>*
//   // 			>*
//   // 				margin: auto
//   // 				display: block
//   #map
//     div.info
//       height: unset
//       > *
//         > *
//           position: relative
//           top: unset
//           transform: unset
//           width: 50%
//   #contact
//     height: auto
//     .gapLine
//       border-right: unset
//     .body
//       width: 100vw
//       position: unset
//       transform: unset

// @media all and (max-width: 576px)
//   #map
//     div.info
//       > *
//         > *
//           width: 70%
//       .col-sm-9
//         padding-left: 15px
//         > *
//           width: 100%
