.bannerModal
	// max-height: 100vh
	width: 100%
	overflow: hidden
	img
		// max-height: 100vh
		width: 100%

#productItem, #caseItem, #serviceItem
	background-image: url('/static/beauty/images/bgService.png')
#productItem, #serviceItem, #caseItem, #castItem
	td
		border: 2px solid #ccc
		p
			margin: 0.25rem 0
	ul, ol, table
		line-height: 2rem
		color: #777
		font-size: 1.2rem
	ul
		list-style-type: disc !important
		margin-left: 20px
	ol
		list-style-type: decimal !important
		margin-left: 20px

#productItem
	// background-color: #FBF4F0
	padding-bottom: 5vw
	.body
		padding: 8vw 8vw 0 8vw
		.col-md-5
			// position: relative
			img
				vertical-align: middle
				width: calc(100% - 30px)
				// position: absolute
				// top: 50%
				// transform: translateY(-50%)

		.col-md-7
			display: flex
			justify-content: center
			align-items: center
			.text
				.title
					color: #CB7E53
					width: 100%
					letter-spacing: 0.7vw
				.content, .content *
					color: #862A3C
					letter-spacing: 0.3vw
					line-height: 2rem

#serviceItem
	.body
		padding: 8vw
		img
			padding: 20px

	.title
		color: $basic-color
		width: 100%
		letter-spacing: 0.7vw
	p, span
		letter-spacing: 0.3vw
		font-size: 1.2rem
		line-height: 2rem
	img
		max-width: 100%
		
#castItem
	background-image: url('/static/beauty/images/bgCast.png')
	padding: 8vw
	.drName
		color: $basic-color-dark
		font-size: 2.5rem
		font-weight: 700
		margin-top: 3rem
		letter-spacing: 0.7vw
	.school
		font-size: 2.25rem
		letter-spacing: 0.2rem
		p
			color: $basic-color-dark
			font-weight: 500
			margin: 0
	.content
		p
			color: $basic-color-dark
			letter-spacing: 0.3vw
			line-height: 2rem
			margin: 0
			font-size: 1.4rem
	img
		max-width: 100%

#caseItem
	.body
		padding: 8vw
		img
			width: 100%

#castItem, #caseItem
	.title
		color: #fff
		background-color: $basic-color-dark
		border-radius: 0 3rem 3rem 0
		display: inline-block
		// width: 100%
		padding: .5rem 2rem
		letter-spacing: 0.7vw
		margin: 3rem 0
	.content, .content *
		color: #777
		letter-spacing: 0.3vw
		font-size: 1.2rem
		line-height: 2rem

#productItem, #serviceItem, #castItem, #caseItem			
	position: relative
	min-height: 100vh

#newsList
	position: relative
	background-color: #FAF0DF
	padding: 7%
	min-height: 100vh
	.upBtn
		position: absolute
		bottom: 0
		right: 10%
		cursor: pointer
		img
			width: 100px
	.item
		position: relative
		display: flex
		padding: 30px 10%
	.no
		color: #fff
		background-color: $basic-color
		width: 3rem
		height: 1.8rem
		padding-left: 0.5rem
		margin-top: 0.15rem
		font-weight: 500
	.hidden
		display: none
	.textBox
		flex: 1
		padding-left: 1rem
		h3
			font-size: 1.4rem
			letter-spacing: 5px
			margin-bottom: 0.2rem
			cursor: pointer
		.content, .content p
			cursor: pointer
			font-size: 1.2rem
			color: $font-color
			margin-bottom: 0.2rem

.modal-open .modal
	overflow-y: hidden

.modal.fade
	.modal-dialog
		+absoluteM
		min-width: 60vw
		max-width: 90vw
		max-height: 90vh
		overflow: auto
		margin-right: -10px
		&::-webkit-scrollbar
			width: 10px
			cursor: -webkit-grab
			background-color: transparent
		&::-webkit-scrollbar-thumb
			border-radius: 10px
			background-color: rgba(0,0,0,0.3)

a[class*='lightcase-icon-'].lightcase-icon-close
	right: 27px
	height: 1.123em

#lightcase-content
	width: 100vw
	.lightcase-contentInner
		height: 100vh

@media screen and (max-width: 1280px)
	.modal.fade
		.modal-dialog
			min-width: 70vw
@media screen and (max-width: 768px)
	.modal.fade
		.modal-dialog
			min-width: 90vw

	#newsList
		padding: 7% 0
		.item
			padding: 30px 10px
