section
	width: 100%
	// height: 100vh
	// min-height: 576px
	position: relative
	// background-color: $bg
.titleBox
	position: absolute
	top: 3rem
	left: 50%
	transform: translateX(-50%)
	span, small
		font-weight: 600
		margin-bottom: 1rem
		color: #003438
		display: block
		text-align: center
	span
		font-size: 2rem
		letter-spacing: 0.5rem
	small
		font-size: 1.75rem
		letter-spacing: 0.3rem

.moreBox
	position: absolute
	right: 2%
	top: 50%
	width: 8%
	text-align: center
	.moreBtn
		color: $basic-color
		border-bottom: 2px solid $basic-color
		padding: 5px
		cursor: pointer
		&:hover
			transform: scale(1.1)
			color: $basic-color
			text-decoration: none

.btnRed
	background-color: $basic-color
	padding: 8px 40px 8px 58px
	font-size: 1.2rem
	color: #fff
	border-radius: 25px
	display: block
	letter-spacing: 1rem
	&:hover
		transform: scale(1.05)
		color: #fff
	&:active
		transform: scale(0.95)

#news
	background: $basic-color
	background: -webkit-linear-gradient(left,$basic-color,$basic-color-light)
	background: -o-linear-gradient(right,$basic-color,$basic-color-light)
	background: -moz-linear-gradient(right,$basic-color,$basic-color-light)
	background: linear-gradient(to right,$basic-color,$basic-color-light)
	height: auto
	padding: 8rem 12%
	.newsBg
		position: absolute
		width: 100%
		height: 100%
		left: 0
		top: 0
		background-image: url('/static/beauty/images/bgDash.png')
		background-repeat: repeat-y
		background-size: contain
	.newsBox
		+relativeM
		max-width: 1200px
		// padding: 12px
		z-index: 2
		.newsBoxBg
			position: absolute
			width: 100%
			height: 100%
			background-color: #fff
			opacity: 0.5
			padding: 3%
			z-index: -1
		.body
			padding: 3%
		.item
			display: flex
			width: 100%
			padding: 30px 25%
		.no
			color: #fff
			background-color: $basic-color
			width: 3rem
			height: 1.8rem
			padding-left: 0.5rem
			margin-top: 0.15rem
			font-weight: 500
		.textBox
			flex: 1
			padding-left: 1rem
			h3
				font-size: 1.4rem
				letter-spacing: 5px
				margin-bottom: 0.2rem
			.content, .content p
				font-size: 1.2rem
				color: $font-color
				margin-bottom: 0.2rem

.blockBox
	.item
		img
			width: 100%
		a
			display: block
			position: relative
			.cover
				position: absolute
				width: 100%
				height: 100%
				background-color: rgba(#000,.3)
				z-index: 10
				opacity: 0
				+transition
		a:hover
			.cover
				opacity: 1
	.nav
		text-align: center
		margin-bottom: 2rem
	.nav-item
		display: inline-block
		color: #333
		padding: 8px 16px
		min-width: 8rem
		+transition
		.nav-link:hover
			padding-bottom: 6px
			border-bottom: 2px solid rgba(#B98C5B,.5)
		.nav-link.active
			padding-bottom: 6px
			border-bottom: 2px solid #B98C5B
		a
			color: $font-color


#service
	padding: 8rem 12%
	height: auto
	background-image: url('/static/beauty/images/bgService.png')
	background-repeat: no-repeat
	background-size: cover
	.body
		max-width: 1200px
		margin: 2rem auto 0
	.item
		margin-bottom: 2rem

#product
	padding: 8rem 12%
	height: auto
	background-color: $bg
	background-image: url('/static/beauty/images/bgProduct.png')
	background-repeat: no-repeat
	background-size: cover
	.body
		max-width: 1200px
		margin: 2rem auto 0
	.item
		margin-bottom: 2rem
	.title
		background: #fcfcfc
		padding: 1.5rem 0.5rem
		font-size: 1rem
		color: $font-color
		text-align: center

#knows
	padding: 8rem 12%
	height: auto
	background-color: $bg
	.body
		max-width: 1200px
		margin: 2rem auto 0
	.item
		margin-bottom: 2rem
	.textBox
		position: absolute
		width: 100%
		height: auto
		bottom: 0
		left: 0
	.title
		position: relative
		padding: 1.5rem 0.5rem
		font-size: 1rem
		color: #fcfcfc
		text-align: center
		z-index: 5
	.titleBg
		position: absolute
		bottom: 0
		width: 100%
		height: 100%
		background: #956C72
		opacity: 0.7

// #cast, #product
// 	.nav
// 		display: block
// 		text-align: center
// 		li
// 			display: inline-block
// 			font-size: 1.5rem
// 			a
// 				color: $basic-color	
// 				padding: 8px 3vw
// 				&:hover, &:focus
// 					border-bottom: 2px solid $basic-color-light
// 					padding: 8px 1vw 6px 1vw
// 					margin: 0 2vw
// 					background-color: unset
// 				&.active
// 					border-bottom: 2px solid $basic-color
// 					padding: 8px 1vw 6px 1vw
// 					margin: 0 2vw

// #product, #knows
// 	padding-bottom: 3rem
// 	.titleBox
// 		padding: 2rem 0 1rem 0
// 	.body
// 		height: calc(100% - 7rem)
// 		padding: 0 20px
// 	.item
// 		position: relative
// 		width: 50%
// 		height: calc(50% - 3rem)
// 		float: left
// 		img
// 			display: block
// 			height: 100%
// 			width: auto
// 			padding: 1.5vh
// 			max-width: 100vw
// 		&.left
// 			direction: rtl
// 		&.right
// 			direction: ltr
// #knows
// 	background-image: url('/static/beauty/images/bgKnows.png')
// 	background-repeat: no-repeat
// 	background-size: cover
// 	.item
// 		a
// 			display: block
// 			padding: 1.5vh
// 			position: relative
// 			height: 100%
// 			.textBox
// 				position: absolute
// 				bottom: calc(1.5vh + 7px)
// 				height: 8rem
// 				padding: 20px
// 				direction: ltr
// 				// background: rgba($basic-color,.5)
// 				background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, $basic-color-light), color-stop(100%, #200))
// 				background-image: -webkit-linear-gradient(125deg, rgba($basic-color-light,.8), rgba(#103,.8))
// 				background-image: -moz-linear-gradient(125deg, rgba($basic-color-light,.8), rgba(#103,.8))
// 				background-image: -o-linear-gradient(125deg, rgba($basic-color-light,.8), rgba(#103,.8))
// 				background-image: linear-gradient(125deg, rgba($basic-color-light,.8), rgba(#103,.8))
// 				.header
// 					display: flex
// 					color: white
// 					.title
// 						flex: 1
// 						font-size: 1rem
// 					.date
// 						width: 7rem
// 				.content
// 					margin-top: 1rem
// 					p
// 						color: white
// 						font-size: 1.2rem
// 		img
// 			padding: 7px
// 			background-color: #fff

#cast
	padding: 6rem 0 2rem
	position: relative
	.body
		padding: 50px 3vw
		overflow: hidden
	.swiper-slide, .row a
		text-align: center
		.castCover
			border-radius: 50%
			margin-bottom: 7%
			overflow: hidden
			position: relative
		img
			min-width: 100%
			min-height: 100%
			width: auto
			height: 100%
			position: absolute
			top: 50%
			left: 50%
			transform: translateX(-50%)translateY(-50%)
			
		div
			display: inline-block
			color: $basic-color
			letter-spacing: 5px
		// .castName
		// 	color: black
		// .castTitle
		// 	color: black
	.swiper-pagination
		left: unset
		right: 1rem
		top: 1rem
		width: unset
		.swiper-pagination-bullet
			margin: 0 8px !important
		.swiper-pagination-bullet-active
			background-color: $basic-color
	&.blockBox
		padding: 8rem 12%
#case
	background-image: url("/static/beauty/images/bgCase.png")
	background-size: cover
	min-height: 650px
	.titleBox
		padding-top: 2rem
	.body
		width: 90%
		margin: 20px auto
		overflow: hidden
		height: 100%
	.swiper-button-next, .swiper-button-prev
		top: 0
		width: 32vw
		height: 100vh
		margin-top: 0
		background-size: 0
	.swiper-slide
		position: relative
		width: 100%
		height: calc(100vh - 10rem)
		min-height: 500px
		background-color: #fff
		+transition
		transform: scale(0.8)
		&:after
			content: ""
			width: 100%
			height: 100%
			background-color: rgba(0, 0, 0, 0.15)
			display: block
			position: absolute
			top: 0
			left: 0
		.more
			position: absolute
			bottom: 5%
			left: 50%
			transform: translateX(-50%)
			background-color: #fff
			border-radius: 20px
			padding: 8px 24px
			display: inline
			font-size: 0.8rem
			color: grey
			box-shadow: 3px 4px 7px rgba(0,0,0,0.25)
		.textBox
			background-color: #F6E5DD
			height: 100%
			padding-bottom: 3rem
	.swiper-slide-next
		transform: scale(1)
		&:after
			width: 0
		.more
			background-color: unset
			border-radius: unset
			padding: unset
			font-size: 1rem
			color: $basic-color
			letter-spacing: 3px
			font-weight: 700
			cursor: pointer
			box-shadow: unset
			&:hover
				transform: translateX(-50%)scale(1.1)
	.swiper-slide, .caseBox
		padding: 10px
		.box
			background-color: #F6E5DD
			height: 100%
		.img
			position: relative
			width: 100%
			height: auto
			min-height: 340px
			max-height: calc(50% - 6rem)
			overflow: hidden
		img
			min-width: 100%
			min-height: 100%
			max-width: 200%
			max-height: 200%
			// height: 100%
			+absoluteM
		.header
			padding: 50px 50px 20px 50px
			display: flex
			.title
				flex: 1
				color: $basic-color
			.date
				width: 6rem
		.content
			padding: 0 50px
	
	.caseBox
		text-decoration: none
		padding: 3vw
		.textBox
			background-color: #fff
			padding: 10px
		.more
			display: block
			margin: 30px auto 20px auto
			color: #fff
			background-color: $basic-color-dark
			border-radius: 2rem
			padding: 0.5rem 1rem
			font-size: 0.8rem
			width: 9rem
			text-align: center
			letter-spacing: 2px
		.date
			color: #777

// about

#slogan
	background-image: url("/static/beauty/images/bgService.png")
	background-repeat: no-repeat
	background-size: cover
	background-position: right bottom
	min-height: 50vh
	display: flex
	justify-content: center
	align-items: center
	img
		// max-width: 90vw
		// min-width: 50vw
		// display: block
		// margin: auto
#introduction
	padding: 10rem
	background-image: url("/static/beauty/images/bgProduct.png")
	background-repeat: no-repeat
	background-size: cover
	background-position: right bottom
	margin: 0
	.box
		height: 100%
		position: relative
	.col-md-3
		position: unset
	.logo
		width: 25%
		padding: 3% 6% 3% 0
		position: absolute
		top: 50%
		transform: translateY(-50%)

// @media screen and (min-width: 1920px)

// @media screen and (max-width: 1280px)
	
// @media screen and (max-width: 992px)
// 	section
// 		min-height: 100vw
// 	#case
// 		min-height: 100vw
// 		.swiper-slide
// 			min-height: calc(100vw - 10rem)
// 			.header
// 				padding: 3vw 3vw 1vw 3vw
// 			.content
// 				padding: 0 3vw
// 			.more
// 				bottom: 3vw
// 		.swiper-button-next, .swiper-button-prev
// 			min-height: 100vw
			
// 	#introduction
// 		padding: 5vh 10vw
// 		.box
// 			height: unset
// 			position: absolute
// 			top: 50%
// 			transform: translateY(-50%)
// 			width: calc(100% - 20vw)
// 			> *
// 				height: auto
// 				> *
// 					position: relative
// 					top: unset
// 					transform: unset
// 			.col-md-3
// 				img
// 					width: 30vw
// 					display: block
// 					margin: auto

// @media all and (max-width: 576px)
// 	.moreBtn
// 		right: 3%
// 		bottom: 3%
// 	#news
// 		.newsBox
// 			.item
// 				padding: 15px 5%
// 			.no
// 				width: 2rem
// 				padding-left: 0.1rem
// 			.textBox
// 				h3
// 					font-size: 20px
// 					letter-spacing: 0px
// 					margin-bottom: 0.2rem
// 				.content, .content p
// 					font-size: 16px
// 	#case .swiper-slide
// 		transform: scale(1)
// 		padding: 5px
// 		.more
// 			background-color: unset
// 			border-radius: unset
// 			padding: unset
// 			font-size: 1rem
// 			color: $basic-color
// 			letter-spacing: 3px
// 			font-weight: 700
// 			cursor: pointer
// 			&:hover
// 				transform: translateX(-50%)scale(1.1)
// 		.header
// 			padding: 20px 20px 5px 20px
// 		.content
// 			padding: 0 20px
// 		.more
// 			bottom: 25px
// 		.img
// 			min-height: 200px
// 			max-height: calc(576px / 2 - 6rem)

// 	#introduction
// 		padding: 5vh 5vw
// 		.box
// 			height: unset
// 			position: absolute
// 			top: 50%
// 			transform: translateY(-50%)
// 			width: calc(100% - 10vw)
// 			.col-md-3
// 				img
// 					width: 70vw
// 			.col-md-9
// 				img
// 					width: 90vw

// @media all and (max-height: 700px)
// 	#case
// 		.swiper-slide
// 			.img
// 				min-height: 240px

// 	#knows, #product, #service
// 		min-height: 700px