nav
	.menu
		position: fixed
		z-index: 50
		width: 100vw
		height: 5rem
		.bgc
			position: absolute
			width: 100%
			height: 100%
			background-color: #fcfcfc
			opacity: 0.75
			+transition1
		.logo
			height: 4rem
			margin-top: 0.5rem
			margin-left: 0.5rem
			padding: 10px
			display: inline-block
			position: absolute
		.menuMobile
			display: none
		.menuList
			float: right
		ul
			display: inline-block
			height: 5rem
			margin-right: 1rem
			li
				display: inline-table
				// padding: 0 1vw
				cursor: pointer
				position: relative
				top: 50%
				transform: translateY(-50%)
				padding: 8px 0
				border-color: $basic-color
				+transition
				a
					color: $font-color
					display: block
					text-align: center
					margin-top: 0.15rem
					width: 6.5rem
					font-size: 1rem
					font-weight: 600
					text-decoration: none
				.title
					width: 5.5rem
					margin: -1rem
			li:hover
				padding-bottom: 6px
				border-bottom: 2px solid $basic-color-light
			li.active
				padding-bottom: 6px
				border-bottom: 2px solid $basic-color
		&:hover
			.bgc
				box-shadow: 2px 2px 20px 5px rgba(0,0,0,0.1)
				opacity: 1


// @media screen and (min-width: 1920px)

// @media screen and (max-width: 1280px)
// 	nav
// 		.menu
// 			height: 50px
// 			.logo
// 				height: 50px
// 				padding: 8px
// 			ul
// 				height: 50px
// 				li
// 					a
// 						margin-top: 0.15rem
// 						width: 6rem
// 					.title
// 						width: 6rem
// 						margin: -1rem
// 					.baseLine
// 						width: 5rem
// 				li:hover, li.active
// 					.baseLine
// 						height: 32px

// @media screen and (max-width: 992px)
// 	nav
// 		.menu
// 			// overflow: hidden
// 			.menuMobile
// 				position: absolute
// 				top: 0
// 				right: 0
// 				display: inline-block
// 				height: 50px
// 				padding: 10px 20px
// 				// float: right
// 				cursor: pointer
// 				z-index: 101
// 				// &:hover
// 				// 	transform: scale(1.05)
// 				&:active
// 					transform: scale(0.95)
// 				.bar
// 					position: relative
// 					display: block
// 					width: 40px
// 					height: 3px
// 					margin: 10px auto
// 					background-color: #fff
// 					border-radius: 10px
// 					-webkit-transition: .3s
// 					transition: .3s
// 					&:nth-of-type(1)
// 						margin-top: 0px
// 					&:nth-of-type(3)
// 						margin-bottom: 0px
				
// 			// 	&:hover
// 			// 		.bar
// 			// 			&:nth-of-type(1)
// 			// 				-webkit-transform: translateY(1.5px) rotate(-4.5deg)
// 			// 				-ms-transform: translateY(1.5px) rotate(-4.5deg)
// 			// 				transform: translateY(1.5px) rotate(-4.5deg)
// 			// 			&:nth-of-type(2)
// 			// 				opacity: .9
// 			// 			&:nth-of-type(3)
// 			// 				-webkit-transform: translateY(-1.5px) rotate(4.5deg)
// 			// 				-ms-transform: translateY(-1.5px) rotate(4.5deg)
// 			// 				transform: translateY(-1.5px) rotate(4.5deg)
// 			.cross 
// 				.bar
// 					&:nth-of-type(1)
// 						-webkit-transform: translateY(13.5px) rotate(-45deg)
// 						-ms-transform: translateY(13.5px) rotate(-45deg)
// 						transform: translateY(13.5px) rotate(-45deg)
// 					&:nth-of-type(2)
// 						opacity: 0
// 					&:nth-of-type(3)
// 						-webkit-transform: translateY(-13.5px) rotate(45deg)
// 						-ms-transform: translateY(-13.5px) rotate(45deg)
// 						transform: translateY(-13.5px) rotate(45deg)
// 				// &:hover
// 				// 	.bar
// 				// 		&:nth-of-type(1)
// 				// 			-webkit-transform: translateY(11.5px) rotate(-40.5deg)
// 				// 			-ms-transform: translateY(11.5px) rotate(-40.5deg)
// 				// 			transform: translateY(11.5px) rotate(-40.5deg)
// 				// 		&:nth-of-type(2)
// 				// 			opacity: .1
// 				// 		&:nth-of-type(3)
// 				// 			-webkit-transform: translateY(-11.5px) rotate(40.5deg)
// 				// 			-ms-transform: translateY(-11.5px) rotate(40.5deg)
// 				// 			transform: translateY(-11.5px) rotate(40.5deg)

// 			.menuMobile.cross
// 				position: fixed
// 			.menuList
// 				position: fixed
// 				top: 0
// 				right: -100vw
// 				width: 100vw
// 				height: 100vh
// 				margin: 0
// 				+transition
// 			.menuList.active
// 				right: 0px
// 				z-index: 100
// 				background-color: rgba(138,12,52,0.7)
// 				display: flex
// 				justify-content: center
// 				align-items: center
// 				ul
// 					height: unset
// 					li
// 						display: table
// 						margin: 0 auto
// 						text-align: center
// 						a
// 							width: 20vw
// 							min-width: 10rem
// 						.title
// 							width: 20vw
// 							min-width: 10rem
// 							margin: -1vw auto
// 						.baseLine
// 							height: 0px
// 							width: 20vw
// 							min-width: 10rem
// 							margin: -1vw auto
// 					li:hover, li.active
// 						.baseLine
// 							height: 6vw

// @media all and (max-width: 576px)
// 	nav
// 		.menu
// 			.menuList.active
// 				ul
// 					li
// 						top: unset
// 						transform: unset
// 						.baseLine
// 							width: 16vw
// 							min-width: 8rem
// 							margin: -7vw auto -3vw auto
// 					li:hover, li.active
// 						.baseLine
// 							height: 15vw
// 			.bgc
// 				width: 100%
// 				height: 100%
// 				position: absolute
// 				background: #000
// 				opacity: 0.2

// @media all and (max-height: 500px)
// 	nav .menu .menuList.active
// 		overflow-y: auto
// 		ul
// 			height: 60px