/*wrapper*/

.wrapper
	min-height: 100vh
	width: 100%!important
	overflow: hidden!important

// #loading
// 	position: fixed
// 	top: 0
// 	left: 0
// 	width: 100vw
// 	height: 100vh
// 	background-color: #E7CED6
// 	z-index: 100
// 	opacity: 1
// 	+transition
// 	.middle
// 		+absoluteM

.loader-wrapper
	position: fixed
	width: 100%
	height: 100%
	background-color: $basic-color-light
	z-index: 100
	// +transition
	.loader
		height: 3px
		background-color:  $basic-color
		position: absolute

@media screen and (min-width: 1920px)

@media screen and (max-width: 1280px)

@media screen and (max-width: 992px)

@media all and (max-width: 576px)