{% extends "admin/template.html" %}

{% block style %}
    <link rel="stylesheet" href="{{ url_for('static', filename='backend/plugins/iCheck/all.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='backend/vendor/plugins/summernote/summernote.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename=TenantSetting[2]+'/css/admin.css') }}">
{% endblock style %}

{% block content %}

    <section class="content-header">
        <h1>
            服務項目
            <small>
                <a href="{{ url_for('product.productServiceCase') }}" class="jwtLink">成功案例</a>
                {% if update %} 編輯 - <i>{{ data.experiences.products_name }} - {{data.experiences.products_id}}</i>{% else %}<small>新增項目</small>{% endif %}
            </small>
        </h1>
    </section>


    <section class="content container-fluid tab-pane">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="active">
                <a class="btn btn-danger menuItem active" id="sub1-tab" data-toggle="tab" href="#sub1" role="tab">標題/狀態</a>
            </li>
            <li class="">
                <a class="btn btn-danger menuItem" id="sub2-tab" data-toggle="tab" href="#sub2" role="tab">產品內文</a>
            </li>
        </ul>
         <div class="tab-content" id="myTabContent2">
            <div class="tab-pane fade in active" id="sub1">
                <form class="form-horizontal mt30" method="" action="">
                    <input type="hidden" id="p_newImgBase64" name="p_newImgBase64" value="{% if update %}{{ data.experiences.image }}{% endif %}">

                    <div class="form-group py-2">
                        <label class="col-sm-3 control-label">服務名稱</label>
                        <div class="col-sm-6">
                            <select id="serviceType" name="serviceType" class="form-control">
                                {# {{type.products_list}} #}
                                {% if update %}
                                    {% for type in type.products_list %}
                                        {% if type.products_id == data.experiences.product_id %}
                                            <option value="{{type.products_id}}" selected>{{type.products_name}}</option>
                                        {% else %}
                                            <option value="{{type.products_id}}">{{type.products_name}}</option>
                                        {% endif %}
                                    {% endfor %}
                                {% else %}
                                    {% for type in type.products_list %}
                                        <option value="{{type.products_id}}">{{type.products_name}}</option>
                                    {% endfor %}
                                {% endif %}
                            </select>
                        </div>
                        <div class="col-sm-3">
                            <a class="w100 control-label btn btn-primary jwtLink text-center" href="{{ url_for('product.productServiceCreate') }}">新增項目</a>
                        </div>
                    </div>

                    <div class="form-group py-2">
                        <label for="p_imgFile" class="control-label col-sm-3">產品首圖</label>
                        <div class="col-sm-4">
                            <a href="javascript:;" class="file menuItem">
                                <img class="preViewImg" src="{% if update %}data:image/jpeg;base64,{{ data.experiences.image }}{% endif %}">
                                <input type="file" name="p_imgFile" class="p_imgFile" required>
                                <img class="imgPlusBtn" src="/static/beauty/images/plus.png">
                            </a>
                        </div>
                    </div>
                    <div class="form-group py-2">
                        <label for="sort" class="col-sm-3 control-label">排序等級</label>
                        <div class="col-sm-6">
                            <input type="number" class="form-control" id="sort" name="sort" {% if update %}value="{{data.experiences.sort}}" {% endif %}>
                        </div>
                    </div>

                    <div class="form-group py-2">
                        <label for="p_essence" class="col-sm-3 control-label">首頁案例</label>
                        <div class="col-sm-9 pt10">
                            <label>
                                <input type="radio" name="p_essence" value="1" class="minimal-red" {% if update %}{% if (data.experiences.essence == True) %} checked {% endif %} {% else %} checked {% endif %}>
                                開啟
                            </label>
                            <label>
                                <input type="radio" name="p_essence" value="0" class="minimal-red" {% if update %}{% if (data.experiences.essence == False) %} checked {% endif %}{% endif %}>
                                關閉
                            </label>
                        </div>
                    </div>

                    <div class="form-group py-2">
                        <label for="p_status" class="col-sm-3 control-label">案例狀態</label>
                        <div class="col-sm-9 pt10">
                            <label>
                                <input type="radio" name="p_status" value="1" class="minimal-red" {% if update %}{% if (data.experiences.status == True) %} checked {% endif %} {% else %} checked {% endif %}>
                                開啟
                            </label>
                            <label>
                                <input type="radio" name="p_status" value="0" class="minimal-red" {% if update %}{% if (data.experiences.status == False) %} checked {% endif %}{% endif %}>
                                關閉
                            </label>
                        </div>
                    </div>
                   
                    <div class="col-sm-9 py-2 text-right">
                        <button class="btn btn-primary saveBtn" onclick="p_sumitForm();" type="button">
                            {% if update %}儲存變更{% else %}<small>新增產品</small>{% endif %}
                        </button>
                    </div>
                </form>
            </div>
            <div class="tab-pane fade" id="sub2">
                <form class="row" method="" action="">
                    <div class="col-md-12 pt30">
                        <div class="form-group">
                            <label for="p_productInfo" class="col-sm-3 control-label textRight">簡易訪談</label>
                            <div class="col-sm-8 pb30">
                                <textarea class="summernote" id="p_productInfo" name="p_productInfo" rows="5"> {% if update %} {{ data.experiences.interview }} {% endif %}</textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="p_advisory" class="col-sm-3 control-label textRight">美容諮詢</label>
                            <div class="col-sm-8 pb30">
                                <textarea class="summernote" id="p_advisory" name="p_advisory" rows="5"> {% if update %} {{ data.experiences.advisory }} {% endif %}</textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="suggest" class="col-sm-3 control-label textRight">醫師建議</label>
                            <div class="col-sm-8 pb30">
                                <textarea class="summernote" id="suggest" name="suggest" rows="5"> {% if update %} {{ data.experiences.suggest }} {% endif %}</textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="results" class="col-sm-3 control-label textRight">成果感想</label>
                            <div class="col-sm-8 pb30">
                                <textarea class="summernote" id="results" name="results" rows="5"> {% if update %} {{ data.experiences.results }} {% endif %}</textarea>
                            </div>
                        </div>
                    </div>

                   
                    <div class="col-xs-12 py-2 textCenter">
                        <button class="btn btn-primary saveBtn" onclick="p_sumitForm();" type="button">
                            {% if update %}儲存變更{% else %}<small>新增產品</small>{% endif %}
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </section>

{% endblock content %}

{% block script %}
    <script src="{{ url_for('static', filename='backend/plugins/iCheck/icheck.min.js') }}"></script>
    <script src="{{ url_for('static', filename='backend/vendor/plugins/summernote/summernote.js') }}"></script>
    <script src="{{ url_for('static', filename='backend/vendor/plugins/summernote/lang/summernote-zh-TW.min.js') }}"></script>
    <script src="{{ url_for('static', filename='backend/vendor/plugins/fileupload/fileupload.js') }}"></script>
    <script src="{{ url_for('static', filename='backend/vendor/plugins/holder/holder.min.js') }}"></script>
    <script>

        $('.summernote').summernote({
            height: 300,
            codemirror: {
                theme: 'monokai'
            },
        });
           

        function p_sumitForm() {
            var product_id = $('#serviceType').val()
            var product_name = $('#serviceType').children('option:selected').text()
            var employee_id = 1
            var employee_name = 'test'
            var image = $('#p_newImgBase64').val()

            // var price = 0 // service
            var interview = $('#p_productInfo').summernote('code').replace(/\n/ig, "<br>").replace(/\t/ig, " ").replace(/"/ig, "'").replace(/\\/ig, "\\\\")
            var advisory = $('#p_advisory').summernote('code').replace(/\n/ig, "<br>").replace(/\t/ig, " ").replace(/"/ig, "'").replace(/\\/ig, "\\\\")
            var suggest = $('#suggest').summernote('code').replace(/\n/ig, "<br>").replace(/\t/ig, " ").replace(/"/ig, "'").replace(/\\/ig, "\\\\")
            var results = $('#results').summernote('code').replace(/\n/ig, "<br>").replace(/\t/ig, " ").replace(/"/ig, "'").replace(/\\/ig, "\\\\")
            var essence = $('input[name="p_essence"]').val()
            var status = $('input[name="p_status"]').val()
            var sort = $('input[name="sort"]').val()==''?99:$('input[name="sort"]').val()

            function getCk(id) {
                return CKEDITOR.instances[id].getData();
            }
                var token = localStorage.getItem(tokenName);
            {% if update %}
                var data = '{"_token": "' + token + '","experiences_id":' + {{data.experiences.id}};
            {% else %}
                var data = '{"_token": "' + token + '","experiences_id":""';
            {% endif %}
            data += ',"product_id":'+ product_id +
                    ',"product_name":"'+ product_name +
                    '","employee_id":'+ employee_id +
                    ',"employee_name":"'+ employee_name +
                    '","image":"'+ image +
                    '","interview":"'+ interview +
                    '","advisory":"'+ advisory +
                    '","suggest":"'+ suggest +
                    '","results":"'+ results +
                    '","essence":'+ essence +
                    ',"status":'+ status +
                    ',"sort":'+ sort +
                    '}';

            // console.log(data);

            $.ajax({
                url: "{{ url_for('productApi.experiencesCreateOrUpdate') }}",
                type: 'POST',
                data: data,
                datatype: 'json',
                contentType: "application/json",
                success: function (msg) {
                    console.log(msg)
                    $('.deleteSkus').each(function () {
                        submitSku($(this))
                    })
                    // if (msg == 'success') {
                        // window.location = '{{ url_for('product.productServiceCase') }}';
                        $('#token').attr('action', '{{ url_for('product.productServiceCase') }}')
                        $('input[name="_token"]').val(localStorage[tokenName])
                        $('#token').submit();
                    // } else {
                        // alert(msg)
                    // }
                    // alert('success')
                },
                error: function (xhr, ajaxOptions, thownError) {
                    // alert(xhr, status);
                    // alert(thownError)
                    alert('error')
                }
            });
            // console.log(data);
            return false; //don't submit
        }

        $('input[type="checkbox"].minimal-red, input[type="radio"].minimal-red').iCheck({
            checkboxClass: 'icheckbox_minimal-red',
            radioClass: 'iradio_minimal-red'
        })

        var fileW = $('a.file').width()
        $('a.file').height(fileW*0.75)

        $("input[name='p_imgFile']").on('change', function (event) {

            var image_type = $(this).val().split('.')
            image_type = image_type[1]

            if (this.files && this.files[0]) {

                var FR = new FileReader();
                var formBox = $(this).parents('form')
                // get path
                FR.addEventListener("load", function (e) {
                    var _base64 = e.target.result.split(';base64,')[1]
                    formBox.find("input[name='p_newImgBase64']").val(_base64)
                    formBox.find('.preViewImg').attr('src', e.target.result)
                    formBox.find('.imgPlusBtn').css('opacity', 0.4)
                    // console.log(_base64)
                });


                FR.readAsDataURL(this.files[0]);
            }


            console.log("Selected File.");
            if ($(this).val() != '') {
                $('.uploadBtn').attr('disabled', false)
            }
            ;
        });

    </script>
{% endblock script %}