{% extends "admin/template.html" %}

{% block style %}
    <link rel="stylesheet" href="{{ url_for('static', filename='backend/plugins/iCheck/all.css') }}">
{% endblock style %}

{% block content %}


    <section class="content container-fluid">
        <form class="row form-horizontal p10" method="" action="">
            <div class="form-group py-2">
                <label for="sType_title" class="col-sm-3 control-label" style="text-align: right;">服務類別</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="sType_title" name="sType_title" {% if update %} value="{{ data.productCategoriesList.name }}" {% endif %}>
                </div>
            </div>
           
            <div class="col-xs-11 py-2 textCenter">
                <button class="btn btn-primary saveBtn pull-right" onclick="s_sumitForm();" type="button">
                    {% if update %}儲存變更{% else %}<small>新增類別</small>{% endif %}
                </button>
            </div>
                
        </form>
    </section>

{% endblock content %}

{% block script %}
    <script src="{{ url_for('static', filename='backend/plugins/iCheck/icheck.min.js') }}"></script>
    <script>
        $('.crumb-link a').attr('href', '{{ url_for('product.productServiceType') }}').text('分類管理')
        $('.crumb-trail a').attr('href', '#').text('分類{% if update %} 編輯 {% else %} 新增 {% endif %}')
        $('.crumb-trail').removeClass('hidden').addClass('active')
        $('a[href="{{ url_for('product.productServiceType') }}"]').parents('li').children('a').addClass('menu-open')

        function s_sumitForm() {
            var name = $('#sType_title').val()
            var description = ""
            var type = ""

            {% if update %}
                var data = '{"category_id":' + {{data.productCategoriesList.id}};
            {% else %}
                var data = '{"category_id":""';
            {% endif %}
            data += ',"name":"'+ name +
                    '","description":"'+ description +
                    '","type":"'+ type +
                    '"}';
            // console.log(data);
            swal({
              title: '資料處理中請稍候',
              onOpen: () => {
                swal.showLoading()
              }
            })

            $.ajax({
                url: "{{ url_for('productApi.serviceCategoryCreateOrUpdate') }}",
                type: 'POST',
                data: data,
                datatype: 'json',
                contentType: "application/json",
                success: function (msg) {
                     swal({
                        title: '儲存完畢',
                        text: '是否回到服務列表',
                        type: 'info',
                        showCancelButton: true,
                        confirmButtonText: '確認',
                        cancelButtonText: '取消'
                    }).then((result) => {
                        if (result.value) {
                            // window.location = '{{ url_for('product.productServiceType') }}';
                            $('#token').attr('action', '{{ url_for('product.productServiceType') }}')
                            $('input[name="_token"]').val(localStorage[tokenName])
                            $('#token').submit();
                        }
                        else if ( result.dismiss === swal.DismissReason.cancel ) {
                            location.reload()
                        }
                    })
                },
                error: function (xhr, ajaxOptions, thownError) {
                    alert('error')
                }
            });
            return false; //don't submit
        }
    </script>
{% endblock script %}