{% extends "admin/template.html" %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='backend/vendor/plugins/datatables/media/css/datatables.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='backend/vendor/plugins/datatables/media/css/datatables_addons.min.css') }}">
{% endblock style %}

{% block content %}

<section class="content container-fluid of-a">
    <div class="panel panel-visible mnw700">
            <div class="panel-heading">
                <div class="panel-title">
                    <span class="glyphicon glyphicon-tasks"></span>產品列表
                    <div class="pull-right form-group mbn">
                        <div class="d-inline-block">
                            <a href="{{ url_for('product.productCreate') }}" class="btn btn-primary w100 jwtLink">新增產品</a>
                        </div>
                        <div class="d-inline-block">
                            <a href="{{ url_for('product.assembleCreate') }}" class="btn btn-primary w100 jwtLink">新增組合</a>
                        </div>

                        <label for="pageLength" class="form-label mbn">單頁筆數</label>
                        <select id="pageLength" class="form-control w100 d-inline">
                            <option value="10">10</option>
                            <option value="25">25</option>
                            <option value="50">50</option>
                            <option selected value="9999999">all</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="panel-body pn">
                <table id="example2" class="table table-bordered table-hover">
                    <thead>

                    <tr>
                        <th>產品編號</th>
                        <th>產品名稱</th>
                        <th>類型</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for data in list.products_list %}
                    <tr id="{{data.products_id}}" class="type-{{data.categories_id}}">
                        <td>{{data.products_id}}</td>
                        <td><a href="{{ url_for('product.productEdit',id=data.products_id) }}" class="jwtLink">{{data.products_name}}</a></td>
                        <td>單品</td>
                        <td>
                            <a href="{{ url_for('product.productEdit',id=data.products_id) }}" class="btn btn-info btn-flat jwtLink">進入編輯</a>
                            <a href="{{ url_for('product.productView',id=data.products_id) }}" class="btn btn-info btn-flat jwtLink">查看</a>
                        </td>
                    </tr>
                    {% endfor %}
                    {% for data in assemble.products_list %}
                    <tr id="{{data.products_id}}" class="type-{{data.categories_id}}">
                        <td>{{data.products_id}}</td>
                        <td><a href="{{ url_for('product.assembleEdit',id=data.products_id) }}" class="jwtLink">{{data.products_name}}</a></td>
                        <td>組合</td>
                        <td>
                            <a href="{{ url_for('product.assembleEdit',id=data.products_id) }}" class="btn btn-info btn-flat jwtLink">進入編輯</a>
                            <a href="{{ url_for('product.assembleView',id=data.products_id) }}" class="btn btn-info btn-flat jwtLink">查看</a>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <!-- /.box-body -->
    </div>

</section>

{% endblock content %}

{% block script %}
    <script src="{{ url_for('static', filename='backend/vendor/plugins/datatables/media/js/datatables.min.js') }}"></script>
    <!-- Datatables Addons -->
    <script src="{{ url_for('static', filename='backend/vendor/plugins/datatables/media/js/datatables_addons.min.js') }}"></script>
    <script>
        $('#pageLength').change(function () {
            $('#example2').DataTable().destroy()
            showTable()
        })

        function showTable() {
            $('#example2').dataTable({
                dom: '<"top dt-panelmenu"Bf>rt<"bottom dt-panelfooter"ip>',
                buttons: [
                    {
                        extend: 'copy',
                        exportOptions: {
                            columns: ':visible'
                        }
                    },
                    {
                        extend: 'excel',
                        exportOptions: {
                            columns: ':visible'
                        }
                    },
                    {
                        extend: 'print',
                        exportOptions: {
                            columns: ':visible'
                        }
                    },
                    'colvis'
                ],
                autoWidth: false,
                paging: true,
                pageLength: parseInt($('#pageLength').val()),
                columns: [
                    {orderable: true},
                    {orderable: true},
                    {orderable: true},
                    {orderable: false, width: '15rem'}
                ],
            });
        }
        showTable()
    </script>
{% endblock script %}