{% extends "admin/template.html" %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='backend/vendor/plugins/datatables/media/css/datatables.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='backend/vendor/plugins/datatables/media/css/datatables_addons.min.css') }}">
{% endblock style %}

{% block content %}

    <section class="content container-fluid of-a">
        <div class="panel panel-visible mnw300 col-lg-6">
            <div class="panel-heading">
                <div class="panel-title">
                    <span class="glyphicon glyphicon-tasks"></span>服務項目
                    <div class="pull-right">
                        <a href="{{ url_for('product.productServiceTypeCreate') }}" class="btn btn-primary w100 jwtLink">新增</a>
                    </div>
                        
                </div>
            </div>
            <div class="panel-body pn">
                <table id="example2" class="table table-bordered table-hover">
                    <thead>

                    <tr>
                        <th>服務類別</th>
                        <th>編輯療程</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for data in type.productCategoriesList %}
                        {% if data.id > 2 %}
                        <tr id="{{data.id}}">
                            <td>{{data.name}}</td>
                            <td>
                                <a href="{{ url_for('product.productServiceTypeEdit',id=data.id) }}" class="btn btn-info btn-flat jwtLink">進入編輯</a>
                            </td>
                        </tr>
                        {% endif %}
                    {% endfor %}
                    </tbody>
                </table>
        </div>
        <!-- /.box-body -->
    </div>

</section>

{% endblock content %}

{% block script %}

    <script src="{{ url_for('static', filename='backend/vendor/plugins/datatables/media/js/datatables.min.js') }}"></script>
    <!-- Datatables Addons -->
    <script src="{{ url_for('static', filename='backend/vendor/plugins/datatables/media/js/datatables_addons.min.js') }}"></script>
<script>
    $('#example2').dataTable({
        dom: '<"top dt-panelmenu"Bf>rt<"bottom dt-panelfooter"ip>',
        buttons: [
            {
                extend: 'copy',
                exportOptions: {
                    columns: ':visible'
                }
            },
            {
                extend: 'excel',
                exportOptions: {
                    columns: ':visible'
                }
            },
            {
                extend: 'print',
                exportOptions: {
                    columns: ':visible'
                }
            },
            'colvis'
        ],
        autoWidth: false,
        paging: true,
        columns: [
            {orderable: true},
            {orderable: true}
        ],
    });
</script>
{% endblock script %}