{% extends "admin/template.html" %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='backend/vendor/plugins/datatables/media/css/datatables.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='backend/vendor/plugins/datatables/media/css/datatables_addons.min.css') }}">
{% endblock style %}

{% block content %}

    <section class="content container-fluid of-a">
        <div class="panel panel-visible mnw500">
            <div class="panel-heading">
                <div class="panel-title">
                    <div class="d-inline-block">
                        <a href="{{ url_for('product.productServiceCaseCreate') }}" class="btn btn-primary w100 jwtLink">新增</a>
                    </div>
                    <div class="pull-right form-group mbn mt5">
                        <label for="pageLength" class="form-label">單頁筆數</label>
                        <select id="pageLength" class="form-control w100 d-inline">
                            <option value="10" selected>10</option>
                            <option value="25">25</option>
                            <option value="50">50</option>
                            <option value="9999999">all</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="panel-body pn">
                <table id="example2" class="table table-bordered table-hover">
                    <thead>

                    <tr>
                        <th>編輯人員</th>
                        <th>服務項目</th>
                        <th>首頁案例</th>
                        <th>案例狀態</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for data in list.experiencesList %}
                        <tr id="{{data.id}}">
                            <td>{{data.employee_name}}</td>
                            <td><a href="{{ url_for('product.productServiceCaseEdit',id=data.id) }}" class="jwtLink">{{data.product_name}}</a></td>
                            <td>{% if data.essence == True %}是{% else %}否{% endif %}</td>
                            <td>{% if data.status == True %}是{% else %}否{% endif %}</td>
                            <td>
                                <a href="{{ url_for('product.productServiceCaseEdit',id=data.id) }}" class="btn btn-info btn-flat jwtLink">進入編輯</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <!-- /.box-body -->
    </div>

</section>

{% endblock content %}

{% block script %}

    <script src="{{ url_for('static', filename='backend/vendor/plugins/datatables/media/js/datatables.min.js') }}"></script>
    <!-- Datatables Addons -->
    <script src="{{ url_for('static', filename='backend/vendor/plugins/datatables/media/js/datatables_addons.min.js') }}"></script>
    <script>
        $('#pageLength').change(function () {
            $('#example2').DataTable().destroy()
            showTable()
        })

        function showTable() {
            $('#example2').dataTable({
                dom: '<"top dt-panelmenu"Bf>rt<"bottom dt-panelfooter"ip>',
                buttons: [
                    {
                        extend: 'copy',
                        exportOptions: {
                            columns: ':visible'
                        }
                    },
                    {
                        extend: 'excel',
                        exportOptions: {
                            columns: ':visible'
                        }
                    },
                    {
                        extend: 'print',
                        exportOptions: {
                            columns: ':visible'
                        }
                    },
                    'colvis'
                ],
                autoWidth: false,
                paging: true,
                pageLength: parseInt($('#pageLength').val()),
                columns: [
                    {orderable: false},
                    {orderable: true},
                    {orderable: true},
                    {orderable: false}
                ],
            });
        }
        showTable()
    </script>
{# <script>
    function deleteCase(id) {
        var Delete = confirm("Are you sure delete?");
        if (Delete == true) {
            $.ajax({
                url: "{{ url_for('productApi.experiencesDelete') }}",
                type: 'POST',
                data: '{"experiences_id": '+ id +'}',
                datatype: 'json',
                contentType: "application/json",
                success: function () {
                    $('#'+id).remove()  
                },
                error: function (xhr, ajaxOptions, thownError) {
                    alert('error')
                }
            });
        }
        return false
    }
</script> #}
{% endblock script %}