{% extends "admin/template.html" %}

{% block style %}

{% endblock style %}

{% block content %}

<section class="content-header">
    <h1>
        產品管理
        <small>庫存列表</small>
    </h1>
</section>


<section class="content container-fluid">
    <a href="{{ url_for('product.productCreate') }}" class="btn bg-olive btn-flat margin jwtLink">新增</a>

    <div class="box">
        <!-- /.box-header -->
        <div class="box-body">
            <table id="example2" class="table table-bordered table-hover">
                <thead>

                <tr>
                    <th>產品編號</th>
                    <th>產品圖片</th>
                    <th>產品名稱</th>
                    <th>產品售價</th>
                    <th>當日入庫</th>
                    <th>當日出庫</th>
                    <th>庫存數量</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for data in list.products_list %}
                <tr id="{{data.products_id}}">
                    <td>{{data.products_id}}</td>
                    <td>{# <img style="width: auto;height: 50px;" src="data:image/jpeg;base64,{{ data.products_image }}"> #}</td>
                    <td><a href="{{ url_for('product.productEdit',id=data.products_id) }}" class="jwtLink">{{data.products_name}}</a></td>
                    <td>{# {{data.products_price}} #}</td>
                    <td>{{data.products_intro|safe}}</td>
                    <td>{{data.products_intro|safe}}</td>
                    <td>{{data.products_intro|safe}}</td>
                    <td>
                        <a href="{{ url_for('product.productEdit',id=data.products_id) }}" class="btn btn-info btn-flat jwtLink">進入編輯</a>
                        {# <a onclick="deleteProduct({{data.products_id}})" class="btn btn-danger btn-flat jwtLink">刪除</a> #}
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <!-- /.box-body -->
    </div>

</section>

{% endblock content %}

{% block script %}

<script src="{{ url_for('static', filename='admin/bower_components/datatables.net/js/jquery.dataTables.min.js') }}"></script>
<script src="{{ url_for('static', filename='admin/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js') }}"></script>
{# <script>
    function deleteProduct(id) {
        $.ajax({
                url: "{{ url_for('productApi.productDelete') }}",
                type: 'POST',
                data: '{"products_id": "'+ id +'"}',
                datatype: 'json',
                contentType: "application/json",
                success: function () {
                    $('#'+id).remove()  
                },
                error: function (xhr, ajaxOptions, thownError) {
                    alert('error')
                }
            });
    }
</script> #}
{% endblock script %}