{% extends "admin/template.html" %}

{% block style %}
    <link rel="stylesheet" href="{{ url_for('static', filename='admin/plugins/iCheck/all.css') }}">
        <style>
        .form-control {
            cursor: default !important;
            background-color: #e9e9e9;
            border: unset;
        }
        article {
            width: 100%!important;
            height: 500px!important;
            background: #e9e9e9;
            border: unset;
            overflow: auto;
        }
    </style>
{% endblock style %}

{% block content %}

    <section class="content-header">
        <h1>
            產品管理
            <small>
                <a href="{{ url_for('product.productList') }}" class="jwtLink">產品列表</a>
                查看 - <i>{{ data.products.products_name }} - {{data.products.products_id}}</i>
            </small>
        </h1>
    </section>


    <section class="content container-fluid">
        <a href="{{ url_for('product.assembleEdit',id=data.products.products_id) }}" class="btn btn-danger btn-app pull-right jwtLink">
            <i class="fa fa-edit"></i> 編輯資料
        </a>
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="active">
                <a class="btn btn-danger menuItem active" id="sub1-tab" data-toggle="tab" href="#sub1" role="tab">標題/狀態</a>
            </li>
            <li class="">
                <a class="btn btn-danger menuItem" id="sub2-tab" data-toggle="tab" href="#sub2" role="tab">組合內文</a>
            </li>
            <li class="">
                <a class="btn btn-danger menuItem" id="sub3-tab" data-toggle="tab" href="#sub3" role="tab">備註/SOP</a>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent2">
            <div class="tab-pane fade in active" id="sub1">
                <form class="row" method="" action="">
                    <div class="col-md-4">
                        <input disabled="true" type="hidden" id="as_newImgBase64" name="as_newImgBase64" value="">
                        <div class="form-group py-2">
                            <label for="as_title" class="col-sm-3 control-label">組合名稱</label>
                            <div class="col-sm-9">
                                <input disabled="true" type="text" class="form-control" id="as_title" name="as_title" value="{{ data.products.products_name }}"}>
                            </div>
                        </div>

                        <div class="form-group py-2">
                            <label for="as_" class="col-sm-3 control-label">選擇產品</label>
                            <div class="col-sm-9">
                                <select class="form-control select2 hidden" multiple="multiple" data-placeholder="產品 - 數量 - 金額">
                                    {% for list in list.skusList %}
                                        {% for assemble in data.products.assemble %}
                                            {% if assemble.sku_id == list.id  %}
                                                <option value="{{list.id}}" selected data-assemble="{{assemble.id}}">{{list.product_name}} - {{list.number}} - ${{list.price}}</option>
                                            {% endif %}
                                        {% endfor %}
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <div class="form-group py-2">
                            <div id="assembleProducts" class="col-sm-12">
                                <table style="width: 100%; margin: 2rem 0;">
                                    <thead>
                                        <tr>
                                            <td>名稱</td>
                                            <td>數量</td>
                                            <td>金額</td>
                                            <td>期限</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        
                                    </tbody>
                                </table>
                            </div>
                        </div>
                      
                        <div class="form-group py-2">
                            <label for="as_imgFile" class="control-label">組合首圖</label>
                            <a href="javascript:;" class="file menuItem">
                                <img class="preViewImg" src="data:image/jpeg;base64,{{ data.products.products_image }}">
                                <input disabled="true" type="file" name="as_imgFile" class="as_imgFile" required>
                                <img class="imgPlusBtn" src="/static/images/plus.png">
                            </a>
                        </div>

                        <div class="form-group py-2">
                            <label for="as_sort" class="col-sm-3 control-label">排序等級</label>
                            <div class="col-sm-9">
                                <input disabled="true" type="number" class="form-control" id="as_sort" name="as_sort"  value="{{ data.products.sort }}"  required>
                            </div>
                        </div>

                        <div class="form-group py-2">
                            <label for="as_status" class="col-sm-3 control-label">組合狀態</label>
                            <div class="col-sm-9">
                                <label class="radios">
                                    <input disabled="true" type="radio" name="as_status" value="1" class="minimal-red" {% if (data.products.products_status == True) %} checked {% endif %}>
                                    開啟
                                </label>
                                <label class="radios">
                                    <input disabled="true" type="radio" name="as_status" value="0" class="minimal-red" {% if (data.products.products_status == False) %} checked {% endif %}>
                                    關閉
                                </label>
                            </div>
                        </div>
                        <div class="form-group py-2">
                            <label for="as_discount" class="col-sm-3 control-label">是否折扣</label>
                            <div class="col-sm-9">
                                <label class="radios">
                                    <input disabled="true" type="radio" name="as_discount" value="1" class="minimal-red"{% if (data.products.products_discount == True) %} checked {% endif %}>
                                    開啟
                                </label>
                                <label class="radios">
                                    <input disabled="true" type="radio" name="as_discount" value="0" class="minimal-red" {% if (data.products.products_discount == False) %} checked {% endif %}>
                                    關閉
                                </label>
                            </div>
                        </div>

                        

                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-7">
                        <label class="col-sm-12 control-label pt-2 pb-1">服務項目</label>
                        <div class="form-group col-sm-12">
                            <div class="itemBox">
                                {% for skus in data.products.skus %}
                                <div id="{{skus.skus_id}}" class="skus row" data-id="{{loop.index}}">
                                    <div class="col-xs-5 pb-1 flex"><span>數量:</span><input disabled="true" class="form-control textCenter" name="number" type="number" value="{{skus.number}}"></div>
                                    <div class="col-xs-5 pb-1 flex"><span>價格:</span><input disabled="true" class="form-control textCenter" name="price" type="number" value="{{skus.price}}"></div>
                                    <div class="col-xs-5 pb-1 flex"><span>期限(月):</span><input disabled="true" class="form-control textCenter" name="expire" type="number" value="{{skus.expire}}"></div>
                                    <div class="only_for_assemable col-xs-5 pb-1" style="line-height: 2.4rem;">
                                        
                                    </div>
                                    <div class="col-xs-2 pb-1"></div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>

                </form>
            </div>
            <div class="tab-pane fade" id="sub2">
                <form class="row" method="" action="">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="as_Info" class="col-sm-2 control-label textRight">組合介紹</label>
                            <div class="col-sm-10 pb-1">
                                <article class="ckeditor" id="as_Info" name="as_Info">{{ data.products.products_intro }}</article>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="as_ingredient" class="col-sm-2 control-label textRight">產品成分</label>
                            <div class="col-sm-10 pb-1">
                                <article class="ckeditor" id="as_ingredient" name="as_ingredient">{{ data.products.products_ingredient }}</article>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="as_useMethod" class="col-sm-2 control-label textRight">使用方式</label>
                            <div class="col-sm-10 pb-1">
                                <article class="ckeditor" id="as_useMethod" name="as_useMethod">{{ data.products.products_tip }}</article>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="as_precautions" class="col-sm-2 control-label textRight">注意事項</label>
                            <div class="col-sm-10 pb-1">
                                <article class="ckeditor" id="as_precautions" name="as_precautions">{{ data.products.products_notice }}</article>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="as_faq" class="col-sm-2 control-label textRight">常見問題</label>
                            <div class="col-sm-10 pb-1">
                                <article class="ckeditor" id="as_faq" name="as_faq">{{ data.products.products_faq }}</article>
                            </div>
                        </div>
                    </div>
                   
                </form>
            </div>
            <div class="tab-pane fade" id="sub3">
                <form class="row" method="" action="">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="as_Note" class="col-sm-2 control-label textRight">備註</label>
                            <div class="col-sm-10 pb-1">
                                <article class="ckeditor" id="as_Note" name="as_Note">{{ data.products.products_note }}</article>
                            </div>
                        </div>
                    </div>
                   
                </form>
            </div>
        </div>
    </section>

{% endblock content %}

{% block script %}
    <script src="{{ url_for('static', filename='admin/plugins/iCheck/icheck.min.js') }}"></script>
    <script>
        select2Reset()
        function select2Reset() {
            var assemble = $('.select2').val()
            var skusList = {{ list.skusList|safe }}
            var Products = ''
            for(var i = 0; i<skusList.length;i++) {
                if (assemble.indexOf(String(skusList[i].id)) >= 0) {
                    // console.log(skusList[i])
                    Products += '<tr data-id="'+skusList[i].id+'" style="border-top: 1px solid #ccc;">'+
                                '<td>'+skusList[i].product_name+'</td>'+
                                '<td>'+skusList[i].number+'</td>'+
                                '<td>'+skusList[i].price+'</td>'+
                                '<td>'+skusList[i].expire+'</td>'+
                                '</tr>';
                    $('#assembleProducts tbody').html(Products)
                }
            }
        }

        $('#as_Info').html("{{ data.products.products_intro|safe }}")
        $('#as_ingredient').html("{{ data.products.products_ingredient|safe }}")
        $('#as_useMethod').html("{{ data.products.products_tip|safe }}")
        $('#as_precautions').html("{{ data.products.products_notice|safe }}")
        $('#as_faq').html("{{ data.products.products_faq|safe }}")
        $('#as_Note').html("{{ data.products.products_note|safe }}")
    </script>
{% endblock script %}