{% extends "admin/template.html" %}

{% block style %}
    <link rel="stylesheet" href="{{ url_for('static', filename='admin/plugins/iCheck/all.css') }}">
    <style>
        .form-control {
            cursor: default !important;
            background-color: #e9e9e9;
            border: unset;
        }
        article {
            width: 100%!important;
            height: 500px!important;
            background: #e9e9e9;
            border: unset;
            overflow: auto;
        }
    </style>
{% endblock style %}

{% block content %}

    <section class="content-header">
        <h1>
            產品管理
            <small>
                <a href="{{ url_for('product.productList') }} class="jwtLink"">產品列表</a>
                查看 - <i>{{ data.products.products_name }} - {{data.products.products_id}}</i><small>產品</small>
            </small>
        </h1>
    </section>


    <section class="content container-fluid">
        <a href="{{ url_for('product.productEdit',id=data.products.products_id) }}" class="btn btn-danger btn-app pull-right jwtLink">
            <i class="fa fa-edit"></i> 編輯資料
        </a>
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="active">
                <a class="btn btn-danger menuItem active" id="sub1-tab" data-toggle="tab" href="#sub1" role="tab">標題/狀態</a>
            </li>
            <li class="">
                <a class="btn btn-danger menuItem" id="sub2-tab" data-toggle="tab" href="#sub2" role="tab">產品內文</a>
            </li>
            <li class="">
                <a class="btn btn-danger menuItem" id="sub3-tab" data-toggle="tab" href="#sub3" role="tab">備註/SOP</a>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent2">
            <div class="tab-pane fade in active" id="sub1">
                <form class="row" method="" action="">
                    <div class="col-md-4">
                        <input disabled="true" type="hidden" id="p_newImgBase64" name="p_newImgBase64" value="{{ data.products.products_image }}">
                        <div class="form-group py-2">
                            <label for="p_title" class="col-sm-3 control-label">產品名稱</label>
                            <div class="col-sm-9">
                                {{ data.products.products_name }}
                            </div>
                        </div>

                        <div class="form-group py-2">
                            <label for="p_imgFile" class="control-label">產品首圖</label>
                            <a href="javascript:;" class="file menuItem">
                                <img class="preViewImg" src="data:image/jpeg;base64,{{ data.products.products_image }}">
                                <input disabled="true" type="file" name="p_imgFile" class="p_imgFile" required>
                            </a>
                        </div>

                        <div class="form-group py-2">
                            <label for="sort" class="col-sm-3 control-label">排序等級</label>
                            <div class="col-sm-9">
                                <input disabled="true" type="number" class="form-control" id="sort" name="sort" value="{{ data.products.sort }}" required>
                            </div>
                        </div>

                        <div class="form-group py-2">
                            <label for="p_status" class="col-sm-3 control-label">產品狀態</label>
                            <div class="col-sm-9">
                                <label class="radios">
                                    <input disabled="true" type="radio" name="p_status" value="1" class="minimal-red" {% if (data.products.products_status == True) %} checked {% endif %}>
                                    開啟
                                </label>
                                <label class="radios">
                                    <input disabled="true" type="radio" name="p_status" value="0" class="minimal-red" {% if (data.products.products_status == False) %} checked {% endif %}>
                                    關閉
                                </label>
                            </div>
                        </div>
                        <div class="form-group py-2">
                            <label for="p_discount" class="col-sm-3 control-label">是否折扣</label>
                            <div class="col-sm-9">
                                <label class="radios">
                                    <input disabled="true" type="radio" name="p_discount" value="1" class="minimal-red" {% if (data.products.products_discount == True) %} checked {% endif %}>
                                    開啟
                                </label>
                                <label class="radios">
                                    <input disabled="true" type="radio" name="p_discount" value="0" class="minimal-red" {% if (data.products.products_discount == False) %} checked {% endif %}>
                                    關閉
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-7">
                        <label class="col-sm-12 control-label pt-2 pb-1">服務項目</label>
                        <div class="form-group col-sm-12">
                            <div class="itemBox">
                                {% for skus in data.products.skus %}
                                <div id="{{skus.skus_id}}" class="skus row" data-id="{{loop.index}}">
                                    <div class="col-xs-5 pb-1 flex"><span>數量:</span><input disabled="true" class="form-control textCenter" name="number" type="number" value="{{skus.number}}"></div>
                                    <div class="col-xs-5 pb-1 flex"><span>價格:</span><input disabled="true" class="form-control textCenter" name="price" type="number" value="{{skus.price}}"></div>
                                    <div class="col-xs-5 pb-1 flex"><span>期限(月):</span><input disabled="true" class="form-control textCenter" name="expire" type="number" value="{{skus.expire}}"></div>
                                    <div class="only_for_assemable col-xs-5 pb-1" style="line-height: 2.4rem;">
                                        <label class="radios">
                                            <input disabled="true" type="radio" name="only_for_assemable{{loop.index}}" value="0" class="minimal-red" {% if skus.only_for_assemable == False %}checked{% endif %}>
                                            單品
                                        </label>
                                        <label class="radios">
                                            <input disabled="true" type="radio" name="only_for_assemable{{loop.index}}" value="1" class="minimal-red" {% if skus.only_for_assemable == true %}checked{% endif %}>
                                            組合
                                        </label>
                                    </div>
                                    <div class="col-xs-2 pb-1"></div>
                                </div>
                                {% endfor %}    
                            </div>
                        </div>
                    </div>
                   
                </form>
            </div>
            <div class="tab-pane fade" id="sub2">
                <form class="row" method="" action="">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="p_productInfo" class="col-sm-2 control-label textRight">產品介紹</label>
                            <div class="col-sm-10 pb-1">
                                <article class="" id="p_productInfo" name="p_productInfo"> </article>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="p_ingredient" class="col-sm-2 control-label textRight">產品成分</label>
                            <div class="col-sm-10 pb-1">
                                <article class="" id="p_ingredient" name="p_ingredient"> </article>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="p_useMethod" class="col-sm-2 control-label textRight">使用方式</label>
                            <div class="col-sm-10 pb-1">
                                <article class="" id="p_useMethod" name="p_useMethod"> </article>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="p_precautions" class="col-sm-2 control-label textRight">注意事項</label>
                            <div class="col-sm-10 pb-1">
                                <article class="" id="p_precautions" name="p_precautions"> </article>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="p_faq" class="col-sm-2 control-label textRight">常見問題</label>
                            <div class="col-sm-10 pb-1">
                                <article class="" id="p_faq" name="p_faq"> </article>
                            </div>
                        </div>
                    </div>

                </form>
            </div>

            <div class="tab-pane fade" id="sub3">
                <form class="row" method="" action="">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="p_productNote" class="col-sm-2 control-label textRight">備註</label>
                            <div class="col-sm-10 pb-1">
                                <article class="" id="p_productNote" name="p_productNote"></article>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </section>

{% endblock content %}

{% block script %}
    <script src="{{ url_for('static', filename='admin/plugins/iCheck/icheck.min.js') }}"></script>
    {# <script src="{{ url_for('static', filename='admin/bower_components/ckeditor/ckeditor.js') }}"></script> #}
    <script>
        $('#p_productInfo').html("{{ data.products.products_intro|safe }}")
        $('#p_ingredient').html("{{ data.products.products_ingredient|safe }}")
        $('#p_useMethod').html("{{ data.products.products_tip|safe }}")
        $('#p_precautions').html("{{ data.products.products_notice|safe }}")
        $('#p_faq').html("{{ data.products.products_faq|safe }}")
        $('#p_productNote').html("{{ data.products.products_note|safe }}")
    </script>
{% endblock script %}