// @import url(//fonts.googleapis.com/earlyaccess/notosanstc.css)

*, html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video
  font-family: 'Noto Sans TC', 'serif'
  font-size: 15px

.fileinput-exists .fileinput-new,
.fileinput-new .fileinput-exists
  display: none

.help-block
  display: none

.form-group.has-error, .form-group.has-success, .form-group.has-warning
  .help-block
    display: block

.has-error
  color: #dd4b39

.has-warning
  color: #f39c12

.has-success
  color: #00a65a

.fileinput-exists .fileinput-new, .fileinput-new .fileinput-exists
  display: none

.hidden
  display: none

.my-10
  margin: 10px 0

.py-2
  padding: 2rem 0

.pb-1
  padding-bottom: 1rem !important

.pt-2
  padding-top: 2rem !important

.inlineBlock
  display: inline-block !important

.textCenter
  text-align: center

.textRight
  text-align: right

.tab-pane
  form
    padding: 2rem
    img
      width: fit-content
      height: fit-content
    .file
      position: relative
      display: block
      overflow: hidden
      text-decoration: none
      text-indent: 0
      vertical-align: bottom
      width: 100%
      height: 200px
      border: 1px solid grey
      input
        position: absolute
        right: 0
        top: 0
        opacity: 0
        width: 100%
        height: 100%
        cursor: pointer
        z-index: 10
      .imgPlusBtn
        position: absolute
        left: 50%
        top: 50%
        transform: translateX(-50%) translateY(-50%)
        width: 50px
        height: 50px
      .preViewImg
        position: absolute
        left: 50%
        top: 50%
        transform: translateX(-50%) translateY(-50%)
        max-width: 100%
        max-height: 200px
        height: auto
    .imgName
      margin: 20px 0
      height: 42px
      font-size: 18px
      color: black
      .onlyread
        background: unset
        border: unset
        border-bottom: 3px solid black
        font-size: 24px

.form-group
  display: inline-block
  width: 100%
  .itemBox
    > div
      padding-top: 1rem
      border-bottom: 1px solid #ccc
  .addSkus, .addEmployee
    padding-top: 1rem

.skus
  .flex
    display: flex
    span
      line-height: 3rem
      width: 5rem
    .form-control
      flex: 1

label.radios
  margin-left: 0.5rem
  padding-top: 11px

.select2-container--default .select2-selection--multiple .select2-selection__choice
  background-color: #3c8dbc !important
  border-color: #367fa9 !important
  color: #fff !important

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove
  color: #fff !important

.customer-label
  padding-top: 7px
  margin-bottom: 0
  font-weight: 400
