#external-events
  float: left
  width: 200px
  padding: 0 10px
  border: 1px solid #ccc
  background: #eee
  text-align: left

  h4
    font-size: 16px
    margin-top: 0
    padding-top: 1em
  .fc-event
    margin: 10px 0
    cursor: pointer
    z-index: 10

  > div
    height: 30px

#calendar
  float: right
  width: calc(100% - 220px)
  a
    color: #777

#wrap
  .fc-event
    background: #fcfcfc !important
    color: #333
    text-decoration: none
    padding: 2px 5px
    &:hover
      color: #555

#addEventModal
  .input-group
    width: 100%
    .select2
      width: 100%

@media screen and (max-width: 1024px)
  // #wrap
  //   width: calc(100vw - 60px)
  //   margin: 0 auto
  // #calendar
  //   float: right
  //   width: calc(100vw - 250px)
  #external-events
    width: 150px


#calendar
  #only-body-table, #time-slot
    td
      height: 5rem
      width: 10rem
  #only-body-table
    .thead
      text-align: center
    td
      position: relative
    .eventItem
      position: absolute
      left: 0
      width: 100%
      margin: unset
      z-index: 10
  #time-slot