/* developer Andrew */
/* company sinyi-tech */
/* copyright 2018 */

@mixin transition
	transition: 0.5s
	-moz-transition: 0.5s
	-webkit-transition: 0.5s
	-o-transition: 0.5s
@mixin transition1
	transition: 1s
	-moz-transition: 1s
	-webkit-transition: 1s
	-o-transition: 1s

=absoluteM
	position: absolute
	top: 50%
	left: 50%
	transform: translateX(-50%)translateY(-50%)

=relativeM
	position: relative
	left: 50%
	transform: translateX(-50%)


$basic-color: #50D2E1
$basic-color-light: #D1F3F7
$basic-color-dark: #019BB9
$basic-color-dark2: #003438
$font-color: #333
$bg: #FFEAE2


//resat
@import compass/reset
a
	outline: none !important

//base
@import basic/_page
@import basic/_typography

//layout
@import layout/_wrapper
@import layout/_menu
@import layout/_banner
@import layout/_main
@import layout/_foot
@import layout/_lightcase

//components
// @import components/_galary
//@import components/font

.clean
	clear: both

.hidden
	display: none